[2015-11-23 12:59] Tectract commented on #3832
Yeah, that seems like a pretty ridiculous attitude to me. The docs are really flimsy there and referring to SA question thread just exhibits more laziness to me. I think you can judge the quality of a piece of software largely by the documentation, and what I see here is the most half-assed possible effort to document a widely-used feature that is poorly supported, and a defensive attitude to newc

[2015-11-23 13:06] josevalim commented on #3832
We have shown where the documentation exist, because you mentioned there was none, and a couple others link too. We have been open to change and asked for contributions while you have just been rude towards the maintainers of the project which you are using.

If you don't have time to help to contribute, at least be nice. That's the only thing we ask, really.

[2015-11-23 13:09] Tectract commented on #3832
I'm just pointing out that the documentation here is basically little more than a hand-waiving at the source code with no real explanation of how to actually *customize* the error messages. It needs work. The fact that there are huge long threads of confused people should be your indication that it needs improvement, not content for your FAQ.

[2015-11-23 13:18] PragTob commented on #3832
@Tectract devise is open source and provided to you free of charge, the people at plataformatec put ridiculous amounts of work into it so you can have a nice standard authentication solution that "just works" (tm). The least you could do in my opinion is show some appreciation for what they do and thank them. Imo in the open source spirit I think it'd be nice for you to help out with the docs. The

[2015-11-23 13:22] josevalim commented on #3832
Thanks @pragtob. :heart:

PS: I am locking this because comments were being edited. Contributions are always welcome, just please don't expect us to do the work, specially if you start the issue by saying you can't do it yourself.

[2015-11-23 15:51] Tectract opened #3833 "devise errors too hard to style"
This is a serious issue that should not just be closed because you guys don't want to deal with it.

How do you turn off devise error messages?

How do you change the default behavior so that unspecified messages don't ever get shown, instead of having to explicitly set them 1-by-1 to ''?

Where is the list of all error messages so I can go and set them all to ''?

How do I explicitly set the form

[2015-11-23 16:13] josevalim commented on #3833
We are not responsible nor required to deal with anything. Please read the license closely, we provide *no guarantees*. So if we don't want to deal with something, yes, we are in our rights to close the issue.

Also, if you read the Contributing.md, as we ask before you open an issue, you would notice we ask questions to be redirected to the mailing list or stack overflow. The issues tracker is no

[2015-11-23 16:13] #3833 closed

[2015-11-23 16:15] Tectract opened #3834 "Repo needs new maintainers"
I believe this FOSS project is not in good hands. It appears very lazily coded and badly documented in sections and the maintainers appear hostile to suggestions for improvement.

[2015-11-23 16:18] rubyrider commented on #3834
If you found it badly coded why not coming up with a best solution instead? people are creating pr regularly and contributing themselves. If you found documentation problem please come up with your some contribution in documentation. At least write down what is your proposal. So many people are around to help you to come up! Devise is a very old gem and the maintainers are quite friendly to its us

[2015-11-23 16:19] erichkist commented on #3834
@Tectract I believe you could open a PR with the the code and documentation improvements. Feel free to send your suggestion to help the project. :blush:

[2015-11-23 16:20] Tectract commented on #3834
I'm just trolling you at this point, but seriously. The documentation sucks and the mesage interface is bad.

[2015-11-23 16:21] Tectract commented on #3834
I don't have time to fix everyone elses software also. Write it yourself. Do better.

[2015-11-23 16:23] acadavid commented on #3834
@Tectract Please, stop your "trolling" nonsense, you are making smart and good-hearted people waste their precious time dealing with your negligence and idiocy.

[2015-11-23 16:25] rbishop commented on #3834
@Tectract take a break.

[2015-11-23 16:27] rubyrider commented on #3800
What should the expected behaviour in case you require require 'devise/orm/false' ?

[2015-11-23 16:27] Tectract commented on #3834
When people contribute to my FOSS repos, I support the hell out of them even if they are angry. I'm delighted just for their attention. You guys are spoiled.

[2015-11-23 16:28] gerred commented on #3834
@Tectract You don't have any of your own repos that are actually being used, so this is just fantasy on your end.

[2015-11-23 16:29] Tectract commented on #3834
gerred you write crapware with garbage docs. I make your yearly salary in a week.

[2015-11-23 16:33] PragTob commented on #3834
@Tectract thanks for the troll (not), please find a warm source of empathy and kindness within yourself for your own good and the good of others. You're not doing anyone any good here.

[2015-11-23 16:46] rebyn commented on #3834
@Tectract you need a break, and a hug. And please stop dragging people down like this. It's very very not nice.

[2015-11-23 16:50] josevalim commented on #3834
Unfortunately I am out of the computer and only have access to email.
Please do not feed the troll. Instead, report him to GitHub due to his
attitude in previous and in this particular issue, where he assumes his
main purpose is harassing.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-11-23 16:58] Fernan2 commented on #3834
Didn't know that nice feature of Github's reporting abuses!
https://github.com/contact?report=Tectract

So nice!

[2015-11-23 17:06] Tectract commented on #3834
You guys are so petty.

[2015-11-23 17:11] gvaughn commented on #3834
reported

[2015-11-23 17:12] GusGA commented on #3834
@Tectract
![No](http://41.media.tumblr.com/56a5dc4cf2229c3dad60a1576b41b73a/tumblr_mvm5kdx0Xq1rmlbxho1_400.jpg)

[2015-11-23 17:16] gerred commented on #3834
Reported. :boom:

[2015-11-23 17:18] Tectract commented on #3834
Gerred I have reported you.

I get it, you guys disagree with my opinion that this FOSS repo needs new maintainers, but I think this thread sort of proves my point.

[2015-11-23 17:20] Ptico commented on #3834
Free software does not mean that someone should do things you need for free. Contribute or GTFO

[2015-11-23 17:21] #3834 closed

[2015-11-23 17:40] lucasmazza commented on #3800
I think that is better to raise somewhere in the `InstallGenerator` when the app doesn't have an ORM generator configured (https://github.com/plataformatec/devise/blob/master/lib/generators/templates/devise.rb#L24-L28), so we don't generate an initializer in a bad state like this.

[2015-11-23 19:54] lifeBalance commented on #2834
Use this link instead:
[code]

[2015-11-24 09:38] jarmo commented on #3640
Few years ago I wanted to implement "gradual engagament" with Devise on a project, which had been on-going for some time already. I spent more hours than expected because example code in [Wiki](https://github.com/plataformatec/devise/wiki/How-To:-Email-only-sign-up#4-overwrite-the-devise-confirmations-controllers-show) didn't work. The reason was that at the beginning of project Devise did send co

[2015-11-24 17:52] rubyrider commented on #3800
(+1) Thanks, let me propose a pr to get feedback for this issue.

[2015-11-24 18:48] u007 opened #3836 "allow duplicate email if authentication_keys is not email"
hi,

is it possible to do modify validates uniqueness of email to also check
if authentication_keys is set to email only?

there are cases where some user may use same email, but have different login.
but this will effect reset password

thanks

[2015-11-24 19:45] josevalim commented on #3836
Just don't use the :validatable module from your app. Also,  Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-11-24 19:45] #3836 closed

[2015-11-25 03:38] wdas03 commented on #2692
ok

[2015-11-25 17:07] leonsp commented on #1255
Sorry for comment necromancy, but is it possible for `enforce` to ever be `true`? `authentication_keys` are an array in all examples I can see, not a hash, so `enforce` would always be `false`

[2015-11-25 19:03] #3738 closed

[2015-11-26 13:22] jimmy2 commented on #3550
I'm having the same problem.

Did anyone manage to come up with a feasible solution?

[2015-11-26 13:55] dennym commented on #3550
go for my solution one post above yours. We used it for a while and the error disappeared. we just had to drop it again because it was interfering with our custom email params.

[2015-11-26 17:29] antonkoh commented on #2734
Having a similar problem on all browsers with my app:
https://github.com/antonkoh/railsrep/tree/master/lesson17/my_app

First way to reproduce:
1. As unauthorized user open any post on the main page.
2. In another tab sign in (test00@test.com / 12345678)
3. On the first tab, enter any symbols in the New Comment field and try to submit.

Second way to reproduce:
1. As an authorized user (test00@tes

[2015-11-27 00:20] chidumaga opened #3837 "How to flash invalid credentials message with modal sign in"
I am using a modal to log users into my site and getting the page to display Devise's default "Invalid [email] or password" error for wrong credentials is proving difficult. This is what the Create action in my SessionsController looks like:

[code]

I'm seeing a 401 Unauthorized error in my server logs quite alright and have tried to do something like `flash[:notice] = "Invalid email or password"

[2015-11-27 01:02] chidumaga commented on #3837
I managed to get this working by adding these lines:

[code]

Basically the flash notification was  being output after page reload or in the next session, which is how flash works. What I've done is added a bit of server-side JS to override that and have the message be output asynchronously.

[2015-11-27 01:02] #3837 closed

[2015-11-27 09:18] antonkoh opened #3838 "InvalidAuthenticityToken after Devise login/logout in another tab"
I have some problems with the InvalidAuthenticityToken exception when changing user authentication state in different tabs.

My app is quite simple. In fact, just a basic learning app for my studies. https://github.com/antonkoh/railsrep/tree/master/lesson17/my_app

It uses Devise gem for authentication:

 <%= link_to "Sign out", destroy_user_session_path, method: :delete %>

 <%= link_to "Sign in"

[2015-11-27 09:29] josevalim commented on #3838
If you do this, then when you post on as the signed out user, it will sign the other tab out. There isn't much escape from this unfortunately. You could set `config.clean_up_csrf_token_on_authentication = false` but that will make you vulnerable to some attacks. Namely, if someone can fixate a session, while they can't control your whole session, they will have the CSRF token which could allow the

[2015-11-27 09:29] #3838 closed

[2015-11-27 09:35] antonkoh commented on #3838
@josevalim I am more interested in the opposite situation (see the 1st case described).
Why do the patch-requests fail if I SIGN IN on the other tab (not sign out)? Is this expected behavior?

[2015-11-27 09:37] josevalim commented on #3838
Yes, it is expected behaviour, otherwise you are vulnerable to CSRF fixation attacks, which I tried to explain in my previous comment.

[2015-11-27 09:38] antonkoh commented on #3838
@josevalim Thank you.

[2015-11-29 11:52] ThibaudDenolle opened #3839 "Email only sign up issues"
Hi,

I'm using devise 3.5.2 and rails 4.2.1
I followed the Email-Only-Sign-Up but there is something I don't understand in the flow of informations.

I've updated my views/devise/registrations/new.html.erb file and request only an email to open an account.

I didn't touched my confirmations_instructions.html.erb mailer but updated the routes as mentioned and overwrite the Devise ConfirmationContro

[2015-11-29 11:59] josevalim commented on #3839
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-11-29 11:59] #3839 closed

[2015-11-30 09:23] FunkyloverOne commented on #3423
Seriuosly guys, I even cannot achieve some correct respond from the server if sign in with ajax fails in this case. I'm getting a rendered html view as a result instead of some nice json. :disappointed:

[2015-11-30 19:20] maurymmarques commented on #3760
Hi @josevalim,
Is there any solution for that? What should I try?

[2015-11-30 22:06] bonds0097 opened #3840 "Security Vulnerability: `remember_user_token`"
I would like to report a vulnerability regarding the way `remember_user_token` is generated. What would be the best way to do so, directly in this ticket?

[2015-11-30 22:28] josevalim commented on #3840
Hello @bonds0097! Could you please e-mail us at: opensource@plataformatec.com.br?

Thank you for getting in touch and asking the best way to proceed!

[2015-12-01 17:44] hallmatt opened #3841 "Update Columns Instead of Save in Trackable"
Should this be Update Columns instead of Save? Callbacks on a user model seem to fire every time a user is signed in / logged out.

https://github.com/plataformatec/devise/blob/master/lib/devise/models/trackable.rb#L33

[2015-12-01 20:20] josevalim commented on #3841
We won't change because someone may be relying on this behaviour and due to ORM compatibility. The answer though is: avoid putting logic in callbacks. :) Thank you!

[2015-12-01 20:20] #3841 closed

[2015-12-01 21:11] hallmatt commented on #3841
Thanks for the response! I'll stay away from the to-use or not-to-use callback debate...that could take us hours :)

Since the tracking works behind-the-scenes, I'd hope that logic would be as minimal and unobtrusive as possible (utilizing an update columns approach). A save call is pretty intrusive and probably best used when a user truly triggers a save. I believe warden provides functionality f

[2015-12-01 21:19] reedloden commented on #3840
Perhaps the one-line mention of security under https://github.com/plataformatec/devise#bug-reports could be brought out to its own section so people notice it? Even better would be to have a proper vulnerability handling policy (maybe under SECURITY.md so it's easily noticed).

[2015-12-01 21:20] reedloden commented on #3779
See also #3549 regarding increasing `config.stretches`.

[2015-12-01 21:44] josevalim commented on #3840
Will do @reedloden. Thank you folks.

[2015-12-01 21:44] #3840 closed

[2015-12-02 09:26] AmitPatel-BoTreeConsulting commented on #2828
I placed below method in `ApplicationController` but it doesn't get called  all

[code]

[code]

[2015-12-02 10:05] josevalim commented on #2828
After_sign_in_path customizes it only for the sessions controller.

On Wednesday, December 2, 2015, Amit Patel <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-12-02 10:34] AmitPatel-BoTreeConsulting commented on #2828
`after_sign_in_path_for` gets called only in if user sign in with email/password. But it doesn't get called with omniauth sign in even if it is placed in `SessionsController`

[code]

BTW I followed [wiki](https://github.com/plataformatec/devise/wiki/How-To:-redirect-to-a-specific-page-on-successful-sign-in#redirect-back-to-current-page-after-oauth-signin) which suggests to add `after_sign_in_path

[2015-12-02 11:07] josevalim commented on #2828
Sorry, that is what I meant: if you customize it in the sessions controller, it will be applied only there. If you set it in ApplicationController, it should work generally. You can also set it in your omniauth controller.

[2015-12-03 22:29] RST-J opened #3842 "Error: protected method `render' called for DeviseInvitable::RegistrationsController"
Hello,
I'm using devise 3.5.2 with Rails 4.2.4 (generated with [RailsApps template](https://github.com/RailsApps/rails-devise-pundit)) and have a problem with the `#update` action on the RegistrationsController if the update is not successful (e.g. because the current password does not match). Successful updates are no problem. The error raised says:

From the stack trace I found the call to [`res

[2015-12-03 22:38] josevalim commented on #3842
But the error is coming from the DeviseInvitable package. Could you please report it there?

[2015-12-03 23:00] RST-J commented on #3842
I looked into DeviseInvitable and found, that it just [extends](https://github.com/scambra/devise_invitable/blob/master/app/controllers/devise_invitable/registrations_controller.rb) the RegistrationsController of Devise and the code in which the error occurs belongs to Devise which is why I wrote here.
But thanks for that hint, it made me think of trying to load my app with DeviseInviteable unplug

[2015-12-04 10:43] mbusch opened #3843 "Downcase on localized resource name (devise_error_messages!)"
The [Devise helper for error messages](https://github.com/plataformatec/devise/blob/master/app/helpers/devise_helper.rb#L14) implements a localization logic that isn't applicable for all languages (e.g. German). A call of `.downcase` overwrites the spelling that has taken place and is managed within the localization files.

In my opinion it might be better to remove the `.downcase` call from that

[2015-12-04 11:01] josevalim commented on #3843
You are right. Ideally, we should pass both downcased and non downcased value. On the other hand, changing the message right now would be backwards incompatible. :(

[2015-12-04 12:10] mbusch commented on #3843
Then at least we have it tracked here - maybe that's a minor change for a new major release ;-)

[2015-12-04 16:56] bsylvain opened #3844 "Alternate login controller"
Is it possible to create a secondary session controller  to allow a App to give a different layout to user trying to authenticate?

What i want to do is to create a special Login for when the user is authenticating for Doorkeeper.

I created a special  view using this article from the Wiki :https://github.com/plataformatec/devise/wiki/How-To:-Display-a-custom-sign_in-form-anywhere-in-your-app

But

[2015-12-04 18:22] bsgreenb opened #3845 "Hyphenated instead of underscored routes"
By default, Devise ships with routes that have underscores in them like `sign_in`.

It's more conventional to use a dash instead of an underscore to seperate words in URLs, so I recommend default be changed

http://stackoverflow.com/questions/10302179/hyphen-underscore-or-camelcase-as-word-delimiter-in-uris

[2015-12-05 21:58] josevalim commented on #3845
We are following rails conventions on the matter, so we don't have plans to change it on Devise. It would also be very backwards incompatible. :) thank you anyway!

[2015-12-05 21:58] #3845 closed

[2015-12-05 21:58] josevalim commented on #3844
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-12-05 21:58] #3844 closed

[2015-12-07 21:12] RST-J commented on #3842
If I remove devise_inviteable from my Gemfile then I still get the same error, now for ``Devise::RegistrationsController``

[2015-12-08 19:25] ryana commented on #2615
The original breakdown of this issue was awesome. Thank you very much for that @delner (Ha! And I just realized I commented on your SO thread too).

I have a question that is related, but I feel like should be answered here for posterity:

How do I create `@token` on my own? I'm trying to do a `visit user_confirmation_path(confirmation_token: token)` from a Capybara test, but I'm currently using `

[2015-12-08 19:31] ryana commented on #2615
Ah ok I figured it out. It's ugly as sin, but:

[code]

[2015-12-08 19:47] josevalim commented on #2615
If you are using `visit`, it is an integration test. If you don't check the e-mail, there is no guarantee you are actually sending the code via e-mail nor that the code is correct. The only way to be sure is by parsing it out of the e-mail which can honestly be done with a simple regex match on the body.

[2015-12-09 12:57] lucasmazza commented on #3787
@krukgit @bingxie we got #3774 merged with a fix that might be related to this issue - can you folks take a look and see if it works? If it doesn't, we would need more details on how to replicate this issue so we can dig deeper in the problem.

[2015-12-09 12:58] lucasmazza commented on #3782
@jsanders67 @chrismacias does #3774 fixes this? You can try with Devise master and if it's enough I'll cut a new release.

[2015-12-09 13:39] lucasmazza commented on #3842
Can you please provide a sample application that reproduces the error?

[2015-12-09 13:42] lucasmazza commented on #3781
@vemv have you tried adding the `allow_unconfirmed_access_for` instance method to your class? Since it is a config defined through [`Devise::Models`](https://github.com/plataformatec/devise/blob/19b1e2a6bc6bacf9b1566a666e561e45d7209910/lib/devise/models/confirmable.rb#L324) it should be availble as an [instance method](https://github.com/plataformatec/devise/blob/19b1e2a6bc6bacf9b1566a666e561e45d7

[2015-12-09 13:42] #3781 closed

[2015-12-10 20:53] abnud1 commented on #3431
I'm facing this problem even when I don't have authentication keys in strip_whitespace_keys
using Rails 4.2.5 with devise 3.5.3 and ruby 2.2.3

[2015-12-10 21:07] RST-J commented on #3842
Damn, how stupid (me of course)! I found the cause of the problem and I could have found it immediately if I just literally followed the exception ...
In my application I have overridden the `render` method in the ApplicationController to assign some template variables that should be shown always and I made that method protected ... just for the case that someone is as clever me.

[2015-12-10 21:07] #3842 closed

[2015-12-10 21:13] abnud1 opened #3848 "localizing confirmed_at field causes the need for the user to click the confirmation_link twice"
I'm using devise 3.5.3 with Rails 4.2.5 and mongoid 5,mongo 2.2 and bson 4(but I had the issue with bson 3 and mongo 2.1 though).

From my logs I see that when I go to email preview , click the confirmation email, and then click the confirmation link, it seems that devise updates the document by setting confirmed_at to {}.

This causes the user to see "you need to confirm your account in order to

[2015-12-10 22:53] josevalim commented on #3848
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2015-12-10 22:53] josevalim commented on #3848
Sorry about this, I've clicked the wrong button. Instead, I wanted to ask if you can please provide an application that reproduces the error?

[2015-12-11 20:43] abnud1 commented on #3431
stepping through code shows that the encrypted token gets saved in the database, the mail sent contains a link in which the raw token is used , I have verified this by inspecting the message variable and message.body.

However when I hover over the link in the mail preview in chromium 47 I see the link with the raw token but then the link changes and the encrypted token is exposed , I don't know w

[2015-12-12 04:37] djsegal commented on #3736
@carlosantoniodasilva: for future reference, this is resolved by #3714

[2015-12-12 18:23] abnud1 commented on #3431
Ok I have verfied, it was my fault, I was using the token from the database which is encrypted in the Mailer preview class.

[2015-12-13 03:06] maurymmarques opened #3850 "Devise isn't being able to apply for authentication of all routes from a Mountable Engine and make public only a few Engine routes"
I'm not sure but this seems a Devise issue because I have not found a solution.

If I set the following code on my `mainapp/config/routes.rb`, all routes will require authentication and I will not be able to use `before_action :authenticate_user!, except: [:mypublic_method]` in my controller.

[code]

Rails seems to need the mounted routes to be able to see the engine through URLs.

If I set the f

[2015-12-13 08:58] josevalim commented on #3850
If you apply it at the router level, you can't "cancel" it in the controller because by the time you reach the controller the router code has already ran.

[2015-12-13 08:58] #3850 closed

[2015-12-13 10:54] maurymmarques commented on #3850
Thank you. But how can I solve that?

[2015-12-13 12:54] josevalim commented on #3850
Don't do the authentication in your router. Do in the controllers
exclusively.

On Sunday, December 13, 2015, Maury M. Marques <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-12-13 13:37] maurymmarques commented on #3850
Can you illustrate it?

[2015-12-14 08:54] acandael commented on #1356
I am also encountering this issue:

PG::UniqueViolation: ERROR:  duplicate key value violates unique constraint "index_users_on_email"

The odd thing is that I myself can login with CAS, but anyone else in my organisation trying to log in gets the above error.

My version of rails is 4.2.2
the version of devise is: 3.5.2

[2015-12-14 16:15] FCasanova opened #3851 "Disable user timeout on specific controller action"
I`ve on my website a specific URL that is monitored by an user. It uses a websocket connection to keep updated but can stay long periods waiting for data. Can I disable user timeout for this specific URL?

Thank you

[2015-12-14 16:24] josevalim commented on #3851
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-12-14 16:24] #3851 closed

[2015-12-14 16:52] hlascelles commented on #3828
In the spirit of sharing information that [others may find useful](https://xkcd.com/979/), it's worth reporting that we did track down this error. It was (almost unbelievably) [the ruby racer](https://rubygems.org/gems/therubyracer/versions/0.12.2) V8 Javascript parsing library.

A report of the class hierarchy yielded this:

[code]

And sure enough the `V8::Conversion::Object` interloper was caus

[2015-12-15 02:08] bingxie commented on #3787
@lucasmazza I updated to the 3.5.3 version, the after_create got called. But I did update_attributes(slug: slug) in the after_create block, the new problem is it didn't send the confirmation email.

[2015-12-15 07:19] betesh opened #3852 "module included for no reason"
Unless I'm missing something, DateHelper is not necessary here: https://github.com/plataformatec/devise/blob/master/lib/devise/models/confirmable.rb#L43

Since the only method that seems to use it in that module is time_ago_in_words, which is called on  `Devise::TimeInflector` and not on `self`.  Can we safely remote the ` include ActionView::Helpers::DateHelper` from devise/confirmable.rb?

[2015-12-15 07:47] josevalim commented on #3852
Agreed. Can you please send a PR?

[2015-12-15 07:57] josevalim commented on #3852
Thank you, closing in favor of the PR.

[2015-12-15 07:57] #3852 closed

[2015-12-15 13:43] lucasmazza commented on #3787
@bingxie I've merged another relevant fix + test that fixes the issue replicated in @krukgit sample app - the patch is on the `3-stable` - can you try it out so I can cut a `3.5.4` with the fix?

[2015-12-15 13:44] lucasmazza commented on #3737
Can you please provide a sample application that reproduces the error?

[2015-12-15 23:50] bingxie commented on #3787
@lucasmazza I tried 3-stable branch, yes, it fixed the issue. Thanks!

[2015-12-16 07:19] clubbavi opened #3860 "Custom remote devise authentication"
I am using Rails 4.2 & Ruby 2.2 app with devise 3.5.2. We don't have any database(external through APIs). Currenty we are using custom devise Remote Authentication.

In devise.rb:
[code]
But now due to some requirements, we have to use custom session controller & a custom method to sign up & directly login.

How to call the remote authentication from this custom method?

In remote_authentication.r

[2015-12-16 10:24] josevalim commented on #3860
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-12-16 10:24] #3860 closed

[2015-12-16 10:25] josevalim commented on #3860
My suggestion would be to move the shared logic to a common place you can invoke both from the controller and the strategy. Better than coupling them.

[2015-12-16 14:11] nikhilgoyal391 opened #3861 "ios8 Error code: 401"
I am using devise in my iOs app for POST requests. It works fine in iOs9 but each time I use it in iOs8 it returns "error code:401" and returns no response. How can I make it compatible for all iOs versions?

[2015-12-16 14:33] josevalim commented on #3861
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-12-16 14:33] #3861 closed

[2015-12-16 16:25] jurre opened #3862 "Send e-mail notification to user on email change"
The latest version of devise (3.5.3) adds support for [notifying users of a password change](https://github.com/plataformatec/devise/pull/3642), which is a great addition, I've been doing this manually up until now.

Another thing that I am still doing manually, and is also considered best security practice, is notifying a users old email address when an accounts email has been changed. This has b

[2015-12-17 19:49] SpacyRicochet opened #3863 "Question: passwordless functionality planned or alternative?"
We're interested in implementing a passwordless user authentication system, just to give your users one less thing to remember.

Does Devise have something like this functionality planned? Or if not, are there any Rails modules or tools that do have this?

[2015-12-17 19:54] josevalim commented on #3863
No, we don't  have anything planned. About options, your best option is to ask the mailing list.

[2015-12-17 19:54] #3863 closed

[2015-12-18 09:03] djsegal opened #3864 "Rails 5 API not able to find helper method in devise_controller"
Code in question:

[code]

[2015-12-18 14:14] SpacyRicochet commented on #3863
Thanks :)

[2015-12-18 16:27] lucasmazza commented on #3864
Closed by #3865

[2015-12-18 16:27] #3864 closed

[2015-12-18 16:30] lucasmazza commented on #3775
@andricicezar `Devise::Controllers::Helpers` is a module that we include on controllers, so it depends on its host class to have a working `session` accessor and other controller specific semantics. If CASino overrides the `sign_in` method I think you can make an alias for the original before including it on your controller and call the new method instead of trying to wire this up with an anonymou

[2015-12-18 16:30] #3775 closed

[2015-12-18 20:59] noonkay opened #3867 "RuntimeError on Devise generator"
Devise is required in the gemfile and when I bundle install I get no errors. Bundle Show Devise shows "devise-3.5.3". But when I run "rails g devise:install" I get this error:can't modify frozen Array (RuntimeError)

I've uninstalled all my gems and installed them again and also tried installing devise on another rails project and still get the same error.

[2015-12-18 21:00] #3867 closed

[2015-12-19 15:34] abnud1 commented on #3848
to reproduce the issue:
1-create new Rails app with --skipactiverecord option
2-configure rails to use mongoid
3-generate devise model(example User) with database_authenticatable,registrable,confirmable.
4-generate the corresponding controllers and views for the model.
5-make confirmed_at field localized.
6-generate Mailer with rails g mailer(let's call it UsersMailer).
7-make the mailer inherits

[2015-12-21 11:42] lucasmazza commented on #3800
@rubyrider do you still plan to work on this one? :)

[2015-12-22 03:46] spaquet opened #3869 "Devise destroy_user_session returns GET or DELETE in link_to"
I have the following 2 codes on 2 different pages of the same rails project.

[code]
and

[code]
They respectively return the following HTML

[code]
and

[code]

While the second one is working fine, the first one fails as it is looking for a GET /users/sign_out that does not exist.

Devise 3.5.3
Rails 4.2.5
Ruby 2.2.3

[2015-12-22 10:40] carlosantoniodasilva commented on #3869
Can you double check if the rails ujs javascript is being included in both pages? This is the one that handles the `data-method` attribute, turning it into a real delete request as expected when you click the link through some js handling. If it's not, that's your problem, otherwise I'll have to ask you a sample application showing the problem. Thanks!

[2015-12-22 17:53] spaquet commented on #3869
@carlosantoniodasilva you nailed it. The template used on the second page was not properly loading the rails ujs file.
I'm closing this ticket.
Thx and Happy Holidays.

[2015-12-22 17:53] #3869 closed

[2015-12-22 18:16] carlosantoniodasilva commented on #3869
Glad to hear it's not a :bug:! Happy holidays! :)

[2015-12-23 01:16] bbnnt opened #3870 "rails5 / rspec / capybara"
Updated the config as explained in the readme recently;
devise gem is on master branch.

Problems occurring when running features tests with spec and capybara, with anything involving devise (redirects to new session path for protected urls, direct access to the new session path, etc)

Not sure it is tied, but there's this first warning when tests are run :

[code]

this file exists in controllers

[2015-12-23 01:38] lucasmazza commented on #3870
@bbnnt can you please post your custom sanitizer implementation (or whatever is in on `concerns/user_params.rb` as you mentioned)? A full stacktrace could also help.

Thanks!

[2015-12-23 03:03] bitops opened #3871 "Respect force_ssl = false on QA or Production environments"
Hey guys, I may be doing something completely wrong here but I have `config.force_ssl = false` set in my `config/environments/qa.rb` file. However, when I try to log in, it looks like the `SessionsController` is forcing me on to https no matter what I do.

Is there a way to change this behavior? I am experimenting with running my app in QA mode in a Vagrant environment, but with SSL disabled.

[2015-12-23 08:36] bbnnt commented on #3870
Thanks !
So... well; while getting back at it, I gave it a try and removed `include Devise::TestHelpers` from the concerned spec file. Turns out the problems disappeared.

[code]

Sorry  for asking if that was obvious; I just based my question on a config that was working on 4.2.4.
Can't tell why this was not required anymore and was causing this problem

Here (https://gist.github.com/bbnnt/d687b1

[2015-12-23 14:35] lucasmazza commented on #3870
@bbnnt the issue seems to be that you are including the test helpers in a global scope, and it affects the methods from other classes outside of your test cases - include it inside your `feature` block (which is the top level class) and it should work as expected.

[2015-12-23 14:35] #3870 closed

[2015-12-25 12:56] karlingen opened #3872 "remember_token not in migration file"
Shouldn't the `remember_token` column be present in the generated migration file when running `rails generate devise User` ?

[2015-12-25 13:20] #3872 closed

[2015-12-25 15:20] sushant12 opened #3873 "Stack Overflow Questions Jobsbeta Tags Users Badges Ask Question Render errors in the same page rather than in the default page while login or signup in devise"
I have placed the login and signup forms in the same page and every thing works fine until when I encounter errors. Then the page redirects to their default pages and show errors there. In my case the login redirects me to the default domain.com/users/sign_in , but signup redirects me to domain.com/users.

[2015-12-25 15:22] nashby commented on #3873
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-12-25 15:22] #3873 closed

[2015-12-28 11:40] ProGM opened #3876 "WIKI ISSUE: Check if the user is logged-in in a request spec"
I was trying to check if the user is logged in a request spec.

https://github.com/plataformatec/devise/wiki/How-To:-sign-in-user-in-Request-type-specs-(specs-tagged-with-type:-:request)

In the notes is stated that:

So I tried to find a solution. Here's what I obtained:

[code]

Please check if this works for you and please update the wiki!

[2015-12-28 11:41] nashby commented on #3876
The wiki is maintained by the community. So if there aren't any up to date instructions, we recommend you to explore the solution yourself and hopefully contribute your findings back!

[2015-12-28 11:41] #3876 closed

[2015-12-28 16:16] GCorbel opened #3877 "undefined method `devise' with Rails 5"
Hi,

I just added devise in my brand new Rails 5 app. I have this model :

    class User < ApplicationRecord
      # Include default devise modules. Others available are:
      # :confirmable, :lockable, :timeoutable and :omniauthable
      devise :database_authenticatable, :registerable,
             :recoverable, :rememberable, :trackable, :validatable
    end

When I start the app, I have this

[2015-12-28 16:24] GCorbel commented on #3877
Add `extend Devise::Models` fix the bug.

[2015-12-30 04:41] vishyme opened #3878 "undefined method `utc' for "2015-12-30 04:14:49 UTC":String"
#
        #   # allow_unconfirmed_access_for = nil
        #   confirmation_period_valid?   # will always return true
        #
        def confirmation_period_valid?
          self.class.allow_unconfirmed_access_for.nil? || (confirmation_sent_at && confirmation_sent_at.utc >= self.class.allow_unconfirmed_access_for.ago)
        end
        # Checks if the user confirmation happens before the toke

[2015-12-30 04:47] vishyme commented on #3878
pls see file https://github.com/vishyme/Estydemo.git

[2015-12-30 05:00] #3878 closed

[2015-12-30 21:35] bitops commented on #3871
@josevalim can you offer any insights? Am I doing something very wrong?

[2015-12-31 06:59] josevalim commented on #3871
@bitops I cannot offer anything because there is not enough information. Please use the mailing list or stack overflow for help, there is a wider community in there that may have run into this. If you think this is a bug, please read Contributing.md for proper bug reports. Thank you.

[2015-12-31 06:59] #3871 closed

[2015-12-31 20:19] vaibhavgeek commented on #3588
Add this to your control_helper.rb file.
[code]

[2016-01-02 03:45] hoahm opened #3879 "uninitialized constant ActionController::RackDelegation with Rails 5"
Hi,

I just added Devise to Rails 5 project, and received this warning when running migrate:

    DEPRECATION WARNING: alias_method_chain is deprecated. Please, use Module#prepend instead. From module, you can access the original method using super. (called from <top (required)> at /Users/hoanghoa/projects/abc-ror/config/application.rb:7)

I ignored the warning, restarted rails server, and got thi

[2016-01-02 09:49] josevalim commented on #3879
Only Devise master supports Rails 5. You can find similar discussions in the issues tracker.

[2016-01-02 09:49] #3879 closed

[2016-01-02 19:38] seanlinsley opened #3880 "Use the new attributes API in Rails 5"
In order for other gems (like Formtastic) to properly tell that the virtual password attribute is a string type, in Rails 5 Devise will need to use the new [attributes API](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/attributes.rb).

This is what currently happens:

[code]

But once Devise is hooked up with the new API, `type_for_attribute` would return `:string` for

[2016-01-02 19:39] dcmorse opened #3881 "Readme.md unclear on the consequences of including Devise TestHelpers outside of controller tests"
I have found two reasons why people include Devise TestHelpers. One is that they want to to use sign_in and sign_out methods. The second is that people want to get rid of "undefined method `authenticate?' for nil:NilClass" errors, as documented [on StackOverflow] (http://stackoverflow.com/questions/4308094/all-ruby-tests-raising-undefined-method-authenticate-for-nilnilclass).

I am having such err

[2016-01-02 19:39] seanlinsley commented on #3880
https://robots.thoughtbot.com/how-rails-works-type-casting

[2016-01-02 19:48] seanlinsley commented on #3880
https://nvisium.com/blog/2015/06/22/using-rails-5-attributes-api-today-in/

[2016-01-02 19:53] josevalim commented on #3881
It will be fine for controllers and views tests, it won't  be fine for integration tests.

[2016-01-02 20:54] dcmorse commented on #3881
So...I can include TestHelpers, just so long as I don't call into the module, with e.g. *sign_in*.

[2016-01-02 21:08] josevalim commented on #3881
You may be able to include it, but you definitely should not. There is no guarantee including it only won't introduce errors in future versions.

[2016-01-02 21:08] #3881 closed

[2016-01-03 12:26] Gauravdhandre opened #3884 "Current_user Value Is nil"
Entering the username and password give the current_user value nil

[2016-01-03 12:41] nashby commented on #3884
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2016-01-03 12:41] #3884 closed

[2016-01-03 17:14] Gauravdhandre commented on #3884
I am just freasher and having 2 month of experience in ROR so cant actually understand what you trying to say.
this is my code
![user](https://cloud.githubusercontent.com/assets/16300277/12079767/6b6c8c64-b26b-11e5-96e5-41ae7a4f1ce7.png)
![user1](https://cloud.githubusercontent.com/assets/16300277/12079768/6b6fac64-b26b-11e5-8a34-23f3499764bd.png)
![reply](https://cloud.githubusercontent.com/asset

[2016-01-04 01:14] jasonsilberman opened #3886 "Issues with Devise and subdomain session sharing."
I have an app with multiple sudomains and I would like a user's state (logged in/out) to be shared across those subdomains.

I have set my session store up like this:
[code]

However this does not seem to be doing anything as when I inspect the session in Chrome, it is called the `_app_session`.

How can I setup Devise to work using sessions that will work with all of the different sub domains?

T

[2016-01-04 01:31] hoahm commented on #3879
Thanks @josevalim. I will try again

[2016-01-04 03:31] hoahm opened #3887 "NoMethodError - undefined method clean for Hash"
I used Devise (branch master) with Rails 5, and followed this [guide](https://github.com/plataformatec/devise/wiki/How-To:-Allow-users-to-sign-in-using-their-username-or-email-address) to config login by email or username.

My routes.rb

        devise_for :users,
             controllers: {
               sessions: 'my_sessions',
               registrations: 'my_registrations'
             }

My

[2016-01-04 08:55] josevalim commented on #3886
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-01-04 08:55] #3886 closed

[2016-01-04 08:55] Gauravdhandre opened #3888 "uninitialized constant Session"
I created a sample application.
Added devise in it, it works fine.
Then added cancan gem into it.
Created an ability class. define some permissions.
Then added line
load_and_authorize_resource

to the Application Controller, after that when i go to the page
http://localhost:3000/users/sign_in  it gave the following error,

NameError in Devise/sessionsController#new
uninitialized constant Session

[2016-01-04 08:56] josevalim commented on #3888
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2016-01-04 08:56] #3888 closed

[2016-01-04 08:59] Gauravdhandre commented on #3888
I am new in ROR , i just have 2 month of experience so i dont understand what exactly you saying to me,
but i can show you my code. is it ok for you.

[2016-01-04 09:41] hoahm commented on #3887
https://github.com/rails/rails/issues/22846

I removed meta_request gem and it resolved!

[2016-01-04 09:41] #3887 closed

[2016-01-05 15:29] drewhamlett commented on #2734
Just in case anybody runs across this in Google(because I did).  I used the domain: :all flag, and sign_out stopped working on  production.  I had two cookie sessions and I guess devise was only clearing one?  Anyway removed domain: : all and everything is good again.

[2016-01-05 20:53] andersonveiga commented on #3663
I feel list this should be on the documentation, as I had a simular issue.
The resource name of my controller was `api_v1_user` and should be `user`.
My solution was to override the `resource_name` method like:

[code]

[2016-01-05 21:46] monfresh opened #3889 "Make confirmation_period_expired? a public method"
Hi. Would you be open to a PR that made `confirmation_period_expired?` a public method? Here is a scenario where it might be useful to make it public:

In our app, we allow users to register in multiple steps. In the first step, they just enter an email address. Then, they need to click on the confirmation link in the email that they receive. Once they click the link, they are prompted to enter th

[2016-01-05 21:54] josevalim commented on #3889
confirmation_period_expired? is going to be changed soon to a way it would be completely irrelevant to what you are proposing. That's because confirmation_period_expired? should apply to a particular email/token and not to the current model as a whole. :)

[2016-01-05 21:54] #3889 closed

[2016-01-05 23:24] sfandrew commented on #2586
http://stackoverflow.com/questions/20875591/actioncontrollerinvalidauthenticitytoken-in-registrationscontrollercreate

[2016-01-06 03:39] sb1752 commented on #3694
I'm experiencing this issue. @TangMonk did you figure it out?

[2016-01-06 03:56] TangMonk commented on #3694
@sb1752 sorry, I cannot help you. I forget

[2016-01-06 03:59] sb1752 commented on #3694
No worries. Looks like clearing the browser solves it.

[2016-01-06 04:14] TangMonk commented on #3694
@sb1752 :+1:

[2016-01-06 10:26] AlexVPopov opened #3890 "How to browse the Wiki only for articles, relevant to the latest version of Devise"
I know this is probably a GitHub issue and not a Devise issue, but there are a ton of Wiki pages, which are out-dated. Is there a way to have the Wiki display search result that still work? If not - is it allowed to add a flag at the top of the Wiki page, which alerts the reader, that the information is outdated?

[2016-01-06 10:57] josevalim commented on #3890
The wiki is maintained by the community so you are free to change things in any way. If you try something out and it does not work, leaving up a note at the top with the date and versions would probably help the next person. I don't think it is something we can automate though.

[2016-01-06 10:57] #3890 closed

[2016-01-06 17:04] afstanton commented on #3736
Now that Rails 5 Beta 1 is out, will we see some movement toward supporting it?

[2016-01-06 17:08] seanlinsley commented on #3880
Here's a stack trace for the error when being used with Formtastic: https://github.com/activeadmin/activeadmin/pull/4254#issuecomment-168422718

[2016-01-06 17:21] josevalim commented on #3736
Devise master supports Rails 5.

[2016-01-06 17:28] afstanton commented on #3736
Having just generated a Rails 5 Beta 1 app and installed Devise from the master branch, I can safely say that no, Devise master does not support Rails 5.

[2016-01-06 17:55] josevalim commented on #3736
Our test suite passes on Rails 5: https://travis-ci.org/plataformatec/devise/jobs/100575093. So if you are running into issues, please do a proper report or send pull requests. :) Be movement you want to see happening.

[2016-01-06 18:04] afstanton commented on #3736
The error I'm seeing is the one reported here. No need to file an additional report.

[2016-01-06 18:11] wuatanabe commented on #3736
Hello, devise master seems to work for me with rails 5.0.0.beta1 (installed on Ms Windows).

[2016-01-06 19:11] actuallymentor opened #3892 "Login at /users/sign_in not working, but /users/sign_up does"
Thanks for making this gem, it's great :)

For some reason I can't get it to work as it should. When signing in through /users/sign_in the page simply reloads and does nothing. This is true for correct and incorrect login details. The page simply refreshes and user_signed_in? returns false.

Sign_up however does work. Through there the database entries are created and user_signed_in? returns true

[2016-01-06 19:31] josevalim commented on #3892
It may be something related with the account activity. You have configured it for not considering fresh user accounts active or something of sorts? Did you do any configuration? Other than that, ensure you showing the flash messages, it should also say the actual reason.

[2016-01-06 19:45] afstanton commented on #3736
I'm not sure what I was doing wrong, but I think you're right. My sincere apologies.

[2016-01-07 02:51] ifokeev commented on #3736
devise_token_auth doesn't work because of Devise 3.5.3 in dependencies (and it has ```include ActionController::RackDelegation``` in ```lib/devise/failure_app.rb```).
Have no idea how to use it :(

[2016-01-07 04:31] hcn1519 commented on #645
Can anyboby tell me about this issue some more? I got same issue but rails devise's default setting is config.http_authenticatable = false

[2016-01-07 07:42] neeraji2it commented on #2871
thanks

[2016-01-07 09:56] actuallymentor commented on #3892
Hmm, somehow it works now. Is there any chance that using 11111111 as a password could cause an issue?

[2016-01-07 09:59] josevalim commented on #3892
No, that should not have been the issue. :)

[2016-01-07 09:59] #3892 closed

[2016-01-08 12:48] erdostom commented on #3779
How about using Argon2?
https://github.com/P-H-C/phc-winner-argon2
https://hynek.me/articles/storing-passwords/

[2016-01-08 14:44] monfresh opened #3894 "Consider providing a method to decrypt the secret tokens"
Currently, secret tokens (such as the `reset_password_token`) are passed in directly to the Devise Mailer as one of the arguments. This goes against the best practice of not passing in any sensitive arguments to a mailer, or a background job. Because of this, the token will be exposed in Rails and Active Job logs.

Sure, you can change your Rails debug level to `warn`, but that's just masking the

[2016-01-08 15:16] josevalim commented on #3894
If you pass the whole record then you run into issues the record may not be serializable by those same structures. One work around is to pass the id, fetch it in the job, and then do the token.

However, honestly, I think this is working around the problem. As your problem describes quite well, they are the root cause. They are the ones mindlessly logging everything. I would rather find a way to f

[2016-01-08 16:51] monfresh commented on #3894
I don't think Rails is mindlessly logging everything. It is the programmer's responsibility to make sure sensitive arguments are not passed directly to a mailer or a background job. I just realized that the solution is easier than what I originally thought.

Like you said, the token generation should happen inside the mailer. I was able to do it by modifying `#send_reset_password_instructions` so

[2016-01-08 17:22] josevalim commented on #3894
Because? :)

Anyway, I don't agree with your solution conceptually because now the mailer is saving models only to workaround the fact it should not receive sensitive data (and again, only because of logging) but it should work fine.

[2016-01-08 17:22] #3894 closed

[2016-01-08 17:42] abhinaykumar opened #3895 "update_without_password isn't working"
I have followed Instructions from here https://github.com/plataformatec/devise/wiki/How-To:-Allow-users-to-edit-their-account-without-providing-a-password but clearly its not working. Does anyone knows how to fix it.
Password doesn't change  on update, also it doesnt throws error when password and password confirmation field is different but the same is working when i remove update_without_passwor

[2016-01-08 18:10] josevalim commented on #3895
The wiki is maintained by the community. So if there aren't any up to date instructions, we recommend you to explore the solution yourself and hopefully contribute your findings back!

[2016-01-08 18:10] #3895 closed

[2016-01-09 01:06] eddroid commented on #2734
I also resolved a similar Devise issue by unbundling the `rails-api` gem. Two different failures:

1. `authenticity_tokens` generated by `form_for` were invalid on `POST sessions#new`.
1. I had `before_filter :authenticate_user!` in `ApplicationController`. So there were no public pages (other than login). Even after a successful login `POST`, the session would remain empty and I'd be redirected t

[2016-01-09 01:18] abhinaykumar commented on #3895
Yep, thanks will update wiki as soon as i get a fix to it.

[2016-01-09 15:23] qsypoq opened #3896 "updated the french translation"
Hi, i updated the french tranlation from 3.4.1 to fit the 3.5.3, here you go :
https://gist.github.com/qsypoq/4cf3b858ff8242ffb013

[2016-01-09 18:42] josevalim commented on #3896
Thank you but we don't host translations in our repository :)

[2016-01-09 18:42] #3896 closed

[2016-01-11 09:14] tianlitao commented on #2692
I have the same promble,my way is

[2016-01-11 13:22] allenwq commented on #3386
https://github.com/allenwq/devise-multi_email

I have the same requirements, so that I wrote a gem for letting devise support multiple emails. hope this helps !

[2016-01-11 18:11] monfresh commented on #3894
Good point. I agree that it's not the mailer's job to save the model.

However, I still think this is a valid issue. The problem is not just with Active Job logs. The secret token can also be exposed in the default Resque logs, if you're using that to process the emails, for example.

Another scenario where this sensitive information could be exposed is if you enable capturing job arguments in New

[2016-01-12 05:23] sushantbajra commented on #3265
@trantorLiu , I forgot to add that , I feel so funny. I used a new layout and I was having issue with signout. It worked now. Thank you.

[2016-01-12 18:27] monfresh commented on #3894
I submitted a pull request to filter Active Job logs: https://github.com/rails/rails/pull/23031

[2016-01-13 01:22] chrishaum commented on #3779
:+1: on Argon2. https://password-hashing.net/

[2016-01-13 05:26] pbssubhash opened #3897 "Devise logout isn't working when certain js files are included in application.js"
Hi,
I'm using the latest version of devise and rails 4.2.4.
I've my home page

which contains heavy javascript. But when I load it from some other page, it doesn't load with all the effects. So included

in application.js file.
But then
Logout

doesn't work! It gets rendered as GET /users/sign_out.

When I remove those links from application.js, it works fine.

Any workaround for this issue?

Than

[2016-01-13 10:05] josevalim commented on #3897
You are probably missing your javascript files that convert those links into actual posts with delete. Other than that,  Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-01-13 10:05] #3897 closed

[2016-01-14 17:35] fuzzylizard commented on #3736
Still seeing this error when using Devise 3.5.3, Rails 5.0.0beta1 and trying to start the server.

`.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/devise-3.5.3/lib/devise/failure_app.rb:9:in `<class:FailureApp>': uninitialized constant ActionController::RackDelegation (NameError)`

This is a brand new application. The only thing I have done to it is to remove turbolinks.

[2016-01-14 17:51] josevalim commented on #3736
You need to use Devise master for Rails 5.0.0 beta.

[2016-01-14 17:53] fuzzylizard commented on #3736
I got it working. For others that are experiencing this issue. Pull Devise from github and not rubygems.org. Although the version number is the same, the underlying code is not.

[2016-01-14 18:48] stephanngamedev commented on #3736
For others tha are using devise_token_auth gem.
I'm using:
[code]
`gem 'devise', git: 'git@github.com:plataformatec/devise.git'` solves the problem.
`omniauth` is devise_token_auth dependency too.

[2016-01-15 03:24] erdostom commented on #3779
I took a stab at creating an encryptor to use with [devise-encryptable](https://github.com/plataformatec/devise-encryptable): [devise-argon2](https://github.com/erdostom/devise-argon2).

[2016-01-15 03:55] abhinaykumar commented on #3895
OK, my bad...I didnt knew the whole idea behind with/ without password. Its working as it should be :)

[2016-01-15 10:06] josevalim commented on #3779
Yes, Devise supports other encryptors via extensions, that's the way to go. Thank you for the new ones!

[2016-01-15 10:06] #3779 closed

[2016-01-15 10:07] josevalim commented on #3895
Glad you figured it out! :D

[2016-01-16 15:38] gingray opened #3900 "redirect after update failure"
In my app user can change his password in admin but before he need to input a current one. If he input right current password everything fine i can use this one callback:

[code]
but if user input wrong current password i'll redirect to users#new instead of users#edit with error about current password mismatch. Do we need to add an another callback like (registrations_controller.rb)
[code]
or mayb

[2016-01-16 15:40] josevalim commented on #3900
Better to define your own (instead of even redefining devise one).

[2016-01-16 15:40] #3900 closed

[2016-01-17 17:03] ecauli commented on #2065
any way to solve this problem?

[2016-01-18 02:08] amitfriedman12 opened #3902 "xhr? method called in in FailureApp#http_auth?"
xhr? which is an alias for the method xml_http_request?  is called [here](https://github.com/plataformatec/devise/blob/dd5de829c944dd955e4b35074c60798c3ad4b947/lib/devise/failure_app.rb#L177) on a request object.

This is the rails [ActionController source code definition of xml_http_request?](http://apidock.com/rails/ActionController/Request/xml_http_request%3F)
[code]
(This will always return a

[2016-01-18 03:01] xjunior commented on #2065
@ecauli see my comkment from May 29, 2013

[2016-01-18 08:51] josevalim commented on #3902
0 does not evaluate to false in Ruby. It is working as expected. :) If there is a bug, it is elsewhere.

[2016-01-18 08:51] #3902 closed

[2016-01-18 09:35] amitfriedman12 commented on #3902
Oops! That is correct. Sorry, and thanks for expedient response (:

[2016-01-18 15:45] lucasmazza commented on #3880
Sounds interesting, but I believe it's better to wait until we drop support for Rails 4.1/4.2 to use the new API, otherwise we will have to juggle with supporting multiple Rails APIs and Mongoid (which might not supply the same API for defining these attributes).

[2016-01-18 15:45] #3880 closed

[2016-01-18 15:47] seanlinsley commented on #3880
Is there a plan for when Rails 4 will be dropped, and alternatively when Rails 5 will be supported? Is there anything myself or others can do to help with that process?

[2016-01-18 15:55] lucasmazza commented on #3880
@seanlinsley Devise 4 should keep compatibility with Rails 4.1, 4.2 and 5.0, but we currently don't have any plans for when to go Rails 5+ only.

[2016-01-18 16:08] lucasmazza commented on #3877
Can you please provide a sample application that reproduces the error?

[2016-01-19 15:36] francesco-loreti commented on #3877
Use branch master for resolve the problem:
"   gem 'devise', :github => 'plataformatec/devise', :branch => 'master'  "

[2016-01-19 16:04] #3877 closed

[2016-01-19 17:38] mattbrictson opened #3903 "remember_expired? removed in 3.5.4 with no replacement?"
Hi, I see that the public `remember_expired?` method was removed in 3.5.4 (commit c92996646aba2d25b2c3e235fe0c4f1a84b70d24). Do you have any recommendations for how I should migrate application code that depended on this method?

[2016-01-19 23:48] seanlinsley commented on #3880
Is the plan to support Rails 5 without dropping Rails 4 support, thus delaying usage of the new attributes API?

[2016-01-20 00:06] lucasmazza commented on #3880
@seanlinsley yes.

[2016-01-20 19:42] betesh commented on #3550
http://www.justinweiss.com/articles/a-couple-callback-gotchas-and-a-rails-5-fix/ is a more general description of the ActiveJob / Sidekiq race condition and how to fix them.  It's not specific to devise, nor to ActiveJob.  The short answer there is to use `after_commit` but even that won't work is 100% of cases, so they make some other recommendations as well.

[2016-01-21 09:53] shreyaq3 opened #3904 "Login only after multiple attempts | Using Subdomains and PG"
Hi,

I am rails newbie and I'm facing a weird issue. I'm using rails 3.2 and devise 3.0
I'm using subdomains and PG's multiple schemas to segregate one account from another .

Users on my system are able to login only after multiple attempts. There is nothing in the log and I'm absolutely clueless. I hope someone can point me in the right direction.

My code is as follows
Application Controller -

[2016-01-21 11:23] josevalim commented on #3904
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-01-21 11:23] #3904 closed

[2016-01-21 17:01] Sigbjorn123 opened #3905 "test"

[2016-01-21 17:03] #3905 closed

[2016-01-21 17:07] vesuvius opened #3906 "Devise 3.5.4, Rails 4.2.5 — No error messages on incorrect login."
Hello,

I get no error message on incorrect login (when no such email in the DB or wrong / empty password).
I checked the resource.errors hash and it stays empty after submitting the form.

But when I run (and only if I run) resource.valid? before invoking devise_error_messages! (see the code bellow), resource.errors returns :email=>["has already been taken"], :password=>["can't be blank"] which d

[2016-01-21 17:22] josevalim commented on #3906
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-01-21 17:22] #3906 closed

[2016-01-22 09:33] manuelpradal commented on #3903
:+1:

[2016-01-22 10:29] josevalim commented on #3903
I am sorry, I didn't realize it was public API. It is a breaking change when it should not have been.

In any case, the `remember_expired?` is pretty much useless now because there is no way to know if the remember is expired. The value is stored per cookie. What are you using it for? Depending on your use case we may have a better API.

[2016-01-22 11:41] CodeMeister opened #3908 "Case-insensitive Authentication"
With `config.case_insensitive_keys = [ :email ]` set in the initialisation file, the user's email is correctly downcased before saving.

However, when I try to sign-in using an uppercase version of the email address if fails to find the record.

Am I wrong in expecting devise to downcase the input email before searching?  I can't see anywhere in the code where this happens.

[2016-01-22 14:28] JamesHarrison opened #3909 "Issues with 3.5.4 and rememberable?"
After upgrading from 3.5.3 to 3.5.4 in a Rails (4.2.5) app, checking the "remember me" checkbox no longer seems to actually cause the session to persist beyond the configured timeout (90 minutes).

remember_expires_at looks like it's being set correctly, along with remember_created_at, but users are getting the "session expired" message after 90 minutes of inactivity, not the configured 2 weeks of

[2016-01-22 14:52] josevalim commented on #3909
I will look into the session timedout issue. I can't reproduce the multiple log in though. Can you provide a simple application that reproduces it?

[2016-01-22 15:20] josevalim commented on #3909
@JamesHarrison I have fixed the timeout issue on the 3-stable branch. Could you give it a try? I am waiting on information on how to reproduce the multiple login issue. As soon as those are fixed I will do a new release. :)

[2016-01-22 15:20] josevalim commented on #3908
I have just given this a try and it is working as expected. login is also downcased.  You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2016-01-22 15:20] #3908 closed

[2016-01-22 15:20] josevalim commented on #3903
I will do a 3.5.5 release soon with it brought back, even though it won't be as useful as before. Thanks for the report!

[2016-01-22 15:20] #3903 closed

[2016-01-22 17:24] JamesHarrison commented on #3909
Thanks - the timeout fix looks to have worked. Will try and verify the multiple login issue again/get a reproduction done.

[2016-01-22 17:25] #3909 closed

[2016-01-22 19:19] reedloden commented on #3909
This is affecting us, too, so would appreciate a release with the fix. :) @josevalim

[2016-01-22 19:20] josevalim commented on #3909
Beautiful, cutting a new release now. :)

[2016-01-22 19:23] josevalim commented on #3909
3.5.5 is out :)

[2016-01-23 01:03] bitops opened #3910 "Possible to force HTTP protocol everywhere?"
Gem versions:

[code]

Hey guys, I've tried figuring this out for some time so I am hoping for some help. I searched the issue tracker and couldn't seem to find this issue filed anywhere.

The issue is concerning how Devise redirects after the `SessionsController#create` method has fired. I am running my Rails app in QA mode, and I have `force_ssl` set to `false`.

I can load the standard devise s

[2016-01-23 01:03] bitops commented on #3871
@josevalim thanks for the reply - I've dug into it further and filed https://github.com/plataformatec/devise/issues/3910 which hopefully has better information. Thanks so much!

[2016-01-23 08:46] josevalim commented on #3910
I am still not sure how we can help. Unless you set force_ssl, http is supposed to be fine. Or you need to give us a way to reproduce or should stick to the mailing list/stack overflow for help.

[2016-01-23 08:46] #3910 closed

[2016-01-23 09:39] tjdolan121 opened #3911 "Add a Sign In form in the homepage"
info: https://github.com/plataformatec/devise/wiki/How-To:-Display-a-custom-sign_in-form-anywhere-in-your-app

[2016-01-23 09:40] josevalim commented on #3911
The wiki is maintained by the community. So if there aren't any up to date instructions, we recommend you to explore the solution yourself and hopefully contribute your findings back!

[2016-01-23 09:40] #3911 closed

[2016-01-23 11:24] jeremyrajan commented on #3736
+1 @stephanngamedev . That works (y)

[2016-01-23 13:09] shivabhusal commented on #2586
Hey, I have my production and staging in heroku. `staging.rb` and `production.rb` in `config/environments` are exact copies. However, I could replicate the error in `production` but not in `staging`.

[2016-01-23 13:42] trivett opened #3912 "Whitelisting additional parameters doesn't work as shown in readme"
The Devise readme shows the following code example for permitting params in addition to the default devise params:

[code]

This resulted in the following error:

[code]

I was able to get around this with the following code:

[code]

...which is considerably less elegant.

If there is an additional step missing I believe it should be clear in the readme.

Versions:
Rails 4.2.4
Devise 3.5.3
Warden

[2016-01-23 13:47] bahamallama commented on #2586
I'm assuming this is a Heroku issue. I'm using my own production server instead of Heroku and the problem went away. I can now log in from any device.

d

[2016-01-23 14:07] lucasmazza commented on #3912
The README showcases the API for the unreleased Devise 4. Same as #3901.

[2016-01-23 14:07] #3912 closed

[2016-01-23 14:13] trivett commented on #3912
Thanks @lucasmazza

[2016-01-24 14:12] Ynnni commented on #3736
@stephanngamedev Thanks! :star:

[2016-01-24 19:34] holman opened #3913 "Devise::TestHelpers inclusion in Rails 5"
I'm running into an inconsistency in how Devise suggests doing controller tests in Rails 5.0.0.beta1.

I set up a [minimal app](https://github.com/holman/devise-helpers-test) on Devise b97b3e6e3b570324467ac84d807111837943ec20 for you to reproduce, if you'd like:

[code]

In master's `README`, we're currently suggesting this to be added to `test/test_helper.rb`:

[code]

Running the tests will resu

[2016-01-24 19:43] josevalim commented on #3913
Excellent bug report, @holman! :heart:

It seems controller tests in Rails 5 are integration tests, so we may not have a "backdoor" to sign the user in. We will either need to go explicitly through the sign in page OR build a session cookie that we'll store directly in the request. We will explore the options but I hope this is enough information for you to progress!

[2016-01-25 06:24] matsubo commented on #2936
`-1`

I wrote my code expecting the passed block is only executed the resource is saved successfully.

So the my code had been executed every time even if validation of the entity was failed.

I'd appreciate if this change is shared more widely and written in CHANGELOG.

[2016-01-25 09:43] ohadco opened #3914 "3.5.5 caused issue with remember me cookie"
Getting this for users that has remember me:
  ArgumentError (comparison of String with Time failed):
    vendor/bundle/ruby/1.9.1/gems/devise-3.5.5/lib/devise/models/rememberable.rb:144:in `>'
    vendor/bundle/ruby/1.9.1/gems/devise-3.5.5/lib/devise/models/rememberable.rb:144:in   `serialize_from_cookie_with_or_without_record'
    vendor/bundle/ruby/1.9.1/gems/devise-3.5.5/lib/devise/models/reme

[2016-01-25 09:49] josevalim commented on #3914
Just for curiosity: if you clear up your cookies, does it still happen?

[2016-01-25 10:11] ohadco commented on #3914
When I clear my cookies it's working again (error is gone).

[2016-01-25 10:17] josevalim commented on #3914
Ok. If the error comes back, please try the `3-stable` branch. We have pushed a fix there.

[2016-01-25 10:17] #3914 closed

[2016-01-25 17:11] wellington1993 commented on #1358
Thanks!

[2016-01-26 00:02] holman commented on #3913
Thanks, @josevalim! Real helpful.

For those of you who may be following along at home, I'm tossing this in `test_helper.rb` in the meantime:

[code]

Seems to be the easiest thing to do that allows future drop-in support. Small app too so far, so not a huge deal to add the extra overhead for me.

[2016-01-26 16:04] wellington1993 opened #3915 "Problem "ArgumentError at /***/password comparison of Time with TimeLord::Period failed""
"Problem ArgumentError at /***/password comparison of Time with TimeLord::Period failed"

I have this message error after configured ":recoverable" (password recovery) in the models.

The password is changed, but this message is displayed after submitted the password change form

It's possible skip this message?

![captura de tela de 2016-01-26 13 47 11](https://cloud.githubusercontent.com/assets/

[2016-01-26 16:14] josevalim commented on #3915
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-01-26 16:14] #3915 closed

[2016-01-26 16:45] saturn4er opened #3916 "Could not find devise mapping for path "/admin/dishes""
routes.rb

    namespace :admin do
      resources :dishes
      devise_for :users, path: '', :controllers => {:sessions => 'admin'}, :path_names => {
                           sign_in: 'login', sign_out: 'logout',
                           password: 'secret', confirmation: 'verification',
                           registration: 'register', edit: 'edit/profile',
                       }
    end

[2016-01-26 16:57] #3916 closed

[2016-01-27 09:33] justin808 commented on #3787
@lucasmazza @bingxie @krukgit, the change for https://github.com/plataformatec/devise/commit/5ae6360e758a03cd4deea61f320f9df973c72849 breaks our production app were we have an api that allows a unconfirmed email to be changed. Since there's no prior non-nil value for the email, assigning the **new unconfirmed email** goes into the email slot rather than the unconfirmed slot.

[2016-01-27 15:30] tscholz commented on #3420
:+1:

[2016-01-28 11:37] arogachev commented on #3880
Initially I described problem here https://github.com/activeadmin/activeadmin/issues/4280 and thought that it was Active Admin problem. Then I thought it was Formtastic problem and post issue here https://github.com/justinfrench/formtastic/issues/1187.

I'm using Rails `5.0.0.beta1`, My `Gemfile` contents:

[code]
I tried to update to latest commit of Formtastic on master branch, that didn't help:

[2016-01-28 13:30] tomdev commented on #3862
+1 for email notification on the old email address regarding the email change. From a security standpoint this is really good to have and I'd advocate more sites to use this.

@josevalim Can you elaborate why think this is out of scope for Devise (#3691)? Or was that regarding the ability to cancel the change?

[2016-01-28 14:05] lucasmazza commented on #3880
@arogachev can you set up a sample app with Devise + Rails 5 + Formtastic that replicates this issue so I can take a look? We might be able to come up with a different fix than using the new API.

[2016-01-28 16:07] CollinGraves commented on #3722
^^ Sounds like something easily fixed with routing.

[2016-01-28 17:15] aneilwebber commented on #1358
Cool!! It works!

[2016-01-29 00:52] markedmondson commented on #3338
@rubyrider I ran into this today, instead of forcing customization of the mailer partials for each namespace, the user scope could be collected from the path in the controller and pushed through to the mailer.

The problem I was having was around this sort of configuration:

[code]

This mapped into Devise::Mappings like so...

[code]

In **admin**/passwords_controller (or confirmations/unlocks) t

[2016-01-29 09:43] JuanitoFatas opened #3922 "Devise Integration Test with Capybara cannot find route helpers in Rails 5"
Hello!

I am trying to write a Integration Test with [Capybara](https://github.com/jnicklas/capybara/commit/3f5c36f), Devise ffe9d6d4, and Rails 5.0.0.beta1.1.

The test:

[code]

`test/test_helper.rb`:

[code]

If you run this test will result in:

[code]

I found if we remove the [warden test helpers](https://github.com/hassox/warden/blob/master/lib/warden/test/helpers.rb):

[code]

then the tes

[2016-01-29 14:18] cjmarkham opened #3923 "Undefined method authenticate? for NilClass"
Rails 4.2.5.1
Rspec Rails 3.4.1
Warden 1.2.5
Devise 3.5.5

When running a controller spec which contains a PATCH request I get the following exception.

Undefined method authenticate? for NilClass

Full Stack trace:

[code]

[2016-01-29 14:55] jonasrh opened #3924 "nvm"
nvm remove

[2016-01-29 15:30] carlosantoniodasilva commented on #3924
Please use the mailing list or stack overflow for questions, we reserve the issues tracker for issues. Thanks!

[2016-01-29 15:30] #3924 closed

[2016-01-29 16:19] dlisboa commented on #3923
Same thing happened in the applications I'm working on. It seems this occurred due to a `warden` update (there was a change in the test helpers in the `1.2.5` version). Version `1.2.4` of `warden` makes the tests green again.

An example app with the locked version of `warden` could show that. Right now I can't provide it though, I apologize.

[2016-01-29 16:55] schneems opened #3925 "Prelease Version number not valid on Bundler 1.9"
[code]

The version should be 4.0.0.dev. The first three items need to be integers.

[2016-01-29 16:58] spastorino commented on #3925
As talked with @schneems, I don't think the version is invalid. This is a Bundler bug already fixed in the latest versions.

1.0.0-rc1 like versioning is pretty common out there, maybe not in Ruby land.
Anyway it could be a good idea to not version this way in Ruby land for now :).

[2016-01-29 17:04] schneems commented on #3925
Why wasn't this issue auto closed when the PR was merged?

[2016-01-29 17:10] carlosantoniodasilva commented on #3925
@schneems I think it needs to be `close #3925` (with `#`). Thanks!

[2016-01-29 17:10] #3925 closed

[2016-01-29 21:56] schneems commented on #3925
Ahh, thanks :heart:

[2016-01-30 16:01] jegodwin commented on #3923
Same here. Tests requiring auth started failing after the last warden update to 1.2.5. @dlisboa 's suggestion worked for me as well.

[2016-01-30 18:23] wbotelhos commented on #3923
Yes, `warden` causes it, you can check on this issue: https://github.com/hassox/warden/issues/128#issuecomment-177266346

[2016-01-31 01:35] lucasmazza commented on #3923
Closing this as it is related to Warden and not Devise. Thanks @dlisboa and @wbotelhos for the clarification :heart:

[2016-01-31 01:35] #3923 closed

[2016-01-31 18:55] lucasmazza commented on #3880
@arogachev I couldn't replicate this issue in a fresh app (https://github.com/lucasmazza/devise-formtastic-rails-5) so I'm still now sure of what might be happening wrong here.

[2016-02-01 03:06] arogachev commented on #3880
@lucasmazza Sorry, I didn't have enough time last days. I'll try either update gems or setup an app.

[2016-02-01 20:32] khataev opened #3929 "User password and Factory Girls instantiation through associations"
Seems to me, there is a bug, incorrect object instantiation of model User by Factory Girl in RSpec tests. I'm not sure which of them is guilty, description is on [StackOverflow](http://stackoverflow.com/questions/35133825/factory-girl-associated-object-instantiation-using-devise)

[2016-02-01 21:05] #3929 closed

[2016-02-02 02:06] CollinGraves commented on #3913
@holman are you actively working on this? Let me know if there's anything I can do to help. Currently working on several Rails 5 apps and have done the same workaround as you posted in your last comment. Would love to help patch this.

[2016-02-02 02:14] holman commented on #3913
Probbbbbably not. Don't think I know enough of the internals to jump in and figure out which direction to take this. (If there's a consensus on what approach makes the most sense I can probably hop in and build it out though).

[2016-02-02 05:46] ckgagan opened #3930 "Support for jruby"
When will devise support jruby 9.0.5.0?

[2016-02-02 05:56] khataev commented on #3929
Sorry, I've understood my noob mistake.

[2016-02-02 08:30] arogachev commented on #3880
@lucasmazza I updated both devise and formtastic gems to the latest condition using `bundle update` (suffixed with gem name) command.

But then when I tried to start Puma (dev web server), I got this error:

[code]

Here is the `Gemfile` contents:

[code]

Active Admin section in `Gemfile.lock` looks like this:

[code]

[2016-02-02 08:33] arogachev commented on #3880
Seems like `rails-5-spec` branch of Active Admin was not updated since the moment of my last update https://github.com/activeadmin/activeadmin/tree/rails-5-rspec

[2016-02-02 08:38] arogachev commented on #3880
Is there any workaround to get it to work? Or it's Active Admin problem?

[2016-02-02 08:41] arogachev commented on #3880
Related issues - https://github.com/activeadmin/activeadmin/issues/4291 and https://github.com/activeadmin/activeadmin/issues/4177.

[2016-02-02 09:56] saurabhh commented on #3736
Thanks!!

[2016-02-02 11:45] lucasmazza commented on #3930
we don't officially support it on our build matrix but I hope it should be fairly compatible with jruby - do you have any specific issues with devise on jruby right now?

[2016-02-02 12:26] lucasmazza commented on #3880
@arogachev looks like active admin has a virtual dependency on devise with `~> 3.2`, but now it should be something like `>= 3.2` https://github.com/activeadmin/activeadmin/blob/rails-5-rspec/lib/active_admin/dependency.rb#L3-L5

[2016-02-03 05:16] vamsipavanmahesh commented on #1773
Yes server re start worked me, but anyone would like to help me out with .. what caused the issue in the first place?

[2016-02-03 07:41] ckgagan commented on #3930
@lucasmazza : I am not having any issue with divise on jruby for now in development environment.

I am just concerned with the information in ReadMe of the repo which says "**Thread-safety support on JRuby is in progress**.".  If it's compatible with jruby then I think it must be mentioned in documentation.

[2016-02-03 08:12] itsSaad opened #3932 "password_length not working correctly when password's length is more than 64."
i have `config.password_length = 8..128`
But when i change my password with more than 64 char. i think it only saves 64 chars. it ignores the char after 64th. I can signin even i add char after 64th that are not part of the set password.

[2016-02-03 10:09] josevalim commented on #3932
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2016-02-03 10:09] #3932 closed

[2016-02-03 18:19] hunainkapadia commented on #1421
+1

[2016-02-03 20:18] MaximAbramchuck commented on #3736
@stephanngamedev Thanks! :+1:

[2016-02-04 04:22] greyman888 commented on #3913
Thanks @holman for posting the work around, it helped me a lot.

Although I don't have a solution I thought I'd add a little more information that might help someone else out. I'm pretty new to testing and rails in general so sorry if this isn't much use.

It looks like in Rails 5 you can add `gem 'rails-controller-testing'` to keep using the old controller tests. I haven't tried this but it might

[2016-02-05 07:59] wenweih commented on #3588
The same to #2451 ,[the wiki](https://github.com/plataformatec/devise/wiki/How-To%3a-Display-a-custom-sign_in-form-anywhere-in-your-app) may help you.

[2016-02-05 12:40] ianformanek opened #3935 "Devise gem make postgres db connection open with pg gem via net-ssh-tunnel hang"
Requiring devise in a ruby project that uses net-ssh-tunnel and pg gems to do DB connection via ssh tunnel causes the process to hang and needs to be killed with SIGKILL.

Here is a sample code that demonstrates the problem: works perfectly fine, until the `require 'devise'` line is uncommented. Note that MySQL connection woks perfectly fine, just the Postgres one has problems.

Gemfile:
[code]

t

[2016-02-06 16:55] pavlo commented on #3736
Thank you @stephanngamedev!

[2016-02-07 08:20] cartrdgeengineering opened #3937 "Clarify README regarding location of `include Devise::TestHelpers`"
I spent hours in frustration googling various Devise and Warden error messages I was getting while running tests for a Rails project, and it turns out the issue is that I had added the line `include Devise::TestHelpers` to the bottom of `ActiveSupport::TestCase` (the class which is by default already reopened in test_helper.rb), rather than reopening `ActionController::TestCase` and adding it ther

[2016-02-07 17:06] kevinhofmaenner commented on #3736
@stephanngamedev Thanks!

[2016-02-08 05:53] seanlinsley commented on #3880
The Devise virtual dependency has been fixed on the latest version of https://github.com/activeadmin/activeadmin/pull/4254 ([diff link](https://github.com/activeadmin/activeadmin/pull/4254/files#diff-e72ddd130fb6aa554378e1604b3bad99R3))

[2016-02-08 06:00] arogachev commented on #3880
@seanlinsley Thanks for that! At least I will stay on `rails-5-rspec branch` for now and update to the latest version.

[2016-02-08 06:45] lachlanjc opened #3938 "View generator error with Rails 5 beta 2"
I've been working on a new Rails 5 (beta 2) app with Ruby 2.3.0. I've found that trying to run `rails g devise:views` results in an error:

[code]

I've created a [sample app](https://github.com/lachlanjc/devise-views-error-example) with the defaults of Rails 5 and Devise (and a `User` model), and generating the views doesn't work for me. To try to reproduce this error, you could run:

[code]

Thi

[2016-02-08 13:27] lachlanjc commented on #3938
I just discovered that I have to explicitly ask for `4.0.0.rc1` in my Gemfile, and then Devise works fine. Sorry for the trouble!

[2016-02-08 13:27] #3938 closed

[2016-02-08 20:06] lachlanjc opened #3939 "Shared links with -v flag"
I used the `-v` flag to generate the views I needed from Devise, like this:

`rails generate devise:views -v registrations sessions`

And in my `User` model, I only require some of the modules:

[code]

However, in the `devise/shared/links` partial, Devise included the links for Confirmable, Lockable, and Omniauthable:

[code]

While these links will never show up (since there aren't any controlle

[2016-02-08 22:25] archonic opened #3940 "html2haml wiki out of date"
https://github.com/plataformatec/devise/wiki/How-To:-Create-Haml-and-Slim-Views

Instructions in the wiki are giving me

    `method_missing': undefined method `this' for #<Gem::Specification:0x3fc5c9420968 haml-4.0.7`

Stackoverflow to the rescue:
http://stackoverflow.com/a/15676955/1686604

[2016-02-09 00:25] patricklindsay commented on #3801
I think this should be reopened (?)

I am having the same problem using `3.5.6`, downgrading to `3.5.1` fixes the problem however opens my app up to [security issues](http://blog.plataformatec.com.br/2016/01/improve-remember-me-cookie-expiration-in-devise/)

[2016-02-09 00:46] patricklindsay commented on #3801
Reverting [this commit](https://github.com/plataformatec/devise/commit/aa675f7f6611de5d40114aa98153f3f0c0b3e8d5) solves the issue.

[2016-02-09 02:43] nishimaki commented on #3736
Thank you

[2016-02-09 06:57] nashby commented on #3940
The wiki is maintained by the community. So if there aren't any up to date instructions, we recommend you to explore the solution yourself and hopefully contribute your findings back!

[2016-02-09 06:57] #3940 closed

[2016-02-09 11:58] SimonDKnight commented on #3937
Hey, I am happy to look into that and will get back to you asap.

[2016-02-09 12:08] alexmalik commented on #3800
@lucasmazza I'm going to to take a look at this and submit a PR for this issue seeing as how progress on this issue has slowed.

[2016-02-09 12:44] rubyrider commented on #3800
@lucasmazza sorry for being late. yes I am planning to work on this in this weekend.

[2016-02-09 12:46] rubyrider commented on #3800
ah, @alexmalik I think you would be faster, I am extremely busy but I was originally planning to work on this from this weekend.

[2016-02-09 13:27] brunojppb commented on #3736
@stephanngamedev Thanks a lot! 👍

[2016-02-09 13:31] SimonDKnight commented on #3937
Fixed and made PR https://github.com/plataformatec/devise/pull/3941

[2016-02-09 13:33] alexmalik commented on #3800
@rubyrider Ok then I will start working on this issue.

[2016-02-09 13:44] SimonDKnight commented on #3652
Hey, I will look into this issue and see if I can come up with a solution.

[2016-02-09 22:54] rnt363 opened #3942 "Trying to redirect to login page on session timout"
Right now when the user session times out and the user tries to interact with the page, I get two 401 Unauthorized errors in the console. I would like it to redirect to the login page instead.

I found with some digging that I can create my own custom failure app and override redirect_url to have it always redirect. This is what I have:

in /config/initializers/devise.rb

 require "custom_timeout_

[2016-02-10 13:24] adnguyen1989 opened #3943 "Devise Master returns 200 on user create but Devise 3.5.2 returns 201"
I have a Rails-based API. For a previous project (Rails 4.2.2, Ruby 2.2.2, Devise 3.5.2), I normally get 201 with the full User resource.

[code]

However on the latest project (Rails 5 beta 2, Ruby 2.3.0, Devise master), I get 200 with blank response.

[code]

Since a resource was created successfully the best practice is for 201 to be returned with at least the resource ID. Any idea why this mig

[2016-02-10 14:45] adnguyen1989 commented on #3943
I found some other inconsistencies in response code. I'm not sure if it's Devise or Rails 5

[2016-02-10 16:35] alexbunardzic opened #3944 "Using Devise for a 'headless' authentication service"
I am building an authentication service in Rails. The idea is to offer an authentication end point that will accept email address and password and will then authenticate the request and return authentication token to the calling client. I've decided to use Devise as the solid authentication backbone, but am having issues when trying to authenticate via the service end point.

I have created a user

[2016-02-10 18:28] alexbunardzic commented on #3944
Apologies for not being able to indent code samples above - I've tried everything, but the 'Insert code' formatter wouldn't work properly.

[2016-02-10 19:01] lucasmazza commented on #3944
A wild guess would be that your `SessionsController` is requiring an authenticated user through the `authenticate_user` callback somehow, maybe inheriting it from a base controller, but we can't be sure about that without the full implementation or a sample app.

I'm closing this one as it seems to be a question rather than an issue. Please use the mailing list or StackOverflow for questions/help,

[2016-02-10 19:01] #3944 closed

[2016-02-10 19:02] lucasmazza commented on #3943
Can you please provide a sample application that reproduces the error?

[2016-02-10 19:06] lucasmazza commented on #3939
Doing so would bring extra complexity to the generators, and snippets like these are meant to be updated/replaced by the developer if they want it to rather than be production ready views. Also, doing so would break the default behavior of enabling those links in case we enable any of these modules in our `User` model as it happens when using Devise with the built in views.

[2016-02-10 19:06] #3939 closed

[2016-02-10 19:14] alexbunardzic commented on #3944
Thanks, and also apologies for using inappropriate venue to ask for assistance.

[2016-02-10 19:15] lucasmazza commented on #3922
Sorry for the delay here - closing as it was an issue with a bogus warden release (codetriage/codetriage@823df04175fa733f90203c1805d669f12cff7460)

[2016-02-10 19:15] #3922 closed

[2016-02-10 19:22] lucasmazza commented on #3782
Closing due inactivity.

[2016-02-10 19:22] #3782 closed

[2016-02-10 21:59] NZGlitch opened #3947 "4.0.0.rc1 PG::UndefinedColumn: ERROR: column "password" of relation "users" does not exist"
After upgrading to devise 4.0.0.rc1 I get:

PG::UndefinedColumn: ERROR: column "password" of relation "users" does not exist LINE 1: INSERT INTO "users" ("email", "password", "encrypted_passwor...

Any ideas why this is happening?

This does not happen in 3.5.3 or earlier.

[2016-02-11 01:43] georgeguimaraes commented on #3937
PR merged, gonna close this issue.
Tks for your report @cartrdgeengineering!

[2016-02-11 01:43] #3937 closed

[2016-02-11 03:37] adnguyen1989 commented on #3943
@lucasmazza

Please try the failing RSpec tests in this sample (Rails 5 beta 2, Ruby 2.3.0, Devise 4.0.0RC1): https://github.com/adnguyen1989/rails_api_template/tree/user_management

A working Rails 4.2.2, Ruby 2.2.2, Devise 3.5.2 sample:
https://github.com/adnguyen1989/yomiapi

[2016-02-11 06:03] mattclar opened #3948 "JRuby Null pointer exception"
I just upgraded to rails 5 and devise 4.0.0.rc1 and am working through a bunch of issues, one being that I can not start my app without getting an error such as the one below
`! Unable to load application: LoadError: load error: /usr/src/app/app/models/user -- java.lang.NullPointerException: null`
`LoadError: load error: /usr/src/app/app/models/user -- java.lang.NullPointerException: null`

As soo

[2016-02-11 07:32] Vipinmantri opened #3949 "email and password validation message duplicating after rails upgrade to 4.1.14"
I have upgraded rails version 4.0.12 to 4.1.14. While running test cases(or validating object through rails console), I could see same validation message twice for an email and password.

Failure:
UserTest#test_valid_email_address
Minitest::Assertion: Email xcvkktt should be invalid.
Expected: "is invalid"
Actual: "is invalid; is invalid

Environment:
rails: 4.1.14,
ruby: 2.1.6

Gems:
gem 'devise'

[2016-02-11 08:24] nashby commented on #3942
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-02-11 08:24] #3942 closed

[2016-02-11 09:37] michieldewit opened #3950 "Remember_token always regenerated when user logs in: existing one never kept anymore"
In commit https://github.com/plataformatec/devise/commit/c92996646aba2d25b2c3e235fe0c4f1a84b70d24 a change was made that causes `remember_token`s to be regenerated without checking whether the old one has expired. This causes a problem when users log in on multiple browsers or devices. Every time they log in, their session on other browsers/devices is invalidated, because a new token is generated.

[2016-02-11 09:38] cartrdgeengineering commented on #3937
Wow, impressive response time! Thank you!

[2016-02-11 09:44] josevalim commented on #3950
@michieldewit are you using the manual remember_token? If so, I believe you are right. I completely forgot about this case, sorry about this. We need to tackle it.

[2016-02-11 10:17] michieldewit commented on #3950
@josevalim We use stored `remember_token`s indeed. Going back to 3.5.3 did not work for us either, btw, because of the new format of the remember cookies. Right now, we monkey patched `Devise::Models::Rememberable.remember_me!` in our `User` model to work more or less like in the old situation. It's ugly, but it works:

[code]

[2016-02-11 10:56] josevalim commented on #3950
@michieldewit you no longer need to renew or expire the token. So my suggestion would be to just set it if none is set. If you want to expire existing tokens, you just clean the database column.

[2016-02-11 11:14] michieldewit commented on #3950
@josevalim About the expiration you are probably right. Still it feels a little safer to know that remembered sign ins will automatically expire when a user has not been active for X days

[2016-02-11 11:30] josevalim commented on #3950
@michieldewit this property is now intrinsic to the new system.

[2016-02-11 13:03] monxela commented on #3161
Try saving the current locale in session

[code]

[2016-02-11 13:26] hunainkapadia commented on #1513
@asiniy , where you would put that function?

[2016-02-11 14:11] ankghost0912 opened #3951 "Devise doesn't let me signup using username and a blank email"
Seeing the instructions [here](https://github.com/plataformatec/devise/wiki/How-To:-Allow-users-to-sign-in-using-their-username-or-email-address), I set up devise as my authentication module. However, upon accessing the signup form and filling in the fields, I get the error `username is invalid` and the server logs show the transaction to roll back citing `user_exists` (but the database is current

[2016-02-11 14:34] josevalim commented on #3951
The wiki is maintained by the community. So if there aren't any up to date instructions, we recommend you to explore the solution yourself and hopefully contribute your findings back!

[2016-02-11 14:34] #3951 closed

[2016-02-11 17:47] saravanakumarm4 opened #3952 "authendicate user problem"
before_action :authenticate_user! could not works..! so i just tried => before_filter :authenticate_user!

its really works good ..!!

[2016-02-11 19:58] lachlanjc commented on #3939
Totally understand that @lucasmazza — just wanted to bring it up. Thanks for the thoughtful response!

[2016-02-11 21:47] SimonDKnight commented on #3949
I will look into this and get back to you asap with an answer.

[2016-02-12 01:29] georgeguimaraes commented on #3952
If `before_action` didn't work, I presume you are using Rails 3.x.
For Rails 4.x and 5.x you should use `before_action`.

[2016-02-12 01:29] #3952 closed

[2016-02-12 06:20] Vipinmantri commented on #3949
Thanks Simon

[2016-02-12 13:25] chrismhilton commented on #3578
We're falling foul of this issue with users attempting to sign out and the `all_signed_out?` method clearly returning true. This results in the `verify_signed_out_user` method redirecting to them using the `after_sign_out_path_for`, which in our case is the `sign_in_path`, and then the `require_no_authentication` method detects that they are indeed authenticated so they are redirected back to the

[2016-02-13 08:06] arunnattarayan opened #3953 "encripted password are not saved in rails 5"
i have using brand new rails 5 beta 2 version, i have used `plataformatec/devise', branch: 'master'` . so i can sign_up a new user it will not through any errors on my side, but the `encrypted_password` column stored as `NULL` so i cant login again.

[2016-02-13 16:34] allpumpedup commented on #2734
@drewhamlett suggestion of removing domain: :all flag worked for me.

[2016-02-13 19:13] xw19 commented on #3953
I have tried to use devise branch 'master' with rails 5.0.0.beta2 it works perfectly

[2016-02-13 21:20] georgeguimaraes commented on #3953
@arunnattarayan  Can you please provide a sample application that reproduces the error?

[2016-02-13 21:57] lucianosousa commented on #3862
I think it's the same issue I've here.

My problem is about confirmation email when I change it. In devise higher than 3.5.3 confirmation email is not sent anymore.

It's a devise problem between version 3.5.3 and 3.5.4.

My test suit broke after this upgrade.
You can see this here:

passing: https://travis-ci.org/call4paperz/call4paperz/builds/109015545
broken: https://travis-ci.org/call4paperz/c

[2016-02-14 01:38] visoft commented on #3663
Thanks @andersonveiga, you saved me a lot of time!

[2016-02-14 22:11] #3800 closed

[2016-02-14 23:01] lachlanjc commented on #3913
I'm working on a Rails 5 app as well and ran in to these issues. I slotted in @holman's code to my `test_helper.rb`:

[code]

And then I've got a controller test:

[code]

My user fixture:

[code]

When I run the test, however, I get this:

[code]

How can I fix this issue (even temporarily) so that I can test my app? Thanks :grinning:

[2016-02-15 04:21] jasper502 opened #3955 "Active Admin and the Apartment gem"
I am trying to add Active Admin to my multi-tenant app (with the  Apartment gem).  I have Devise running on the main app under 'User' and added 'AdminUser' to Active Admin.  Devise works fine for both but fails when I try to use Apartment in Active Admin.

Here is my current StackExchange post on this before I narrowed down the issue to Devise: http://stackoverflow.com/questions/35378248/switching

[2016-02-15 05:02] tkaboris opened #3956 "Won't let user login"
I get some complaints that sometimes users can't login even though they were able to login previously. I am using 3.5.2 version. Is there any ideas to why?

[2016-02-15 06:15] tkaboris commented on #3956
Was this issue resolved with current release?

[2016-02-15 11:33] leonardoprg commented on #3956
@tkaboris

can you provide more details? sample app? log's?

it's a bit weird, We are using devise 3.5.4, and no problems here.

[2016-02-15 15:02] leonardoprg opened #3958 "Executable test script to help with devise issues"
Hey Guys,

When fixing a issue on rails, I saw the rails guys has a nice executable script to share the tests/impressions (when open a new issue for example).

I created a new one for devise, please let me know if is it good for you guys, and if you guys wanna I open a PR about the contributing guide (specifying to before open a new issue try reproduce the behavior at executable test script)

ps:

[2016-02-15 15:16] leonardoprg commented on #3953
@georgeguimaraes
I created a executable script test to help you guys reproduce errors

@arunnattarayan

please, try use this script to simulate

https://gist.github.com/leonardoprg/a6be19c70bd9fd032d10

[2016-02-15 20:41] holman commented on #3913
I could have sworn I ran into that problem when I was initially looking into this, but for the life of me I can't remember what the specifics were or how to reproduce it. Guessing it might have something to do with your routes, maybe?

[2016-02-15 20:45] reedloden commented on #3950
Any update on this? We've add the monkey patch, but would prefer this fixed in Devise.

[2016-02-15 22:09] leonardoprg commented on #3955
@jasper502  can you provide a gem's  version or Gemfile.lock ?

I will try to reproduce it locally

[2016-02-16 17:13] jasper502 commented on #3955
I added my Gemfile.lock to my Gist: https://gist.github.com/jasper502/8fd16c31ee26667c5a16

I still have disabled Devise for now in AA and just added some basic HTTP AUTH.  It would be nice to get it back up and running.

[2016-02-17 10:36] u007 opened #3959 "rails beta 5.0.0.beta2 current_user gone after login"
hi,

ive a session controller extended from devise session controller,
when i log current_user, it contains current user, but after redirect,
current_user is nil
what could be the issue?
using devise 4.0.0.rc1

[2016-02-17 11:56] lucasmazza commented on #3959
Can you please provide a sample application that reproduces the error?

[2016-02-17 13:51] chebyte opened #3960 "adds supports for beerpay! for get donations!"
Hi there, I have been using this gem for many years and I found it very usefull, would be nice add this project to https://beerpay.io so we can support you!

thanks for advance!

[2016-02-17 15:33] u007 commented on #3959
hi, i found the issues here

https://github.com/rails/activerecord-session_store/issues/70

[2016-02-17 15:33] #3959 closed

[2016-02-18 04:36] lachlanjc commented on #3913
Hmm. My routes are pretty straightforward:

[code]

And in case you were wondering, the registrations controller:

[code]

Really confused as to my next step 😬 — thanks for helping out, though!

[2016-02-18 07:13] twe4ked commented on #3913
@lachlanjc is the `sign_in` method definitely the one you've defined or is something else overriding it. Try `method(:sign_in).source_location`.

[2016-02-18 10:04] ckornaros opened #3962 "after_sign_in_path_for return "null""
I use recoverable devise module so the user receive a mail to create a new password. When the user click on the email link, he's redirected to the device/password/edit.html.erb view. He completed the two fields and when he clicked on Validate, Devise redirect him to {root_path}null !!!
I made some investigation and I saw that the callback passed through "after_sign_in_path_for" method that return

[2016-02-18 12:04] jlocke2 commented on #3947
I am having this same problem.

@NZGlitch I created a password attribute in the DB for users as a temporary solution.  Devise always sets this to nil and creates the proper encrypted password, so it is still doing some sort of processing before saving.  Haven't been able to find the fix to this yet though.  Have you made any progress on this?

[2016-02-19 06:24] slavajacobson commented on #753
Same problem.

[2016-02-19 16:49] mapreal19 commented on #3862
+1 for this too

[2016-02-19 19:55] lachlanjc commented on #3913
@twe4ked Source location is confirming the method is from `test/test_helper.rb` (note that I haven't changed it from what I posted above).

[2016-02-19 20:37] greyman888 commented on #3913
I got the same error as you no matter what I tried so I gave up trying to
use a fixture and created the user in the test setup. (see my previous
comment)

[2016-02-20 20:23] nashby commented on #3956
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2016-02-20 20:23] #3956 closed

[2016-02-21 21:15] lachlanjc commented on #3913
Ok, so I've updated my `sign_in` method to create a user right there:

[code]

But this isn't actually working:

[code]

[2016-02-21 21:31] twe4ked commented on #3913
You should have access to a `@controller` or `controller` variable in the test. Try `@controller.current_user.email`? You might get more luck over at http://stackoverflow.com.

[2016-02-21 21:36] lachlanjc commented on #3913
@twe4ked The `sign_in` method is in `test/test_helper.rb` because I need/will need it in many different controller tests. Is there a better place for it? Also, I'm still getting an error if I set `@controller = KlassesController` before running `sign_in` with the change you proposed.

[2016-02-21 22:18] sunyanl commented on #3736
@stephanngamedev thanks :)

[2016-02-21 22:25] twe4ked commented on #3913
@lachlanjc Try `controller.current_user.email`. I suggest creating a question on Stack Overflow and linking to it from here. There are a bunch of people getting notifications for each comment here and it's getting a bit off topic.

[2016-02-22 13:05] gfauredumont commented on #2688
Hi,

I have the same issue, that is not resolved by setting `config.reconfirmable = false`.
I can't help notice that this issue is closed though :(

[2016-02-22 13:30] gfauredumont commented on #2688
For now, I have a hugly workaround:
In my User model, I added this:

[code]

Works like a charm... except that I suspect a `skip_confirmation` call would work anymore :/

Any help is more than welcome

[2016-02-22 14:06] obduk opened #3964 "Do not expose secured routes when paranoid"
I think when paranoid is turn on, when a user is unauthenticated a 404 error should be returned instead of redirecting to the login page.

Without this, attackers can at least discover what routes exist without having a login. When doing various security audits this has been a recommended practice.

As it can be a hindrance for users, I think it should not be on by default.

[2016-02-22 14:23] obduk commented on #3964
For the time being I added a custom failure app to achieve this, I don't know if there is a better way of doing it? https://github.com/obduk/cms/commit/23b392a6511a5a27206758f1859559d5fc62e8b7

[2016-02-22 14:43] josevalim commented on #3964
I would say a custom failure app is exactly the way to go here. We will keep an eye open and see if other users request this feature before adding it to Devise.

[2016-02-22 14:43] #3964 closed

[2016-02-22 14:46] lucasmazza commented on #3964
Isn't the `authenticated` constraint macro fit for something like this? https://github.com/plataformatec/devise/blob/342304375946ca11608516eae80f78dbaae059d5/lib/devise/rails/routes.rb#L294-L316

[2016-02-22 15:06] obduk commented on #3964
Looking at it I don't think constraints could hide all routes (as some only authenticated depending on the database record fetched). I think it could also lead to a messy routes file.

[2016-02-22 17:17] akz92 commented on #1513
@hunainkapadia you put that function in your resource (usually 'User') model.

[2016-02-22 23:29] penne12 commented on #2106
@guapolo Added this to the wiki

[2016-02-23 08:44] djsegal opened #3966 "Params not being sent w/ Rails 5.0.0.beta2"
I'm using devise_token_auth, but I'm pretty sure the problem exists here also.

Just try a test user registration with the new Rails beta and no params will come through

[2016-02-23 10:20] websumy commented on #3736
You also can specify devise version 4.0.0.rc1

`gem 'devise', '4.0.0.rc1'`

[2016-02-23 12:52] georgeguimaraes commented on #3966
Which devise version are you using? 4.0.0.rc1?

[2016-02-23 13:26] georgeguimaraes commented on #3966
Just tested a new app with rails 5.0.0.beta2 and devise 4.0.0.rc1 and the params are coming:

[code]

[2016-02-23 13:26] #3966 closed

[2016-02-23 13:40] georgeguimaraes commented on #3955
@leonardoprg Did you get to reproduce it?

[2016-02-23 13:41] georgeguimaraes commented on #3958
Seems cool! I'll give it a try.

[2016-02-23 13:43] georgeguimaraes commented on #3953
I've just tested rails 5 beta 2 and devise 4.0.0.rc1.
I couldn't reproduce the error.

[2016-02-23 13:43] #3953 closed

[2016-02-23 14:05] georgeguimaraes commented on #3960
Tks for your suport! :)
I appreciate it.

[2016-02-23 14:05] #3960 closed

[2016-02-23 14:10] georgeguimaraes commented on #3930
I've updated the docs. Devise should already be thread-safe on JRuby as well.
Tks.

[2016-02-23 14:10] #3930 closed

[2016-02-23 14:13] georgeguimaraes commented on #3731
@jwg2s Hi, have you solved this issue in your app?

[2016-02-23 14:15] #3706 closed

[2016-02-23 14:16] #3722 closed

[2016-02-23 14:17] #3701 closed

[2016-02-23 14:20] #3613 closed

[2016-02-23 14:34] jwg2s commented on #3731
We have, it ended up being a race condition between two requests where one request would sometimes clobber the session details that held the oauth info.

[2016-02-23 14:40] georgeguimaraes commented on #3731
How did you solve it? Was it related to devise?

[2016-02-23 15:49] jwg2s commented on #3731
We stopped making the second request entirely, it's still susceptible to race conditions wiping out the session data needed for Oauth unfortunately

[2016-02-23 17:03] georgeguimaraes commented on #3731
Tks for all the info @jwg2s. I'm gonna close this issue.

To future folks: if you get into something like this issue, please open up a new issue.

[2016-02-23 17:03] #3731 closed

[2016-02-23 18:58] georgeguimaraes commented on #3948
@mattclar Have you solved this issue?
I've just run devise's test suite agains jruby 9.0.5.0 and it's green.

[2016-02-23 19:57] jessesanford commented on #2963
I am having the same issue. @lxsameer what did you do to solve this?

[2016-02-23 20:42] georgeguimaraes commented on #3935
Tks for the report.
I've tested your code snippet with devise master (3423043).

**ssh tunnel with `ssh host -L 5555:localhost:5432`:**

- requiring 'devise' => got a response, no hanged process.
- not requiring 'devise' => got a response, no hanged process.

**ssh tunnel with `Net::SSH::Gateway`**:

- requiring 'devise' => process hanged
- not requiring 'devise' => process hanged as well

It seem

[2016-02-23 20:42] #3935 closed

[2016-02-23 23:16] svoynow commented on #3947
I think this may be related to this bug:
https://github.com/rails/rails/issues/18407
as this was added to `lib/models/database_authenticatable.rb` at 2024fca4dfa3323070c3477e262b8422cadf6a42

[code]

So upgrading Rails might work (although I realize that isn't always feasible).
Can anybody weigh in on what (if any) bug adding `attribute_will_change` was supposed to fix?

[2016-02-24 01:52] vincentwoo commented on #501
I just saw a password reset token issued with a dash at the end. Can we reopen this issue?

[2016-02-24 07:22] lxsameer commented on #2963
@jessesanford dude unfortunately i don't remember

[2016-02-24 14:25] Yanchek99 opened #3967 "minimum_password_length not accessible from registrations/edit view"
This may be a feature request but I was wondering what the reason behind removing the @minimum_password_length variable from the edit registrations view?

 I think it is still beneficial to prompt the end user of the minimum password length when changing their password.  Would be nice if I could display the same message used in the registrations/new view.

[2016-02-24 15:42] ForestHeart commented on #3525
Have same issue.

Reproduce steps:

add confirm_within in devise config:
`config.confirm_within = 1.days`

And then try to 'confirm!' old user (did not send confirmation email)
[code]

So, to confirm old users:
[code]
or
`user.update(confirmed_at: Time.now)`

[2016-02-24 21:55] heikobornholdt opened #3969 "Requesting confirmation instructions as authorized user will return "You are already logged in."-error"
I've set `config.allow_unconfirmed_access_for = 365.days`. So my users can login without confirming their email.

When I go to  "request confirmation instructions"-page as authorized user and submit the form with my email address, the form will return "You are already logged in."

The confirmation instructions email was sent. However the message "You will receive an email with instructions for how

[2016-02-24 22:29] carlosantoniodasilva commented on #3969
That is probably because by default Devise will redirect you back to the new session path, and that will detect you're already signed in, and redirect you again to "after signed in path", with the message you see - meaning you lost the original message.

You should be able to override [`after_resending_confirmation_instructions_path_for`](https://github.com/plataformatec/devise/blob/342304375946ca

[2016-02-24 22:29] #3969 closed

[2016-02-24 23:40] heikobornholdt commented on #3969
Thank you for the fast response. My problem is solved :+1:

I would suggest to change `after_resending_confirmation_instructions_path_for`, so it behaves like [after_resending_confirmation_instructions_path_for](https://github.com/plataformatec/devise/blob/342304375946ca11608516eae80f78dbaae059d5/app/controllers/devise/confirmations_controller.rb#L40-L46).
That will help other people with a simila

[2016-02-24 23:40] jontyjont commented on #2871
concur with @amitdotagarwal  - the reason is that the token is now encrypted in the model so in order to present the token it needs to be the unencrypted one - that should be what is in the email hence putting @token in it
I followed that advice and it worked for me - i had not noticed the change in policy to encrypt the token in the model - where was the news?

[2016-02-25 01:39] mattclar commented on #3948
This is the output of jruby -d , I have narrowed the bug down to the ":validateable" module in devise, I only get this error when that is enabled in my user model. Hopefully that helps.

[code]

[2016-02-25 05:59] ahmad19 opened #3970 "remember_user_token doesn't stay after user signout if config sets to false"
Hi,
I'm using `rails 4.2`, `devise-3.5.6` and `warden-1.2.6`.

In the config `devise.rb`, i tried to set
`config.expire_all_remember_me_on_sign_out = false` in order to retain `remember_user_token` cookie after user sign-out. But it get destroyed after sign-out.
Please confirm if this is a bug or not ?

[2016-02-25 10:03] sebastianzillessen opened #3971 "Devise failed_attempts (lockable) doesn't get incremented."
Hi,

I have this simple rspec test on one of my devise models:

[code]

but unfortunately the failed_attempts doesn't get incremented, although the login fails.

[code]

It seems to be any issue with the rSpec environment, as it works perfectly when I'm testing it manually in the browser.

Anything I can do to fix this?

[2016-02-25 11:36] nomanurrehman opened #3972 "No devise_error_messages! block in default session view"
In the default view to create a new session at `views/devise/sessions/new`, there is no `devise_error_messages!` so the user is redirected to the sign in page but no errors are shown.

I have checked the rest of the views and all of them have it so thought it would be nice to go by that and have it in the sessions view as well.

Though a small change but more than willing to submit a PR for this.

[2016-02-25 11:38] josevalim commented on #3972
We never show form errors in the session page. It always come from the flash, so I don't see why it would be necessary. :)

[2016-02-25 11:41] nomanurrehman commented on #3972
Yes, I seem to have hurried a bit in submitting this.

You may close it :).

[2016-02-25 12:49] georgeguimaraes commented on #3971
Did you check the initial value of `failed_attempts`? I think it's `0` and then it gets incremented to `1`.

[2016-02-25 13:02] sebastianzillessen commented on #3971
Yeah, it is 0 at the beginning, but shouldn't it increase further?

[2016-02-25 13:03] #3972 closed

[2016-02-25 13:15] georgeguimaraes commented on #3971
But where does `i` come from?

[2016-02-25 13:16] georgeguimaraes commented on #3971
If you print the `failed_attempts`, is it increasing?

[2016-02-25 13:17] sebastianzillessen commented on #3971
Sorry, of course it is the loop variable, I didn't copy everything probably 😄

If I print them, they stay at "1" for all 10 loops.

[2016-02-25 13:25] georgeguimaraes commented on #3971
I'll give it a try. I'll let you know the results.

[2016-02-26 11:04] prrrnd commented on #3624
I'm also getting this error after trying to upgrade from 3.4.1 to 3.5.6.
Almost as @artmees, I only use the recoverable module from devise and use the `has_secure_password` from Rails. Any updates on this? I would really like to upgrade to at least 3.5.4 for the [CVE-2015-8314](http://blog.plataformatec.com.br/2016/01/improve-remember-me-cookie-expiration-in-devise/) fix .

[2016-02-26 23:26] TrevorHinesley opened #3974 "wrong number of arguments (3 for 2)` in `serialize_from_cookie`"
When I try to call current_user, sometimes I get `wrong number of arguments (3 for 2)` in the `serialize_from_cookie` method. Here's the backtrace, starts at the bottom and goes up.

[code]

[2016-02-27 08:42] pedramteymoori opened #3975 "Devise.email_regexp doesn't detect some wrong emails addresses"
In our project, sometimes we get `Net::SMTPServerBusy: 401 4.1.3 Bad recipient address syntax`.
After check, we find out that the email was like 'foo@bar..foo' and 'Devise.email_regexp' detects it as a correct email address.

I think we shoud change Devise email regexp from `/\A[^@\s]+@([^@\s]+\.)+[^@\W]+\z/` to something like `/\A([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})\Z/i` as shown [here](http://

[2016-02-27 08:47] josevalim commented on #3975
That's on purpose. :) Doing correct e-mail validation is actually quite complex and it would allow things like `foo@213.43.23.49` which a lot of people don't want. So we keep a single one on purpose, feel free to change if you want to. You can also consult previous issues open for this exact reason to see previous discussions. THank you!

[2016-02-27 08:47] #3975 closed

[2016-02-27 08:52] pedramteymoori commented on #3975
Thanks for your answer :)

[2016-02-27 15:15] lksv opened #3976 "Improve wiki page: How To: Create a guest user"
Thank you for super gem and perfect docs and wiki.

I suggest (and please review) the improvement of setting Guest User. The [wiki page](https://github.com/plataformatec/devise/wiki/How-To:-Create-a-guest-user) recommends how to set a helper function `current_or_guest_user`. And usage of  `logging_in` which handles the copying data form guest_user to current_user.

Then there is a section:

It see

[2016-02-27 16:02] carlosantoniodasilva commented on #3976
The wiki is maintained by the community, so you should be able to edit and improve it however you'd like. :)

Thank you!

[2016-02-27 16:02] #3976 closed

[2016-02-27 16:46] lksv commented on #3976
Thanks @carlosantoniodasilva , good to know. But, I cannot change it directly without review. What to do in this case?

[2016-02-28 17:56] Ikariusrb opened #3977 "Cannot disable authentication for an engine mount"
I'm looking at putting together a rails API backend with an ember front-end for the UI, and was hoping to use ember-cli-rails to host them as a singular rails app (for ease of full integration tests).  My plan was to use devise + ember-simple-auth for secure authentication between the front end and back end.  Unfortunately, the devise routing syntax for unauthenticated routes does not appear to mi

[2016-02-29 08:19] syter opened #3978 "Cannot update params when use warden.authenticate in devise"
Hi,
I have upgrade my rails from 3.2.8 to rails 4, also devise is upgrade from 2.1.2 to 3.5.6 and warden from 1.2.3 to 1.2.6.
I found an issue that I don't know what it should belongs to devise or warden.

Before I call
`resource = warden.authenticate(:scope => resource_name, :recall => "#{controller_path}#new")`
I update params value like below:
   `params[:admin] = Hash.new
    params[:admin][:e

[2016-02-29 08:30] syter commented on #3978
Here is my part of code and logs:
controllers.rb

    params[:admin] = Hash.new
    params[:admin][:email] = params[:email]
    params[:admin][:password] = params[:password]
    params[:password] = '11111111111111'
    # authenticate with warden
    p '===================================='
    p params
    p warden
    resource = warden.authenticate(:scope => resource_name, :recall => "#{controlle

[2016-02-29 20:02] lachlanjc commented on #3913
@twe4ked Yeah, that took a while! When I created a user on the fly instead of using a fixture everything worked, but then the `user_id`s in my fixtures didn't match up and so authenticated pages wouldn't work. I'm now creating a user on the fly, and then changing the user ID in the database for the subject so that everything works smoothly. Here's my final solution for anyone that needs it:

[code

[2016-02-29 20:46] lucasmazza commented on #3943
This is an incompatibility with the `responders` gem and `ActionController::API`, as the responders default rendering relies too much on the controller implementation.

There is a proposal fix at plataformatec/responders#146.

[2016-02-29 20:46] #3943 closed

[2016-02-29 20:54] lucasmazza commented on #3974
Can you please provide a sample application that reproduces the error?

[2016-02-29 21:01] lucasmazza commented on #3977
Looking on how `mount_ember_app` works I think this will never work - `ember-cli-rails` constraint will override the constraint added by `unauthenticated` and the Rails router won't merge the two rules.

Maybe if `ember-cli-rails` constraint was implemented as a Hash constraint instead of a callable one it could work, but I'm not 100% sure about it.

Related Rails tickets rails/rails#15668, rails/

[2016-02-29 21:01] #3977 closed

[2016-03-01 02:36] TrevorHinesley commented on #3974
I can't reproduce it manually, it's somewhere inside Devise and only happens sometimes. Has something to do with the session.

[2016-03-01 16:02] syter commented on #3978
I aslo created question in stackoverflow : http://stackoverflow.com/questions/35727602/cannot-update-params-when-use-warden-authenticate-in-devise

[2016-03-01 18:13] victor95pc opened #3979 "set_reset_password_token callbacks problems"
rails (4.0.13)
devise (3.5.6)
warden (1.2.6)

Hi guys, I really like all work your guys are doing on this gem. I have a problem when sign in a user on my app, my client wants to send a reset email every time a user are signed.

So I go to app/models/user.rb, add a callback:

[code]

It worked, but the user record doesn't have reset_password_token set, I search on devise's code and found a method s

[2016-03-01 20:44] rafaelfranca opened #3980 "Test this project with Rails 4.2.6.rc1"
Hi team,

we just released Rails 4.2.6.rc1. To help us to find regressions, and make the final release
awesome for everyone, I'm here humbly asking you to test your project with this
Release Candidate.

We are planing the final release to 2016-03-04, so it would be great if
you test it before this date.

If you find any regression please open an issue on GitHub mentioning me and with the title sta

[2016-03-01 21:48] lucasmazza commented on #3980
https://travis-ci.org/plataformatec/devise/builds/112975248

[2016-03-02 22:39] alexQueue commented on #3979
I'm hitting this same issue, so I'll second that it's a problem that should be addressed, and I agree that `update_columns` is better than `save(validate: false)`

[2016-03-02 23:20] alexQueue commented on #3979
Is it because `save` "won't work" in an `afte_create`, or because the `save` will trigger the `before_update` callback that resets the token?

[2016-03-03 00:15] victor95pc commented on #3979
I need to make some test but, yes the save method do not save the record, maybe it have something with ActiveRecord, or it needs to reload the instance, I think the last one probably right, but I still think is a good idea do use update_columns in this case.

[2016-03-03 08:24] sebastianzillessen commented on #3971
Any updates on it?

[2016-03-04 15:02] fbernier commented on #3550
So I did what's written in the README yesterday about activejob mailers ( https://github.com/plataformatec/devise?files=1#activejob-integration ) and ended up with exceptions when I deployed to production because of the issue mentioned here. I really think this should either be changed or removed from the documentation.

I ended up finding this in the code: https://github.com/plataformatec/devise/

[2016-03-04 18:38] mgwidmann opened #3981 "sign_in(:user, store: false, bypass: true) stores the serialized user object in the session"
I ran into this bug while using the following gem:

https://github.com/lynndylanhurley/devise_token_auth/blob/master/app/controllers/devise_token_auth/concerns/set_user_by_token.rb#L59

Calling both `store: false, bypass: true` causes the user object to be serialized into the session even though store is `false`.

[2016-03-04 19:12] mgwidmann commented on #3981
You can see here that when `bypass` is true, the `options` variable is completely ignored.

https://github.com/plataformatec/devise/blob/7df57d5081f9884849ca15e4fde179ef164a575f/lib/devise/controllers/sign_in_out.rb

[2016-03-05 06:58] makwanahemant commented on #2554
generate key by

_bundle exec rake secret_

and then copy secret from console log to devise.rb, which would be something like

_config.secret_key = '4fce3c1c860216b8......' _

[2016-03-05 15:56] mrdinghy opened #3982 "confirmable by administrator"
It would be really nice to have a Devise setup option so that when users register it sends a "thank you for registering, you will be approved by admin and notified".  This email will be cc'ed to one or more admins to notify that someone has registered. The new user remains unconfirmed.

Admin goes into users list and can approve (confirm) or disapprove user registration.

If approved new user will

[2016-03-05 17:57] atwoodjw commented on #3583
Are you sure you created a corresponding layout for the new parent controller?

[2016-03-07 01:10] u007 opened #3983 "rails 5 with devise_omniauth_callback"
im getting this error,

W, [2016-03-07T01:08:19.779204 #12853]  WARN -- : DEPRECATION WARNING: Using a dynamic :action segment in a route is deprecated and will be removed in Rails 5.1. (called from devise_omniauth_callback at /usr/local/rvm/gems/ruby-2.2.4/bundler/gems/devise-342304375946/lib/devise/rails/routes.rb:452)

i tried comment off my omniauth, it still persists with this error?
what is

[2016-03-07 14:35] #3980 closed

[2016-03-07 14:50] #3983 closed

[2016-03-07 15:25] u007 commented on #3983
thank you :+1:

[2016-03-07 15:34] Startouf opened #3986 "Generator for User creates almost empty class on Mongoid and rails 5.0"
Running `rails g devise User` should create a User class model and fill it with useful devise fields. But after running that generator script, my User class is dead empty

[code]

The empty lines and the output of the console (the two insert on user.rb) seem to say that something went wrong

[code]

The other files seem to have been generated/modified normally. Only a problem with the User class.

[2016-03-07 16:50] nomanurrehman opened #3987 "Out of the box JSON compatibility"
If this has been brought up before, please do point me in the right direction.

I am trying to make Devise work purely on JSON and the default setup does not seem to support it.

I have jumped into customization and started with the registration controller.

Here is my code.

[code]

Everything works fine but I do not get an error if the request is missing the `password_confirmation` parameter.

I

[2016-03-07 17:09] lucasmazza commented on #3986
We currently don't support Mongoid 6 as there isn't any released version with Rails 5 support and the required changes for it to support Rails 5 haven't landed on `mongodb/mongoid`.

Devise seems to works as expected with Mongoid 5 (although our test suite doesn't use it, see #3855), and there isn't much we can do without a proper version of Mongoid to work with.

[2016-03-07 17:09] #3986 closed

[2016-03-07 20:35] ybur-yug commented on #3987
It seems like [this](https://github.com/lynndylanhurley/devise_token_auth) might be a good answer for what you are doing @nomanurrehman. I've used this technique (though not the gem specifically) in several JSON-API projects and had no problems.

[2016-03-08 03:33] u007 commented on #3983
hi, im seing new error when i called:
user_omniauth_authorize_path(:facebook)

it was previously working on my rails 4, but due to latest bundle update from github, it throws:
undefined method `user_omniauth_authorize_path' for ... (in the view file)

[2016-03-08 03:54] pyralis opened #3988 "Sql UPDATE Failed User. "id" is missing"
`Failed to prepare sql UPDATE userds SET current_sign_in_at = ?, last_sign_in_at = ?, sign_in_count = ?, updated_at = ? WHERE userds. = 11 due to: Token = was not valid.`

So I'm not sure where to go to look into where the sql is being generated for this but when I try to login as a user, it gives the error above and on a test machine with the same controllers and routes it populates the "userds".

[2016-03-08 04:04] rafaelfranca commented on #3988
Could you create a reproduction script with this template https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_master.rb?

[2016-03-08 07:59] nomanurrehman commented on #3987
@ybur-yug

Thanks.

Using a different gem still does not answer my question, though I do understand that the gem you have pointed me to is also a customization of devise.

I am more interested in knowing if there is a way using Devise purely to be sure before I move forward with the customization.

[2016-03-08 10:58] tux-mind opened #3989 "custom strategies headers not honored"
The following test fail with:
- devise 3.5.6
- warden 1.2.6
- rails 4.2.5.2

[code]

I'm working on a workaround...

[2016-03-08 12:19] tux-mind commented on #3989
a possible workaround:

[code]

[2016-03-08 12:21] sebastianzillessen commented on #3971
@georgeguimaraes ?

[2016-03-08 14:32] lucasmazza commented on #3983
@u007 thanks for the report - and sorry about that. Those helpers aren't generated anymore, and we should do something like `user_facebook_authorize_path` instead - I'll see if we can push a deprecation warning instead of `NoMethodError`.

[2016-03-08 15:02] ybur-yug commented on #3987
@nomanurrehman If you peruse the source, it largely is a wrapper of devise that removes a lot of the boilerplate work for you. Utilizing what it does under the hood would solve your problem exactly I think.

[2016-03-08 16:09] pmichna opened #3990 "Handling language change and stored_location_for"
In ApplicationController I have:

[code]
It works fine until I change locale in sign_in page. Locale depends on url.

Example:

1. I try to access restricted page `localhost:3000/en-GB/something`
2. I am redirected to login page `localhost:3000/en-GB/users/sign_in`.
3. On login page I change the language and the current url changes to `localhost:3000/fr-FR/users/sign_in`.
4. After successful sign

[2016-03-08 16:44] lucasmazza commented on #3990
One alternative I can think of is to change the url's String when you change the current language, so whatever is stored gets updated to match the new locale - other than that I can't think of any new way to handle this on Devise's side since it stores the raw pathnames for the visited URLs.

[2016-03-08 16:44] #3990 closed

[2016-03-08 20:44] pmichna commented on #3990
I don't know whether I understand correctly. What do you mean by changing the url's String? Isn't it what I'm already doing? `localhost:3000/en-GB/users/sign_in` changes to `localhost:3000/fr-FR/users/sign_in` when I change language.

[2016-03-08 21:07] lucasmazza commented on #3990
@pmichna I meant to change the URL that was stored by `store_location_for` inside the session, before the locale change.

[2016-03-09 11:36] stimoshik commented on #3736
@stephanngamedev Thanks a lot!

[2016-03-10 00:47] connorshea opened #3992 "after_update causing tests to fail for all versions above Devise 3.5.2"
I ran into this issue when [attempting to update devise-two-factor to support Devise 4.0.0](https://github.com/tinfoil/devise-two-factor/pull/70).

This is the error I'm getting:
[code]

Versions:
- Ruby 2.1.8 (also tested and affects 2.2.4 and 2.3.0)
- Devise 3.5.6 (all current versions 3.5.3 and above have this issue)

To reproduce you can run `bundle exec rake` for [this commit](https://github.

[2016-03-10 00:51] connorshea commented on #3992
Forgot to mention, `after_update` seems to have [been deprecated a while ago](http://apidock.com/rails/ActiveRecord/Callbacks/after_update).

[2016-03-10 00:58] lucasmazza commented on #3992
APIDock is usually a misleading reference for the Rails API since it tries to summarize the docs for all available versions at once, but it can't detect all the changes between each version - itself states that the _method is deprecated or **moved**_.  You can see on the [`ActiveRecord::Callbacks`](http://api.rubyonrails.org/classes/ActiveRecord/Callbacks.html) documentation a mention to it right

[2016-03-10 00:58] #3992 closed

[2016-03-10 01:01] lucasmazza commented on #3992
Regardless of that, thanks for the incredibly well written report and the step by step work on tinfoil/devise-two-factor#70 :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-03-10 01:05] connorshea commented on #3992
@lucasmazza and thank you for the help! I'm still relatively new to deeper Ruby/Rails, so I apologize if any of this is obvious to the rest of you :)

[2016-03-10 01:07] lucasmazza commented on #3992
@connorshea no problem :)

[2016-03-10 14:51] amritdeep commented on #3159
Thanks Guys, It help me lot. Devise 3.4.1 work perfectly for rails 4.2.5.2.

[2016-03-10 14:53] amritdeep commented on #3158
You can use devise 3.4.1.

[2016-03-11 10:20] jurajpaulo commented on #1059
I'm experiencing the same issue with devise 4.3.1, rails 4.1.10
Getting 401 on PUT request to /users with auth_token

[2016-03-11 21:38] guigs commented on #3674
Even if user is persisted I think there is a risk that other user attributes that were updated in current transaction and are used by mailer are stale. So, maybe the deliver_later should only be called after transaction commit.

[2016-03-13 00:10] viniciusgati commented on #3348
i'm having this with a simple rails 4.2.5.1

[2016-03-15 08:16] aried3r commented on #3635
Does "for now" (emphasis mine) mean that there is a possibility this will be added to Devise? Since most recently the stretches for bcrypt were increased, I wanted to migrate, but saw that all PRs so far were closed and about 4 years ago, [this shouldn't be part of Devise](https://github.com/plataformatec/devise/pull/1862#issuecomment-5799967). Do you still think so?

Because all the PRs I could f

[2016-03-16 08:55] jjoos opened #3994 "Extending remember me expiration enabled by default."
This commit c92996646aba2d25b2c3e235fe0c4f1a84b70d24 unwillingly enabled extending the remember me period for our application. (Devise 3.5.6)

I added this to our models to disable the behaviour:
[code]

and removed (which was the default value for this config):
[code]

What would be the best way to do this in a way that will be the supported in future versions?

[2016-03-16 11:29] jjoos commented on #3994
Also needed to add a bit of extra monkey patching to our already existing monkey patch related to #3950 to get this working.
[code]

[2016-03-16 11:44] josevalim commented on #3950
Thanks @reedloden and @michieldewit . I think a simpler fix on this is to rewrite the remember_me function to work like this:

[code]

Can you please confirm this also works as expected? I only changed the remember_token assignment to use `||=`.

[2016-03-16 11:45] josevalim commented on #3994
Hi @jjoos, I think there is some confusion here because that commit is not supposed to extend the remember me period. Maybe it is the monkey patch from #3950 affecting it? I have posted an alternative monkey patch, please let me know how it goes. Thank you.

[2016-03-16 13:31] jjoos commented on #3994
Sorry I thought `Devise::Strategies::Rememberable#extend_remember_me_period` had something to do with it since it always gets called and looking at some historic commits 2e43944567deb0b376e764e2362613e886c3e4f7 7029a5aaa88fcee9a9bf25a63d0105ad97728d08 I presumed it's purpose is to update `remember_created_at` on the resource? But it seems it doesn't do that anymore.

c92996646aba2d25b2c3e235fe0c4f

[2016-03-16 13:39] jjoos commented on #3950
I can confirm the simpler fix works, wouldn't this be a bit easier to read though?
[code]

[2016-03-16 14:37] josevalim commented on #3950
We still need to execute remember_created_at if you don't have `respond_to?(:remember_token)`.

[2016-03-16 14:39] josevalim commented on #3994
Oh, you are right. This line of code: https://github.com/plataformatec/devise/blob/master/lib/devise/strategies/rememberable.rb#L28 should only be called if extend_remember_me is set. This means we should not deprecate this config and instead check for it there. The `extend_remember_me_period` method in that class is also completely meaningless now. Can you please try such changes and let us know?

[2016-03-16 15:33] jjoos commented on #3994
I'll create a proper pull request for you tomorrow!

[2016-03-16 16:05] josevalim commented on #3994
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-03-16 18:50] MarsonV opened #3995 "reset password unknown format"
Hi, I use the devise and simple_token_authentication. my routes.rb:
[code]

In response to a request localhost:3000/users/reset_password.json everything is working correctly, it comes to email message with a link. When you click on a link opens default view devise/passwords/edit. I enter a new password, I click the submit, and get an error:

but in the console I see that the password was successfu

[2016-03-16 19:46] jjoos commented on #3950
@josevalim Could you explain why we need to execute `self.remember_created_at ||= Time.now.utc` when `self.remember_token` isn't being set?

[2016-03-16 19:48] josevalim commented on #3950
@jjoos because you can use the remember token completely without tokens, by relying on the authentication salt

[2016-03-17 13:35] bl4ckdu5t opened #3996 "Moving unconfirmed_email to email with a bypass on update"
I have a Oauth authentication option where I don't want users to require confirmation for use. I created an extra step for users to store their email address to allow use of multiple social identities with an account. The problem is when the email is taken it gets stored in `unconfirmed_email` even with `skip_confirmation` method used. Is there a way to prevent email from going to `unconfirmed_ema

[2016-03-17 19:17] mike0416 commented on #3488
Did you change your form method to put?  That route has a get method, which is invoked unless specified.

[2016-03-17 21:53] kimgb opened #3997 "Devise::email_regexp rejects unusual but valid email"
"example@tt" =~ Devise.email_regexp
    # => nil

Compare to: http://isemail.info/example%40tt

I figure the intent of the `Devise::email_regexp` is to conduct _minimal_ validation, and it should "first do no harm". Note the above `@tt` address is an example of a TLD that [does, in fact, have MX records on it](http://serverfault.com/questions/721927/can-you-have-an-email-address-with-only-the-top-

[2016-03-17 22:24] josevalim commented on #3997
Good catch, please send a PR? :)

[2016-03-18 05:32] kimgb commented on #3997
Will do

[2016-03-18 19:57] adamnbowen commented on #3974
We're also encountering this issue: I can't give reproduction notes at the moment, but we just downgraded from 3.5.6 to 3.5.1 due to a change in token generation in 3.5.2 that broke user confirmation in our app.  At that point, we started seeing the same stack trace that @TrevorHinesley is reporting.

[2016-03-18 20:22] josevalim commented on #3974
If you downgrade, then you will have Devise 3.5.3 cookies in your clients, which will break when downgraded. I would recommend to continue running on latest Devise and bring the confirmation feature up to date as well.

[2016-03-18 20:24] adamnbowen commented on #3974
@josevalim thanks for the suggestion, I'll look into it.  Possibly @TrevorHinesley also encountered this issue by traversing versions?

[2016-03-18 21:16] gurgelrenan commented on #3761
Just update the wiki https://github.com/plataformatec/devise/wiki/How-To:-Override-confirmations-so-users-can-pick-their-own-passwords-as-part-of-confirmation-activation/_compare/030dda7c5edaf339b7c0023139fbd3214f702cad...c6a9649499dc8f73d77d2e4705bbeb1f1b334568

[2016-03-19 18:38] PedroVinicius opened #3998 "Error: `router_name` is undefined for Devise.mappings"
I'm building a rails app that needs sign_in and sign_up form be showed into a bootstrap modal. I followed a tutorial I saw in the Devise's wiki in order to show the login form from anywhere. My code is so:

**config/routes.rb**
`devise_for :users`

**app/controllers/application_controller**
[code]

When I try call this:

**app/views/layouts/_auth_form.html.erb**
[code]

I'm receiving this error:

[2016-03-19 23:16] hsyn opened #3999 "Adding after_failed_sign_up_path_for helper to specify which view to render."
Let me explain a little bit what I am trying to do here.
I have different registration forms depending on the selected registration types.

instead of the single `new` template in `registrations`, I created 3 different templates to be used in order to show different kinds of ways to register as a user.

The problem is, when the form is submitted and `create` method is handling the registration, it

[2016-03-20 01:34] raj-odc-zz opened #4000 "warden.authenticate!(auth_options) returns 401"
I am trying to login using devise it was throw an error as

While go through the code and I found that
`warden.authenticate!(auth_options)` returns as Completed 401 Unauthorized

I like to know what I am wrong

Thanks for the help

[2016-03-20 15:17] MarsonV commented on #3995
it turned out that I had not noticed in his application_controller.rb line respond_to: json. in application_controller.rb:

[code]

[2016-03-20 15:17] #3995 closed

[2016-03-21 00:30] JaeggerFrank opened #4002 "Unable to create separated tables for each user logged in"
Hello Guys.

I `ve been trying to create a new table for each user. When  a test user logs in, he can see all the data from the table that belongs to another user. I tried checking the documentation but I didnˆt found nothing

Maybe I `m posting this on the wrong place , but I really need some help. The application will look like a online shop, where anyone can put their products in their own dash

[2016-03-21 01:44] shakycode commented on #4002
I don't think is a devise issue. The behavior of your app can be accomplished with Rails ActiveRecord and some creative use of associations. You might want to post your question on StackOverflow.

[2016-03-21 02:07] JaeggerFrank commented on #4002
@shakycode Thank you!

[2016-03-21 02:08] #4002 closed

[2016-03-22 15:22] adrianoresende commented on #2734
I have exactly the same of the first post problem, after switching to rails 5.
It solves cases removing `rails-api` but It has included native for Rails 5 and how to solve? =(

Rails 5.0.0.beta3
Devise 4.0.0.rc2 (support for Rails 5)

My error:
[code]

[2016-03-23 00:23] jakesorce opened #4003 "ActionView::Template::Error (undefined method `protect_against_forgery?'"
Using Rails 5 beta3 API mode.

Getting this error when trying to do a get request to /users/sign_in route

[2016-03-23 03:47] #4003 closed

[2016-03-24 01:49] vincentwoo opened #4006 "Bring back confirmation on password reset"
*(see: #1226)*

Devise's cited reason for removing this functionality is

It really sucks that this functionality was nixed. There's no security risk in the most obvious, 90% use case - a new user forgets they needed to confirm and requests a reset instead. In this case, since there was no reconfirmation possible, there's no security risk in confirming upon password reset.

It seems like it would

[2016-03-24 14:13] Gorchel opened #4007 "Undefined method `set_flash_message!'"
I have custom Registtration Controller and receive an error
Undefined method `set_flash_message!'

class Users::RegistrationsController < Devise::RegistrationsController
  def create
    build_resource(sign_up_params)

    resource.save
    yield resource if block_given?
    if resource.persisted?

      resource.add_role "user"

      if resource.active_for_authentication?
        set_flash_messa

[2016-03-24 14:17] lucasmazza commented on #4007
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2016-03-24 14:17] #4007 closed

[2016-03-24 15:30] Gorchel opened #4008 "Undefined method `set_flash_message!'"
rails 4.2.5, devise  3.5.6, warden 1.2.6

Hi. I create custom registration controller. I clone default registration#create method and add 'resource.add_role "user"' from rolify gem. When I register user (sign_up),receive an error "undefined method `set_flash_message!' for #<Users::RegistrationsController:0x007f160594c420>".

routes.rb
Rails.application.routes.draw do
  root 'home#index'

  devise_

[2016-03-24 15:39] josevalim commented on #4008
Are you inheriting from Devise's registration controller? That's a method specific only to Devise controllers, so it won't be available unless you inherit it.

[2016-03-24 15:39] #4008 closed

[2016-03-24 15:45] Gorchel commented on #4008
I understood. Thanks!

[2016-03-24 22:21] trendwithin commented on #3971
@sebastianzillessen I was having a similar issue and saw this post in my search.  I now have a Capybara test that works and increments.  It might work as a substitute in your situation.

	require "test_helper"

	feature "User Sign In" do
	  def setup
	    @new_user = User.new(email: 'sign_in_test@example.com', password: 'password', password_confirmation: 'password')
	    @new_user.confirm
	    @ne

[2016-03-25 13:46] nerionavea opened #4009 "When generate a new devise resource creates a migration file without the .rb extension"
**Versions:**
Rails 4.0.13
Warden 1.2.6
Devise 3.0.4

When I use the generate command, it's creates all the files perfectly but creates the migrations file without '.rb' extension.

e.g.

[code]

[2016-03-27 02:55] lucasmazza commented on #4009
Fixed in https://github.com/plataformatec/devise/commit/e57b672e90c661ed44aafa28f9fd37242fb76026, please update Devise to `3.2.3` or greater.

[2016-03-27 02:55] #4009 closed

[2016-03-27 09:48] chris357 commented on #2734
Rails 4 on chrome.

**Findings:**
1. Issue only occurs if user logs in, logs out, and then tries to log in again.
2. Clearing the cache (shift + cmd + r) fixes the issues temporarily.

Maybe is something not being fully cleared on logout?

[2016-03-27 19:43] ror6ax opened #4011 "nginx host name+devise redirect uri"
My rails app is served by nginx. The location name in nginx is `backend`.

My login uri ends up being `redirect_uri=http%3A%2F%2Fbackend%2Fusers%2Fauth%2Ffacebook%2Fcallback` which is obviously not matching my site's URL in whitelisted urls.

There has to be some config option for setting this.
Is there one?

[2016-03-27 21:50] T3tr0 commented on #4000
Did you manage to find out a solution ? I'm encountering the same issue.

[2016-03-27 23:08] lucasmazza commented on #4011
The probable cause for this is bad nginx configuration, where it doesn't set the real host when proxying the request back to your Rails app. Setting it through `proxy_set_header Host $host` might fix it, like in the following config snippet:

[code]

Closing this as it isn't a real issue with Devise.

[2016-03-27 23:08] #4011 closed

[2016-03-28 00:05] EkoZape opened #4012 "Change your password (email issue)"
I have put the link to let user change their password, and i have try to change the email to an existing email in the database and that work. So, i have two same email in the database, and the authentification was with email. How i can disable email change with Devise to avoid duplicate email?

[2016-03-28 09:23] josevalim commented on #4012
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-03-28 09:23] #4012 closed

[2016-03-28 16:27] EkoZape commented on #4012
This is an issue in my mind. If user can change their email for an existing email in the database, that make two duplicate email in the database.

[2016-03-29 18:23] kiddrew commented on #3872
Why was this closed?

[2016-03-30 03:48] songjiayang opened #4013 "Why current_user's sql with "ORDER BY `users`.`id` ASC""
`ORDER BY` scope can remove ?

[2016-03-30 06:14] karlingen commented on #3872
Because I noticed that devise changed their way of handeling these tokens.
:)
If you dig in the code you'll notice that the token is being generated from
values already present in the users table.

[2016-03-30 14:33] kiddrew commented on #3872
Ah, I see.  The documentation on this could be better.  I upgraded my Devise version and all of a sudden had the `authenticable_salt returned nil for the #{self.class.name} model.` error.

[2016-03-30 14:44] bestori commented on #3736
+1 here for

_gem 'devise', git: 'git@github.com:plataformatec/devise.git'_

[2016-03-31 15:29] mttn opened #4015 "Rspec: User is authenticated but the request is redirected"
Hi I have an issue with the following spec(both tests are failing).

[code]

After debugging I can confirm that the user is logged in:

[code]

But the request will redirect to the the new user session path.

[code]

With manual sign in to the user interface - everything is working as expected. So I think I run a test env problem
Is this known by you guys?

Some additional foo:
[code]

[code]

[2016-04-01 03:55] alexiamcdonald opened #4016 "Devise intermittently decides it won't listen to my configuration"
Hello,
I'm a little bit confused if it's something I've done wrong configuring devise for our application or if it's devise intermittently deciding it doesn't want to work but I thought I should probably raise it just in case someone else has the same problem.

We are using:
Rails: 4.1.15
Ruby: 2.2.4
Devise: 3.5.6
Warden: 1.2.6

I originally added this code to devise.rb in my initializers folder w

[2016-04-01 06:18] sahilchopra opened #4017 "How user can login via JSON and web view"
eg-> allow user to login via json
POST http://localhost:3000/users/sign_in.json

also allow user to login via web POST http://localhost:3000/users/sign_in

[2016-04-01 06:35] personstays opened #4018 "OmniAuth - Validate email only without provider"
Hi, I have a problem with validating the duplicate email address. With OmniAuth, it always include provider with email. I checked my console and saw this:
`SELECT COUNT(*) FROM "users" WHERE "users"."provider" = $1 AND "users"."email" = $2  [["provider", "email"], ["email", "xxxxx@gmail.com"]]`

What I want is to exclude provider:
`SELECT COUNT(*) FROM "users" WHERE "users"."email" = $1  [["email"

[2016-04-01 07:21] josevalim commented on #4018
you need to change your DB constraints then to consider unique the provider-email combo. In general,  Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-04-01 07:21] #4018 closed

[2016-04-01 07:22] josevalim commented on #4017
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-04-01 07:22] #4017 closed

[2016-04-01 07:24] josevalim commented on #4016
Does it happen every time? Or it happened once and it no longer happens? If it happened once, can you provide a way to reproduce the error?

[2016-04-01 15:12] Taoshi opened #4019 "undefined method `after_sign_in_path_for'"
I have session controller
[code]
template
[code]

[2016-04-01 15:57] josevalim commented on #4019
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-04-01 15:57] #4019 closed

[2016-04-01 21:25] theodorton commented on #1034
For anyone else looking for a solution to this problem:
https://github.com/intridea/omniauth/wiki/Setup-Phase

[2016-04-01 22:45] bdares opened #4020 "No logout routes unless module `database_authenticatable` is used"
I want to use devise for user management, with only omniauth providers.

If I remove the `database_authenticatable` module, I lose the `sign_out` route, and users cannot log out from my app.

I think that `sign_out` should be provided as part of the base `devise`.

[2016-04-02 03:13] MarkMT opened #4021 "Broken wiki links"
FYI the links to my.rails-royce.org from this wiki page are broken - https://github.com/plataformatec/devise/wiki/How-to:-Use-a-custom-email-validator-with-Devise

[2016-04-02 08:47] josevalim commented on #4020
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2016-04-02 08:47] #4020 closed

[2016-04-02 08:48] josevalim commented on #4020
I believe we add the sign out in latest Devise versions. If not, it is easy to add your own.

[2016-04-03 05:29] mohan999 commented on #3736
gem 'devise', '4.0.0.rc2'

[2016-04-03 17:27] whoteaches opened #4022 "reconfirmable ignored"
## The short story:

I activated config.reconfirmable = true, but when I update a user, it updates the email without copying email to unconfirmed_email and it doesn't email anything. Basically, it does not respect config.reconfirmable = true. I restarted the server, and was trying to debug for two days.
## The details:

I am not able to make devise send reconfirmation emails. It sends sign up conf

[2016-04-03 20:48] dfmmalaw opened #4023 "Issue with missing template"
Hi, I am getting a "messing template" error and cannot figure out why. The other Devise forms in my app are working fine. This is the link to issue on Stack Overflow.
http://stackoverflow.com/questions/36390356/getting-a-missing-template-error-in-ruby

[2016-04-04 07:03] josevalim commented on #4023
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-04-04 07:03] #4023 closed

[2016-04-04 08:42] Kumamon38 opened #4024 "How to allow User account update even if not confirmed"
Hi,
Is there any way to allow User account update (email, username, password) without being confirmed yet? Devise/Warden responds with "You have to confirm your email address before continuing.". I want the user to be able to change the email if it was wrong, and resend the confirmation email.
I would add that I don't want to use allow_unconfirmed_access_for as it is not the point here.
Thanks for

[2016-04-04 09:15] josevalim commented on #4024
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-04-04 09:15] #4024 closed

[2016-04-04 17:00] bdares commented on #4020
Ruby: 2.3.0
Rails: 4.2.6
Devise: 3.5.6
Warden: 1.2.6

Repro Steps:

* `rails generate devise:install`
* `rails generate devise user`
* `rake db:migrate`
* `rake routes` and note `user_session` paths (including `sign_in` and `sign_out`)
* Change `User` model `devise` call param and remove `:database_authenticatable`
* `rake routes` and note that `user_session` paths are no longer present.

[2016-04-05 16:27] connorshea commented on #3992
@lucasmazza figured you'd like an update since I know open source can be fairly thankless. This has been added to devise-two-factor [under a devise-4 branch](https://github.com/tinfoil/devise-two-factor/commits/devise-4), thank you again for your help! :)

[2016-04-05 17:43] lucasmazza commented on #3992
@connorshea awesome work, thanks for the update :)

[2016-04-06 00:38] alexiamcdonald commented on #4016
It appears to only happen after a migration. I'm able to reproduce it when I create new migrations or I'm pulling in new work that requires I run migrations. I of course have to reset the server when I run migrations but the error appears to happen in that first run. It fixes itself after I reset the server again. It's all very confusing sorry.

[2016-04-06 18:14] modreoci opened #4025 "Form "Sign Up" and "Edit User" ignore attribute :name"
These forms does not save/update attribute :name
When I entrer User.new(... or User.xxx.update(name:... it works fine but when I do it by forms on webpade it does not create/update attr :name in db record.

server log:
[code]
both forms seems to be OK.
registration form:
[code]
edit user form:
[code]

[2016-04-06 18:38] josevalim commented on #4025
It seems you are using Devise Invitable, I would discuss such issues there. If you still think it is a Devise bug, you need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2016-04-06 18:38] #4025 closed

[2016-04-06 19:01] modreoci commented on #4025
Thanks for flash response!
Mhmmm... When I rewrote form label from:
[code]
to:
[code]
all start to work fine... I don't understand.

Is it possible to move this issue to Devise Invitable, or it is necessary to start new issue there?

[2016-04-07 15:34] JasonMannon opened #4026 "Devise routes not showing up in rails engine"
I’m having trouble using Devise with my Rails engine.

I followed the devise wiki here [Devise Wiki](https://github.com/plataformatec/devise/wiki/How-To:-Use-devise-inside-a-mountable-engine) But my devise routes are not showing up.

 Here’s a gist of the code. https://gist.github.com/anonymous/f4619e18a09199e52ee58fdfeabc36a6

[2016-04-07 16:05] josevalim commented on #4026
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2016-04-07 16:05] #4026 closed

[2016-04-07 17:25] mwesigwa commented on #3979
:+1:

[2016-04-07 18:49] ACPK commented on #2734
@adrianoresende I'm also hitting this issue with Rails5. Did you find a solution?

[2016-04-07 19:52] adrianoresende commented on #2734
@ACPK I not found solution =/
I went back to the latest version Rails4

[2016-04-07 19:54] adrianoresende commented on #2734
@josevalim Why you do not reopen this issue? Because Rails5

[2016-04-07 20:45] Rodrigora opened #4027 "New extension"
Hey Guys!

I've created a new extension for devise, [devise-verifiable](https://github.com/Rodrigora/devise-verifiable).

I had to implement a sign up process which required a second step. In this step, user have to fill
some extra information and the app uses an 3rd-party service to verify his identity.

I think this module could be useful for other apps. Could you add it to extension list?

Than

[2016-04-07 22:04] josevalim commented on #4027
Thank you Rodrigo. Which extensions list are you referring to?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-04-07 22:56] Rodrigora commented on #4027
This: https://github.com/plataformatec/devise/wiki/Extensions

I just saw that I have permission to edit it. Can I?

[2016-04-07 23:17] josevalim commented on #4027
Yes! Please do edit it (and close this issue once you do) :)

On Friday, April 8, 2016, Rodrigo <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-04-08 01:33] #4027 closed

[2016-04-09 18:04] nashby commented on #4021
The wiki is maintained by the community. So if there aren't any up to date instructions, we recommend you to explore the solution yourself and hopefully contribute your findings back!

[2016-04-09 18:04] #4021 closed

[2016-04-09 18:12] nashby commented on #4022
What Devise version are you using? Can you please provide a sample application that reproduces the error?

[2016-04-09 19:32] Rupinderwadali commented on #259
Hello Developer,
I am using devise for authentication. When the user entered the wrong information in sign in form, it just refreshes the page instead of flashing error message. Please tell me which files need to change.

[2016-04-09 21:23] whoteaches commented on #4022
I'm using devise 3.5.6

[2016-04-09 21:24] codeodor commented on #2734
I'm also seeing it in Rails 5, for what it's worth.

[2016-04-09 22:58] codeodor commented on #2734
For those having issues on Rails 5, see https://github.com/plataformatec/devise/pull/4033/files

[2016-04-10 06:43] folubode commented on #1567
sorry am not sure there is a recent link but I have same problem and none of these options has helped. my confirmation_url is not having www so there is error in the welcome page when user click on link to activate account. Any help please?

[2016-04-11 07:43] ducnguyenhuy opened #4034 "Unique email for 2 roles differently"
Hi,

I want add a new role Blogger and want to have 2 users (one with role User and one with role Blogger) with same email id but password's different, how to obtain that?

Thanks,
Duc

[2016-04-11 07:52] tomkadwill commented on #4034
Hi @ducnguyenhuy, This looks like a question about Devise, please search the [Wiki](https://github.com/plataformatec/devise/wiki) or use the [Mailing List](https://groups.google.com/forum/#!forum/plataformatec-devise) or [Stack Overflow](http://stackoverflow.com/questions/tagged/devise). If this is a bug report then please provide a detailed report and full backtrace. Thanks!

[2016-04-11 07:53] ducnguyenhuy commented on #4034
ok, thanks for mailing list. will post now and close this.

[2016-04-11 07:53] #4034 closed

[2016-04-11 07:55] ducnguyenhuy commented on #4034
I just posted: https://groups.google.com/forum/#!topic/plataformatec-devise/OABANrOST48. Please reply if you can help. Thanks.

[2016-04-11 19:48] ulissesalmeida commented on #3994
@jjoos Any news about this issue? Have you tried the @josevalim  suggestions?

[2016-04-12 20:38] ulissesalmeida commented on #4022
@whoteaches Are you still having this issue? Could you provide a sample application only with rails and devise that reproduces the error?

[2016-04-12 20:47] ulissesalmeida commented on #4016
@alexiamcdonald Thank you for your report.

Well, Devise::Mailer inheritances by default from `ActionMailer::Base`.
If you are using some different class to have your helper methods you may want to change the inheritance using this config:

[code]

I don't know if this configuration fits for your use case. If you succeed in reproduce the error let us know.

[2016-04-12 21:02] ulissesalmeida commented on #4015
@mttn Hi! I think you can't use `login_user` in rspec `context`. [Look](http://www.rubydoc.info/gems/rspec-core/RSpec/Core/ExampleGroup#context-class_method).

Your `before` is doing a `get` before the login happens.

The `login_user` should be in your test example. For example, you do something like this:

[code]

I'm closing this issue. Feel free to open if you can reproduce that is a Devise err

[2016-04-12 21:02] #4015 closed

[2016-04-12 21:05] ulissesalmeida commented on #4013
@songjiayang Hi! I think this default order is from Active Record default.

I'm closing this issue, if you can reproduce Devise is overriding the Active Record order, feel free to reopen.

[2016-04-12 21:05] #4013 closed

[2016-04-12 21:13] ulissesalmeida commented on #4006
@vincentwoo Thank you for your consideration. I think both on mentioned issue and in this [blog](http://blog.plataformatec.com.br/2013/08/devise-3-1-now-with-more-secure-defaults/) post explain the reasons we decided to remove the feature. Is very important Devise be secure by default. And this feature also is kind of a side effect and may not be wanted for everyone.

I think you still can reprodu

[2016-04-12 21:17] vincentwoo commented on #4006
I think you should Devise to be (1) secure by default (2) and good by default. Since confirming a fresh email on reset is 100% secure, and is obviously good (no site owner would ever NOT want this feature, that's WHY it was originally the default) you should almost certainly bring it back, maybe with an opt-out.

[2016-04-12 21:18] ulissesalmeida commented on #4000
@raj-odc
Thank you for your report.

Could you please provide more information?
Like for example:
* Rails version
* Devise version
* Steps to reproduce the error

Will be even more helpful if you provide a sample application that reproduces the error.

Best

[2016-04-12 21:31] ulissesalmeida commented on #3999
@hsyn I don't know if it is good a idea to remove `respond_with`, because it came with [more behavior](http://edgeapi.rubyonrails.org/classes/ActionController/Responder.html) and is not backward compatible.

If the problem is template rendering, I think you can do something like in your own app code:

[code]

[2016-04-12 21:35] ulissesalmeida commented on #3998
@PedroVinicius
Thank you for your report.

Which wiki tutorial are you using? Could you provide the link for us?

Could you please provide more information?
Like for example:
* Rails version
* Devise version
* Steps to reproduce the error

Will be even more helpful if you provide a sample application that reproduces the error.

Best

[2016-04-13 01:09] ulissesalmeida commented on #4006
I'm not sure about it. I'll summon @josevalim in this matter. I think he have more context about the past deicision and the feature removal decision.

[2016-04-13 06:21] harshamv opened #4037 "Registration Form with Nested Models"
I have the following models

    members(id, name, company_id)
    companies(id, name, ...)

Now when i signup using devise model - `members` i want to create a record in the `companies` model and update `company_id` in the `members` model.

Can i build the company in the signup for like below

    class Brands::Members::RegistrationsController < Devise::RegistrationsController
      before_action

[2016-04-13 06:31] harshamv commented on #3566
Were you able to solve this? @sboesen

[2016-04-13 07:37] josevalim commented on #4006
It is a security risk because you can get any email without confirming. For example, I would be able to "president@example.com". I won't post the exact steps for attacking on this vector but I have confirmed the security reports and any way we introduce this change would be a security bug.

[2016-04-13 07:37] #4006 closed

[2016-04-13 07:39] hsyn commented on #3999
Hey @ulissesalmeida ,
Thanks for taking your time on the issue.
Yes, template rendering problem can be solved somehow. I was mostly thinking giving flexibility to developers to choose where to send failed signups. At the same time, i totally understand that `respond_with` comes with more behavior that it is not easy to remove right now.

I customised registration controller in my app and added thi

[2016-04-13 08:05] vincentwoo commented on #4006
I find that to be a very uncompelling line - you're going to have to at least broadly sketch out the issue. Why security through obscurity here? I don't understand why allow reset to confirm for completely fresh email addresses (not changed addresses) could be a vulnerability - both confirm and reset require being able to receive the email at "president@example.com", as you put it.

[2016-04-13 15:31] sbowman commented on #3566
Nope. Gave up and rolled my own so I had control. More work, less hassle.

[2016-04-13 17:12] chulkilee commented on #4006
It sounds like 1) depending on how devise model is changed `devise` may send password reset email and confirmation email to different addresses and 2) due to this reason password reset email must not confirm the email. Is it correct? @josevalim

[2016-04-13 19:10] josevalim commented on #4006
No, I don't have to. :) If you don't trust us to be giving you a correct answer when it comes to a security issue, then you likely shouldn't be using Devise.

The recommendation from security advisors has always been to discuss exploits at a higher level to not compromise deployed user bases. Even though some time has passed, I don't see a reason to provide much more information than the one we ga

[2016-04-13 21:32] vincentwoo commented on #4006
Trust is earned - how can you inspire people to trust you if your decisions seem arbitrary and without consideration?

I still don't understand how you can trick devise into sending confirmations and resets to different email addresses for fresh users. Furthermore, even if you *can* trick Devise into doing so, it seems like it should be pretty easy to just... fix... that.

[2016-04-14 07:18] josevalim commented on #4006
That's a very good question. We hope we have established some degree of trust by making the project open source, so everyone can study the source code and evaluate it according to their criteria.

We are also being very careful to not break the trust others have put on us by exposing too much information about previous security issues.

If it was "pretty easy to just fix that", we would have done

[2016-04-14 07:47] vincentwoo commented on #4006
That's a great point, but definitely work that should be done improve both the security and usability of Devise. This work can be done without impacting previous installations of Devise. Not talking about previous issues shouldn't prevent you from discussing ways to make your product better. This problem, along with [previous usability problems reported](https://github.com/plataformatec/devise/iss

[2016-04-14 14:23] liamwhite commented on #3950
Still awaiting a fix in Devise for this.

[2016-04-14 21:23] Ekkstein commented on #3974
Im facing the exact same problem according to the error backtrace. I recently installed capistrano for my app. During this process, I cloned the app from the repository from scratch. Ever since, this error shows up. I tried to change the cookie session_store key but the error persists. I noticed a splat operator in the authenticate! function...which explains why 3 instead of 2 arguments are receiv

[2016-04-15 06:05] mttn commented on #4015
This was not the problem - I can use `login_user` in rspec `context`. There was a runtime issue in my local env.

[2016-04-15 08:23] aryalsan opened #4040 "Email only sign up!"
I followed the steps as suggested for the Email only sign up!, Every thing works fine but after I click the confirmation email link, it doesn't render the #show view besides it flash the "Email confirmation successful message". Is this an error or the Bug....

[2016-04-16 21:32] jgrant29 commented on #4040
I'm not sure what versions you are using, but I had a similar problem using Rails 4 and Devise 3.1+.  The solution lies within the [these instructions](https://github.com/plataformatec/devise/wiki/How-To:-Override-confirmations-so-users-can-pick-their-own-passwords-as-part-of-confirmation-activation).  But theres a bug, depending on what versions you are using, you'll need to combine a controllers

[2016-04-17 00:13] bsodmike opened #4042 "Confirmable should always update its sent_at timestamp when sending a new token."
When requesting for confirmation instructions to be sent after the fact, I noticed `confirmation_sent_at` [wasn't being updated](https://github.com/plataformatec/devise/blob/master/lib/devise/models/confirmable.rb#L234..L236), although a new token is generated as long as the confirmation period is still valid.

Given the naming of the `confirmation_sent_at`, this is somewhat misleading.  I also su

[2016-04-17 08:15] josevalim commented on #4042
@bsodmike yes, we agree it is poorly named but we cannot change its behaviour as it means someone would be able to always renew the token and use the website without ever confirming their account.

On the other hand, renaming the token would be cause of backwards incompatible changes and we don't think they are worth it. IIRC, this misconception is documented in the source code. Thank you!

[2016-04-17 08:15] #4042 closed

[2016-04-17 11:07] bsodmike commented on #4042
@josevalim Oops! Having had a look through the source, I realise that `confirmation_sent_at` is critical for lots of Confirmable's mechanisms.

Apologies, as this issue was incorrectly titled - I should have instead proposed to add a new column `reconfirmation_instructions_sent_at`.  I was creating a spec to ensure that the reconfirmation mailer had been sent out and having not looked at the sourc

[2016-04-17 22:04] #4040 closed

[2016-04-18 11:19] Ekkstein commented on #3974
A few more infos on this error. It is strange, because it only happens to about 3% of the users. Most of the requests are handled as expected. Users are redirected after the failed authentication. Some however, run into the 500 due to the wrong number of arguments. I have searched through the logs, and every user that received the error had a "remember_user_token" key in their http cookie. This ke

[2016-04-18 11:50] Ekkstein commented on #3360
That was unintended.

[2016-04-18 14:07] #3994 closed

[2016-04-18 14:39] Ekkstein commented on #3974
I'm happy to inform you, that an update to devise 3.5.6 resolved the issue!

[2016-04-18 16:35] glennpjones commented on #4008
@Gorchel How exactly did you do to solve this? I was under the impression that `Users::RegistrationsController < Devise::RegistrationsController` makes the controller inherit from the devise registration controller, yet I still get the error. Thanks in advance ! 😄

[2016-04-19 00:19] Boneshj opened #4045 "Rails 4: undefined method 'attributes_for' for class `Devise::ParameterSanitizer' (NameError)"
This is for Rails 4.2.6, Ruby 2.2.2 and devise greater than '3.5.7'

Full error:

[code]

[2016-04-19 00:40] lucasmazza commented on #4045
Sounds like a compat issue with `devise_invitable`. Have you tried running Devise 4 with `devise_invitable` from its git repo?

[2016-04-19 10:14] Feuda commented on #2108
Custom Devise 401 unauthorized response http://stackoverflow.com/a/35299936/642616

[2016-04-19 14:26] ulissesalmeida commented on #4037
Hey @harshamv thank you for your report. But I can't see why this is a Devise issue.

Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. Is important to give more information in evidence the error using Devise. You provide a sample an application or create a test case. You can read our [C

[2016-04-19 14:26] #4037 closed

[2016-04-19 14:29] ulissesalmeida commented on #4022
@whoteaches I'm closing this issue. Feel free to reopen when you can evidence the error with sample rails app.

Best

[2016-04-19 14:30] ulissesalmeida commented on #4016
@alexiamcdonald I'm closing this issue. Feel free to reopen if you find a way to reproduce the error.
Best

[2016-04-19 14:30] #4016 closed

[2016-04-19 14:33] ulissesalmeida commented on #4000
@raj-odc
I'm closing this issue. Feel free to reopen when you have more information in how to reproduce the problem. You can create Devise test case or provide a sample application that reproduces the error.

[2016-04-19 14:35] ulissesalmeida commented on #3998
@PedroVinicius I'm closing this issue. Feel free to reopen when you have more information in how to reproduce the problem. You can create Devise test case or provide a sample application that reproduces the error.

[2016-04-19 14:35] #3998 closed

[2016-04-19 14:40] ulissesalmeida commented on #3996
@bl4ckdu5t

If you don't wat e-mail confirmation, you can set in your `config/initializers/devise.rb`:

[code]

Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2016-04-19 14:40] #3996 closed

[2016-04-19 14:46] ulissesalmeida commented on #3989
@tux-mind Thank for your report.

Reading the code you have shown, I'm not sure if it is a Devise issue. I think it is more related to `Warden` itself. Could you give more information why it is related to Devise?

[2016-04-19 14:47] ulissesalmeida commented on #3988
@pyralis I'm closing this issue. Feel free to reopen when you have more information in how to reproduce the problem. You can create Devise test case, provide a sample application that reproduces the error or even use the template mentioned above.

[2016-04-19 14:47] #3988 closed

[2016-04-19 14:54] ulissesalmeida commented on #3987
@nomanurrehman Devise controllers were build to work as a server side application that's render HTML. If you need a different solution, you may need to customize the controller by yourself or use a gem like @ybur-yug mentioned.

I think we are not planning to deliver out of the box solution like that for now. Please use the mailing list or StackOverflow for questions/help, where a wider community

[2016-04-19 14:54] #3987 closed

[2016-04-19 15:00] ulissesalmeida commented on #3982
@mrdinghy You may want to add the `skip_confirmation!` on your `create` controller action for your users sign up. You may want to add a date time column , like `admin_confirmed_at` for your User model to store when the admin has confirmed that user. Then you may add this new flag to check users permissions in your app.

Please use the mailing list or StackOverflow for questions/help, where a wider

[2016-04-19 15:00] #3982 closed

[2016-04-19 15:15] tux-mind commented on #3989
As far as I remember warden set the headers correctly, it's up to devise to
bind up those headers to the final ones.

Thank you for the whole stuff, I hope that this will make devise better :)
Il 19 apr 2016 4:46 PM, "Ulisses Almeida" <notifications@github.com> ha
scritto:

[2016-04-19 15:38] wingtonbrito opened #4046 "Devise does not automatically detect simple_form on a mountable engine when generating views"
Brief intro: I have a rails mountable engine, engine A,  with an isolated namespace inside a host engine, engine B. I installed simple_form and devise on engine A. Issue: When generating the devise:views it doesn't detected simple_form.

Prior to this post, I researched the issue. I followed these instructions from your wiki: https://github.com/plataformatec/devise/wiki/How-To:-Use-devise-inside-a

[2016-04-19 18:07] ulissesalmeida commented on #3981
@mgwidmann Thank you for your report.

The `options` argument is ignored because the [`Warden::SessionSerializer#store`](https://github.com/hassox/warden/blob/906edf86c6c31be917a921097031b89361d022e8/lib/warden/session_serializer.rb#L22) doest no accept this argument.

In the Devise `bypass` option [documentation](https://github.com/plataformatec/devise/blob/7df57d5081f9884849ca15e4fde179ef164a575

[2016-04-19 18:28] ulissesalmeida commented on #3979
@victor95pc Thank you for your report.

I agree that approach reduces the side effects and can be useful to use in your own custom callbacks.

But at the same time, I think we can't change the method since some users may be relying on the side effects of this method , like calling callbacks, updating the `update_at` column. Some user of the gem may be loading the record and calling the method from

[2016-04-19 19:03] ulissesalmeida commented on #3978
@syter I think the reason you can't update the params and `Warden` use them because the `params` on Rails controller is now a different object of the `params` that `Warden` uses. I think this changed has come with Rails strong parameters.

* The `env` came from a middleware pass to [`Warden::Proxy`](https://github.com/hassox/warden/blob/906edf86c6c31be917a921097031b89361d022e8/lib/warden/manager.r

[2016-04-19 19:50] ulissesalmeida commented on #3974
@TrevorHinesley @adamnbowen  Can you confirm if you update Devise to `3.5.7` solve the issue?
@TrevorHinesley Which version are you using? Did you try to update the gem?

[2016-04-19 19:53] ulissesalmeida commented on #3971
@trendwithin  Thanks.

@sebastianzillessen I'm closing this issue. Feel free to reopen if the problem persist and you have more information.

[2016-04-19 19:53] #3971 closed

[2016-04-19 19:54] ulissesalmeida commented on #3970
@ahmad19 Thank you for your report. Is a bug and is fixed on Devise `3.5.7`.

[2016-04-19 19:54] #3970 closed

[2016-04-19 19:54] ulissesalmeida commented on #3970
Related PR: https://github.com/plataformatec/devise/pull/4039

[2016-04-19 20:06] ulissesalmeida commented on #3967
Hi @Yanchek99 ! I don't know when it was removed. Do you know or remember which version it was removed?

I'm totally ok to bring these variables to edit/update actions and show it in some way on the edit form view. Do you want to open pull request with feature proposal?

[2016-04-19 20:20] ulissesalmeida commented on #3989
@tux-mind I'll take a look on it.

[2016-04-19 20:38] ulissesalmeida commented on #3962
@ckornaros Thank you for your report!

I think this issue is fixed, you can take a look at this [method](https://github.com/plataformatec/devise/blob/master/lib/devise/controllers/helpers.rb#L167). The "null" inside of the string should not happen anymore.

Could you please provide more information?

Like for example:
* Rails version
* Devise version
* Steps to reproduce the error

Will be even mo

[2016-04-19 20:45] ulissesalmeida commented on #3958
@leonardoprg This is an amazing idea. \o/

I've seen in your gist that you are using the `ActionController::TestCase`, but in Devise test cases usually test with `ActionDispatch::IntegrationTest`. Do you think worth to update it?

Feel free to open a PR. Would be very helpful to report issues. :)

[2016-04-19 21:14] ulissesalmeida commented on #3955
@jasper502 Any news on this issue?

[2016-04-19 21:20] ulissesalmeida commented on #3950
This issue was related to extended remember me configuration was working as always true.

I think it is fixed on Devise `3.5.7` and `4.0.0`.

Feel free to reopen if the problem persist.

Related PR: https://github.com/plataformatec/devise/pull/4039

[2016-04-19 21:22] ulissesalmeida commented on #3949
@SimonDKnight @Vipinmantri Any news on this issues? This issue still happening? Which Devise version are you using?

[2016-04-19 21:44] mgwidmann commented on #3981
@ulissesalmeida all im suggesting is perhaps warn or raise an error for those who attempt to use both, as it won't do what the user expects...

[2016-04-19 21:49] ulissesalmeida commented on #3947
@svoynow `attribute_will_change` is supposed to track any change on `password` attribute. I'm not sure if we are checking for `password_change?`.

Like you said, it was a rails bug. Updating your rails app it may be fixed.

I'm closing this issue.

[2016-04-19 21:49] #3947 closed

[2016-04-19 21:51] jasper502 commented on #3955
Nope... still have Devise disabled and using basic http auth.  Have not had the time to look at it again lately.

[2016-04-20 11:39] DannyBen opened #4047 "Documentation: Upgrading to 4.0"
Hi,

I have just did `bundle update`, and got Devise 4, which caused my tests to fail - probably due to all the deprecation warnings that are displayed during the capybara tests, or something similar.

Although I can probably follow the instructions in the deprecation warnings / changelog - it would be beneficial to all I think if there was a wiki guide ([here](https://github.com/plataformatec/dev

[2016-04-20 13:14] ulissesalmeida commented on #3787
@justin808 I'll take a look

[2016-04-20 13:28] ulissesalmeida commented on #4047
@DannyBen This is a good idea. Please, let us know the steps you have done to upgrade to `4.0.x`. We can use this information to create the documentation. Feel free to start the documentation on the wiki too. Also if you know any blog post with a upgrade tutorial we can link there too. :)

[2016-04-20 13:31] ulissesalmeida commented on #3981
@mgwidmann It may be a good idea. Other approach is separate in two methods, one bypass method  that doest not have the options argument and a method that don't know how to bypass. I think it is more clear. What do you think?

[2016-04-20 14:45] DannyBen opened #4048 ""Devise::ParameterSanitizer#sign_in" method is deprecated when using Cucumber / Capybara"
Trying to upgrade to 4.0, I have cleaned most of the deprecation warnings, but my Cucumber+Capybara tests fail with a deprecation warning that I do not know where I should fix.

When running my feature tests, I get this:
[code]

But I do not have any "sanitizer".

The only other related place I had fixed, was in the application controller, which now looks like:
[code]

The full output when running

[2016-04-20 15:45] DannyBen commented on #4047
Would love to help with the doc, only now I am still in the "need help" side of the fence. Current road block for me was outlined in #4048

[2016-04-20 16:43] sepastian opened #4049 "Devise 4: unkown colum 'password'"
After updating to Devise 4 just now, I can no longer do

`User.new(email: 'a@b.c', password: 'testtest', password_confirmation: 'testtest').save!`

The above line will fail, because column `password ` does not exist.

After switching back to `< 4`, everything works as expected.

What changed? This should be documented!

[2016-04-20 16:50] DannyBen commented on #4048
( Adding a separate comment due to the size of the first one and the importance of this one )

I have created a new rails app, and installed a fresh Devise + Cucumber + Capybara.
The deprecation warning appears **right out of the box**, and causes capybara to fail.

I have created [this very minimal test repo][1] for anyone who wants to reproduce.

[1]: https://github.com/DannyBen/devise4-issue

[2016-04-20 17:29] ulissesalmeida commented on #4049
@sepastian Devise 4 now support Rails 5 and method to track the attribute password changes was added.  Are you using Ruby on Rails? Which version of Rails are you using? I think it was a Rails bug that it tried to insert all non-persisted attributes on database. You may want to update your Rails minor version together.

[2016-04-20 17:50] ulissesalmeida commented on #3787
I think we should rollback the fix the @justin808 mentioned.

The problem of calling `save` in `after_create` is the attributes of the model are "dirty". It triggers the `update` with the same changes used to create the record. The same change are totally ok in a normal update, that's why the normal update flow is broken.

One possible solution is adding a flag to know that we are still in a "crea

[2016-04-20 17:59] ulissesalmeida commented on #4048
@DannyBen Thank you for your report. I'll take a look.

[2016-04-20 18:00] mgwidmann commented on #3981
seems fine to me

[2016-04-20 20:49] ulissesalmeida commented on #4048
@DannyBen

I think in your sample repository you may have misconfigured cucumber.

To include helpers, you must use the [`World`](https://github.com/cucumber/cucumber/wiki/A-Whole-New-World) setup, not `include`. Also, that step failing because Cucumber is not providing the rails URL helpers. I think it has already a issue open for that: https://github.com/cucumber/cucumber-rails/issues/284

You c

[2016-04-20 21:01] DannyBen commented on #4048
First, thanks - I will check it both in the test app and actual apps.
But - you should know that this exact setup is working perfectly with several other apps with Devise < 4. You can even try it in the sample app (the test will fail, but for other, trivial reasons).

Every config / include I have done here is taken from one guide or another.

So - something in Devise 4 is either changed for the w

[2016-04-20 21:27] ulissesalmeida commented on #4048
@DannyBen Thank you for your feedback. We trying to make Devise upgrade smooth as possible, we have release candidate version of Devise 4 for several months and improving a lot with the users feedback. But of course, errors can still exist, that's why we are open to receive reports and bug fixes. We didn't release this version careless.

The sample app error is more related to Cucumber and Rails c

[2016-04-20 22:06] ulissesalmeida commented on #4048
@DannyBen Thank you for the update.  I think the problem is include `Devise::TestHelpers` in feature or cucumbers tests, it was designed to work with controller tests. About the Rails URL helpers may be a problem of cucumber and rails integration like mentioned in this issue: https://github.com/cucumber/cucumber-rails/issues/284

I'm closing this issue. Feel free to reopen if we have any evidence

[2016-04-20 22:06] #4048 closed

[2016-04-20 22:09] ulissesalmeida commented on #3787
cc @lucasmazza @josevalim

[2016-04-20 22:58] kylestengline commented on #3877
Hey All,
I've been scouring the internet for hours now and have tried countless methods of tyring to get this to work.
I currently have this spec

"expect(page).not_to have_link("New Article")"

and have this conditional in index.html.erb

<% unless user_signed_in? %>
  <%= link_to "New Article", new_article_path, class: "btn btn-default bt-lg", id: "new-article-btn" %>
<% end %>

I'm using devise

[2016-04-20 23:12] kylestengline opened #4051 "Tests won't pass no matter which method I use with Devise"

[2016-04-21 01:08] #4051 closed

[2016-04-21 02:15] ulissesalmeida commented on #3787
cc @lucasmazza @josevalim
Now I see, this PR may solve this issue in both worlds:
https://github.com/plataformatec/devise/pull/4043

[2016-04-21 02:41] kvokka opened #4052 "After update to 4.0.0 NoMethodError"
Hello, I use Rails 4.2.6, after update to devise 4.0.0 I getting thic trace in production
[code]

My application.rb chunk
[code]

after switch back from `permit` to `for` method devise came alive.

[2016-04-21 02:59] lucasmazza commented on #4052
Can you double check that your app is running Devise 4.0.0? `permit` was private on Devise 3.5, not on 4.0.0.

[2016-04-21 03:01] kvokka commented on #4052
Gemfile.lock
[code]

I've got it only in production. Wired stuff. Now I've roll back and I'll try to play with it on holidays. Now I'm dizzy too much

[2016-04-21 03:04] lucasmazza commented on #3787
@ulissesalmeida do we only need to merge #4043 or do we still need to revert the first fix like you mentioned earlier?

@justin808 it's possible to give the patch on #4043 a try on your app to confirm that it fixes the behaviour we broke here?

[2016-04-21 05:06] DannyBen commented on #4048
Many thanks.

[2016-04-21 06:03] sepastian commented on #4049
Thanks @ulissesalmeida!

I was using `rails-4.2.0` together with `devise-4.0.0`.

After updating to `rails-4.2.6`, everything works as expected, i.e. I again can do:

`User.new(email: 'a@b.c', password: 'testtest', password_confirmation: 'testtest').save!`

[2016-04-21 06:03] #4049 closed

[2016-04-21 13:44] amingilani opened #4054 "Editing layouts for specific actions is counter-intuitive"
If I want to currently chage the layout for `user/registrations#edit` to `dashboard`, I have to add this to the `config`:

[code]

This is counter-intuitive. The right way is to edit it like any other controller:

[code]
Which currently gives fails with `AbstractController::DoubleRenderError` because the super probably renders with default in the code. At the very least a helper function should be

[2016-04-21 15:27] amingilani commented on #4054
I found a better way, do this:

[code]

Feel free to add this to the documentation! It's better than the methods described!

[2016-04-21 15:27] #4054 closed

[2016-04-22 20:38] tomascharad opened #4055 "Question: How can I preprocess devise params"
I've tried with a before filter, but it seems that the params object in params_auth_hash method, is not getting affected by this action.

[2016-04-22 21:01] josevalim commented on #4055
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thank you!

[2016-04-22 21:01] #4055 closed

[2016-04-22 23:24] ulissesalmeida commented on #3787
@lucasmazza We only need to merge #4043

[2016-04-22 23:28] ulissesalmeida commented on #4054
@amingilani Thank you for the suggestion. Do you remember where did you see these other methods to change the layout?

[2016-04-23 07:18] yoshi42662 opened #4056 "Cannot keep session only in some ios safari browser"
## Overview

I'm using devise and having trouble with the session.
In my iPhone using safari browser, I can keep session even when closing the tab and terminate the safari app with double pushing home button and flip the safari app.

In the login page, remember me param is always set to be true in the hidden field and I have session kept even when I close the tab and terminate the app.

However I

[2016-04-23 12:29] #4056 closed

[2016-04-24 14:48] Kota-Kun opened #4058 "Rails 5 WARNING"
➜  rails generate devise:install                                                                                 ruby-2.3.0
DEPRECATION WARNING: alias_method_chain is deprecated. Please, use Module#prepend instead. From module, you can access the original method using super. (called from <top (required)> at /Volumes/Media/Projects/rails5/SkyEngine/config/application.rb:8)
DEPRECATION WARNING: alia

[2016-04-24 15:00] Kota-Kun commented on #4058
fixed))

[2016-04-24 16:41] #4058 closed

[2016-04-24 17:32] cwsaylor commented on #3913
This worked for me and I wanted to get some feedback on the solution. I used Warden's test helpers directly as instructed here, https://github.com/hassox/warden/wiki/Testing.

In test_helper.rb

    class ActionDispatch::IntegrationTest
      include Warden::Test::Helper
    end

In fixtures/users.yml

    alice:
      email: test@host.com
      encrypted_password: <%= Devise::Encryptor.digest(Use

[2016-04-24 21:28] mcr opened #4059 "where to set secret_key without tripping deprecation warnings"
The devise secret_key should be set differently in development/test, and production, and I think that the production key should kept out of github.  So initializing it from config/environments/production.rb would seem to make sense, with that file being stored on production machines only via capistrano's mechanisms for doing this.

A naive method would add this to environments/*.rb:

    Devise.se

[2016-04-24 23:31] connorshea commented on #3550
Is this still a problem? I'd like to use the ActiveJob integration if possible.

[2016-04-25 18:20] ulissesalmeida commented on #4059
@mcr
I think you can use env variable, for example:

[code]

Or you can take a look at the [Rails custom configuration](http://guides.rubyonrails.org/configuring.html#custom-configuration). There's awesome tips in how proper set your custom configurations. You can do something like this:

[code]

Please use the mailing list or StackOverflow for questions/help, where a wider community will be able

[2016-04-25 18:20] #4059 closed

[2016-04-25 20:39] ulissesalmeida commented on #3787
Fixed on Devise 3.5.8 and 4.0.1

[2016-04-25 20:39] #3787 closed

[2016-04-25 20:59] gocoolkris commented on #3059
@muichkine : you saved me a whole bunch of time.

[2016-04-25 23:52] #4046 closed

[2016-04-26 07:28] slava-nikulin commented on #2051
You cannot do that. Just use Sorcery or AuthLogic which are much more convenient. Thanks.

[2016-04-26 14:42] jeffersonegenial opened #4060 "How to solve: Bundler::GemRequireError: There was an error while trying to load the gem 'devise'."
[code]

[2016-04-26 14:44] ulissesalmeida commented on #4060
Thank you for your report. It looks like you are using a very old version of Devise, is it `1.5.0`? Could you try again with newer version?

[2016-04-26 14:49] jeffersonegenial commented on #4060
The latest I can install is 1.5.4 and also happens this error:

Bundler::GemRequireError: There was an error while trying to load the gem 'devise'.
/var/rails/site/config/application.rb:7:in `<top (required)>'
/var/rails/site/Rakefile:4:in `<top (required)>'
NameError: uninitialized constant Devise::Controllers::Helpers
/var/rails/site/config/application.rb:7:in `<top (required)>'
/var/rails/site/

[2016-04-26 15:01] lucasmazza commented on #4060
@jeffersonegenial Devise 1.5.x is no longer supported and we can't ensure that it works with recent Ruby/Rails versions.
There is probably some other dependency on your app that is locking Devise into `1.5.x` releases due a shared dependency.

[2016-04-26 15:01] #4060 closed

[2016-04-26 15:05] jeffersonegenial commented on #4060
Got it!
When trying to install a newer version such as 2.0.0 returns me the following:

Fetching gem metadata from http://rubygems.org/..............
Fetching version metadata from http://rubygems.org/...
Fetching dependency metadata from http://rubygems.org/..
Resolving dependencies...
Bundler could not find compatible versions for gem "railties":
  In snapshot (Gemfile.lock):
    railties (= 3.0

[2016-04-26 18:12] ulissesalmeida commented on #4052
@kvokka Could you try the version `4.0.1`, I think it is fixed.

[2016-04-26 18:13] ulissesalmeida commented on #3997
Done in #4001

[2016-04-26 18:13] #3997 closed

[2016-04-26 18:19] ulissesalmeida commented on #3962
I'm closing this issue. Feel free to reopen if the problem persists.

[2016-04-26 18:19] #3962 closed

[2016-04-26 18:20] ulissesalmeida commented on #3974
I'm closing this issue. Feel free to reopen if the problem persists and when you have more information in how to reproduce the problem.

[2016-04-26 18:20] #3974 closed

[2016-04-26 18:21] ulissesalmeida commented on #3978
I think it is not a Devise issue, feel free to reopen if you have some evidence that is from Devise.

[2016-04-26 18:21] #3978 closed

[2016-04-27 02:51] allenwq opened #4062 "Asynchronous email job cannot find user"
I get an exception of
`ActiveJob::DeserializationError:  Error while trying to deserialize arguments: Couldn't find User with 'id'=xxx` while trying to follow the README to let the devise send email asynchronously.
https://github.com/plataformatec/devise#activejob-integration

I think this is because `send_on_create_confirmation_instructions` is called `after_create`, and emails are sent before us

[2016-04-27 03:58] gaogao1030 opened #4063 "should set self.reset_password_token = raw instead of enc when set_reset_password_token"
issue version:

      def set_reset_password_token
        raw, enc = Devise.token_generator.generate(self.class, :reset_password_token)
        self.reset_password_token   = enc # Bug is here!
        self.reset_password_sent_at = Time.now.utc
        self.save(validate: false)
        raw
      end

fixed version:

      def set_reset_password_token
        raw, enc = Devise.token_generator.gene

[2016-04-27 04:03] #4063 closed

[2016-04-27 10:21] Bogadon opened #4065 "4.0.1 - private method `permit' called for #<Devise::ParameterSanitizer:...>"
Have updated from 3.5 to 4.0.1, I began getting deprecation warnings:

But, after updating in line with the warning/API readme, I get:

[2016-04-27 18:29] bntzio commented on #3550
Any up to date solutions guys?

[2016-04-27 18:48] ulissesalmeida commented on #3550
@bntzio We have this work in progress PR https://github.com/plataformatec/devise/pull/4064

But I think we need review others callbacks that can generate these race conditions problems.

[2016-04-27 18:53] ulissesalmeida commented on #4065
@Bogadon Thank you for the report. Could you show some use case example code? With the example, we have more information to know what's going on.

Maybe this section on [README](https://github.com/plataformatec/devise#strong-parameters) helps you.