[2018-10-15 08:47] Drenmi opened #4953 "Signing in with blank password fails with not_found_in_database instead of invalid"
## Context

I'm trying to provide more helpful alerts to end users, which would be one of the following:

1. Incorrect password: show a message indicating the password is wrong. (`invalid`)
2. User doesn't exist: show a message indicating the email is wrong. `(not_found_in_database`)

This mostly works, except for the case where the password field is left blank, which results in the second message

[2018-10-15 13:58] cbliard commented on #3363
I just identified the same kind of test slowness and cause. I wanted to create a pull request to make iteration be 0 if `Rail.env.test?`, similar to how it is done for bcrypt stretches in devise initializer:

[code]

So, is redefining `Devise.token_generator` the way to make token generation fast? Having a configuration option would enable to make it fast in all tests by default.

[2018-10-15 15:32] cbliard commented on #3363
I realized that the performance penalty is only at the first computation of a token, then the same key is used to compute subsequent tokens, so the performance gain is insignificant, especially with a large test suite.

[2018-10-16 13:56] helmutrs commented on #4619
I'd like to add about NIST Guidelines:
- Hash with HMAC
- PBKDF2 over bcrypt with at least some 'k' iterations.
- The reason for PBKDF2 because it is based on hashing primitives that satisfy many national and international standards.
Maybe something that we need look on the future?

[2018-10-16 22:19] tegon commented on #4934
I'm closing this issue because it had no recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-10-16 22:19] #4934 closed

[2018-10-16 22:20] tegon commented on #4937
I'm closing this issue because it had no recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-10-16 22:20] #4937 closed

[2018-10-16 22:20] tegon commented on #4940
I'm closing this issue because it had no recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-10-16 22:20] #4940 closed

[2018-10-16 22:20] tegon commented on #4915
I'm closing this issue because it had no recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-10-16 22:20] #4915 closed

[2018-10-17 22:47] Lawrence-Sproul commented on #3243
it seems that for my case, the authentication keys are case sensitive. I fix the errors by using:
I18n.t call, like I18n.t "devise.failure.not_found_in_database", authentication_keys: 'Email'
instead of:
I18n.t call, like I18n.t "devise.failure.not_found_in_database", authentication_keys: 'email'.

[2018-10-18 14:36] kmehkeri opened #4956 "Wrong error message when logging in using changed, but unconfirmed email"
## Environment

- Ruby **2.4.2**
- Rails **5.0.4**
- Devise **4.3.0**

## Current behavior

I am using email as authentication key and confirmation enabled.

When a user updates his email, but has not confirmed it yet, an attempt to log in using new email yields "Invalid username or password" error.

## Expected behavior

As it is the case with registration, I would expect the error returned to be

[2018-10-18 19:53] pedroFP commented on #4079
Some times is the orther in the routes file, change the order of the devise routes, thats how I fixed an error that told me to delete the cookies

[2018-10-19 16:39] w-sanches commented on #4953
Although it is useful to tell the user that his email is not in the database (many sites including Google, Microsoft, Slack and others do it), it is actually considered a [possible security issue](https://www.owasp.org/index.php/Authentication_Cheat_Sheet#Authentication_and_Error_Messages).
Knowing the email is valid, but the password is not, would allow an attacker to brute force the password.

[2018-10-21 10:46] gaetanm opened #4958 "Unexpected edit_password_url value with namespaced resource"
## Environment

- Ruby **2.5.1**
- Rails ** 5.2.1**
- Devise **4.5.0**

## Current behavior

**Models**

[code]

**Routes**

[code]

From `Renter::Users::PasswordsController#create`, `edit_password_url` value is `landlord/users/password/edit?reset_password_token=X`

From `Landlord::Users::PasswordsController#create`, `edit_password_url` value is also `landlord/users/password/edit?reset_password_to

[2018-10-22 02:27] Drenmi commented on #4953
Yes. I am aware of this argument. It is, however, undoubtedly a case of "security through obscurity" (in this case at the expense of the legitimate user), and I think the recommendation should be to guard against brute force attacks in general, instead of hoping that the attacker doesn't know which account they are attacking. 😅

[2018-10-22 04:17] hudakh commented on #4767
I don't see any recent updates on this :( It would be very useful for us!

[2018-10-23 19:31] allicn03 commented on #2670
Hi,  I'm having this same problem and have tried everything I can think of, with no success.  This is my log:

Started GET "/users/sign_in?utf8=%E2%9C%93&authenticity_token=0M3bFGtRmnCpMXsBMVUapuK4ydXouI2JfTSvlWlXX5funOrnQFlXvguDOBiezXhkX7iQ2ROAh8uUYWj8nNI24A%3D%3D&user%5Bemail%5D=mackey%40example.com&user%5Bpassword%5D=[FILTERED]&user%5Bremember_me%5D=0&commit=Log+in" for 127.0.0.1 at 2018-10-23

[2018-10-28 09:06] MicMicMon commented on #4947
Just did that too. @colinross : true, that's how I went. I'll try to overwrite the `flash_message` methods to add their content to the responses. I guess it could help.

For authentication, I then use `Doorkeeper` to get aouth tokens, and it works well. Kind of tricky to get everything to work. But you then get both Devise features, and stateless authentication with Doorkeeper which is nice for th

[2018-10-29 00:45] bengm commented on #4807
FWIW, adding a datapoint for whom it helps: We started getting this issue on a repo. Strange thing was that it started to happen at an odd time (not at the same time as a devise or rails version change, or circleCI setting change).

Info:
 - rails 5.2.1
 - devise 4.4.3
 - circleCI version 2

The following devise config fixes didn't work:
 - `config.secret_key = Rails.application.secrets.secret_key

[2018-10-29 02:41] jessethebuilder commented on #4189
This also happens if  `config.include Devise::Test::ControllerHelpers, type: :controller` comes BEFORE `require 'rspec/rails' in your setup.

[2018-10-30 01:05] xiaoyumao520 opened #4962 "怎么在devise插件中添加手机注册的功能"
## Pre-check

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- Finally, be nice and have fun!

## Environment

- Ruby **[version]**
- Rails **[version]**
- Devise **[version]**

## Current behavior

Include code samples, errors, steps to reproduce the error and stack traces if appropriate.

Will

[2018-10-30 01:07] xiaoyumao520 commented on #4962
项目用的是devise插件做的注册登录的功能。现在需要添加手机注册登录的功能，该怎么实现？

[2018-10-30 21:40] hamzaaltaf opened #4963 "wrong number of arguments (given 10, expected 2)"
devise (4.2.0) lib/devise/models/authenticatable.rb:228:in `serialize_from_session'
## Environment

- Ruby 2.3.3
- Rails 4.2
- Devise 4.2.0

This is the error I am getting , someone please help, I have looked everywhere for the solution but cant find one

[2018-10-30 22:22] hamzaaltaf commented on #3694
@sb1752  hey did you find solution to this issue?

[2018-10-31 07:10] sivagollapalli commented on #4963
@hamzaaltaf Could you provide an example that reproduces this issue?

[2018-11-01 12:00] #4963 closed

[2018-11-03 11:05] dachinat opened #4965 "Incompatible with ruby 2.6.0preview2"
## Environment

- Ruby **2.6.0preview2**
- Rails **5.2.1**
- Devise **4.5.0**

## Current behavior

When you `bundle` a devise gem and run `rails g devise:install` you get

<img width="586" alt="screen shot 2018-11-03 at 3 04 13 pm" src="https://user-images.githubusercontent.com/22872749/47951414-cee5be80-df79-11e8-8a8b-7cc52362a590.png">

## Expected behavior

Should be compatible

[2018-11-05 01:24] olbrich opened #4966 "Question: Devise Validateable ... why only validate on a changed email and not always?"
https://github.com/plataformatec/devise/blob/517010e2c543920c43378e527ddb62e1bc6eb490/lib/devise/models/validatable.rb#L33

https://github.com/plataformatec/devise/blob/517010e2c543920c43378e527ddb62e1bc6eb490/lib/devise/models/validatable.rb#L36

Looking through the validatable module I see that the validation for email only fires when the `email` field has been modified.  While this probably cov

[2018-11-05 22:17] JacobEvelyn opened #4967 "Easy to accidentally log plaintext passwords"
## Environment

- Ruby **2.5.1**
- Rails **5.2.1**
- Devise **4.5.0**

## Current behavior

If I override Devise controllers with this behavior:

[code]

[code]

Then if a `:database_authenticatable` user enters the wrong password while trying to log in, the `POST create` action will render `new` but this code will redirect them to `new` with all of the params, *including their plaintext username

[2018-11-07 00:13] rafaelfranca commented on #4967
Thank you for the issue.

This is outside the scope of devise. This is a programming error. You should not send your password in a get request as parameters. Devise can't protect you from doing that. You must be aware of the security implication of the code you write. We provide people safe defaults, but if you go outside of those defaults you are in your own.

[2018-11-07 00:13] #4967 closed

[2018-11-07 16:11] honigc commented on #4967
@rafaelfranca The before_action that makes the problematic redirect is attached to the `new` action, which is a GET. It makes complete sense that programmers need to be careful not to send passwords as part of GET requests, but I think the issue being described is that the password is _already in the params of a GET request_, as proven by the fact that it's available in params in a before_action o

[2018-11-07 20:35] rafaelfranca commented on #4962
Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2018-11-07 20:35] #4962 closed

[2018-11-08 13:00] brendancarney commented on #4951
I agree. This made it more challenging to implement two-factor auth. We want to redirect to the two-factor auth page after checking the user's password, but some other code (like session tracking) checks if there is a `current_user`, causing the user to be logged in.

[2018-11-08 20:17] lacostenycoder commented on #4951
@brendancarney what did you do as a workaround?

[2018-11-08 20:52] lacostenycoder commented on #4951
@vincentwoo This may seem obvious to you, but, why would you call `current_user` in a view for `some_other_url` if that user should not be authenticated in the first place?  If you want to insure user is not authenticated?  Why would you not just do this?

[code]

and handle where to send them in `ApplicactionController#after_sign_out_path_for(user)` ?

[2018-11-09 04:48] vincentwoo commented on #4951
Because you want to conditionally show a different view to logged in users who mistakenly end up on that page through an old link from email, slack, etc.

[2018-11-11 16:31] roulili opened #4968 "active_for_authentication? raises TZInfo::AmbiguousTime error"
Hi everyone!
I have noticed this strange behaviour today with devise's function "active_for_authentication?"
Which was raising an error: (TZInfo::AmbiguousTime) "1918-11-11 11:48:10 UTC is an ambiguous local time."
This happened today, at 11. (Im guessting there's too many eleens in th-oday's date).
however I can see that the date is incorrect to a century; so there might be something else amiss.

[2018-11-12 16:43] jrmyward commented on #4006
If you have a use case where you desire to confirm accounts with a password reset, you can easily extend the default functionality by creating your own `PasswordController` and extending the method like:

[code]

[2018-11-12 21:59] vincentwoo commented on #4951
Your statement gives me the impression that you may be confused - current_user's explicit purpose is to tell you whether or not the user is signed in. I am saying that it should NOT be a secret, double purpose to perform a login if one is not found, which it does now. Application code *everywhere in the app* **must** rely on current_user (or equivalent helper, user_signed_in?) in order to decide w

[2018-11-13 11:34] openscript opened #4969 "Devise picks up the wrong singular name of resource"
Dear devise community

## Pre-check

- Do not use the issues tracker for help or support, try Stack Overflow. ✔
- For bugs, do a quick search and make sure the bug has not yet been reported ✔
- Finally, be nice and have fun! ✔✔✔

## Environment

- Ruby **2.5.3**
- Rails **5.2.1**
- Devise **4.5.0**

## Current behavior

I've the following routes:

[code]
In this case Devise picks up the wrong sing

[2018-11-13 14:00] amitk commented on #4708
This issue can arise even when you are using "factory_bot" with rails, so to solve it use [factory_bot_rails gem](https://github.com/thoughtbot/factory_bot_rails)

[2018-11-13 15:58] tegon commented on #4245
Closed via #4261

[2018-11-13 15:58] #4245 closed

[2018-11-13 17:05] tegon commented on #4969
Hello @openscript, thanks for the issue.

I'm afraid I haven't understood exactly. Are you saying that the namespace (`api_`) should not be included in the route path?

I ask because this happens in default Rails' routes, not only with Devise. For example, if I create the following routes in a new Rails application
[code]
It will create the following routes:
[code]

[2018-11-13 17:14] tegon commented on #4952
Hello @hirokihokari, thanks for the issue.

The wiki is maintained by the community. It usually contains articles and instructions that worked for someone in the past, and they decided to share with the community - since it might be useful for other people too. That being said, we don't review any of the articles.
I agree with you that it would be better to not include questions in the Wiki. I gue

[2018-11-13 17:14] #4952 closed

[2018-11-13 17:20] tegon commented on #4966
Hello @olbrich, thanks for the issue.

I'm not sure what were the historic motivations, but we do have a unique constraint in the [migration template](https://github.com/plataformatec/devise/blob/master/lib/generators/active_record/templates/migration.rb#L15), so the only way that duplicated objects could be created is if the migration was modified, which probably means that the application has mo

[2018-11-13 17:26] tegon commented on #4947
Closed via #4950

[2018-11-13 17:26] #4947 closed

[2018-11-13 20:25] Russell108 opened #4971 "cannot create 2 sessions in Minitest"
Rails 5.2.1
ruby 2.5.1p57
Devise (4.5.0)

I Have a test controller using mini test with 2 users and follow the guidance of rails here
https://api.rubyonrails.org/v5.2.1/classes/ActionDispatch/IntegrationTest.html
**Current Behaviour**
The 2 sessions are not independent

Expected Behaviour
can test the 2 users independently ie a session for each user

Code.

[code]

[2018-11-13 20:34] Russell108 commented on #4971
I Have a test controller using mini test with 2 users and follow the guidance of rails here
https://api.rubyonrails.org/v5.2.1/classes/ActionDispatch/IntegrationTest.html
**Current Behaviour**
I can get the code to work but when I have 2 users the sessions get confused
Expected Behaviour
can test the 2 users independently

Code.

`require 'test_helper'

class SubjectsControllerTest < ActionDispatc

[2018-11-14 12:50] tegon commented on #4968
Hey @roulili, thanks for the issue

It doesn't seem like this is a Devise issue. I did some research and found two issues: one in [tzinfo-data](https://github.com/tzinfo/tzinfo-data/issues/1) and other in [rails](https://github.com/rails/rails/pull/10826).
Since you're using an older version of Rails, upgrading might solve the issue.

Thanks!

[2018-11-14 12:50] #4968 closed

[2018-11-14 12:52] tegon commented on #4971
The factories `site_admin` and `welsh_admin` are from the same model?
If you can paste your devise models here that would help us to find the issue.

[2018-11-14 13:04] Russell108 commented on #4971
Yes they bare deliberately from the same model.
They are instances of the user model but are supposed to be different sessions as far as the app is concerned.

please find enclosed my code from the single devise model I have in my application

`class User < ApplicationRecord

	class AccessUnauthorised < StandardError; end
	# 	when user archived delete associations
	# 	cannot archive a user if they

[2018-11-14 13:30] tegon commented on #4971
Users from the same model cannot coexist in the same session by default. That's because we use [Warden scopes](https://github.com/wardencommunity/warden/wiki/Scopes) to keep the users in the session. By default, devise creates a Warden scope based on the model's name, so when you sign in with the user that has the ID = 1, the session looks like this:
[code]
Where the second "user" is the scope.

I

[2018-11-14 14:09] Russell108 commented on #4971
I think you have missed the point.
I aim well aware off what you mention but in a web site you can have many users of the same Model each with their own session logged in at the same time

I am setting this up for testing so I don't need to create the same test for each type of logged in user.

I have troll based authorisation on my web site I don't use devise for this authorisation.
I am using th

[2018-11-14 15:45] Russell108 commented on #4971
Ok I have had success if I ignore the  Devise::Test::IntegrationHelpers but instead manually login each user attached to the session in the private login method.

So what happens now is I have 2 users, in the test suite each logged in with devise and have their own unique session.

I tried. attaching the devise login helper in the same way to the uniques session but it did not work.

for clarity h

[2018-11-15 12:32] Russell108 commented on #4971
I have no idea why this has been marked needs more information.
Basically its your  Devise::Test::IntegrationHelpers that don't seem to do the job
I have provided what you have asked for. Please state what information you need

Thanks

[2018-11-15 14:34] francescor commented on #4861
bcrypt 3.1.12 solves the issue in Fedora 29, too
thanks

[2018-11-16 09:32] gloaec opened #4972 "Security issue with translations at login"
## Environment

- Ruby **2.3.1**
- Rails **5.2.1**
- Devise **4.5.0**

## Current behavior

Just noticed that there is 2 similar error messages thrown on failed login attempt :

- `devise.failure.invalid: "Invalid %{authentication_keys} or password."`
- `devise.failure.not_found_in_database: "Invalid %{authentication_keys} or password."`

But in french for instance, the two messages are different

[2018-11-16 09:36] gloaec commented on #4972
I guess i have to use the `paranoid` mode  to get rid of this behavior :

    config.paranoid = true

Then, I just think it should be the default setting.

[2018-11-16 19:33] kingdonb commented on #4864
@ttilberg just curious where this behavior in development is documented?

I found the line of code that hashes the app name to generate secret_key_base for dev and test, but I was not able to find much about it in the documentation.

https://guides.rubyonrails.org/security.html#custom-credentials is the only canonical documentation about Encrypted Credentials that I could find at all, it's basical

[2018-11-16 20:09] ttilberg commented on #4864
I can't remember exactly all the places I've seen it, but it is in the code comments for the method used:

https://github.com/rails/rails/blob/207588174e691221c5d50ba2f96d126471c9863b/railties/lib/rails/application.rb#L420

    # The secret_key_base is used as the input secret to the application's key generator, which in turn
    # is used to create all MessageVerifiers/MessageEncryptors, includin

[2018-11-16 21:49] rafaelfranca commented on #4972
Thank you for the issue. Yes, you need to use the paranoid mode if that is what you want. We can't change the default easily given people may be relying on that behavior.

[2018-11-16 21:49] #4972 closed

[2018-11-18 07:50] jerome-diver commented on #4477
@marianatuma did you find a solution ?
@tegon i have the same problem.
Rails-5.2.1 installed with ruby-2.5.1

My initial state is to have an empty user table inside my database (no user registred)... i want to create one by sign_up. I added some columns in my database (username, family_name, second_name), then add them to this method "signup_params" inside app/controller/users/registrations_contro

[2018-11-18 11:57] openscript commented on #4969
Hi @tegon, thank you for taking the time and looking into my issue.

Everything is fine with the routes. They are as I want them (`/api/...`). Unfortunately Devise doesn't work out of the box with this routes.

In `devise/sessions_controller.rb` is a method called `auth_options`. This options are handed of to warden later. The scope will be set to `api_user`, which is wrong. It should be just `use

[2018-11-18 12:19] jerome-diver opened #4973 "undefined method concat"
re-open this please:
https://github.com/plataformatec/devise/issues/4477

[2018-11-19 18:21] #4973 closed

[2018-11-20 02:37] K1N5L4Y3R commented on #4421
@Xosmond could you please elaborate on what you did to solve your issue? I have only managed to solve this by using something like `cookies.encrypted[:_appname_session]["warden.user.user.key"][0][0]` and not `env['warden'].user`

[2018-11-20 02:44] K1N5L4Y3R commented on #4421
Nevermind, I think I just needed to set `config.default_scope = :user` in config/initializers/devise.rb since I had another Devise model and it was picking that one instead of user.

[2018-11-20 17:55] georgenicholas commented on #4778
We are using rememberable, but have not been able to figure out whey our signin page continues to be a top ranking page (google analytics page views).  We've also noticed our daily computers being logged out periodically for no apparent reason.  Rememberable is set at 6 months so our daily machines should never be logged out.  Is there some default timeout value that is over-riding our current rem

[2018-11-20 18:57] wmene commented on #4778
Default timeout is 30 minutes.  See the comment for `:timeoutable` in `config/initializers/devise.rb`.

Because of this bug, it is overriding your 6 month rememberable value.

[2018-11-20 19:41] joaquindiaz01 opened #4974 "Oh, this is apparently fixed with https://github.com/plataformatec/devise/commit/1009096172f2cbc86bcd54d053c89a09be67fb9f."
Yes but is only a solution in local deployments. When the server is administered by a server like Heroku is impossible edit the files of ruby version.

[2018-11-20 19:51] #4974 closed

[2018-11-20 20:45] tegon commented on #4971
I've added the label when I first asked for more information.

Sure, I'm just trying to understand how you're trying to handle this because Devise uses Warden to store the users in the session, and as I mentioned, this won't work by default with the same model. It can work, of course, with some changes.

Bottom line is, I haven't understood exactly how your application is structured, so I think th

[2018-11-20 20:57] tegon commented on #4969
Oh ok, gotcha. When you said "resource" I thought it was a route resource, but you are talking about the resource name that is used as a Warden scope.
Ok then, I'll try to debug this and let you know what I find out.

[2018-11-20 22:53] Russell108 commented on #4971
Yes I can see you are still talking about my application rather than the test environment.

As per the details I have already posted in the test file I set up 2 devise users each with a different session

I do this manually and it works if I use the devise test helpers it does not

Did you look at the link I sent, it sounds like yo didn’t.

I will set up a test app

[2018-11-21 20:02] Russell108 commented on #4971
here is the test project
https://github.com/Russell108/mydevise

There is a test file called test/controllers/user_flows_test.rb

which demonstrates logging in as 2 separate users with 2 separate sessions in a test suite using devise login pagesI cannot do the same using the devise test helpers

[2018-11-21 21:54] Russell108 commented on #4971
Yes exactly

Thank you

[2018-11-21 21:59] tegon commented on #4971
Ok, I'm going to close this then.

Thanks!

[2018-11-21 21:59] #4971 closed

[2018-11-21 22:19] tegon commented on #4965
Hello @dachinat, thanks for your report.

This happened to me using a newly created Rails 5.2 application (without Devise) after running `bin/setup`.
So I guess it's more a Rails-related issue. Does that happen for you without Devise too?

[2018-11-22 15:14] vlatkapavisic opened #4976 "Add Ruby 2.5.0 syntax fix to an older version of devise"
## Environment

- Ruby **[2.5.3]**
- Rails **[4.2.7]**
- Devise **[3.5.10]**

## Issue

Hello, I'm doing an upgrade of Ruby to 2.5.3 because of a security issue. The devise version used in my app (3.5.10) has a syntax error when used with Ruby 2.5.3 : https://github.com/plataformatec/devise/commit/1009096172f2cbc86bcd54d053c89a09be67fb9f

As bumping Ruby and Devise at the same time is a bit risky,

[2018-11-22 15:42] tegon commented on #4976
Version 3 is not under maintenance anymore. The commit was, however, [merged](https://github.com/plataformatec/devise/pull/4749) at the `3-stable` branch, so you can change your Gemfile to use it directly from GitHub and it should work.
[code]

[2018-11-22 15:42] #4976 closed

[2018-11-22 21:13] #4841 closed

[2018-11-22 21:54] tegon commented on #4969
So, it turns out that what you did is the way to go. We try to get the resource name automatically but since that, in this case, the route has a namespace, it contains the `api_` prefix.

I'm going to close this issue. Thanks!

[2018-11-22 21:54] #4969 closed

[2018-11-23 03:25] ManuelFaican opened #4977 "Error install gem devise"
al ejecutar el comando rails generate devise:install obtengo el siguiente error

Rails 5.1.6
ruby 2.3.3p222
Using devise 4.5.0

C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/activerecord-5.1.6/lib/active_record/dynamic_matchers.rb:22:in method_missing': undefined method devise' for Install (call 'Install.connection' to establish a connection):Class (NoMethodError)
from C:/Users/Faican/Docum

[2018-11-23 03:34] ManuelFaican commented on #4977
al ejecutar el comando  rails generate devise:install obtengo el siguiente error
Rails 5.1.6
ruby 2.3.3p222
Using devise 4.5.0

C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/activerecord-5.1.6/lib/active_record/dynamic_matchers.rb:22:in `method_missing': undefined method `devise' for Install (call 'Install.connection' to establish a connection):Class (NoMethodError)
        from C:/Users/Fa

[2018-11-25 10:04] adrianDY opened #4978 "uninitialized constant Unlock when unlocking account from email"
## Environment

- Ruby **1.9.3**
- Rails **3.2.17**
- Devise **2.2.7**

## Current behavior
When a user is locked out as a result of X failed attempts, they receive an email with a link to reset their password. The link is generated ` unlock_url(@resource, :unlock_token => @resource.unlock_token) %>`
Clicking on the link leads to the following page `http://example.com/users/unlock?unlock_token=TOK

[2018-11-26 14:00] joker-777 opened #4979 "No route for omniauth failure"
## Environment

- Ruby 2.3.6p384
- Rails 5.2.0
- Devise 4.4.3

## Current behavior

The failure callback `/users/auth/failure` can't find a route. I'm getting `No route matches [GET] "/users/auth/failure"`

## Expected behavior

Devise already defines routes for the callbacks `/users/auth/<proveder>/callback`. Why not for `/users/auth/failure`?

[2018-11-26 16:52] jomo opened #4980 "Devise::email_regexp doesn't match all valid adresses"
## Environment

- Devise **4.5.0**

## Current behavior

`Devise::email_regexp` is currently defined as:

[code]

It's a common misconception that email addresses are trivial to parse with a regular expression. A complete regex that catches all invalid addresses is [probably longer than equivalent parser code](http://www.ex-parrot.com/~pdw/Mail-RFC822-Address.html). So catching all _invalid_ addre

[2018-11-26 17:16] joker-777 commented on #4979
Sorry, it is my fault. I still had this in my `config/initializers/omniauth.rb`

[code]

[2018-11-26 17:16] #4979 closed

[2018-11-27 16:02] cfeckardt opened #4981 "Small security issue with :lockable"
## Environment

- Ruby **any**
- Rails **any** running a multithreaded server (like puma)
- Devise **4.5.0**

## Current behavior
Pentesters found an issue where our users did not lock (using :lockable), despite running many many attempts to brute force the password.
To reproduce, try to login many times at exactly the same time (where your model is :lockable).
100 attempts within 1 milliseconds o

[2018-11-28 17:30] tannakartikey commented on #4536
@tegon I'd be happy to tackle it.

[2018-11-29 04:20] gregijc opened #4983 "undefined local variable or method `new_user_session_path' for #<Users::OmniauthCallbacksController:0x0055f3bb2ad758>"
Dear good people..
I've been struggling to solve this issue these past few days..
So basically I made doorkeeper-provider by myself.. but everytime, I redirect it to my doorkeeper-devise-client it show the 'new_user_session_path' error.. While if I use the "https://github.com/doorkeeper-gem/doorkeeper-provider-app" as my doorkeeper-provider it run well.. (my doorkeeper-provider use devise as it's

[2018-11-30 11:16] Kani999 commented on #4877
@vishalTatvaSoft
Did you resolve this issue?

[2018-11-30 12:13] vishalTatvaSoft commented on #4877
@Kani999  Yes i did

[2018-11-30 13:44] czeisser commented on #2734
I was experiencing this problem too. It turned out that the `prepend: true` option for `protect_from_forgery`  was being overwritten.
I was using a gem that also declared `protect_from_forgery` but without the `prepend` option so it defaulted to false. (In my case auto_session_timeout gem was the culprit.)
To fix this I moved my `protect_from_forgery` after the `auto_session_timeout` in the Applic

[2018-12-02 16:48] wcpaez opened #4985 "Devise::Test::ControllerHelpers sign_in method only works on the first rspec test"
## Pre-check

- There is also a similar error reported from other user on StackOverflow https://stackoverflow.com/questions/52149645/devise-rspec-the-user-is-signed-in-only-in-the-first-test

## Environment

- Ruby **2.5.1p57**
- Rails **5.2.1.1**
- Devise **4.5.0**
- rspec-rails **3.8.1**

## Current behavior

[code]
On first test byebug `session` returns:
`{"warden.user.user.key"=>[[216], "$2a$0

[2018-12-02 21:16] julianguyen commented on #4486
Is there any way to get this working without having to use jQuery?

[2018-12-03 01:09] hraynaud commented on #4470
I have this issue but I'm not using turbolinks? In my case I'm overriding the devise registrations controller but otherwise not doing anything special?  Any update on this?

[2018-12-03 11:12] tegon commented on #4486
By default the sign out route uses the [DELETE](https://github.com/plataformatec/devise/blob/master/lib/generators/templates/devise.rb#L257) HTTP method. You can either make an ajax yourself - without the help of jQuery - or change the Devise configuration to accept sign out as a GET request.
[code]

[2018-12-03 11:13] tegon commented on #4470
@hraynaud it looks like your issue is the same as https://github.com/plataformatec/devise/issues/4573. Unfortunately, we're not sure yet what's the best solution for this.

[2018-12-03 18:10] tegon commented on #4980
Hi @jomo, thanks for the issue.

Indeed, a regex for email validation is not an easy thing to achieve. We had previous [discussions](https://github.com/plataformatec/devise/issues/4944) about the topic and we [think](https://github.com/plataformatec/devise/pull/4001) the current solution is a good enough default for most applications. That's why we expose the configuration option so that users are

[2018-12-03 18:10] #4980 closed

[2018-12-03 18:12] tegon commented on #4977
This is more likely to be an environment issue. Please try to delete your `Gemfile.lock` and run `bundle install` again. Also, if you're using Spring try to restart it.

[2018-12-03 18:12] #4977 closed

[2018-12-03 18:15] tegon commented on #4978
Hi @adrianDY, thanks for the issue.

This looks like an autoload issue - ruby is not finding the `Unlock` constant. This is more likely to be related to your environment. Also, we haven't made any updates to version `2.*` (it's not supported anymore).
If you can send us a sample application that reproduces this issue in the latest version we'll definitely look into it.

Thanks.

[2018-12-03 18:15] #4978 closed

[2018-12-03 18:16] tegon commented on #4983
Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

Thank you!

[2018-12-03 18:16] #4983 closed

[2018-12-03 18:44] rafaelfranca commented on #4980
The intention is not to change that regexp anymore.

[2018-12-03 18:59] jomo commented on #4980
Why?

[2018-12-04 16:44] tegon commented on #4980
Well, one of the reasons is that we would have to release a major version to change this default, since it's not backwards compatible.

Also, the example you sent (`"well \\\" @ hi"@z`) is not a common type of email, so I don't it's relevant for most applications. Do you have other examples of valid emails that are being rejected now?

[2018-12-04 16:51] jomo commented on #4980
I'd be fine with a backwards compatible default. Perhaps `"first last"@example.com` is a better example. Maybe not the most common address format, but do you only want to allow common addresses instead of standard conforming addresses by default?

[2018-12-05 15:44] tegon commented on #4980
Like you said in the beginning, the regular expression won't possibly cover all the cases. What I'm doing here is a tradeoff: is it worth it to make this change because of those not so common email addresses? Do most applications have this problem (real users couldn't register with those kind of emails)?
The way I see it, even though it's a valid email, most of the providers won't allow people to

[2018-12-05 15:52] jorgearimitsu commented on #4486
You can use the button_to helper and style the button if you need.

[2018-12-10 11:58] collimarco opened #4986 "Use the EMAIL_REGEXP provided by Ruby for email validation"
Currently Devise has a very basic email validation that only checks for the existence of `@`.

This creates unexpected errors when you export / sync your data with other services.

The **Ruby standard library** provides a regexp for email validation which is based on **RFC6068**.

I think that Devise should use that as the default regex:

[code]

[2018-12-10 21:02] rafaelfranca commented on #4986
Thank you for the issue.

While it may make sense this also is a change in behavior that we think it is not worth. Even that regular expression is partial and may not work for some cases so we prefer to keep the current regexp as the default.

Also see https://github.com/plataformatec/devise/issues/4980

[2018-12-10 21:02] #4986 closed

[2018-12-11 13:16] tegon commented on #4985
Hello @wcpaez, thanks for your report.
Can you provide us a sample application that reproduces the issue in isolation?
Another option is to use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb).
That would help us find the issue.

Thank you!

[2018-12-12 17:06] tmaier commented on #1798
Related stackoverflow question: https://stackoverflow.com/questions/28940325/rails-devise-disable-password-recovery-for-certain-user-types

[2018-12-12 18:56] tegon commented on #4981
Hey @cfeckardt, thanks for reporting this.

Yeah, it definitely makes sense to do both operations in a row level transaction. We'll see how we can do this.

Thanks!

[2018-12-12 19:10] tegon commented on #4584
@waiting-for-dev Yep 👍

[2018-12-14 11:47] shaicoleman commented on #4951
That behavior is very surprising, and I spent a significant amount of time debugging an issue because of that

[2018-12-14 23:15] vincentwoo commented on #4951
Easy enough. Probably you would have current_user stop calling warden.authenticate, and use the more appropriate warden method, `authenticated?` https://github.com/wardencommunity/warden/blob/61b22a6ffb53f2816a414c5d256650361942db71/lib/warden/proxy.rb#L149

[2018-12-15 02:10] lacostenycoder commented on #4951
That may seem logical, however it is clearly a departure from the `current_user`'s intended purpose.   Consider the Devise README:

So generally speaking it seems clear that according to devise docs you should not call `current_user` if you don't expect one to be authenticated.

[2018-12-15 02:30] vincentwoo commented on #4951
Respectfully, that is silly - `current_user` returns `nil` as a valid return type in case of auth returning nothing, and you are suggesting that users should never learn to examine this return type. Many Devise programmers across the internet have learned to use `current_user` returning `nil` as a pattern for conditionally doing things when a user is not logged in. Many users write code like `if c

[2018-12-17 13:52] brendancarney commented on #4951
@lacostenycoder we ended up adding a custom warden strategy. Looks something like:

[code]

[2018-12-18 20:40] tegon commented on #4466
I'm closing this since it looks like the way to is to manually pass the current user to the views. Because we rely on Warden there must be a rack request in order for it to work.

[2018-12-18 20:40] #4466 closed

[2018-12-19 11:07] mr3abd opened #4990 "When make redirect in regstertion controller not working"
i try to use

`sign_in_and_redirect phone_verifications_path`

and use

`redirect_to phone_verifications_path`

both not working

I want to make redirect when user make an account redirect to a verification page

how to make a redirect in controller devise

[2018-12-19 11:45] tegon commented on #4990
Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

Thank you!

[2018-12-19 11:52] mr3abd commented on #4990
@tegon

but that issue !

not  say how to do it

it's not working !!!!
as that issue !

[2018-12-19 12:09] tegon commented on #4956
This one is tricky because when the email is unconfirmed it's not yet saved in the `email` column, but in a separated column (`unconfirmed_email`) and the database authenticable strategy only tries to find the user based on the `email` column.
We could try to find a user based on both columns, but I don't think we should because it will have an impact in the query performance and also because that

[2018-12-19 12:09] #4956 closed

[2018-12-19 12:22] tegon commented on #4990
Ok, it looked like you're asking for help on how to do it.

Either way it's not clear what the issue is or how you're calling that method (which Rails/Ruby/Devise versions you're using, if you're overhang a Devise controller and so on). I'm reopening the issue but you have to provide us more information on how to reproduce the issue, or a sample application so that we can understand better what's

[2018-12-19 12:31] mr3abd commented on #4990
Ok ,
in ` Devise::RegistrationsController`

when put
[code]

I see error
Render and/or redirect were called multiple times in this action. Please note that you may only call render OR redirect, and at most once per action. Also note that neither redirect nor render terminate execution of the action, so if you want to exit an action after redirecting, you need to do something like "redirect_to(...)

[2018-12-19 12:45] tegon commented on #4990
So, to be clear, you want to redirect to `phone_verifications_path` after a signup, right?
If that's the case you have to override the `#after_sign_up_path_for` method:
[code]

[2018-12-19 12:52] mr3abd commented on #4990
Thanks :)

[2018-12-19 12:52] #4990 closed

[2018-12-21 15:20] kobaltz opened #4992 "Rails Template gives strange behavior with rails_command"
## Environment

- Ruby 2.5.3
- Rails 5.2.2
- Devise 4.5.0

## Current behavior

When using the template feature of Rails, the following template gives some strange behavior.

[code]

This can be consumed with `rails new testapp -m template.rb` if you saved the file as template.rb

It is giving the following in the migration file

[code]

However, when using the `generate` command instead of the `r

[2018-12-21 17:31] tegon commented on #4992
I tested here locally and it turns out this is not an issue with Devise. If you change the `scaffold` command to be used with `rails_command` you'll get the same issue:
[code]
[code]
This happens because `rails_command` [calls](https://github.com/rails/rails/blob/94b5cd3a20edadd6f6b8cf0bdf1a4d4919df86cb/railties/lib/rails/generators/actions.rb#L236) the `execute_command` method, which [appends](ht

[2018-12-21 17:31] #4992 closed

[2018-12-21 17:33] kobaltz commented on #4992
Thanks @tegon! Great catch.

[2018-12-21 17:40] tegon commented on #4767
@hudakh The [opened PR](https://github.com/plataformatec/devise/pull/4793) needs tests and some other changes before it can be merged.

[2018-12-21 19:47] tegon commented on #4939
We decided to not go forward with the refactor. More details in
https://github.com/plataformatec/devise/pull/4946#issuecomment-449481906

[2018-12-21 19:47] #4939 closed

[2018-12-25 06:57] sounishnath003 commented on #4724
How can i mplemented >>>?

[2018-12-26 09:38] ravistm commented on #1333
im also having same issue in AWS Rails server, not able to login. If anybody has the solution. pls suggest

[2018-12-26 11:17] duongtuannhat opened #4993 "devise update_without_password still check password?"
Im using devise 4.5.0 and get error when update model without password.
`2.4.4 :010 > u.update_without_password nick_name: "test_nick_name"
   (0.5ms)  BEGIN
  User Exists (1.0ms)  SELECT  1 AS one FROM `users` WHERE `users`.`email` = 'admin@gmail.com' AND `users`.`id` != 1 LIMIT 1
   (0.5ms)  ROLLBACK
 => false `
and get u.errors password can't be blank.

[2018-12-27 11:10] matthias-g opened #4994 "Old email in after_confirmation hook when reconfirming"
After confirming a user the [`after_confirmation`](https://github.com/plataformatec/devise/blob/master/lib/devise/models/confirmable.rb#L329) hook is called. When using `reconfirmable` this method is also called after a new email has been confirmed. In such a case it would be useful to get access to the old and new email in the  `after_confirmation` hook to allow for additional logic.

What do you

[2018-12-27 11:33] tegon commented on #4994
Hello @matthias-g, can you explain better what's your use case for this?

I think it might be possible to use [`#saved_changes`](
https://api.rubyonrails.org/classes/ActiveRecord/AttributeMethods/Dirty.html#method-i-saved_changes) or [`#previous_changes`](https://api.rubyonrails.org/classes/ActiveModel/Dirty.html#method-i-previous_changes) to achieve what you want.

[2018-12-27 11:38] tegon commented on #4477
I'm closing this issue because it had no recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-12-27 11:38] #4477 closed

[2018-12-27 11:38] voordev opened #4995 "template_path override not working in devise mailer"
## Pre-check

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- Finally, be nice and have fun!

## Environment

- ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin18]
- Rails **[version]**
Rails 5.2.1
- Devise **[version]**
devise (4.5.0)

## Current behavior

Problem with overriding the t

[2018-12-27 11:41] tegon commented on #4995
Duplicate of https://github.com/plataformatec/devise/issues/4842

[2018-12-27 11:41] #4995 closed

[2018-12-27 12:00] tegon commented on #4966
I'm closing this issue because it had no recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-12-27 12:00] #4966 closed

[2018-12-27 12:02] tegon commented on #4921
@kylefox Are you going to work on this? I'm asking so that people know whether this is up for grabs or not.

[2018-12-27 12:08] tegon commented on #4542
Related sample application
https://github.com/plataformatec/devise/pull/4910#issuecomment-413359139

[2018-12-27 12:11] tegon commented on #4555
Sounds good.

@rlue Do you want to open a pull request adding that documentation? If not, let me know so I can assign to someone else.

Thanks.

[2018-12-27 13:35] matthias-g commented on #4994
My use case is that I have two models (`User` for users and `Subscription` for newsletter subscriptions) which both store email addresses. They are independent in the sense that for one email address a user can exist without a subscription or a subscription without a user. However, when both exist and a user changes their email address, a subscription for the same email address should be changed a

[2018-12-27 13:35] #4994 closed

[2018-12-27 14:43] olbrich commented on #4966
@tegon thanks for the response, sorry I missed it at the time.  I suspect the reason for setting up the validation this way is to minimize the number of database queries needed, since the validates_uniqueness_of will require generate one.

[2018-12-27 17:59] newfylox commented on #4718
I cannot tell you if it's because of `require_no_authentication` method, but I can tell you that I have random infinite redirection loops in my application after signing in. At first I thought it was because of the `force_ssl` option in **production**, but it does this in **development** environment as well (only `HTTP`).

Nothing special in my code, I'm only using `before_action :authenticate_ami

[2018-12-27 21:38] jerome-diver commented on #4477
yes, i'm still facing the same problem.
something wrong never resolved staying there... don't close before resolve please.

[2018-12-28 11:51] tegon commented on #4477
@jerome-diver Did you see the test app I sent you? I wasn't able to reproduce the issue, so I've asked for a sample application that does so I can see what's happening, but I didn't get any response, that's why I closed the issue.

[2018-12-28 13:18] tegon commented on #4782
Closed via https://github.com/plataformatec/devise/pull/4878

[2018-12-28 13:19] #4782 closed

[2018-12-28 14:16] jerome-diver commented on #4477
oh yes, sorry.
Well, i can give you my open code (it is a test application anyway). You can try it and see.
That's strange because i don't know where the problem is from (so difficult for me to create a specific test case only for this problem, i think if i could do it i done it).
[my bitbucket open source code](https://bitbucket.org/jerome___/aquaworks/src/master/)

[2018-12-28 15:21] tegon commented on #4863
Hello @lancecarlson, thanks for starting the discussion.

It seems like you're talking about two things here:
- The current API makes it hard to add custom encryption methods
- Merge the `devise-encryptable` gem here (which mostly adds new encryption methods)

Is that correct? Which one of them you had in mind when you opened the issue?

I'm mostly confused because of the following sentence:

It s

[2018-12-28 18:02] tegon commented on #4477
@jerome-diver I took a look at your code and it turns out there are a couple of changes to be done in order for this to work:

First, you're calling `Devise::ParameterSanitizer#permit` two times for the same action (`:sign_up`): in [`ApplicationController`](https://bitbucket.org/jerome___/aquaworks/src/76872001ac0c2a8bdf40d3dafeb0a63f0c8d18d3/app/controllers/application_controller.rb#lines-15) and

[2018-12-28 18:51] jerome-diver commented on #4477
@tegon i just read your explication and this make sens, i understand (you explication is perfect also). Fantastic, i'm very happy because i was stick on that for long time now and really, you take time to explain clearly what"s happening.

Tomorrow i will correct my errors.

Thank you very much for your great and useful help @tegon.

[2018-12-28 19:00] #4981 closed

[2018-12-30 03:09] reedloden commented on #4981
Has a CVE been assigned to this TOCTOU issue?

[2018-12-30 17:34] rlue commented on #4555
I can get started on this next week. Happy holidays!

[2018-12-31 15:15] mits87 opened #4997 "Devise and API only configuration"
Hello,

First of all thank you for really good job!
I use devise plugin always when I need auth layer in my application.
But my last few projects I used rails api only and always I have the same problems with devise configuration in "nice" way.

1. The first thing is routing.
Maybe should be some option in devise config like `config.api_only = true` which will create automatically correct routes (

[2019-01-01 22:17] kylefox commented on #4921
@tegon No, I don't think I'll have a chance to get to this any time soon 😢

You (or anyone else) should definitely feel free to work on it!

[2019-01-02 12:30] tegon commented on #4997
Hello @mits87, thanks for the issue.

Unfortunately, Devise does not support API only applications out of the box. There are no plans of doing so in any time soon - the effort would be too big and we can't afford it right now.

I think there are some other gems that you can include it together with devise that would help you with the things in mentioned. I don't know all of them but I do know a ht

[2019-01-02 12:30] #4997 closed

[2019-01-02 14:44] tegon commented on #4095
Closed via https://github.com/plataformatec/devise/pull/4834

[2019-01-02 14:44] #4095 closed

[2019-01-03 14:41] TheAshwanik commented on #1449
Any chance we could refer your solution?

[2019-01-15 01:39] jackwa12333 opened #5000 "Devise bug with nested controller/model"
Devise seems to have a bug with nested controllers and models. I'm currently trying to make my first application and I'm using devise for authentication. I believe I have all the model relationships defined correctly yet I'm experiencing an issue where the user_id attribute isn't being committed to the database. Any help would be greatly appreciated!

[code]

ticket.rb

[code]

message.rb

[code]

[2019-01-15 03:47] philihp opened #5001 "Javascript POSTs to RegistrationsController#create no longer redirect to after_sign_up_path_for"
## Pre-check

- [x] Do not use the issues tracker for help or support, try Stack Overflow.
- [x] For bugs, do a quick search and make sure the bug has not yet been reported
- [x] Finally, be nice and have fun!

## Environment

- Ruby 2.5.1
- Rails 5.1.1
- Devise 4.4.3 to 4.5.0

## Current behavior

In migrating to 4.5.0, I noticed that `after_sign_up_path_for` is now checking `is_navigational_form

[2019-01-15 18:44] tegon commented on #5000
Hello @jackwa12333, thanks for reporting this.

As far as I saw, there's no Devise code involved in this, right? It looks like you're hitting a custom controller (`tickets_controller.rb`) and creating other entities - not a user.

If that's the case I'm not sure how Devise can be causing this issue.

[2019-01-15 19:17] tegon commented on #5001
Hello @philihp, thanks for reporting this.

The reasoning behind #4833 was that `after_sign_up_path_for` was not doing the `is_navigational_format?` check while other similar methods were.
While I think that makes sense, we didn't know the historic reasons behind that or if it would case any other issues.

But I think the problem here is that `:js` is not listed as a navigation format in Devise's

[2019-01-15 23:02] philihp commented on #5001
That works! Thank you. Is that the preferred solution? I'm seeing resources say that either adding to that list, or doing something described [here](https://stackoverflow.com/questions/16348724/devise-registrationupdate-via-js-in-rails) is ideal.

[2019-01-16 02:01] summera opened #5003 "Potential for reset password link with token to leak to third-parties via the Referer header"
I searched to see if this had been brought up before and couldn't find any open or closed issue or PR that mentioned it. If there is one and I missed it, please let me know.

As discussed in this [thoughtbot article](https://robots.thoughtbot.com/is-your-site-leaking-password-reset-links) the reset password link with the token can be leaked to third-parties (CDN, analytics, links to other third-pa

[2019-01-16 12:41] tegon commented on #5001
`respond_to` is another thing: it tells the controller to render that type of response. Adding `:js` to the this list makes the controllers perform redirects while without it they wouldn't.

I think it should be the better way to go. If you find other issues raised by this please let us know so that we can reopen the issue and look into it.

Thanks!

[2019-01-16 12:41] #5001 closed

[2019-01-16 12:45] tegon commented on #5003
There's a discussion about this in this PR: https://github.com/plataformatec/devise/pull/4366

[2019-01-17 09:33] devijonnalagadda commented on #4322
I got the same error but nothing works for me

[2019-01-17 12:30] devijonnalagadda opened #5004 "Could not find generator 'devise:install'."
I have included gem 'devise' in my gem file. I ran bundle install The devise was installed successfully but when i executing rails g devise:install

It's generating an error as Could not find generator 'devise:install'. Maybe you meant 'test_unit:job', 'assets' or 'generator' Run rails generate --help for more options.

I tried many solutions but nothing worked for me.

I have tried spring stop be

[2019-01-17 18:09] tegon commented on #5004
This looks like a local installation of bundler/devise issue. Specially if you can't run bundle install now.
I'd say to check your rvm installation - maybe do it again.

Also, please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

Thank you!

[2019-01-17 18:09] #5004 closed

[2019-01-18 14:03] sebscholl commented on #5000
Hey Jackwa -

I agree with Tegon that it looks like Devise isn't in the cards here. You're code does look a little odd though.

Looking at your terminal output, your `messages_attributes` param is pointing to an Object. `accepts_nested_attributes_for` expects an array of objects to come through as nested params. So that's one thing to explore.

[2019-01-18 16:05] tegon commented on #4863
I'm closing this issue because it had no recent activity.
If you think this is still relevant, please open a new one with all the information requested in the template.

Thank you!

[2019-01-18 16:05] #4863 closed

[2019-01-18 16:13] lancecarlson commented on #4863
@tegon It's been awhile since I had encountered the issue so not all the context is in my head. I do not remember conflating multiple issues however. The primary issue is the first point mentioned. "The current API makes it hard to add custom encryption methods". How can we make it easier? We recently deployed a new project at work without devise because we wanted to use scypt over bcypt. We would

[2019-01-18 16:14] tegon commented on #4885
@ajesler Can you explain more about your use case?

Internally Devise use's the `i18n_message` method to display flash messages. In your case you need to display flash messages as `#html_safe`?

[2019-01-18 19:21] feliperenan commented on #1465
Maybe, now we can migrate our integration tests to capybara. I'm reopening this issue to keep it on our way.

[2019-01-19 02:35] nikolaokonesh commented on #4888
gem 'devise', '~> 4.4', '>= 4.4.3'
not fixed

[2019-01-19 06:20] jcoyne opened #5007 "Calling `generate "devise", "User"` creates invalid migration"
When I use Rails 6.0.0.beta1

and I have a generator that calls the devise generator:

[code]

Then `railties-6.0.0.beta1/lib/rails/generators/actions.rb:294` adds `RAILS_ENV=test` to the end of the command, which causes the migration to have:

[code]

which is a syntax error.

[code]

[2019-01-21 07:41] krtschmr commented on #4951
won't it be better to capture the 2FA code in the same form as the password?

[2019-01-21 07:42] krtschmr commented on #4951
@brendancarney  which gem-extension do you use for 2FA?

[2019-01-21 07:46] krtschmr opened #5008 "for more security: always return false on first login. is this a suitable strategy?"
We recently had a discussion for securing a bitcoin platform. the idea was, that a user could activate a feature called _double login_. basically, if he logs in, regardless of correct or not, he always will get the message: _wrong user or password_. the second attempt, within _1 minute_ then will be valid and logs in the user (or redirects to 2FA page)

basically, this will help to protect against

[2019-01-21 15:05] francesco-loreti commented on #4888
Same problem with rails 6.0.0.beta1

[2019-01-21 15:57] tegon commented on #5008
Hi @krtschmr, thanks for bringing this discussion here.

It seems a little overkill to me. This would create a bad experience for users in general which I think it shouldn't be encouraged as a library's default behaviour.

Also, I'm not sure it would be that effective, because if an attacker wants to get access to an account I suppose they would have some knowledge about the application - e.g they

[2019-01-21 15:57] #5008 closed

[2019-01-21 15:59] tegon commented on #4888
Like @nikolaokonesh pointed out above, it's a matter of updating the `responders` dependency. I'm going to work on this and send a pull request.

[2019-01-21 16:21] lacostenycoder commented on #4951
@krtschmr I can't answer for brendan but we're using https://github.com/tinfoil/devise-two-factor with no problems.

[2019-01-21 17:03] tegon commented on #4888
It works now with `responders` `2.4.1`.
I think a `bundle update responders` for existing applications might do it.

[2019-01-21 17:03] #4888 closed

[2019-01-22 19:46] ajesler commented on #4885
@tegon Yes, that is correct. We have some flash messages that contain markup, eg emphasis and links to help, that we would like to display.
Currently, we have solved it by passing the contents of the flash through a method that checks if the text is meant to be html_safe, before it is added to the page template.

[2019-01-23 11:02] vidurpunj commented on #4085
Add this in the layout
  <%= csrf_meta_tags %>

[2019-01-23 12:48] tegon commented on #4885
@ajesler I see. It seems like what you're doing is a good solution - I did something similar in the past when I needed HTML safe flash messages.

But I think this is too application-specific - i.e. not worth adding the complexity to the method in order to support it.

So I'd say we keep as it is for now and if this becomes a popular feature request - or if more common use cases appear - we can thi

[2019-01-23 17:32] #4127 closed

[2019-01-24 12:39] tegon commented on #4454
Closed due to https://github.com/plataformatec/devise/pull/4458#issuecomment-454456052

[2019-01-24 12:39] #4454 closed

[2019-01-25 22:43] dogweather commented on #4912
@jacob-hedengren would you accept a PR for a change to the `passwords/new` view? I'd like Devise to work "out of the box" as much as possible. But custom programming is required to fix this, and I don't believe it's mentioned in the docs as part of set up.

[2019-01-29 11:17] abdelbk opened #5013 "allow_params_authentication! authenticates the user too"
I'm facing the same issue described here https://github.com/plataformatec/devise/issues/4285.

I'm running the 4.5.0 of Devise.

Basically, the user is authenticated even when overriding the create method. I don't know if it's the intended behavior, but allow_params_authentication! prevents any authentication customizations.

I can skip this action, but I do believe that there is a deeper issue. T

[2019-01-29 14:46] abdelbk commented on #5013
My code is roughly similar to this

[code]
The issue is that the current_user is set before entering the `create` method. So to debug, I listed all the before_action callbacks which are ran before the `create` method. I found that the `allow_params_authentication!` causes the authentication of the user. I can't tell you why because, as you said, it just sets an env variable.

Adding `skip_before_a

[2019-01-29 16:47] tegon commented on #4584
Closed via #4987

[2019-01-29 16:47] #4584 closed

[2019-01-30 00:10] krtschmr opened #5015 "method to update model which requires password (eg change_password)"
I wonder if i missed it but i can't find a method that requires the current password to perform a certain action. if you want to change the password, you should be required to type in the current one.
if we would implement the following attr_accessor and the validation then we can simply pass current_password anytime when we require it.

is this already implemented? if not, what's the reason again

[2019-01-30 02:40] krtschmr opened #5016 "The order when encrypted password is updated is wrong and needs to be fixed"
[code]

this is broken behavior and a wrong chain of events.

the fix would be easy as following

[code]

resulting in
[code]

[2019-01-30 02:41] krtschmr commented on #5015
will only work if https://github.com/plataformatec/devise/issues/5016 is applied ;)

[2019-01-30 03:02] sevenseacat commented on #5015
Are you looking for something like `resource.update_with_password` ? This gets used eg. when updating a user registration and requiring the current password to do so.

https://github.com/plataformatec/devise/blob/master/app/controllers/devise/registrations_controller.rb#L91-L95

[2019-01-30 12:58] tegon commented on #5016
@krtschmr Can you explain why this is the wrong behavior? The way I see it, it looks ok: you changed the password so it's not valid anymore.

If this is causing weird behavior in your application it would be good to share what you're trying to do.

Thanks.

[2019-01-30 12:58] theshashiverma opened #5017 "how to i add multiple providers for social login using devise + omniauth ??"
I follow the omniauth overview article from the wiki part to add fb auth in my ror project, and now I also want to add the google and github I added the secret and id of google and github in devise.rb and create the same method as fb  as describe in the omniauth overview article and did the changes where it was necessary. but now auth only works fine with fb , google and git is not working , the m

[2019-01-30 13:10] tegon commented on #5000
I'm closing this issue because it had no recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2019-01-30 13:10] #5000 closed

[2019-01-30 15:53] krtschmr commented on #5016
`update_with_password` won't work on the password itself. that's clearly a bug, isn't?

[2019-01-30 16:00] tegon commented on #5016
I don't get it. If you changed the password, it will consider the new one as the current password.
Why would you want to change the password and then later try to update the password using the old one?

Just to make sure we are on the same page, you're saying that the following should work, right?
[code]

Whereas in order to work, the `current_password` should be `123456` (changed in line 3). Is t

[2019-01-31 01:46] ajesler commented on #4885
OK, that is a good reason. Happy for this to be closed.

[2019-01-31 02:46] krtschmr commented on #5016
i'll recheck an let you know. initially i made my own `upate_with_password` method as i wasn't aware of that one. maybe my monkeypatching killed the behavior of the real one.

[2019-01-31 04:34] theshashiverma commented on #5016
@krtschmr @tegon @brynary @indirect @lancecarlson  please have  a look on this https://github.com/plataformatec/devise/issues/5017

[2019-01-31 04:35] theshashiverma commented on #4951
@vincentwoo @lacostenycoder @brendancarney @shaicoleman @krtschmr  please have a look on this https://github.com/plataformatec/devise/issues/5017

[2019-01-31 04:36] theshashiverma commented on #4542
@mtoribio @aalbagarcia @codewizardry @chrise86 @tegon  please have a look on this https://github.com/plataformatec/devise/issues/5017

[2019-01-31 04:37] theshashiverma commented on #4842
@benbonnet @tegon @themilkman @marcosanfilippo @alanyeh20001 please have a look on this https://github.com/plataformatec/devise/issues/5017

[2019-01-31 04:38] theshashiverma commented on #4767
@kylefox @argent-smith @one-more-alex @tegon @hudakh please have a look on this https://github.com/plataformatec/devise/issues/5017

[2019-01-31 05:09] krtschmr commented on #5017
i hope some admin is closing this, simply for the fact of your attention whoring. issues on github are for code specific problems and not for your own struggle of implementation.

in case somebody would consider taking time to help you out, they simply can't as you didn't provide any error messages or failures.

[2019-01-31 05:12] krtschmr commented on #5017
the fix would be to debug the error on your side

`gem pry-rails`

and then bundle.
then add `binding.pry`

` @user = User.from_omniauth(request.env["omniauth.auth"])
   binding.pry
    if @user.persisted?`

then the server will halt at that binding point and you can go with

`@user.errors`

good luck.

[2019-01-31 08:31] #5017 closed

[2019-01-31 08:33] theshashiverma commented on #5017
@krtschmr Thank you for the reply, I did not know the rules for putting a question

[2019-01-31 10:49] tegon commented on #5007
Fixed in Rails https://github.com/rails/rails/pull/34980

[2019-01-31 10:49] #5007 closed

[2019-01-31 11:19] abdelbk commented on #5013
Thank you for your response. The issue is also discussed here https://github.com/plataformatec/devise/issues/4951. It's all clear now.

[2019-01-31 11:39] tegon commented on #5017
@theshashiverma We try to reserve the GitHub issue tracker for bugs and feature requests. It's better to post questions and ask for help in StackOverflow or forums, where a wider community will be able to help you.

Also, when you do ask for help try to give it a while until people can answer it. This issue was only open less than a day when you started mentioning us in other issues. I would defin

[2019-01-31 11:41] tegon commented on #5017
@theshashiverma I just noticed that you included your app's OAuth credentials in the issue description - client ID and client secret. People can use those to access your OAuth applications now.
When posting sample codes in public places - like here - it's better to not include this kind of information.

I would advice you to delete those applications and create new ones now.

[2019-01-31 13:06] ibrahimelbanna commented on #4570
config.sign_out_via = :get

[2019-02-01 03:57] theshashiverma commented on #5017
@tegon Thank you, sir, I got your point. Basically, I am new to this developing world(a fresher) I think it would take time to understand how things work.

[2019-02-04 13:17] tegon commented on #5017
@theshashiverma No problem, I'm happy to help.

[2019-02-04 22:24] peterzhu2118 opened #5019 "Authentication in routes breaks URL helpers"
## Environment

- Ruby 2.5.1
- Rails 5.2.2
- Devise 4.5.0

## Current behavior

In my `routes.rb`, I have a snippet that looks like this:
[code]
In a test, I have a snippet that looks like this:
[code]

However, the two print statements gives an output like this:
[code]

If I remove the `authenticate` line in `routes.rb`, I get the expected output.

## Expected behavior

I expect the path to never

[2019-02-04 23:03] rsmything commented on #4863
@tegon Can you explain how to use custom encryptor with devise?

Does this plugin work with current devise version?
https://github.com/plataformatec/devise-encryptable

**It doesn't work**
https://github.com/plataformatec/devise/wiki/How-To:-Create-a-custom-encryptor

config/initializers/argon2.rb
[code]
config/initialzers/devise.rb
`config.encryptor = :argon2`

**It doesn't work**
https://github.

[2019-02-04 23:44] peterzhu2118 commented on #5019
I've [created a project to demo this](https://github.com/peterzhu2118/rails_url_helper_demo). The test that demonstrates this can be found [here](https://github.com/peterzhu2118/rails_url_helper_demo/blob/055af4a61aa3abbcefe81f8445c9aea6e58fe6d7/test/integration/sidekiq_url_test.rb#L6).

[2019-02-05 12:08] tegon commented on #4863
@rsmything I'm not sure about the Gem you mentioned or the Wiki article - it's maintained by the community, we don't review or control what is posted there.

But the https://github.com/plataformatec/devise-encryptable should work. If it doesn't, please open an issue there. Thanks.

[2019-02-07 05:59] theshashiverma opened #5020 "Authentication issue with spree"
I am creating an admin template and I am giving an e-commerce section in the template. Firstly I build the project using ROR then I add auth using Devise and now I have added the e-commerce section using Spree. And for that, I Followed https://github.com/spree/spree
and when I use this command `rails g spree:auth:install` it removes all the config settings of devise.rb that I have made for the dev

[2019-02-07 18:09] tegon commented on #4981
@reedloden Not yet. I want to apologize for taking so long to reply on this but I knew nothing about CVEs and had to do some research on this topic before I was able to do it.
Anyway, I requested one via [DWF's form](https://iwantacve.org/) and will let you know as soon as I get a response.

[2019-02-07 18:15] tegon commented on #4981
@cfeckardt I'd also like to add that for security issues it's better to report to us directly via the opensource@plataformatec.com.br email. This way we don't leak the vulnerability before we can release a fix.

At first, I thought this issue wasn't a security breach since the attacker still has to succeed on a brute force attack in order to exploit this. After talking to other people and analyzin

[2019-02-07 18:58] modusss commented on #4778
Is this issue fixed now ?
I've seen timeout of 30 minutos on my phone and ipad even setting:

**devise.rb**
  config.timeout_in = 60.days

[2019-02-08 15:49] feliperenan commented on #1465
I've spent time trying to migrate those tests from Webrat to Capybara but I realized that it requires a lot of changes since we're going to refactor several tests and If we do that, we need do it carefully to not leave some scenario uncovered.

By now, I'm going to close this issue since @tegon and I started working on this because we had some warnings coming from Webrat. But it is solved on this

[2019-02-08 15:49] #1465 closed

[2019-02-08 16:29] philayres opened #5021 "v4.6.0 breaks rspec controller tests"
## Environment

- Ruby 2.4.5
- Rails 4.2.7
- Devise 4.6.0

## Current behavior

I just updated to 4.6.0 (no other changes were made) and the rspec controller tests now return `undefined method root_path` after running a sign_in.

4.5.0 does not exhibit this behaviour.

## Expected behavior

`root_path` should return a value.

[2019-02-08 16:47] feliperenan commented on #5021
Hi @philayres, thanks for the issue.

Could you provide more info about what is happening in your application? It could be an application that reproduces this issue in isolation or just the stacktrace.

[2019-02-08 16:59] philayres commented on #5021
This is the rspec example:

[code]

The error is:

[code]

That error aligns with the rspec example. But in reality every similar example like this fails.

As soon as I rolled back to 4.5.0 the error went away.

[2019-02-08 17:02] philayres commented on #5021
Oh, and the method for logging in

[code]

I have both a user and admin entity working independently.

[2019-02-08 17:34] feliperenan commented on #5021
Could you also send the stacktrace? that would help find where it's breaking inside Devise.

[2019-02-08 17:55] philayres commented on #5021
That's the strange thing. In the console you have the full error that I have in the comment above (which is strangely short). In the test log, despite having changed logging level to :debug it still doesn't give me the error or any stack trace.

I'm assuming that there is something nasty happening low down the stack that is getting swallowed up without logging. I'll keep digging to see if I can fi

[2019-02-08 18:11] philayres commented on #5021
I have stepped through in a debugger and have narrowed it down to:

`gems/devise-4.6.0/lib/devise/test/controller_helpers.rb` around line 140:

[code]
This final line is where it dies.

My guess, not knowing the internals of the code, is that this is forcing a redirection when a user is not logged in? But in previous versions my user would have been successfully logged in prior to this point. So I

[2019-02-08 18:18] feliperenan commented on #5021
Are you using Rails engine? The only this that I can think now that was released and could break the `root_path` is this PR: https://github.com/plataformatec/devise/pull/4700#issuecomment-456465399

We came up with [this solution](https://github.com/plataformatec/devise/commit/1aab4499330c8a7641a3dea7e2ec3b96acdf46ae#diff-c1be825bdb5f3160081e41432f83d0d7R156) to check if the `root_path` is defined

[2019-02-08 18:19] feliperenan commented on #5021
Just to make sure, have you the `root_path` defined in your routes?

[2019-02-08 19:46] tegon commented on #5021
@philayres We were able to reproduce the issue with the following scenario: a Rails application that doesn't have a [`root` defined](https://api.rubyonrails.org/classes/ActionDispatch/Routing/Mapper/Resources.html#method-i-root) and after an unsuccessful login attempt.

After the [commit](https://github.com/plataformatec/devise/commit/1aab4499330c8a7641a3dea7e2ec3b96acdf46ae#diff-c1be825bdb5f31600

[2019-02-09 04:34] theshashiverma opened #5023 "devise allow wrong email id to sign up(abc@def)."
## Environment

- Ruby **[2.3.8]**
- Rails **[5.2.2]**
- Devise **[4.6.0]**

hello,

So when I use `abc@def` email address to signup, It gets signed up. But, how this could be possible? Maybe I am wrong. Thank you.

## Edit

I just checked the gorails.com website, and tried to signup with this email id abc@def and I successfully signed up. But it's not a proper email id. Please enlighten me.

[2019-02-09 10:20] jmstfv commented on #5023
Default email regex that is used in Devise doesn't cover all cases. (See #3820, #4268). To quote a line from the config file:

 If you want to allow valid email addresses, change `config.email_regexp` in config/initializers/devise.rb to:
  `config.email_regexp = /\A([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})\z/i`

[2019-02-09 12:29] philayres commented on #5021
Ok, I just checked out the branch you suggested. As you guessed, this helped, but did not solve all the problems. The following steps through where I have looked to identify the root cause. Sorry if some of it is irrelevant; I just want to make sure I don't miss something that could be meaningful.

Running the spec again I'm now getting different errors:

[code]

Stepping through an authentication

[2019-02-09 12:51] philayres commented on #5021
OK, easier to find than I expected.

Blame `database_authenticatble.rb` https://github.com/plataformatec/devise/blame/master/lib/devise/models/database_authenticatable.rb shows line 63 forces the `encrypted_password` to nil even when `password` is nil, which is a change from previously. This has the side effect I'm seeing that the spec test won't create the user session because my code has cleared

[2019-02-09 23:48] feliperenan commented on #5023
Hello @theshashiverma, thanks for the issue report.

Yeah, the regex used by Devise doesn't cover all cases - it's just a regex with a minimal validation. If you want something more complex you should change it in your application.

Thanks :)

[2019-02-09 23:48] #5023 closed

[2019-02-10 10:49] TomKo1 commented on #4904
Thanks @ghoshnirmalya

[2019-02-11 03:45] theshashiverma commented on #5020
Can anyone response on this ??

[2019-02-11 09:47] philayres commented on #5021
Referencing #4245 / #4261 so I don't have to keep digging around to find out what broke things.

[2019-02-11 09:53] philayres commented on #5021
@tegon I didn't answer your previous question about the `root_path`. No, my application does not have it set. I have relied on an application_controller to redirect to specific paths under certain conditions. No reason why I couldn't set the `root_path` as a fallback though.

[2019-02-11 13:21] tegon commented on #5020
Hello @theshashiverma,

Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

Thank you!

[2019-02-11 13:21] #5020 closed

[2019-02-11 13:38] tegon commented on #5021
@philayres The `root_path` issue was regression so we're going to release it soon in the version `4.6.1`.

About the `encrypted_password` being set to `nil`, we did it to keep it in sync with the `password` field and prevent possible security issues - e.g. before `valid_password?` would return `true` for a cleaned `password`.

As for your concern of leaking the password, Rails already replaces it

[2019-02-11 14:47] philayres commented on #5021
The actual challenge I had was that my model forces password changes after first sign in, and these were breaking specs. For example, if I am running a series of controller tests like this:

  - a user / password is created
  - sign in is successful
  - the user is forced to change password (and the password is not the same as before)
  - perform some meaningful action that requires me to be authe

[2019-02-11 18:21] rodrigo-puente commented on #5021
By looking at this thread, I'm also having similar issues with v6.4.1

[code]

which points to this:
[code]

I don't have a root_path defined. Will having a root_path defined will be something necessary from now on?

[2019-02-11 18:29] tegon commented on #5021
@rodrigo-puente Nope, that was fixed in version `4.6.1`. Can you try to update and see if the error is gone?

[2019-02-12 13:23] tegon commented on #5021
@philayres I don't get exactly what the issues were to create your specs - if you want to create a sample application I can take a look at them and see if I can think of another solution. But when you said:

I understood that this issue is only for your test environment - please correct me if I got it wrong - when you test it manually in a browser everything works correctly? If that's the case, I'

[2019-02-12 13:34] tegon commented on #4951
Hi everyone, thanks for all points raised in this discussion.

First of all, I want to say that I would also prefer an explicit behavior rather than an implicit one, which is what's happening in `#current_user`. But I will also say that this is a very common pattern in Ruby on Rails application - I've seen it everywhere in my career - it's the memoization pattern, where people try to "cache" side

[2019-02-12 14:27] philayres commented on #5021
@tegon this is probably a good time for me to go back and DRY up my tests anyway. Things have got messy over time. Thanks for you thoughts and rapid response to this issue. I'll close it now.

[2019-02-12 14:27] #5021 closed

[2019-02-13 00:32] vincentwoo commented on #4951
I don't follow your reasoning. Why is memoization the relevant pattern here? The problem isn't that `current_user` caches its results, its that it performs login.

[2019-02-13 03:20] brendancarney commented on #4951
I'm not sure. I've seen it both ways. It seems like most of the services I use have you authenticate with username and password before getting to 2FA.

We use https://github.com/twilio/authy-devise along with the custom warden strategy I mentioned in a previous comment.

[2019-02-13 16:07] feliperenan commented on #5019
Hi @peterzhu2118, thanks for the issue report.

It's not a Devise issue because Rails builds this path internally. I found this issue https://github.com/rails/rails/issues/34452  that should address.

Thanks.

[2019-02-13 16:22] feliperenan commented on #5019
Looking again to the issue that I've mentioned, I'm not sure if solving that issue will fix this one.

Digging I little into the Rails code, we can see [where it happens](https://github.com/rails/rails/blob/be099cc13f6d0240782d7d63bedd4814ad48fb2d/actionpack/lib/action_dispatch/routing/route_set.rb#L211):
[code]

Basically, when there is a `script_name` within options, the  path will be concatenat

[2019-02-13 16:32] peterzhu2118 commented on #5019
Hey @feliperenan,

Thanks for looking into this! Since this isn't a devise issue and since that issue you referenced in Rails doesn't fix this issue, should I raise this issue to the Rails repo?

[2019-02-13 16:48] feliperenan commented on #5019
I think so. I just recommend you search for a similar issue before, maybe someone else has already faced this issue in the past.

[2019-02-13 17:40] peterzhu2118 commented on #5019
@feliperenan I dug a little deeper into this, it seems the problem is devise's `authenticate` method in the routes. The problem disappears if I change:
[code]
in `routes.rb` to:
[code]
So I wonder if something is up the [Devise constraints](https://github.com/plataformatec/devise/blob/master/lib/devise/rails/routes.rb#L290)?

[2019-02-13 19:33] feliperenan commented on #5019
@peterzhu2118 thanks for pointing this out. I will reopen this issue then since in fact it maybe is a Devise issue. Also, I have more findings to share.

When we do a request to another path after we did one to the `/sidekiq`, the path helpers start to return the correct path again.
[code]

The issue doesn't happen when the user is authenticated.

[code]

Maybe something the bug is happening after

[2019-02-13 20:16] peterzhu2118 commented on #5019
@feliperenan That's a really interesting observation. Following the redirect seems to be a temporary workaround:
[code]
With output:
[code]

However, the `follow_redirect!` is only a temporary workaround and the paths shouldn't change regardless of whether the `follow_redirect!` is there or not.

[2019-02-13 20:22] reedloden commented on #4981
I prepped https://github.com/rubysec/ruby-advisory-db/pull/375 for this. Just need the CVE ID.

@cfeckardt let me know if you run into issues getting a CVE ID. I can make something happen if needed.

[2019-02-14 18:26] tegon commented on #4951
@vincentwoo My point is that it's commonly used in methods that have side-effects. That's why I think that as long it's documented and another version (that doesn't have this side-effect) is available, it's ok to keep it as it is.

[2019-02-15 00:36] vincentwoo commented on #4951
Okay. Are you going to add a version of `current_user` that does not perform login?

[2019-02-15 00:40] krtschmr commented on #4951
should be either `temp_user` or `attempted_user`

something like `current_user(no_login_attempt: true)` would suck, however `no_login_attempt` could be done via configurator.

[2019-02-15 17:13] tegon commented on #4399
Closed via #4837

[2019-02-15 17:13] #4399 closed

[2019-02-15 17:17] tegon commented on #4951
@vincentwoo The version that I mean is `user_signed_in?`.

[2019-02-15 17:19] tegon commented on #4981
@reedloden Thanks, I've accepted the terms last Sunday and I'm waiting for a response. I'll let you know if I don't get any.

[2019-02-15 17:19] tegon commented on #5016
@krtschmr Were you able to check this out again?

[2019-02-15 17:57] feliperenan commented on #5019
I've more finds to share 🙈.

When we do a request to `"/sidekiq"` that needs authentication, Devise redirects the user to the `/users/sign_in` with the [FailureApp](https://github.com/plataformatec/devise/blob/20e299bce0307d79895b05b13530f3c74a0ca0e0/lib/devise/failure_app.rb#L5) that behaves as a controller. Once the request is finished, the `ActionDispatch` put the FailureApp into the [session c

[2019-02-15 18:59] salqadri opened #5024 "Why are we assigning the unhashed password?"
https://github.com/plataformatec/devise/blob/d1571627b78399b55b76c400a78c4a3f367dad2c/lib/devise/models/database_authenticatable.rb#L62

What's going on here exactly? Why do we have @password anyway, and if we do, why is it being assigned to the user password rather than the hashed password?

[2019-02-15 19:02] salqadri opened #5025 "The word 'encrypted_password' raises red flags; time to rename?"
https://github.com/plataformatec/devise/blob/d1571627b78399b55b76c400a78c4a3f367dad2c/lib/devise/models/database_authenticatable.rb#L59

The word 'encrypted_password' is quite problematic. You should never encrypt a password. Granted it sounds like you guys are not really encrypting anymore and keeping the name for legacy reasons, but this name shows up in our database and raises major compliance

[2019-02-15 19:05] rafaelfranca commented on #5024
It is to be used by validations on top of the original password not the hashed value. This value is only in memory and it is unset as soon the hashed password is sent to the database.

[2019-02-15 19:05] #5024 closed

[2019-02-15 19:07] rafaelfranca commented on #5025
Sorry, renaming this is not worth the trouble since it will break different authentication methods and applications. Thank you for the suggestion tough.

[2019-02-15 19:07] #5025 closed

[2019-02-15 20:22] peterzhu2118 commented on #5019
@feliperenan Wow that's a really detailed report! Thanks for taking the time to look into this! I'll try to do more digging into this to determine the source of the issue (in both devise and in Rails). I'll post an update here if I find anything interesting.

[2019-02-15 21:53] vincentwoo commented on #4951
The boolean method alone is not very helpful for porting code to correct it. I'd rather have a version of current_user that does not login, but I suppose I could add it myself as a helper.

[2019-02-16 17:27] krtschmr commented on #5016
@tegon  i most likely monkey patched my devise to death and caused sideeffect or so. it's working right now. i'll close this.

[2019-02-16 17:27] #5016 closed

[2019-02-18 14:34] tegon commented on #5019
@feliperenan Great work on this!

My 2 cents here is that since this only happens in the test environment - e.g. because the session is memoized - I believe there's not much we can do. I'm not even sure if this should be addressed in Rails or not in some way.
I'd go with following the redirect in the test in order to make it more close to a real request/response flow.

[2019-02-18 14:41] feliperenan commented on #5019
@tegon I was thinking about the same thing. As far as I understood, a new session is created on every single test, so developers could use `follow_redirect!` approach only in the test that they want to use a path returned by the path helper after a Devise redirect.

If we don't do a patch for it, we may need to document this behavior at some place 🤔.

[2019-02-18 16:58] tegon commented on #4951
Since the code is out there for almost 10 years we can't know the impact a change like that would have, that's why we rather not change this behavior, even in a major version (we don't want to make it a pain for people to update it).

I'm going to close this then and `user_signed_in?` will be fixed in #5013. Thanks everyone!

[2019-02-18 16:58] #4951 closed

[2019-02-18 23:31] krtschmr commented on #4951
@tegon

`current_user(no_login_attempt: true)` or `temp_user`.

we just add functionality and we won't break anything

[2019-02-19 10:01] leogiertz commented on #5025
@salqadri What kind of compliance issues?

[2019-02-19 13:55] tegon commented on #4951
@krtschmr That also adds a complexity to the method that I don't think it's justified. All of the use cases showed here in this thread could be achieved using alternative APIs that are already available.

[2019-02-19 16:16] fozi6044 opened #5026 "Vulnerability Report : No CSRF Protection here"
Hi Team,

I am a security Researcher and I found this vulnerability on your website.

Vulnerability: No CSRF Protection here

So here I will show you how CSRF protection is needed or capture code is a need in Password Reset form. So here is the POST request which I captured through the burp. I will send it to the repeater. I will flood a lot of new passwords through multiple clicks.

Regards,
Muha

[2019-02-19 19:06] feliperenan commented on #5026
Hi @fozi6044, I didn't understand your issue since CSRF is a feature provided by Rails. If you found a security issue into Devise, please send the report to: opensource@plataformatec.com.br and don't open an issue to not expose users that use Devise.

Thanks.

[2019-02-19 19:06] #5026 closed

[2019-02-19 19:18] fozi6044 commented on #5026
OKAY , Any bounty for me ???

On Wed, Feb 20, 2019 at 12:06 AM Felipe Renan <notifications@github.com>
wrote:

[2019-02-19 19:20] tegon commented on #5026
It's not clear right now what the issue is (since Rails has CSRF protection built-in). Like @feliperenan mentioned above, please send us an email with the details of the issue.

[2019-02-19 19:23] fozi6044 commented on #5026
okay i am sending you a video as a proof

On Wed, Feb 20, 2019 at 12:21 AM Leonardo Tegon <notifications@github.com>
wrote:

[2019-02-20 10:42] JanBussieck commented on #4778
Correct me if I am wrong, but I think this issue was fixed by this commit https://github.com/plataformatec/devise/commit/b97b3e6e3b570324467ac84d807111837943ec20#diff-797da3c65aeb33325af12a67ae766003

where the check wether remember me is active happens in the timeoutable hook [here](https://github.com/plataformatec/devise/commit/b97b3e6e3b570324467ac84d807111837943ec20#diff-797da3c65aeb33325af12a

[2019-02-20 14:12] JanBussieck opened #5027 "expire_all_remember_me_on_sign_out does not work as expected and might be obsolete"
## Current behavior

When I set `expire_all_remember_me_on_sign_out =  false` in the devise config, but I am using a `remember_token` (instead of defaulting to the `authenticatable_salt`), then I will still be logged out on all devices.

## Expected behavior

I will only be logged out on the device where I initiate the log out and still be remembered on other devises.

This happens since the `reme

[2019-02-20 19:23] feliperenan commented on #4778
Hi folks,

I'm trying to understand this issue and I wasn't able to reproduce it in a new app using the last Devise version (4.6.0).

Things that I've tested:

#### With timeoutable turned off and rememberable turned on
* Sessions never expires unless the user marks the remember me option.
* If the user marks the remember me option, the user is going to be logged out once the rememberable time exp

[2019-02-20 20:52] dfherr commented on #4778
I still have the issue, even after updating to 4.6.0.

This reproduces it for me consistently:

1. Set config to
[code]
2. login with "remember" selected.
3. Idle for more than 30 seconds (important or timeout refreshes itself!)
4. click a logged-in page --> get logged out

[2019-02-20 21:42] tegon commented on #4778
We are not able to reproduce the issue with a newly created Rails application. Are you testing with your app or have you created a new one to test this in isolation?

I'm going to attach here the app that I'm using so that you can see if I'm missing something:

[remeber-timeout.zip](https://github.com/plataformatec/devise/files/2886582/remeber-timeout.zip)

There's also this Gif showing how I'm te

[2019-02-21 14:02] jrochkind commented on #1449
I am also interested in functionality for "force password reset after first login with password", that isn't necessarily limited to first login to the account.  Setting a temporary password that can only be used once, and after that requires a password change, is a common "enteprisey" feature.

[2019-02-21 18:26] salqadri commented on #5025
Security / Privacy compliance. It should never be possible to 'decrypt' a password, and if our database field is called 'encrypted_password' that raises serious flags.

[2019-02-22 01:54] ramaboo-deliv opened #5030 "Reset password token can't be blank."
## Environment

- Ruby 2.6.1
- Rails 5.2.2
- Devise 4.6.1

## Current behavior

I can't for the life of me get the reset_password_token to show up in the form. I am unsure if this is a devise issue or a simple_form issue or a rails issue:

Form I changed from hidden to normal text field. As you can see the value is blank even though its in the url:
<img width="798" alt="screen shot 2019-02-21 at 5

[2019-02-22 13:10] tegon commented on #5027
Hi @JanBussieck, thanks for reporting this.

I've tested the following possible scenarios:

## When `expire_all_remember_me_on_sign_out` is `true`:

### with `authenticatable_salt`
* Sign In in two browsers, log out of one
* The other one should be logged out too

Works correctly 👍

### with `remember_token`
* Sign In in two browsers, log out of one
* The other one should be logged out too

Works

[2019-02-22 13:33] feliperenan commented on #5030
Close in favor https://github.com/plataformatec/simple_form/issues/1642#issuecomment-466397234

[2019-02-22 13:33] #5030 closed

[2019-02-22 14:05] JanBussieck commented on #5027
Hi @tegon,
thanks for your response and the additional clarity you provided. That is exactly the problem I encountered.

As far as I can see, the advantage over using a `remember_token` over the `authenticable_salt` is that it is regenerated every time a new remember-me-session is created, which means that if a remember-me-cookie were to be hijacked it would only be usable for one session, whereas

[2019-02-22 14:35] JanBussieck commented on #5013
Is someone already working on this? If not I'm happy to open an PR in the next couple of days.

[2019-02-22 15:25] tinyfive commented on #4921
If no one is working on this, I would like to take it.

[2019-02-22 16:24] tegon commented on #5013
@JanBussieck Not yet, feel free to grab it.

[2019-02-22 16:26] tegon commented on #4921
@tinyfive Thanks, feel free do it.

[2019-02-22 17:09] erich-team commented on #5021
Regarding nilifying #encrypted_password, I may missing something, but if, when I load a user model, #password  is blank(as it's defined merely by attr_reader),  won't any subsequent save of the user model cause encrypted_password to be cleared and persisted?

[2019-02-22 19:05] tegon commented on #5021
@erich-team Not sure if I understood correctly, is this what you mean?
[code]

The `encrypted_password` will only be set to `nil` after `password` is by calling `password=` directly.

[2019-02-22 20:34] erich-team commented on #5021
The issue appears to be with strip_whitespace_keys.

This...
`config.strip_whitespace_keys = [:email, :password, :password_confirmation]`

... config/initializers/devise.rb, results in password= being called every time.

Obviously, the simplest solution is to not include password and password_confirmation, but it seems like this might be less than ideal.  I have a user base that isn't necessarily.

[2019-02-25 04:33] dfherr commented on #4778
No, I have used my existing application. Readded timeoutable to the user, reproduced it with my old version (4.3.something) and then again after updating to 4.6.0. Removing timeoutable also solves the bug for me.

I'll try to reproduce it with your example application, once I find time.

[2019-02-25 21:12] gsar opened #5033 "v4.6.0 breaks activeadmin forms that have `password` field"
## Environment

- Ruby 2.6.1
- Rails 5.2.2
- Devise 4.6.1

## Current behavior

It appears that PR #4261 introduced a change where `encrypted_password` could be set to `nil` even when no attempt was made to change `password`.  The relevant comment is here https://github.com/plataformatec/devise/pull/4261/files#r77820245

This results in user model forms that have a password field in activeadmin to

[2019-02-26 02:48] gsar commented on #5033
In case it helps others, I am using this workaround in the activeadmin pages that have an editable devise password field:

[code]

[2019-02-26 15:32] Medvezo opened #5034 "Text-only email templates"
## Problem
By default Devise comes with html templates. The problem with that is that some spam catching systems may consider that as a negative signal and route email to spam folder. That is worrisome because we are talking about transactional email. Think of all extra customer support emails that will generate in the long run.

## Solution
Ship with text-only templates for the next major release

[2019-02-28 14:32] tegon commented on #5021
@erich-team I see 🤔

I'm not familiar with your user base or your application at all, but it seems to me that it's dangerous to change the password input in any way. I mean, theoretically, one could choose to deliberately include a white space on their password.

If you want to prevent them from including those spaces as mistakes, I think it would be better to add a validation for this and let the

[2019-02-28 15:43] erich-team commented on #5021
My user base is truck drivers. :)  Good people, not always the most
accomplished typists.  That said, we do have a work around.

On Thu, Feb 28, 2019 at 8:33 AM Leonardo Tegon <notifications@github.com>
wrote:

--
Erich L Timkar

[2019-03-05 08:21] zucler commented on #5033
This is occurring in our application as well. Please fix.

[2019-03-05 16:01] MatthiasRMS opened #5037 "Support for Rails 6+ ?"
Hi,

I'm trying to update my app to Rails 6 but I get this error:

[code]

Is it planned to update it for Rails 6 ?
I'd be happy to contribute to the upgrade and submit a PR if you already know what there is to do to maintain the compatibility.

Matthias

[2019-03-06 03:01] georgedrummond commented on #5037
I don't think this is a devise issue. I managed to get a `rails 5.2.2` and `devise 4.6.1` project to update just fine.

Try checking out a clean branch, pinning rails to `6.0.0.beta2` and running `bundle update`.

[2019-03-06 05:02] reedloden commented on #4981
@tegon been 19 days... any updates?

[2019-03-06 09:10] MatthiasRMS commented on #5037
Yes 5.2.2 works fine.
But since Devise relies on responders, which relies on actionpack < 6, and Rails 6 on actionpack 6+, there is a conflict.

[2019-03-06 12:54] feliperenan commented on #5037
Hi @MatthiasRMS, thanks for the issue.

Yes, it is planned. See https://github.com/plataformatec/devise/pull/5009, but we don't have a date to release it yet. Probably when we have the final Rails 6 release.

It seems that responders already supports Rails 6, probably you are getting this error because it's not the final release of Rails.

https://github.com/plataformatec/responders/blob/master/re

[2019-03-07 10:45] codeminator opened #5038 "`#valid_password?` returns false when updating resource with empty password fields"
## Environment

- Ruby **2.4.4**
- Rails **5.2.2**
- Devise **4.6.1**

## Description

In prior versions of devise (I tested with `v.4.4.2` since, it's the earliest version compatible with Rails `~> 5.2`), it was possible to call `update` statement on a resource with some fields, while submitting `password` and `password_confirmation` fields as empty strings, and still old password is valid:
[code

[2019-03-08 04:29] emersonthis commented on #4696
I recently chased my tail for a while trying to figure this out. I am using Devise with Rails in api mode. In my case, the API is powering a public single page app, so I'm using a standard session authentication instead of tokens.

I wonder if the gem could somehow incorporate the fix above so that it works smoothly in API mode. Or if that's undesirable, how would you feel about a PR to mention th

[2019-03-08 13:42] cseelus commented on #4980
Currently it doesn't work with German Umlauts.

Mails like huber@gebäudereiniger.de (that are not uncommon here), should imho definitely work with Devise also.

[2019-03-09 00:07] aalsamman commented on #3663
Thanks @andrescanales for posting that.

[2019-03-10 13:38] ruvaleev commented on #2734
For me the problem was solved when wrote this in my application_controller.rb

class ApplicationController < ActionController::Base
  protect_from_forgery with: :exception
  check_authorization :unless => :devise_controller?

Another order of strings above was the reason of exception. Hope it'll help somebody.

[2019-03-10 17:46] aalsamman commented on #4723
As I also had the same issue with very similar setup. The fix is as described in this StackOverflow
https://stackoverflow.com/questions/26241357/overriding-devise-sessionscontroller-destroy

[2019-03-11 10:04] chemic commented on #5037
I was migrating my project from rails 4.X to 6-beta2 and that was my roadblock. Went currently with Rails 5.2.2 but hopefully could hop on the 6 train soon when Devise supports it.

[2019-03-11 16:29] alexsumdog commented on #2614
Just want to note that I'm having the same issue.

We'd like to execute some actions every time a user signs in, whether through normal username / password authentication or a manual call to Devise's `sign_in`, but there's no exposed hook (through either Devise or Warden) that allows us to catch both of these events.

@JacobEvelyn - I'd be interested to know if you found any neat way to deal with

[2019-03-11 17:26] codebycliff commented on #4611
I ran into this and it was in fact an `after_create` callback that was the issue for me. Just thought I'd mention it for any future readers.

[2019-03-11 19:27] JacobEvelyn commented on #2614
@alexsumdog I think we ended up just using `after_authentication` and deciding we were comfortable ignoring other sign-ins. Definitely not an ideal solution though!

[2019-03-12 05:39] sonalkr132 commented on #5003
Rails started setting `Referrer-Policy` to `strict-origin-when-cross-origin` since 5.2 https://github.com/rails/rails/commit/428939be9f954d39b0c41bc53d85d0d106b9d1a1

[2019-03-12 08:30] my5035 opened #5040 "sign_out"
## Pre-check

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- If you found a security bug, do not report it through GitHub. Please send an e-mail to opensource@plataformatec.com.br instead.
- Finally, be nice and have fun!

## Environment

- Ruby **[version]**
- Rails **[version]**
- Devise **[

[2019-03-12 12:52] feliperenan commented on #5040
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please open up a new issue and make sure to fill in all the information requested in the template shown inside the text box. Thank you!

[2019-03-12 12:52] #5040 closed

[2019-03-12 20:25] chiperific commented on #5033
Same issue here.
RailsAdmin form for user with `password` and `password_confirmation` fields won't submit, throws this error.

@gsar's monkey patch works.

[2019-03-13 13:03] tegon commented on #4981
I asked Kurt Seifried yesterday about it and I'm waiting for a response. This was addressed in this [pull request](https://github.com/CVEProject/cvelist/pull/1609/files#diff-cfc9d48f9000d11fcc6cf830385179fbR1)  that later got closed, so I'm not sure if it's going to be included in a new PR or not.

[2019-03-13 13:18] tegon commented on #4696
I'm not sure if Devise as an engine should assume an application's middleware chain structure in order to achieve this. Of course, we can know for how a stock Rails application looks like, but we can't know how other applications look like - i.e. they will have custom middlewares many times.
About adding this in the README, I think it's great. I'm thinking in a new section that includes instructio

[2019-03-13 13:36] tegon commented on #5038
Hello @codeminator, thanks for your report.

We changed this in https://github.com/plataformatec/devise/issues/4245 because we thought it made sense to keep the attributes in sync (`password` and `encrypted_password`).

I did not understand, however, what you said about your controller code that is not working anymore due to this. Are you calling `#update` in a controller action for many forms - e

[2019-03-13 13:44] codeminator commented on #5038
@tegon Thanks for your feedback.

Actually I encountered the case when I was upgrading a Rails app to latest version of Rails 5, and I had to upgrade devise on the way.

In this app, there is an already-succeeded unit test about `updating user field(s) should work fine when submitting empty password fields`. This test failed after upgrading devise to the latest version.

The console code I pasted

[2019-03-13 15:42] emersonthis commented on #4696
That makes complete sense to me. Shall I open that PR?

On Wed, Mar 13, 2019 at 6:18 AM Leonardo Tegon <notifications@github.com>
wrote:

[2019-03-13 16:26] tegon commented on #4696
Yeah, that would be great! Thanks!

[2019-03-14 11:26] verenion opened #5042 "/users/sign_in no longer works with fresh install"
## Environment

- Ruby 2.6.1p33 (2019-01-30 revision 66950) [x86_64-linux]
- Rails  5.2.2.1
- Devise 4.6.1

## Current behavior

After following the readme setup guide on a fresh install. I check the `rails routes` command, and the devise routes are showing correctly in the route list, however going to http://mysite/users/sign_in returns the following error:

`No route matches [GET] "/sign_in"`

N

[2019-03-14 12:14] verenion commented on #5042
Found the issue, it was related to our docker environment. We were using `users.ourdomain.local`, which for some odd reason caused the `/users` endpoint to be ignored. Switching to another model name worked fine, E.g. `/members`

[2019-03-14 12:14] #5042 closed

[2019-03-14 12:47] timkrins commented on #5038
It seems like your issues isn't really related to `valid_password?` returning false.
As you can see in your example, the `encrypted_password` value is being set to `NULL` in your database when you call `update`.
Therefore, `valid_password?` should return false.

Your real issue is that your `encrypted_password` attribute is set to NULL when you update with a blank `password` and `password_confirma

[2019-03-14 13:24] tegon commented on #5003
I didn't know about that @sonalkr132, thanks for sharing!

I'm more inclined to use the `Referrer-Policy` header to solve this instead of having to change a bunch of code to try to mitigate this at our side.
Looking at https://caniuse.com/#feat=referrer-policy it seems like the bigger issue with support is on Edge and Safari on iOS. They do support an older draft, though. Setting `never` or `origi

[2019-03-14 13:27] tegon commented on #4981
@reedloden Kurt said that the DWF has been shut down 😞
Can you help us to get the CVE?

[2019-03-14 13:43] codeminator commented on #5038
@timkrins Thanks, no monkey patch interference and it's not about including `database_authenticatable` methods, let me explain why:
- In older devise version, when you try to update user attribute(s), while having password/password confirmation fields submitted as `""`, then it **doesn't set encrypted_password with NULL**, and update the other attribute(s).
- In latest devise version, it **sets th

[2019-03-14 14:00] phlegx commented on #5033
I have the same problem on my application. I want to update a user without changing the password but some other fields. I get a validation error: `encrypted_password can't be blank`

[2019-03-14 19:37] reedloden commented on #4981
@tegon Huh, hadn't heard that. Sad to hear... In any case, this has been assigned CVE-2019-5421. I'll get this updated at MITRE shortly.

[2019-03-14 21:02] tegon commented on #4981
@reedloden Thank you!

[2019-03-14 21:43] dougo commented on #4981
Any plans to make a patch release for 4.4.3?

[2019-03-14 21:51] nosretep commented on #5033
Broke for me too. Just add `encrypted_password: ""` and that should satisfy the not null, and is also the default value of "".

`t.string :encrypted_password, null: false, default: ""` from the migration

[2019-03-14 21:56] phlegx commented on #5033
@nosretep your solution breaks logins! If I submit an account form to update the account and leave `password` and `password_confirmation` empty, then the account should be updated without set `encrypted_password` to blank! If it get set to blank, then the account can no more login with his password!

[2019-03-14 22:01] nosretep commented on #5033
@phlegx works for me on my specs, login seems to have not broken for me. I'll keep on the lookout though.

[2019-03-15 12:07] DaniG2k commented on #5038
+1, same issue here.

We want certain users to be able to update another user's information if necessary. With previous versions of Devise, we could allow them to do this without modifying the user's password.

With the latest version of Devise, this behavior has changed. It is now mandatory for the password field to be filled.

This appears to be a bug. @codeminator mentioned, the `encrypted_pass

[2019-03-15 13:00] timkrins commented on #5038
@codeminator yeah, looks like a bug to me.

Same underlying issue as https://github.com/plataformatec/devise/issues/5033
and looks related to PR https://github.com/plataformatec/devise/pull/4261

[2019-03-15 13:33] timkrins commented on #5038
Found it - PR should explain why.

https://github.com/plataformatec/devise/pull/5044

[2019-03-15 19:24] tegon commented on #4981
@dougo There are no plans yet but can we can discuss it. Are you having complications updating to 4.6 - e.g. something is broken for you?

[2019-03-15 19:48] dougo commented on #4981
Yep, the "Set encrypted_password to nil when password is set to nil" bugfix made a bunch of our tests fail when I upgraded (I guess we were relying on it being empty string, and we have a non-null constraint in the db). Probably easy to fix, but not the sort of yak-shaving I wanted to do while addressing a CVE...

[2019-03-18 16:46] achmiral commented on #4466
I was facing the same problem, when I tried to use `ApplicationController.render` to render the partial view that I want to pass to the action cable.

I've got the solution from the article linked below, but this solution makes `sign_in_count` increase whenever rendering a partial view using `ApplicationController.render_with_signed_in_user`.

[code]

https://www.stefanwienert.de/blog/2016/04/05/u

[2019-03-18 19:45] jhirbour commented on #4189
I've had this issue as well and ended up on this page from Google.

For my application there were 2 locations where `config.include Devise::Test::ControllerHelpers, type: :controller` was being set, 1 `spec/support/devise_config.rb` and another in `spec/rails_helper.rb` . Removing it from spec/support fixed the issue and allowed me to upgrade to 4.2 (and later).

[2019-03-20 13:31] lukebooth commented on #4981
I think I agree with @dougo, there should be a patch release for your supported versions instead of asking everyone to bump their devise gems, sometimes multiple, minor versions for this CVE. Unless 4.6.x is your only supported version?

[2019-03-20 14:17] tagCincy commented on #5038
+1 to this issue for us

We are trying to update to 4.6.1 to address https://github.com/plataformatec/devise/issues/4981 and are blocked because of the change from #4261.

Our use case allows users to be created with just an email.  IMO, this framework should not be making the decision whether users must have a non-null password.

[2019-03-20 15:05] mrcasals commented on #5038
I'm hitting the same problem in https://github.com/decidim/decidim/pull/4986 (seems to be the same underlying issue as in #5033), there are failings CI jobs in my PR in case they help debugging this problem!

[2019-03-20 16:47] pmichaeljones opened #5047 "Devise.config.send_email_changed_notification sending "Emailed Changed" email when user signs up"
## Environment

- Ruby **2.4.5**
- Rails **4.2.11**
- Devise **4.6.1**

## Current behavior

Devise is sending the "Email Changed" email when a user first signs up. This email is unnecessary because they haven't confirmed this email yet.

GIF showing both "confirmation" email AND "email changed" email.

![Double Email Gif](https://user-images.githubusercontent.com/6728265/54702757-c90f0500-4b37-11

[2019-03-20 18:36] tagCincy commented on #5038
I submitted https://github.com/plataformatec/devise/pull/5048 to address this issue.  The only difference between that and how devise behaved pre-4.6 is the `encrypted_password` column will be populated with digest hash of `nil` instead of a blank string.

[2019-03-21 07:43] Alexey-Lukin commented on #5033
[code]

[2019-03-21 09:26] FikriRNurhidayat commented on #3059
Same problem here, so I just succesfully signed in, and after I tried to get my protected endpoint, it returned "Completed 401 Unauthorized", and redirected me to login screen again, so on.

[2019-03-21 09:37] NielsKSchjoedt commented on #3059
Okay, I think I found out what was going on in my case. It was actually a user behaviour causing this: https://stackoverflow.com/questions/51917046/devise-some-users-on-ios-keeps-getting-signed-out-when-they-leave-the-browser/55277413#55277413

[2019-03-21 12:44] remipou commented on #4106
same here

[2019-03-21 16:02] jeremywadsack commented on #5033
This is affecting our application, _unrelated to ActiveAdmin_. We have a form that allows an account admin to change a user's password through the `UsersController` (as opposed to the user changing their own password which runs through the `RegistrationController`). The form includes a password field — prior to updating Devise (to address CVE-2019-5421) leaving this field blank updated the record

[2019-03-22 08:00] sonianand11 commented on #3483
@bikezilla This [blog works for me](http://www.artechspot.com/blog/customize-devise-sing-in-and-sign-up-to-respond-in-json)

[2019-03-22 21:32] NikoRoberts commented on #5033
Also experiencing this with a custom form.

The patch on 4.6.0 was introduced for security from what I can tell so setting a password to blank would set the encrypted_password to nil because it was “expected” to do so and was a security risk not to.

As encrypted password is NOT NULL column, this isn’t the expected behaviour and I doubt ever was.

My understanding of the expected behaviour was tha

[2019-03-25 21:33] tegon commented on #5033
Hi everyone, sorry for the delay.

The original change was meant to keep the attributes in sync (`password` and `encrypted_password`) - which seemed to make sense - and also because they being different could cause a security breach.
But since we didn't know for now of a real exploit and this update is breaking so many existing applications, we decided to revert the original change.
If someday in

[2019-03-25 21:36] tegon commented on #5038
I'm closing this in favor of #5033.

TL;DR we're going to revert the change since like @tagCincy mentioned, there were no real use cases for this. We thought this would be a simple change but since it's causing so much trouble for existing applications, we're going to revert it.

Thanks.

[2019-03-25 21:36] #5038 closed

[2019-03-25 21:51] tegon commented on #4106
@remipou Can you open a new issue and include a sample application? That would help us find the problem.

[2019-03-26 06:28] remipou commented on #4106
@tegon i got it to work now:

`ldap_authenticable.rb`:
[code]

`devise.rb`:
[code]

without including the stategy in the model
`admin_user.rb`:
[code]

[2019-03-26 14:31] tegon commented on #4106
@remipou That seems good to me. Anyway, if you find any problems feel free to open a new issue.

Thanks!

[2019-03-26 14:37] #5033 closed

[2019-03-26 16:59] tegon commented on #5033
Released in version `4.6.2`. Please let us know if something is missing.

[2019-03-26 17:00] tegon commented on #5038
Released in version `4.6.2`. Please let us know if something is missing.

[2019-03-26 17:01] tegon commented on #5021
@erich-team Since this broke a lot of existing applications like yours, we decided to roll back the original change. If you want to return to the original behavior you can update to version `4.6.2`.

Thanks!

[2019-03-26 17:38] tegon commented on #4981
@dougo This change caused a lot of issues so we decided to roll it back, you can update to version `4.6.2` now in order to avoid this.

Since we follow SemVer here, updating two minor versions should not break anything. Of course, mistakes happen so we introduced a bug that broke some applications, but it's fixed now in version `4.6.2`.
Please let us know if there are any other issues when upgradi

[2019-03-26 19:08] tegon commented on #5047
Hi @pmichaeljones, thanks for reporting this.

I tried to reproduce the issue using a newly created application but I couldn't - I only received the confirmation email.
[email-changed-signup.zip](https://github.com/plataformatec/devise/files/3009890/email-changed-signup.zip)
I'm attaching the application I've used so that you can see if I'm missing something.

[2019-03-27 06:57] OpakAlex commented on #5033
Great works guys!
Really, what you can say to people who changed their application with your prev version?
Save God OSS.

[2019-03-27 08:06] NikoRoberts commented on #5033
Is that supposed to be sarcasm? (if yes, it isn't entirely clear. The internet is a very poor medium for sarcasm)

In the open source world having upstream dependencies without carefully assessing updates can be very dangerous.
Example: https://blog.cotten.io/hacking-node-js-may-i-have-this-repo-5c16bb6a0da7

Not to say that it isn't regrettable that you made a lot of changes because of that minor

[2019-03-27 08:08] OpakAlex commented on #5033
It's not a sarcasm man. Look around, it's real world not sarcasm.

Good to known about next major version thanks. Because to do work twice is shit.

[2019-03-27 09:19] pmichaeljones commented on #5047
Hi @tegon. So I have an after_create hook in my user.rb model. It adds some data to a column after a user signs up, but before they confirm. I think this might be causing the issue. I'm going to explore the Devise gem and find where the confirmation email gets sent. I have a feeling it's after the first after_update call perhaps?

[2019-03-27 09:25] NikoRoberts commented on #5033
I’m not a maintainer, so can’t say if the reason for the change was a real concern and if it will be addressed in the future. It was just mentioned in the PR to revert it that if this change did come back it would probably be part of a major release. Not a minor one.

In the economics world it is called “sunk costs”. If you do work and it gets thrown away, the cost is already paid so no use worryi

[2019-03-27 13:00] pmichaeljones commented on #5047
Here we go @tegon.

https://github.com/plataformatec/devise/blob/2e5b5fcd705b06c518ab0156b96badb91c4cb6ea/lib/devise/models/database_authenticatable.rb#L31

<img width="1057" alt="Screen Shot 2019-03-27 at 1 50 12 PM" src="https://user-images.githubusercontent.com/6728265/55077134-4c2fde00-5097-11e9-9388-490704853445.png">

Do you think it makes sense to do something like:

[code]

In our app, we

[2019-03-27 18:15] tegon commented on #5033
@OpakAlex You're asking what do to now if you already included the monkey patch in your application? If that's the case, I'd advise to remove it and update when you can. I say "when you can" because this will depend on your context. It might be more important for you to finish a feature and do this later but it's important to update later.

[2019-03-27 18:17] tegon commented on #5033
@NikoRoberts Yeah, that's correct. There are no guarantees that this will come back but if it does it will come in a major version and we'll do something to make the transition smoother, like emit deprecation warnings and write upgrade guides.

[2019-03-27 18:19] OpakAlex commented on #5033
@tegon maybe i am wrong, but fix application for gem version it's not monkey patch.
But if you say that prev gem version was incorrect this will be right, i did monkey patch. ;)

[2019-03-27 18:25] OpakAlex commented on #5033
Why you can not, you did wrong merge? It's more easy, and everybody will understand, prev version was wrong. it's normal.

[2019-03-27 18:30] mayordwells opened #5052 "Problem with devise_for method in the route file. Completed 500 Internal Server Error in fatal - exception reentered:"
## Environment

- Ruby **[2.6.2]**
- Rails **[6.0.0.beta3]**
- Devise **[4.6.2]**

## Current behavior
Problem with `devise_for` method in the route file
`devise_for :users, path_prefix: 'auth'`
I also have this application_controller
[code]
It goes into an infinite loop, the server doesn't shut down with ctrl + c, and I always had to kill the process.
<img width="949" alt="Screen Shot 2019-03-27

[2019-03-27 18:40] tegon commented on #5033
But if you say that prev gem version was incorrect this will be right, i did monkey patch. ;)

@OpakAlex By monkey patch, I meant custom code to change a library behavior that better fits an application. I just looked up at the example and this case it wasn't needed to open any of the Devise's classes so I guess it's not monkey patch.

I believe I explained the reasoning behind this on a comment [

[2019-03-27 21:46] feliperenan commented on #5052
Hi @mayordwells, thanks for the issue report.

Could you please provide us a sample application that reproduces the issue in isolation?

That would help us find the issue.

Thanks

[2019-03-27 22:03] mayordwells commented on #5052
Hi @feliperenan thanks for your response. I have just added you to a [repo](https://github.com/mayordwells/welds/invitations). You can test the 2 scenarios reported above in there. `dockerize-app` branch and `upgrade-to-rails-6`. The former works fine on Rails 5.2.2.

[2019-03-27 22:33] mracos commented on #5052
@mayordwells, I think it will be better if you provide us a sample application that we can download and test locally. So all of us can try to help you with this issue. 😄

[2019-03-27 22:39] mayordwells commented on #5052
@mracos I'm sorry, Problem is the application is not mine and I'd have to seek permission to make it public. Which I'm not sure I can. I can also add you to the repo if that is necessary?

[2019-03-28 12:32] mracos commented on #5052
@mayordwells Instead of trying to make your application public, try to do an application from scratch (think of a `rails new && rails g devise:install` plus code modifications) that reproduces the error you are facing.

It's better because we can debug the issue in isolation and everyone can chime in and help.

[2019-03-28 12:36] mayordwells commented on #5052
@mracos okay i'll do that

[2019-04-01 02:08] atstockland commented on #5052
I have a seemingly similar situation immediately after upgrading from 4.6.1 to 4.6.2.  Downgrading back to 4.6.1 clears this error.

NameError - uninitialized constant User:
  config/routes.rb:176:in `block in <main>'
  config/routes.rb:1:in `<main>'

2019-03-31 20:03:24 -0600: Read error: #<NameError: uninitialized constant ActionText::Engine::ApplicationController>

Line 176 in my routes file is

[2019-04-01 07:36] mayordwells commented on #5052
Oh great, now that I have someone to back me up on this, just tried to downgrade to 4.6.1 and 4.6.0 now, `devise_for` still didn't work with rails 6.0.0.beta3 and ruby 2.6.2.

Debugging further, I created a fresh project and installed only devise with it, I noticed that 6.0.0.beta3 and ruby 2.6.2 and devise 4.6.2 worked perfectly well on a fresh project.

But on copying the Gemfile from my project

[2019-04-01 13:22] mracos commented on #5052
@mayordwells Given that the problem does not see to be with devise itself, I will close this issue then.
If you find out that the problem is indeed with devise feel free to reopen it.
Thanks!

[2019-04-01 13:22] #5052 closed

[2019-04-01 13:22] atstockland commented on #5052
“just tried to downgrade to 4.6.1 and 4.6.0 now, devise_for still didn't work with rails 6.0.0.beta3 and ruby 2.6.2.”

Did you verify in gemfile.lock that devise actually downgraded?  Simply changing:

     gem 'devise', '~> 4.6', '>= 4.6.2'
      to
      gem 'devise', '~> 4.6', '>= 4.6.1’

will not downgrade devise.  In my haste, I made that mistake.  Use gem 'devise', '4.6.1’ to downgrade.

In

[2019-04-01 13:23] mracos commented on #5052
@atstockland Please open up a new issue with a sample application that reproduces your error, as it seems that they are different things. 😄

[2019-04-02 04:47] vishaltps opened #5053 "NoMethodError: undefined method `setup' for Devise:Module"
## Environment

- Ruby **[1.9.3p547]**
- Rails **[3.2.22.5]**
- Devise **[3.0.4]**

## Current behavior

When i try to run any rake or rails command, i am getting below error

## Expected behavior

Why i am getting this error. is this version issue of devise? I don't want to upgrade devise version as it will effect whole project.

Please help me to resolve this issue. Thanks in advance.

[2019-04-02 23:17] mracos commented on #5053
I tried to reproduce the error using [a fresh application](https://github.com/plataformatec/devise/files/3036219/app.zip) with the same versions that you provided but had no luck with it.

Ruby [1.9.3p547]
Rails [3.2.22.5]
Devise [3.0.4]

Could you please provide us a sample application that reproduces the issue in isolation?

Thanks.

[2019-04-03 13:07] vishaltps commented on #5053
@mracos Sorry but i can't provide source code. is there any other way to give you more information about this issue?

[2019-04-03 13:09] mracos commented on #5053
I'm not asking for source code @vishaltps 😅
More like a sample application that reproduces the error (think of a `rails new` and `rails g devise:install` plus code modifications that would reproduce the error)
Makes sense?

[2019-04-03 13:22] saiqulhaq commented on #5053
based on the source code https://github.com/plataformatec/devise/blob/d401147f68/lib/generators/templates/devise.rb

it should be fine

do you have 'devise' gem in your Gemfile?

[2019-04-03 13:54] saiqulhaq commented on #5037
Devise .travis.yml setting for rails 6 is

[code]

so it should be OK with responders

but the test doesn't pass
you can see this fror example https://travis-ci.org/plataformatec/devise/jobs/514901392

[2019-04-03 21:01] tegon commented on #5037
@saiqulhaq That's because Rails 6 beta 1 introduced a change in redirects that broke some of our specs. I started [updating](https://github.com/plataformatec/devise/compare/let-unsafe-redirect) them but it seems like they have rolled that change back.
Later I'll update our CI to get the latest beta and see if the tests are passing.

[2019-04-04 02:44] natetech333 opened #5056 "feature idea"
If a user has not confirmed there email address and they try to login, the system just redirects them to the sign in page. But I don't see a form or message that asks them to verify their email address. Should we add a feature that allows them to enter a verification code and prompts them for it if they keep trying to login into an unverified account?

[2019-04-04 06:54] #5053 closed

[2019-04-04 06:55] vishaltps commented on #5053
Sorry it was not issue of devise gem, it was issue of version related to bundler

[2019-04-05 13:51] tegon commented on #5056
Hi @natetech333, we do have that message already. What I suppose it might be happening in your case is that when a new Rails application is generated, by default the flash messages are not displayed in the page.
You have to manually include them, like this:
[code]
Then when you try to sign in the page will show the message:
<img width="1392" alt="Screen Shot 2019-04-05 at 10 41 18" src="https://us

[2019-04-05 13:51] #5056 closed

[2019-04-05 14:03] tegon commented on #4778
Hi @dfherr, do you have any updates on this?

[2019-04-05 20:04] alecge commented on #5033
I know this issue is closed but I figured this might help some others that might encounter a problem we had.  I'm not sure how our problem relates, but upgrading to the 4.6.2 release from 4.6.1 fixed it.

We have a `name` and `email` field for a user.  The `email` field is required and the `name` field is only required under certain circumstances. Upgrading to 4.6.1 caused this name field to be au

[2019-04-06 12:25] coryellcp commented on #2472
Thank you so much. Saved my morning. Commenting out 'devise_for :installs' worked.

[2019-04-11 09:59] pmichaeljones commented on #5047
Any thoughts on this @tegon?

[2019-04-12 04:23] NateGreat8 opened #5058 "devise/sessions/create"
I hit an error where the code wanted a devise/sessions/create view. So I added it. But it breaks the after_sign_in_path_for.

If I add the create view, it redirects 302 to sign_in path.

I step traced the stack. The after_sign_path_for does fire. But the path gets set to sign_in if that create view is in the devise/sessions directory.

[2019-04-12 13:50] feliperenan commented on #5058
Hi @starchild33, thanks for the issue report.

Could you please provide us a sample application that reproduces the issue in isolation?

That would help us find the issue.

[2019-04-17 10:15] hotsen commented on #4603
Since the issue still exists in 4.6.0, is there any kind of workaround if you're not using set_rack_session explicitly?

[2019-04-17 23:39] archonic commented on #4900
This issue is still present in 4.6.2. Was it intentionally merged into the 5-rc branch?

[2019-04-18 11:44] tegon commented on #4900
@archonic Yes - because this change does not preserve backwards compatibility.

We are going to release in version 5 though.

[2019-04-18 14:20] sechix opened #5060 "Error getting sign_in/signin route"
## Pre-check

It is not working with subdomains. My app not found routes for sign_in or signin with this code:

  constraints(Subdomain) do
    devise_for :users, path: '', path_names: { sign_in: 'signin', sign_out: 'signout' }, controllers: { :registrations => 'registrations', passwords: "passwords", sessions: "sessions", invitations: "invitations"}
end

I have to add this in order to get the sig

[2019-04-18 15:29] JohnnysRibeiro opened #5061 "Automatically signing in after signning out and redirect"
## Environment

- Ruby 2.5.1
- Rails 5.2.2
- Devise 4.5.0

Hello. I am overriding the create method in the session controller and my code looks like this.
[code]

and the twofactor_sys_admin_path redirects to this method
[code]
This works perfectly in local environment but in production environment it does not work. For some reason, between the logger.debug("POST REDIRECT") and  logger.debug("ARRI

[2019-04-18 19:14] JohnnysRibeiro commented on #5061
this is my log

[code]

For some reason it logs again and I need the sys admin not to be logged in at the "ARRIVED AT INDEX FOR GOOGLE AUTHENTICATOR" step

[2019-04-18 19:39] feliperenan commented on #5061
Hello @JohnnysRibeiro

if you don't want the user signed in at this point, why are you authenticating the user to sign out after? Could you just skip the authentication where you don't need it?

If for some reason you need to sign out the user in `index_sys_admin`, I think you can call the sign_out method directly there, I don't think that overriding the `create` method is a good idea.

I'm gonna

[2019-04-18 19:39] #5061 closed

[2019-04-22 17:16] feliperenan commented on #4778
I'm closing this issue because it had no recent activity.

If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2019-04-22 17:16] #4778 closed

[2019-04-22 21:28] tegon commented on #5047
Sorry @pmichaeljones it's been really busy at work lately, I wasn't able to do much open source 😞

I'll try to get back to you this week.

[2019-04-23 12:53] pmichaeljones commented on #5047
Tudo bom @tegon. Sem pressa. It's not that important of an issue. Just kind of a weird edge case that could potentially be fixed. I can offer up a PR if you'd like.

[2019-04-24 14:46] tegon commented on #5047
Yeah, I just wanted to understand exactly what's happening before thinking of a solution. It seems weird to me that the `email_changed?` method returns true since your code only updated the `tracking_code` column.

[2019-04-25 10:03] shanehofstetter opened #5064 "Deprecation warning in Rails 6.0.0.rc1 for email uniqueness validation"
## Environment

- Ruby 2.5.3
- Rails 6.0.0.rc1
- Devise 4.6.2

## Current behavior

[code]

## Expected behavior
No deprecation warning

## Possible solution

Since case_sensitive seems to be an option since rails 5 this could be added without breaking backwards compatibility:
[code]

[2019-04-25 20:57] tegon commented on #5064
Hello @shanehofstetter, thanks for reporting this.

Yeah, that seems like a good solution. Do you want to open a pull request for this or should I assign it for someone else?

[2019-04-25 23:08] mracos commented on #5060
Hi! Thanks for the issue report.

Could you please provide us a sample application or a clear set of steps that we would have to do that reproduces the issue in isolation?
That would help us find the issue.

Thanks.

[2019-04-25 23:26] sechix commented on #5060
Finally I solved. It was an app problem. Thanks

[2019-04-25 23:26] #5060 closed

[2019-04-26 00:01] mracos commented on #5060
Awesome! Thx. 😄

[2019-04-26 11:23] Vasfed commented on #5064
Opened a PR for this: https://github.com/plataformatec/devise/pull/5065

[2019-05-02 07:27] shobhitic opened #5066 "Devise doesn't use scoped errors for scoped views"
## Environment

- Ruby 2.6.2p47
- Rails 5.2.2.1
- Devise 4.6.1

## Current behavior

When I generate views for a `user` resource, they have the errors rendered as

[code]

in place of the

[code]

as is the case with shared links.

## Expected behavior

Views should use the scoped view to render errors, changing all

[code]

to

[code]

for a user resource.

[2019-05-02 07:31] shobhitic commented on #5066
I've pinpointed the problem, and fixed it, can someone tell me how to test the changes?

[2019-05-02 17:00] micodel opened #5068 "Issues /w Wiki Pages?"
It seems there is something going on with the Wiki pages.

Many of them are blank and publicly editable.

These are pages that other resources reference and link to, so I assume they had content at one point.

[2019-05-03 07:13] shlima commented on #1230
@lalit-nga your solution does not cover `confirmable`, `lockable` and similar modules.

The correct way for doing this in my mind the following:

[code]

[2019-05-03 07:44] dhoangk07 commented on #4904
Thanks @ghoshnirmalya

[2019-05-03 20:18] igorkasyanchuk opened #5070 "Incorrect redirect URL in Rails 6rc1"
## Pre-check

I'm trying to run my existing app with Rails 6 RC1. And I found that in specs I'm receiving a strange redirect url. I'm using I18n also, and defaults option for locale. I see that locale is included in URL 2 times.

## Environment

- Ruby 2.6
- Rails 6.0.0.RC1
- Devise "master" and 4.6.2

## Current behavior

This is failed test:

[code]

With Rails 5.2 everything was fine.

## Expec

[2019-05-03 23:50] tikh commented on #4230
You need to use `user_ facebook_omniauth_authorize_path` after upgrading Devise. See `rake routes`.

[2019-05-04 00:12] ajsharp opened #5071 "Confirmable should generate a token if confirmation_token is currently an empty string"
## Environment

- Ruby 2.5.5p157
- Rails 5.2.3
- Devise 4.6.1

## Current behavior

Currently, when using the confirmable module, devise only checks if the `confirmation_token` field not nil. If it's nil, it will generate a confirmation token for you; if it's not, it won't. However, it can be set to an empty string, which should not be allowed, as it presents a security issue, allowing someone pas

[2019-05-04 17:41] #5064 closed

[2019-05-04 17:56] mracos commented on #5068
Hi @micodel, thanks for the issue!

The wiki is maintained by the community. It usually contains articles and instructions that worked for someone in the past, and they decided to share with the community - since it might be useful for other people too. That being said, we don't review any of the articles.

The [wiki system keeps its history](https://help.github.com/en/articles/viewing-a-wikis-his

[2019-05-04 17:56] #5068 closed

[2019-05-04 18:31] mracos commented on #5058
I'm closing this issue because it had no recent activity.

If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2019-05-04 18:31] #5058 closed

[2019-05-04 18:57] connorshea commented on #4573
I had this problem when using the registrations#edit form in a custom settings view.

I ended up replacing the `update` path in my registrations controller with, essentially, [the code from the devise repo](https://github.com/plataformatec/devise/blob/07f2712a22aa05b8da61c85307b80a3bd2ed6c4c/app/controllers/devise/registrations_controller.rb#L43-L62) instead of calling `super`.

Before:

[code]

A

[2019-05-05 20:59] saydulk commented on #3291
I added that code into will_paginate.rb file still not work
![Screenshot from 2019-05-06 02-58-52](https://user-images.githubusercontent.com/1058663/57200211-e6dedf00-6faa-11e9-948e-7af622178456.png)

![Screenshot from 2019-05-06 02-58-17](https://user-images.githubusercontent.com/1058663/57200207-cf9ff180-6faa-11e9-8b7b-2bf78cea3354.png)

[2019-05-07 00:03] #5070 closed

[2019-05-08 15:07] cyu commented on #3758
I ran into this issue specifically with the `:invalid` key.  In my case the issue was not with the translation files themselves, but there was another error key that also generate the same message as `:invalid`.  In my particular case `:not_found_in_database` - this key will be used instead of `:invalid` under certain circumstances.

This key was added in 4.5.0, so this can happen to anyone upgrad

[2019-05-13 16:03] phlegx opened #5075 "Current user lost using ajax with cookie credentials."
## Environment

- Ruby **2.6.2**
- Rails **5.2.3**
- Devise **4.6.1**

## Current behavior

I use [axios](https://github.com/axios/axios) to login with ajax. After successful login I start a GET call with cookie credentials to a method that access `current_user`. But `current_user` is still `nil`.

After add some debugging code I see that the cookie is set in the request but devise cannot authenti

[2019-05-13 16:28] phlegx commented on #5075
**Solved!**

If the same happens to you, check devise config first:

[code]

[2019-05-13 16:28] #5075 closed

[2019-05-13 20:21] rmorlok commented on #4439
Please add my name to the list as well. We are building a multi-tenant SaaS application, and as part of enterprise security requirements, each business customer's IT security typically has rules about what they want to see in terms of password complexity, failed login attempts, session timeout, etc. Rather than forcing everyone to the most strict requirements, we'd like to be able to delegate the

[2019-05-14 16:49] esaborit4code opened #5076 "Redirecting to wrong path on authenticate_user! when root path is defined within a scope"
## Environment

- Ruby **2.4.6**
- Rails **4.2.11.1**
- Devise **4.6.2**

## Current behavior

Having this in `routes.rb`:
[code]

And this in `dummy_controller.rb`:
[code]

If I visit `/some-scope/dummy-action` I get redirected to `/some-scope/some-scope/users/sign_in`. Note the double `/some-scope` in the path.

## Expected behavior

Visiting `/some-scope/dummy` should redirect to `/some-scope/u

[2019-05-14 16:55] esaborit4code commented on #5076
I've been digging and the behaviour seems to be introduced in https://github.com/plataformatec/devise/pull/4700 by assigning the `root_path` as `opts[:script_name]` in [failure_app.rb#L158](https://github.com/plataformatec/devise/blob/v4.6.2/lib/devise/failure_app.rb#L158).

Maybe https://github.com/plataformatec/devise/issues/5019 is also related to this.

Meanwhile, a workaround could be to [set

[2019-05-15 04:18] kevinhq commented on #4467
I had the same error but it's not always happening, and only happened on development. Restarting the server fixed it.

[2019-05-17 13:04] twistedjoe opened #5077 "Rails 6.0.0.rc1 breaks layout proc set in intializer"
## Environment

- Ruby 2.6.2
- Rails Rails 6.0.0.rc1
- Devise 4.6.2 and 4.6.1

I got this in my initializers:

[code]

On Rails 6.0.0.beta3 and prior this was working just fine. Rendering with the `subpages` layout and the `public_pages` layout when logged out.

Since 6.0.0.rc1 the proc does not seem to be executed at all.
I added a print  to the proc. I see it in beta3 but not rc1

## Current beh

[2019-05-17 13:45] twistedjoe commented on #5077
Setting the layout like this

[code]
in the application controller still seems to work in 6.0.0.rc1

[2019-05-20 20:10] ueharajohji commented on #3031
Hi @fatosmorina , I tried the solution you posted but whenever I log out I still can't go to the login page.

[2019-05-21 01:03] ueharajohji opened #5078 "I tried the solution you posted but whenever I log out I still can't go to the login page."
Hi @fatosmorina , I tried the solution you posted but whenever I log out I still can't go to the login page.

_Originally posted by @ueharajohji in https://github.com/plataformatec/devise/issues/3031#issuecomment-494133055_

[2019-05-21 08:35] Samemura opened #5079 "Params for Mailer (Rails 5.2 ~)"
## Environment

- Ruby 2.6.2
- Rails 5.2.2.1
- Devise 4.6.1

## Current behavior

Since rails 5.2, ActionMailer::Base can use params method to be commonize normal controller. https://edgeguides.rubyonrails.org/action_mailer_basics.html#mailers-are-similar-to-controllers

It is also good for mailer preview to switch locale so I think it would be used in Devise gem as well.

Do we have a plan to imp

[2019-05-21 20:50] artur-beljajev opened #5080 "Unable to provide model-specific `already_authenticated` i18n key"
[code]

The latter with empty string is merely ignored. I wonder if it is a bug. If it's not, I find it useful to make it work in the same way as `sessions` key (https://github.com/plataformatec/devise#i18n).

[2019-05-23 14:34] mainangethe commented on #3663
@andrescanales
My app doesn't touch the devise registration controllers.
Created a unique users_controller (versioned -api/v1 and scoped to only show api, version handled in the headers).
In my users_controller. It has a private user_params that has the :user etc.. like below
[code]
routes code - I saw someone say the issue just involved the routes. So I moved my devise links also to be under the

[2019-05-24 10:10] a-barbieri commented on #5076
Hi @esaborit4code, my guess is that [this line](https://github.com/a-barbieri/devise/blob/f271f7636ec8a9da784287bfc0b27fa67589b75e/lib/devise/failure_app.rb#L152) doesn't take into account having a root scoped.

[code]

I cannot test it (don't have time at the moment), but if you have overridden `scope_url` method can you tell me if your application gets through that line?

[2019-05-24 13:56] esaborit4code commented on #5076
Hey @a-barbieri.

Since I overwrote the `scope_url` method, it obviously doesn't get through the line you mention.
Maybe I didn't understand your question.

Just in case it helps, here's the code from my `CustomDeviseFailureApp`. The `scope_url` definition is recovered from [Devise 4.5.0](https://github.com/plataformatec/devise/blob/v4.5.0/lib/devise/failure_app.rb#L136-L159).
[code]

[2019-05-24 14:17] a-barbieri commented on #5076
Now I clearly get what is happening. It's precisely that line that brakes your application.

The PR I made was solving an issue happening when you add Devise as a dependency of a [Rails Engine](https://guides.rubyonrails.org/engines.html).

When you mount an engine on your `routes.rb` you use something like that:

[code]

Before that PR Devise was ignoring the scope in which the engine was mounted

[2019-05-24 14:41] esaborit4code commented on #5076
`defined? context.routes` returned `"method"`.

[2019-05-24 18:07] a-barbieri commented on #5076
Ok, it’s a truthy value. And can you tell me what the following line returns?

relative_url_root?

A B

Il giorno 24 mag 2019, alle ore 16:42, Edu Saborit <notifications@github.com> ha scritto:

[2019-05-25 14:56] kinsbrunner opened #5082 "Override error message for API"
Hi,

I am working on an API which is consumed by another technology. When creating an entity, I am using the create! which triggers an exception under failure and I am returning an array with all the error and parse it as desired on the screen.

However, I have overridden the registration controller as I need to use a Transaction block and create another entity prior to the User. When the other en

[2019-05-27 14:40] esaborit4code commented on #5076
It returned `false`.

[2019-05-27 14:49] a-barbieri commented on #5076
Perfect. That means you are hitting the following line:

[code]

Now to fix this issue we should find out how to target Rails Engines and avoid including scoped routes like yours.

Honestly I don't have a clue, but I will investigate more in the next days.

[2019-05-28 06:04] a-barbieri commented on #5076
I've been digging a bit, but I haven't had the time to test anything at the moment.

Anyway this is what I've found:

### Rails Engines don't have `relative_root_path`

The whole problem is caused by Engines not having a `relative_root_path`. They know about it, we might ask if they can fix this and avoid patching Devise once again. I might actually raise a issue in the next few days.

See here th

[2019-05-30 05:53] Uysim commented on #4993
@nhatdt-1507  did found the solution?

[2019-06-04 02:32] akeuk commented on #4842
I've the same problem.

I just run `rails generate devise:views` only.

Custom mailer views is rendered correctly.

But they not render  after convert from ERB to HAML.

### Environment

- Ruby 2.6.3
- Rails 5.2.3
- Devise 4.6.2

[2019-06-04 16:23] chagar commented on #5037
Any idea when devise will support Rails 6? devise.gemspec strictly depends on railties < 6.0

[2019-06-05 15:28] phillipspc opened #5084 "Can no longer set authenticated and unauthenticated root paths in Rails 6"
The following code worked properly for me running
Ruby 2.5.1
Rails 5.2.2.1
Devise 4.6.2

[code]

However, after upgrading to Rails 6.0.0.rc1 and Ruby 2.6.3 I get the following error:
`Invalid route name, already in use: 'root'  (ArgumentError)`

This would appear related to a change discussed [here](https://github.com/rails/rails/issues/34854)

If this is no longer valid routing syntax in Rails 6,

[2019-06-07 21:23] hayesr commented on #5084
I just ran into this too. I got things going again with this answer: https://github.com/rails/rails/issues/34854#issuecomment-451512232

So I have something along these lines:

[code]

[2019-06-08 16:25] elliotlarson commented on #3889
Just tried to reach for this method and realized it was protected.  It would be great if this were public.  I'd like to display a message to the user if they haven't confirmed an email update and the expiration period for confirming hasn't expired.

[2019-06-10 16:49] phillipspc commented on #5084
@hayesr thanks for the reply. So in my case, instead of two different authenticated roots, I'm trying to do an authenticated one, and an unauthenticated one. You happen to have any idea how to do this?
(feel like I need an `unauthenticated` option or something)

[2019-06-12 02:54] GuanglinDu commented on #2734
I ran across this problem after I switched back and forth between the development and production environment on the same machine with browser Firefox. The 2 data sets are quite different. It took me 2 days to find out that it was caused by the Firefox cache. After the cache was cleared, Rails (4.2.11.1 & Ruby 2.2.5) functions properly. The lesson learned: never mix up  the development and producti

[2019-06-12 20:13] shobhitic commented on #5066
I've submitted a PR a month ago. Can someone please review it so it can be merged?

[2019-06-12 20:14] rafaelfranca commented on #5084
You will need to name one of the routes because Rails doesn't allow two routes with the same name anymore. I'm closing this issue since it is not a devise issue. Thank you.

[2019-06-12 20:14] #5084 closed

[2019-06-12 20:18] rafaelfranca commented on #5079
Thank you for the issue. The devise mailer will not take advantage of the parameterized mailer because it has many different methods on the mailer that don't share the same parameters. Thank you for the suggestion.

[2019-06-12 20:18] #5079 closed

[2019-06-12 20:21] rafaelfranca commented on #5077
This is hardly an issue on devise given that method is a Rails method. Can you create an application reproducing the problem and open an issue on Rails. Thank you.

[2019-06-12 20:21] #5077 closed

[2019-06-15 15:22] aravindaytha12 commented on #5017
# How to handle email validation in User creation
# I am using multiple providers(google, facebook)

def self.from_omniauth(auth)
	user = User.where(provider: auth.provider, email: auth.info.email).first
	user ||= User.create!(provider: auth.provider, uid: auth.uid, name: auth.info.name, email: auth.info.email, password: Devise.friendly_token[0,20])
	user
end

[2019-06-15 18:02] krtschmr commented on #5017
set the duplication constraint over `[:email, :provider]` rather than just having unique `:email`

[2019-06-18 16:42] Sanra9 commented on #1619
I have got same issue, i wouldn't like that user isn't sign in when he makes sign up, i'm using confirm token with gmail, so i would like that user has to go into his email and to make click in confirm link and then that user can make sign in.

[2019-06-18 17:32] tegon commented on #5066
@shobhitic Sorry about that, I was not able to review it yet but I'll try to do it soon.

[2019-06-18 17:49] #5037 closed

[2019-06-18 23:44] mracos commented on #5082
Hi @kinsbrunner,

Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

Thank you!

[2019-06-18 23:44] #5082 closed

[2019-06-18 23:59] mracos commented on #5078
I don't think I got what is the issue that you are facing.

If you could please open a new issue with some code explaining what you're trying to achieve and more info I think it would help me understand what is that you are trying to achieve.

Thanks!

[2019-06-18 23:59] #5078 closed

[2019-06-26 18:32] zerbinidamata opened #5090 "Recover password PUT problem"
Hi guys,

I have a problem in the recover password form, whose link is sent by e-mail. When I define a new password, the form is sending a POST request, instead of a PUT. It's redirecting to user/password# with 'Email can't be blank' notice.

So, edit.html.erb has method: : put, but it isn't working.
`<%= form_for(resource, as: resource_name, url: user_password_path(resource_name), html: { method:

[2019-06-27 15:19] clst commented on #2734
I also came across this problem. After verifying that it worked fine on all other machines I tried it I got suspicious.

Turns out Server 2016's Internet Explorer needs to have the Rails site added to "Trusted Sites" then it magically starts working. I have not investigated further.

[2019-06-28 13:21] rubyrider commented on #5090
You are asking irrelevant question here. Please submit only devise specific question.

Rewrite this to:

[code]

[2019-07-01 14:13] zerbinidamata commented on #5090
Sorry for asking here, i saw the issue #2163 that was from 2013 and had the exact same problem, but there's no fix there.

I followed the example file `edit.html.erb` and got the error. Rewriting didn't helped either.

[2019-07-02 11:16] chrisokamoto commented on #4542
I am still face problem with mthis.. I am using
- rails 5.1.7
- devise 4.6.2
- activerecord 5.1.7
- mongoid 6.1.0

I need both mongoid and activerecord on my system.. the User class uses mongoid and has a field called email. Everything was working perfectly on rails 5.0 but since I updated Rails to 5.1.7 I get this message `undefined method `will_save_change_to_email?'`. I tried doind what it was

[2019-07-09 05:18] sikandartariq1 opened #5093 "update_without_password always updating encrypted_password"
## Environment

- Ruby **2.5.0**
- Rails **5.2.0**
- Devise **4.6.2**

## Current behavior
`update_without_password` still updating `encrypted_password`
`User.find_by(email: 'sikandartariq1@gmail.com').update_without_password(zipcode: 3008)`
<img width="1280" alt="Screenshot 2019-07-09 at 10 16 35 AM" src="https://user-images.githubusercontent.com/29854616/60861104-a877d180-a232-11e9-8707-e004ae7f

[2019-07-09 06:33] #5093 closed

[2019-07-09 19:52] xhocquet commented on #4767
Hey @tegon . My coworker @flynfish had a need for this patch and opened a PR with tests. Would love to see it reviewed and this issue close out: #5094 Cheers!

[2019-07-10 01:54] trendwithin opened #5095 "Rails 6: Devise Testing w/ Fixtures Broken?"
- Ruby **2.5.0**
- Rails **Rails 6.0.0.rc1**
- Devise **'devise', '~> 4.6', '>= 4.6.**

Devise Sign In Test that worked previously in test suites using Rails 5 are currently breaking using Rails 6.

fixtures.yml
`user_vic: email: vic@theshield.net`
 `  encrypted_password: <%= Devise::Encryptor.digest(User, 'password') %`

## Integration Test
[code]

## Expected behavior
Expecting a Devise redirect

[2019-07-10 14:59] davidkrider opened #5096 "Steam-like 2FA"
I know I'm asking for help here, and this is discouraged, but I tried StackOverflow, and can't get a nibble. Current project management would like to configure Devise for an email-based 2FA, like Steam and lots of banks do, with an emailed code. It seems to me that the same sort of thing could be accomplished by having Devise send out a confirmation on every login, but so far, in my own experiment

[2019-07-10 15:20] jasnow commented on #5096
Maybe: https://github.com/plataformatec/devise/wiki/Extensions and search for "factor"

[2019-07-10 20:22] davidkrider commented on #5096
I had found devise-two-factor, which only seems to support 3rd-party stuff, like Google authenticator. I missed two_factor_authentication, which turned out to be exactly what I needed! Thanks very much!

[2019-07-10 20:22] #5096 closed

[2019-07-10 22:06] alejomongua opened #5097 "sign_in in controllers helpers not working"
## Environment

- Ruby 2.6.3
- Rails 5.2.3
- Devise 4.6.2

## Current behavior

When I try the simplest example of sign_in test in a controller's test

[code]

It throws this error:

[code]

I can see than @request is nil and this causes the problem

## Expected behavior

It should simulate the user's login

[2019-07-11 03:03] wesgarrison commented on #4630
Future searchers, here is how to use the `3-stable` branch in your `Gemfile`:

`gem 'devise', git: 'https://github.com/plataformatec/devise' , branch: '3-stable'`

This works for me on ruby 2.5 and rails 4.2.11.1 .

[2019-07-11 06:22] zia-mking commented on #195
Link not working

[2019-07-11 07:40] krtschmr commented on #4951
had a problem today. `sessions#create` . if i call `current_user` i have a logged in user.
meh, that's really bad.

[2019-07-15 12:00] ravistm commented on #2518
You gotto add it like this to make logout work in mobile devices also:
`devise_scope :user do
    get "login", :to => "users/sessions#new"
    get '/logout' => 'users/sessions#destroy'
  end`

[2019-07-15 21:58] thbar commented on #3935
@ianformanek I'm debugging a similar issue (using `Net::SSH::Gateway` and `pg`). Did you find a way to make this work directly with a Ruby gateway, or did you have to use a command line instead?

(sorry to ask - it's not a devise trouble, but this problem is a bit exotic, so I thought I'd ask here!)

[2019-07-16 02:35] rafaelfranca commented on #5095
Can you provide an example application that reproduce the issue?

[2019-07-16 05:40] emersonthis commented on #4947
I was about to open an issue proposing documentation for (Rails) API mode, but I just stumbled onto this thread first.

I've been using Devise to authenticate my API app that has a React front end. Aside from a couple of the "gotchas" mentioned above, it seems to work pretty well right out of the box. I started looking into this because I seem to keep having to re-authenticate on mobile safari, bu

[2019-07-16 10:05] ianformanek commented on #3935
@thbar Unfortunately I do not have more insight as we ended up using a different approach and externalised the ssh tunnelling into a separate service.

[2019-07-16 18:33] trendwithin commented on #5095
App I'm currently working on [GitRepo Blocks](https://github.com/trendwithin/blocks)

I commented out the redirect so this will need to be uncommented before running: `rails test test/integration/users/user_sign_in_test.rb`

I have the system test commented out as well since it breaks so those will need to be removed before running `rails test test/system/users/user_sign_in_test.rb`  I just ran th

[2019-07-16 19:52] trendwithin commented on #5097
@alejomongua There was a change in approach to controller testing between Rails 4 and Rails 5. First paragraph under 'Controller tests' notes that for Rails 5 use: `include Devise::Test::IntegrationHelpers`

[2019-07-18 00:35] tbhockey opened #5101 "401 Unauthorized when using environment variables in devise omniauth config"
## Environment

- Ruby '2.6.3'
- Rails '5.2.3'
- Devise 4.6.2

## Current behavior

When setting the `devise.rb` config omniauth solution using ENV variables, I have run into unexpected behavior. Specifically when specifying a scope, like so:

[code]
*SOME* users are unable to be authenticated with this config; returning `{"code": 0, "message": "401: Unauthorized"}` (https://github.com/adaoraul/om

[2019-07-22 10:27] vigneshb17 opened #5102 "The user is logged out frequently"
## Pre-check
devise /session.rb
def destroy
          signed_out = (Devise.sign_out_all_scopes ? sign_out : sign_out(resource_name))
          set_flash_message! :notice, :signed_out if signed_out
          yield if block_given?
          respond_to_on_destroy
        end

## Environment

- Ruby  2.4.3
- Rails  5.1.4
- Devise 4.3.0

## Current behavior

It is working finely in development . But in

[2019-07-22 10:49] #5102 closed

[2019-07-22 12:48] shobhitic commented on #5066
@tegon can you please go through the review if you have time now? There's about 10 lines of changes!

[2019-07-24 22:56] efojs opened #5103 "Relation "users" does not exist — Rails 6.1"
### Environment
- Ruby **ruby-2.5.5**
- Rails **6.1.0.alpha (b1c27c0)**
- Devise **master branch**

### Steps to reproduce
- Build new app
- Add Devise — **is it on Devise side or it's something in my code?**
- Add User model
- Having no references in code to User model, deploy to Heroku (Heroku with Postgres DB)

### Expected behavior
Should be deployed without error

### Actual behavior
Trying t

[2019-07-25 00:25] efojs commented on #5103
I thought something in my routes.rb is causing it.
Removed customisation and left only `devise_for :users` — same error.

[2019-07-25 21:10] efojs commented on #5103
Turned out to be problem with scoping in User model: https://www.reddit.com/r/rails/comments/chtk5l/model_scopes_and_db_tables/

[2019-07-25 21:10] #5103 closed

[2019-07-26 16:23] efojs opened #5104 "Scopes starting with ":find_by_" crash app before creating DB"
I've ran into it few days ago(#5103) and [found workaround](https://www.reddit.com/r/rails/comments/chtk5l/model_scopes_and_db_tables/) (=> create table and only then declare scopes).

But now, after some feedback on Reddit, I dug that problem is in **specific scope naming in devise-generated/connected models.**

## Environment
- Ruby **2.5.5**
- Rails **6.1.0.alpha**
- Devise **master branch**

#

[2019-07-31 10:19] YassineDM opened #5105 "Sign in and out a user in Request type specs tuto not working anymore when integrating OmniAuth into Rails API"
## Environment

- Ruby 2.6.2
- Rails 6.0.0.rc2
- Devise 4.6.2

## Current behavior

Il followed proposed [tuto](https://github.com/plataformatec/devise/wiki/How-To:-sign-in-and-out-a-user-in-Request-type-specs-(specs-tagged-with-type:-:request)) to sign in and out a user in Request type specs and it worked fine. It introduces this sign_in method:
[code]

But as I am trying integrating OmniAuth int

[2019-08-01 14:28] tegon commented on #4947
@emersonthis Throughout history, it seems like patches were accepted to fix some of those gotchas but there was never a big effort to really support the API mode. That's why I say it's not officially supported. I really don't know the existing limitations and issues with applications that use the library in that way. However, since there were patches accepted in the past to make the life of those

[2019-08-01 16:22] tegon commented on #5090
I'm closing this issue since there's already a question on Stack Overflow.

[2019-08-01 16:22] #5090 closed

[2019-08-01 16:37] kirykr commented on #4570
For `gem 'jquery-rails',             '~> 4.3', '>= 4.3.5'`
[code]

[2019-08-01 16:38] tegon commented on #4542
@chrisokamoto Unfortunately, I haven't been able to dig deep into this yet. I'll try to do it soon.

[2019-08-01 17:43] tegon commented on #5095
@trendwithin I took a look at your application and the tests fail because of two things:

1 - In the fixtures file, you forgot to close the ERB tag with `>`, so the password hash was being generated with the literal "<%= Devise::Encryptor.digest(User, 'password') %" string.
2 - The integration test is using the `sign_in` helper, which mimics that behavior to make it easier to write tests that need

[2019-08-01 17:45] tegon commented on #5097
That's correct, the tests should use `Devise::Test::IntegrationHelpers` now.

[2019-08-01 17:45] #5097 closed

[2019-08-01 17:53] tegon commented on #5101
Hi @tbhockey, thanks for your report.

I don't know how we could be doing something that would cause this. Something that I would try first to use `ENV#fetch` instead of `ENV#[]` to fail fast when the variables are not available.
Also, can you tell how you set your environment variables?

[2019-08-01 17:58] tbhockey commented on #5101
@tegon in development i am loading them on boot in `application.rb` from a `local_env.yml` file.

[code]

I will try using `fetch` as you suggest when I have some time. Thank you.

[2019-08-01 18:23] tegon commented on #5101
Ok, I'll wait on your response on `fetch`.
I've never seen this way of loading environment variables, usually, they are set on the server or using a Gem like https://github.com/bkeepers/dotenv

[2019-08-01 18:25] tbhockey commented on #5101
Well on production server (heroku) they are simply added to heroku's env config. And i'm just averse to adding dependencies for simple things :)

[2019-08-01 18:51] tegon commented on #5104
That's odd, I did the first step (uncomment the scope in `shirt.rb`) and things broke right the way:
<img width="982" alt="Screen Shot 2019-08-01 at 15 36 03" src="https://user-images.githubusercontent.com/3727827/62318507-5f522080-b472-11e9-9bf4-32899d336d64.png">

My guess is that by using `find_by` Rails thinks that the method is a dynamic finder (like `find_by_name` but it doesn't know whether

[2019-08-01 18:51] #5104 closed

[2019-08-01 18:55] tegon commented on #5105
Hello @YassineDM, thanks for your report.

The wiki is maintained by the community. So if there aren't any up to date instructions, we recommend you to explore the solution yourself and hopefully contribute your findings back.

You shouldn't need to define the `sign_in` method, using the `Devise::Test::IntegrationHelpers` module should be enough.

Thank you!

[2019-08-01 18:55] #5105 closed

[2019-08-01 18:57] #5095 closed

[2019-08-01 19:14] alejomongua commented on #5097
Ok, I see.

I this information should be updated on README,md and on the wiki.

Thank you

[2019-08-01 19:27] efojs commented on #5104
It's odd. I remember that I read somewhere that `find_by_...` and `find_by_...!` were deprecated.
But now all I can find is that it's clearly said in docs that these are [dynamic methods](https://edgeguides.rubyonrails.org/active_record_querying.html#dynamic-finders):

Excuse me for wasting your time. Thank you. My bad.

[2019-08-01 19:31] tegon commented on #5104
No problem, I also thought they were removed, but it seems like they're still there, although they're deprecated.

[2019-08-01 20:25] tegon commented on #5034
Hi @Medvezo, thanks for bringing this up.

I agree with you that is important to include text versions of the emails, but do you think we need to send **only** them, without the HTML versions?

By reading the references you pointed out, all of them say that it is safe to send both, as long as the text and links are similar to HTML version. I've also worked on applications that did something simili

[2019-08-01 20:56] tegon commented on #5080
Hi @artur-beljajev, thanks for reporting this.

It seems like it's a bug. Inside `app/controllers/devise_controller.rb`, the `flash` accessor is being called directly instead of the `#set_flash_message` helper, which looks for a [resource-specific](https://github.com/plataformatec/devise/blob/master/app/controllers/devise_controller.rb#L187) translation key.

It should work if we change it to use

[2019-08-01 21:53] trendwithin commented on #5095
For the life of me I did not even see that and I stared at it for a long time.  Thanks.

[2019-08-02 14:27] tegon commented on #4767
@xhocquet @flynfish thanks, I've added it to my last and will review it when I can. Sorry for the delay.

[2019-08-02 14:43] YassineDM commented on #5105
Hi @tegon, thank you for your answer.
I found a solution to my problem thanks to @mrstif in this [issue](https://github.com/plataformatec/devise/issues/4696). By the way, I noticed that you already exchanged with him on the matter...
Here is his answer for the record:

Also, you're right, I didn't need to define the sign_in method, using the Devise::Test::IntegrationHelpers module was indeed enoug

[2019-08-02 15:56] emersonthis commented on #4947
Sounds like we basically want to incorporate what you said above into the docs. If I understood correctly, the key points would be:

* The library _might_ work in API mode, but we're not entirely sure...
* The primary focus is form-based authentication using cookies
* There's other libraries out there that add support for tokens, etc... which might make more sense for an API project

Does that sou

[2019-08-02 18:56] tegon commented on #4947
@emersonthis Yep, that sounds good!

[2019-08-02 19:38] colinross commented on #4947
Not to be overly pedantic here, but I feel that support for API mode _is_ there in the sense that a vanilla Rails app running in api-mode with Devise loaded should not conflict with each others functionality. That is not that same as out-of-the-box support for directly using Devise as the authentication layer for your API, as I think it is a slippery slope for Devise to dictate API-authentication

[2019-08-02 20:47] emersonthis commented on #4947
@Colin I understand the nuanced point you’re making. And I agree it’s important to be clear about the fact that nothing will explode if you run the library in API mode. But I think we want to also balance that with clarity around the fact that we’re not really trying to offer a solution for API authentication. (Like you said, there are other gems that exist to add that layer)

My instinct is to er

[2019-08-05 08:37] chrisokamoto commented on #4542
setting this 3 aliases "solved" the problem for me for now:

[2019-08-05 19:08] FantasticJimmy opened #5108 "BLACKLIST_FOR_SERIALIZATION list should appear in the README file"
## Environment

- Ruby 2.5.3
- Rails 5.3
- Devise 4.5.0

## Current behavior

If devise is amounted along with a Modal say "User" , the devise will bring in additional helpers i.e. current_user which scan through the instance fields and serialize each of the field except for the BLACKLIST_FOR_SERIALIZATION in authenticatable.rb

A bug happens where Devise working along with ActsAsTaggableOn gem th

[2019-08-06 03:42] colinross commented on #4947
Devise does not, nor does it intend to, directly support API-centric
strategies such as token-based authentication or the use of JWTs.  That
said, the library should be compatible with Rails 'API' mode and direct
issues (not related to unsupported strategies) should be reported as bugs.

On Fri, Aug 2, 2019 at 1:48 PM emersonthis <notifications@github.com> wrote:

[2019-08-07 08:51] sanemat commented on #2386
devise 4.6.2 shows `user_blahblah_omniauth_authorize	GET|POST	/users/auth/blahblah(.:format)	users/omniauth_callbacks#passthru`

[2019-08-08 09:43] Onuapaye commented on #4842
In my case, I had a similar issue where `layout 'my/layout/file/here` worked but `default template_path: 'my/template/source'` did not work.
I solved it by setting the `config.scoped_views = true`

[2019-08-08 14:19] nitinjain-kiwi opened #5110 "How to pass http status code with fail!"
## Pre-check

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- If you found a security bug, do not report it through GitHub. Please send an e-mail to opensource@plataformatec.com.br instead.
- Finally, be nice and have fun!

## Environment

- Ruby **[version]**
- Rails **[version]**
- Devise **[

[2019-08-08 20:32] akshay-soni commented on #4056
@yogeshjain999
You could try setting `expire_at` option in `Rails.application.config.session_store`.
iOS safari does not save a session cookie on the persistent storage if there is no expiry date. iOS resets in-app cookies after 24hours and which lead to deletion of those which are without the expiry

[2019-08-09 11:58] tegon commented on #5110
You need to give us more information on how to reproduce this issue, otherwise, there is nothing we can do.
Please open up a new issue and make sure to fill in all the information requested in the template shown inside the text box.

Thank you!

[2019-08-09 11:58] #5110 closed

[2019-08-09 12:31] tegon commented on #5108
Hi @FantasticJimmy, thanks for reporting this.

I don't think `BLACKLIST_FOR_SERIALIZATION` should be something encouraged to be modified. It's not a configuration option, but an internal constant to provide more secure defaults for Devise models.

In order to exclude another field, I'd advise overriding ActiveModel's [`#serializable_hash`](https://api.rubyonrails.org/classes/ActiveModel/Serializa

[2019-08-09 12:31] #5108 closed

[2019-08-09 12:46] saransekar opened #5111 "Ruby Platform"
How to make two controllers interact in a basic form

[2019-08-09 14:39] tegon commented on #5111
Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

Thank you!

[2019-08-09 14:39] #5111 closed

[2019-08-09 18:37] ehubbell commented on #3913
I got stuck on this for quite a bit. I'm using Rails 5.2.3 with a JWT Devise Strategy and came up against numerous issues with all the options above. My solution was the following:

`test/support/authentication.rb`
[code]

`test/test_helper.rb`
[code]

`test/fixtures/users.yml`
[code]

`test/controllers/v1/users_controller_test.rb`

[code]

[2019-08-12 09:02] sedubois opened #5113 "URL query parameters are not preserved upon signup/login failure"
## Environment

- Ruby **2.6.3p62**
- Rails **5.2.3**
- Devise **4.6.2**

## Current behavior

My signup and login routes can accept extra URL query parameters, which are correctly forwarded to whatever route the user goes to after signing up or signing in, through a custom `after_sign_in_path_for` method in my `ApplicationController`.
<details>

[code]
</details>

However, if a validation error o

[2019-08-13 08:06] galievruslan opened #5114 "Server gives error 401 periodically"
I have implemented an API controller to run a mobile application. Basic authorization is used. If the mobile application does not authorize for a long time, then the server gives 401 on the first request, and authorizes subsequent requests.

Occurs with a downtime of about 10 minutes. Thought at session, but id session is not sent to headers.

When testing with Postman, this error is not reproduce

[2019-08-13 12:05] collimarco commented on #4816
I am really interested in this feature. It doesn't make sense that a user cannot change the email, but can destroy the account without password!

Can you merge the PR?

[2019-08-15 12:45] tegon commented on #5114
Hello @galievruslan, thanks for your report.
Can you provide us a sample application that reproduces the issue in isolation?
Another option is to use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb).
That would help us find the issue.

Thank you!

[2019-08-15 12:47] tegon commented on #4816
@collimarco The PR still needs some fixes, that's why I haven't merged yet.

[2019-08-16 10:12] davideluque opened #5116 "ActiveRecord::RecordNotUnique (PG::UniqueViolation: ERROR: duplicate key value violates unique constraint"
I am doing a basic email update operation with an email that already exists in my DB and I get ActiveRecord::RecordNotUnique (PG::UniqueViolation: ERROR:  duplicate key value violates unique constraint, which causes a 500 in my API.

Has been this issue addressed? I couldn't find a "clean" fix in any of the related issues

#2594
#3277
#1356

**My settings:**
Ruby 2.6.0
Rails 5.2.3
Devis 4.6.2, 4.5

[2019-08-16 16:45] YassineDM opened #5117 "before_action :authenticate_user! is bypassed when trying to add Omniauth (to a Rails API)"
## Environment

- Ruby '2.6.2'
- Rails '6.0.0.rc2'
- Devise '4.6.2'

## Current (working) behavior

I had a working setup with Devise and a custom Devise Strategy for JWT authentication), where the before_action :authenticate_user! was working fine.

config/initializers/jwt_authenticatable.rb
[code]

config/initializers/devise.rb
[code]

app/controllers/application_controller.rb
[code]

## Current

[2019-08-16 16:46] afuno opened #5118 "How to correctly implement work with JSON requests?"
## Environment

- Ruby **2.6.3**
- Rails **5.2.3**
- Devise **4.6.2**

---

I needed to write authorization and registration forms on Vue. For this, I prepared the back-end as follows.

**config/initializers/devise.rb:**

[code]

**config/routes.rb:**

[code]

**app/controllers/users/registrations_controller.rb:**

[code]

I also added `respond_to` to all other Devise controller files.

The standa

[2019-08-16 20:13] zocoi opened #5119 "New release for rails 6.0"
Now rails 6 is out, would you mind release a new gem version for it? Thanks

[2019-08-16 23:13] connorshea commented on #5119
In the mean time, you can use devise from git if you want to upgrade to Rails 6: `gem 'devise', git: 'https://github.com/plataformatec/devise'`

Would love to see a proper release, though :)

[2019-08-17 08:04] DaniG2k commented on #5119
Upgrading to Rails 6. If I use Devise `1.5.4` I get the following error when running `rails app:update`:

[code]

The method call occurs in `devise-1.5.4/lib/devise/rails/routes.rb:14`

[2019-08-18 03:25] thenano commented on #5037
Any estimate of when this will be released?
Thanks for all the hard work!

[2019-08-18 07:13] sanford opened #5120 "Rails 6: rails generate devise:install hangs(master)"
## Environment

- Ruby 2.6.3
- Rails 6.0 (release)
- Devise: master branch

## Current behavior

rails g devise:install   hangs

If you add the '--skip-spring' flag to 'rails new' it appears you can get the devise generator to run after

## Expected behavior

Generators are run

[2019-08-18 16:43] Valve opened #5121 "undefined method `alias_method_chain' for ActionDispatch::Routing::RouteSet:Class"
## Pre-check

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- If you found a security bug, do not report it through GitHub. Please send an e-mail to opensource@plataformatec.com.br instead.
- Finally, be nice and have fun!

## Environment

- Ruby **2.6.3**
- Rails **6.0**
- Devise **1.5.4**

##

[2019-08-18 16:46] jasnow commented on #5121
Try this in your Gemfile file: gem 'devise', git: 'https://github.com/plataformatec/devise'

[2019-08-18 16:49] Valve commented on #5121
It worked, thank you for your help @jasnow!

[2019-08-18 16:49] #5121 closed

[2019-08-19 05:00] MarcSteven commented on #5119
@connorshea  I think you should add the description into the doc, thank for your sharing!

[2019-08-19 05:53] RouL commented on #5119
I agree. Now that rails 6 is out, there should be a proper release. While it might be possible to use devise directly from the master branch, it is hardly a scenario for a production environment.

[2019-08-19 06:50] ssaunier commented on #5120
I believe that's not something specific to Rails 6, in the past I had students hanged on that very command for Rails 4 and Rails 5. The trick I told them was to:

[code]

And then relaunch the command.

[2019-08-19 14:01] tegon commented on #5037
@thenano I'll try to do it today.

[2019-08-19 14:03] tegon commented on #5119
I'll try to do a release today.

[2019-08-19 14:32] MarcSteven commented on #5119
@tegon  Thank you so much about it

[2019-08-19 17:01] tegon commented on #5119
I've released version `4.7.0`. Since some people were already running Devise from `master` with Rails 6 and the tests are passing, it should be ok.
But if you run into any trouble, feel free to open other issues. Thanks!

[2019-08-19 17:01] #5119 closed

[2019-08-19 17:02] tegon commented on #5037
I've released version `4.7.0`.

[2019-08-19 17:02] connorshea commented on #5119
Thanks!

[2019-08-19 17:03] tegon commented on #5120
Yeah, this really looks like a Spring issue.
I just run the generator with a newly created Rails 6 app and everything worked correctly.

[2019-08-19 17:03] #5120 closed

[2019-08-19 17:07] ssaunier commented on #5119
Thank you very much!

[2019-08-19 17:12] jasnow commented on #5119
Verified

[2019-08-19 20:16] DSegal92 opened #5122 "Encrypted passwords with stretches < 4 have wrong cost factor"
## Environment

- Ruby **2.6.3**
- Rails **6.0.0.rc2**
- Devise **4.6.1**

## Current behavior

When `config.stretches` is set below 4, the `encrypted_password` still reflects that the password was hashed 4 times.

E.g. with configuration

[code]

A user created with the password `"password"` has `encrypted_password`

[code]

## Expected behavior

Work factor portion of encrypted password correctl

[2019-08-20 01:41] gurgelrenan commented on #5118
This type of issue should be posted in Stack Overflow like the guide says:

[2019-08-20 03:25] tbcooney commented on #5119
Oh good day! Thanks @tegon

[2019-08-20 04:36] thenano commented on #5037
awesome, thanks so much @tegon !

[2019-08-20 20:26] devpolish opened #5123 "Unauthorized always by creating new session"
## Environment

- Ruby **2.5.1p57**
- Rails **5.2.1**
- Devise **4.4.3**

## Current behavior

I have an authentication model called Operator which has_many other different kind of operators.

[code]

*Children associations only record additional information*

I'm trying to get logged into my account using my Operator authentication model with no result, all logging attempts are failed. I tried to

[2019-08-20 21:01] #5123 closed

[2019-08-21 11:45] DeltaFlush commented on #5118
Try having the `authenticity_form` as an input field in your Vue template as that is the CRSF token.

[2019-08-22 13:15] lancecarlson commented on #4853
I'm reopening this issue because I feel strongly enough that leaving it at 6 is irresponsible at this point. Please reconsider. Yes you can change it, but most people won't (especially newbies,). Shouldn't we be guiding users into the best practices?

As an aside I believe bcryot is no longer favorable either but we can take about that later...

[2019-08-22 17:53] Nitesh9872 opened #5124 "sending email with temporary password in it"
i am trying to use email only signup and send the temporary password to the email provided.
user can login using there temporary password .if they wish they can change it any time.

i am new to devise can anyone tell me how to do this?

[2019-08-25 02:58] rp-pedraza commented on #4542
I define `email` as a virtual attribute and I found out that I need to call [define_attribute_method](https://api.rubyonrails.org/classes/ActiveModel/AttributeMethods/ClassMethods.html#method-i-define_attribute_method) with it.

Default prefixes and suffixes are defined in `ActiveRecord::AttributeMethods::Dirty`.  `ActiveModel::AttributeMethods` is also already included by `ActiveRecord::Attribute

[2019-08-27 15:49] jemmaissroff opened #5126 "Devise should trigger the :authentication event on every `sign_in` call"
I am still experiencing the same problem described in #2614. I see that #2614 was closed, but it seems as though there are quite a few people also interested in this behavior.

The only way to hook into `warden#authenticate!` is through a `SessionsController#create` call. If we use Devise's `sign_in` method, there's no trigger to Warden's authentication event.

We'd like to track when users log in

[2019-08-28 04:24] jamesla opened #5128 "How to use the Omniauth developer strategy with Devise?"
I am trying to find some documentation on how to use the omniauth developer strategy with devise but I am unable to find any documentation on how to use it or any examples online of how to make it work. Is there any example project or documentation on this feature?

[2019-08-28 18:22] dimit999 opened #5129 "url not put to browser link after running autotests on real device"
hello everyone.

I have issue: i run my autotests on iOS emulators - via appium + Xcode - works fine.

But when i connect a real device - I see that WebAgent works, open safari browser and nothing in the end.

Error:
E       selenium.common.exceptions.WebDriverException: Message: cannot create session safari-MOBILE on any hosts after 1 attempt(s), last host error was: An unknown server-side error

[2019-08-29 22:02] JohnMerlino2 opened #5130 "How come devise_group in Devise::Controllers::Helpers is not called?"
The core of my issue is that when I run  capybara tests with selenium firefox using the selenium_remote_firefox driver, the user is unable to login using FactoryBot user objects or even a seeded User in Mongoid. I always get back "invalid email or password".

I am trying to debug what is happening. I notice in devise/controllers/helpers.rb in Devise 4.6, you define a class method devise_group whic

[2019-08-29 22:16] JohnMerlino2 commented on #5130
I can confirm that define_helpers is called, however:

[code]

[2019-08-30 02:35] gurgelrenan commented on #5129
Have you tried to use solutions like https://www.browsersync.io or https://ngrok.com ? They helps me a lot with this type of tests.

[2019-08-30 22:50] tegon commented on #4947
@emersonthis @colinross You both made great points. About the following:

When you say **compatible** do you mean that it shouldn't raise any exceptions?

I know that some of you have used the Gem with API mode and confirmed that it works to a certain degree, but it seems to me that the effort to support non-HTML requests has been small throughout the time (though I don't know the historical reaso

[2019-08-31 04:15] emersonthis commented on #4947
Right. I think that's well put. And it sounds like we're on the same page
about erring on the side of under-promising rather than *over*-promising.
And, like you said, I think that largely comes down to clarity in the docs.

On Fri, Aug 30, 2019 at 3:50 PM Leonardo Tegon <notifications@github.com>
wrote:

[2019-09-02 09:05] dmitry commented on #5126
What is the solution for the correct behavior?

[2019-09-04 18:42] #5071 closed

[2019-09-04 19:19] vitobotta opened #5133 "Updating User model with GET requests is not compatible with Rails 6 read/write splitting"
## Environment

- Ruby 2.6.4
- Rails 6.0.0
- Devise 4.7.0

## Current behavior

Not sure of where to post this. I am trying to set up read/writing splitting of SQL queries with Rails 6 since it now has support for this thanks to the multiple database features, and am having problems with some Devise actions. Rails' new auto connection switching sends writes to a primary database and reads to repli

[2019-09-05 10:55] jofix17 opened #5134 "Could not find generator 'install:devise'."
## Environment

- Ruby 2.5.1p57
- Rails 6.0.0

## Current behavior

Gemfile
 gem 'rails', '~> 6.0.0'
 gem 'devise'

$ rails g install:devise
Running via Spring preloader in process 26034
Could not find generator 'install:devise'.
Run `rails generate --help` for more options.

[2019-09-05 11:00] jofix17 commented on #5134
restarting spring would solve this

[2019-09-05 11:00] #5134 closed

[2019-09-06 08:28] shobhitic commented on #5066
Can someone please review the attached PR?

[2019-09-06 12:52] tegon commented on #5066
@shobhitic Sorry about that, I'm solving some other things I have pending here and haven't had the time to review this yet. But I'll do it as soon as I can.

[2019-09-09 07:00] GruLab commented on #3031
Added following into "/opt/diaspora/apps/diaspora/htdocs/app/models/user.rb"
class User < ApplicationRecord
devise :database_authenticatable, :recoverable, :rememberable
def authenticatable_salt
"#{super}#{session_token}"
end
def invalidate_all_sessions!
self.update_attribute(:session_token, SecureRandom.hex)
end
end

Added following into "/opt/diaspora/apps/diaspora/htdocs/app/controllers/session

[2019-09-11 13:47] JacobEvelyn commented on #5126
The workaround I found (not really documented well that I could see) is to change `sign_in(resource, user)` to `sign_in(resource, user, event: :authentication)`. But I still think this should be the default behavior.

[2019-09-13 15:49] Bdoom opened #5137 "Rails Admin"
## == Devise ==
  config.authenticate_with do
    warden.authenticate! scope: :user
  end
  config.current_user_method(&:current_user)

I have this setup with RailsAdmin, I'm wondering if I can also check if a boolean named "admin" on my user is true. I only want people to access /admin if they are logged in with devise, and also have the "admin" column in the database, set to true. How can I do t

[2019-09-14 03:32] basabin54 commented on #4778
I don't know if anyone is still watching this or not, but after coming across the same weird issues with timeoutable and rememberable not playing nicely, I dug in and figured out what the (or an?) issue is.

By default devise comes with the following lines in the initializer:

# Options to be passed to the created cookie. For instance, you can set
# secure: true in order to force SSL only cookies.

[2019-09-15 00:38] mgmodell commented on #5064
@Vasfed I killed all spring processes and then, for good measure, I went ahead and restarted my Mac and still I get the warnings.

[2019-09-15 18:36] sebastienrombaut commented on #4201
This worked for me, i wanted to add a first_name and last_name for registration
[code]

[2019-09-16 14:07] mbaev commented on #3349
I found one more solution which is worked for me:
[code]

[2019-09-16 16:47] alexisraca commented on #3349
https://github.com/plataformatec/devise/blob/e3a00b27d19ba995891d7dd92394fe2900a789c2/app/controllers/devise/registrations_controller.rb#L132

This seems to be conflicting the customization of the controller. I haven't tried to debug it but an override could fix this instead of layering forced `before_actions` because we could be triggering multiple undesired `authenticate_resource` calls

[2019-09-16 18:33] tegon commented on #5064
@mgmodell Can you provide us a sample application that reproduces the issue?

[2019-09-17 17:49] #5066 closed

[2019-09-17 18:32] tegon commented on #5137
Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

Thank you!

[2019-09-17 18:32] #5137 closed

[2019-09-17 18:32] tegon commented on #5129
Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

Thank you!

[2019-09-17 18:33] #5129 closed

[2019-09-18 08:23] adamtomecek opened #5138 "Warden config is malformed while running tests with rack-test"
I have this simple controller spec

[code]

In like one in five runs of full test suite (never encountered this while running this single test), I encounter this error. This also breaks CI builds quite often.

[code]

Where `Devise.warden_config[:failure_app]` is nil in `_process_unauthenticated`.

Full failing `Devise.warden_config` looks like this:
[code]

While regular config is

[code]

I'm no

[2019-09-18 14:25] adamtomecek commented on #5138
Just found out how to reproduce the error in the description.

This test, specially the part with creating new Rails app (Rack::Attack middleware does not matter here) is causing it in combination with the `POST` request. Running this before test in the description will 100 % reproduce the error.

[code]

Can this be Devise bug or is this more `rack-test` bug? Will try and create example app tomor

[2019-09-19 09:58] abigoroth commented on #4951
I don't know whether i'm on the same page, but I had this problem with my custom strategies. I don't where to get help. tons of google or perhaps misleading guide.

<img width="413" alt="Action_Controller__Exception_caught" src="https://user-images.githubusercontent.com/520990/65234252-cdc46e00-db06-11e9-9f6c-f66f313fe11a.png">

My view:
[code]

My strategies :
[code]
My controller :
[code]

its c

[2019-09-19 10:08] vincentwoo commented on #5013
yo @tegon are you gonna fix this

[2019-09-19 11:36] adamtomecek commented on #5138
Here it is reproduced in new Rails 5.2.3 app https://github.com/adamtomecek/devise_rack_test_demo/blob/master/spec/controllers/home_controller_spec.rb

[2019-09-19 12:46] tegon commented on #4951
@abigoroth I'm not sure your problem is the same as the above. By the error message, it seems like `params[:user]` is returning `nil`, which then fails to call `[:token]` on it.
How are you calling this endpoint?

[2019-09-19 15:23] mkarklinsScout commented on #4679
@LenPayne do you have any plans adding a PR with that change to upstream Devise?

[2019-09-19 15:41] JanBussieck commented on #5034
I was also going to bring this up, I solved this by overwriting the default devise templates. Sending both works well and only sending html email might be linked to being sent to gmails notorious promotion tab :)

I could start work on this, drawing on what we have done so far and open a PR if you think this is interesting to the broader user base.

[2019-09-19 17:33] tegon commented on #5034
@JanBussieck That would be great!

[2019-09-19 17:34] mracos commented on #5013
Closed via https://github.com/plataformatec/devise/commit/4be9389dcb791b063825b4996df8d04cbf7e0e89

[2019-09-19 17:34] #5013 closed

[2019-09-19 17:54] mracos commented on #5114
Hi @galievruslan!

I'm closing this issue because it had no recent activity but if you're still facing this on the latest version please open a new one with all the information requested in the template.

Thanks!

[2019-09-19 17:54] #5114 closed

[2019-09-19 18:08] mracos commented on #5118
Hi @afuno!

As @gurgelrenan said, these kinds of questions should be posted to the StackOverflow and the likes where a wider community will be able to help you. We reserve the issues tracker for issues only.

But maybe this guide [(Configuring devise for APIs)](https://github.com/waiting-for-dev/devise-jwt/wiki/Configuring-devise-for-APIs) from the Wiki of `devise-jwt` can help you.

Thanks!

[2019-09-19 18:08] #5118 closed

[2019-09-19 18:13] mracos commented on #5128
Hi @jamesla!

Please use StackOverflow and the likes for questions/help where a wider community will be able to help you. We reserve the issues tracker for issues only.

But maybe this page [(OmniAuth: Overview)](https://github.com/plataformatec/devise/wiki/OmniAuth:-Overview) in the wiki can help you.

Thanks!

[2019-09-19 18:13] #5128 closed

[2019-09-19 18:14] mracos commented on #5124
Hi @Nitesh9872!

As @gurgelrenan said, please use StackOverflow and the likes for questions/help where a wider community will be able to help you. We reserve the issues tracker for issues only.

Thanks!

[2019-09-19 18:14] #5124 closed

[2019-09-19 18:32] mracos commented on #5138
Hi @adamtomecek! Thanks for the detailed report. 💙

Will try to take a look into it. 😄

[2019-09-19 18:46] mracos commented on #5130
Hello @JohnMerlino2, thanks for your report. 💙

Can you provide us a sample application that reproduces the issue in isolation?
Another option is to use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb).

It would really help us find the issue.

[2019-09-19 20:37] mracos commented on #5138
@adamtomecek It doesn't seem a devise issue to me.

I changed `def app` in your sample application to the following and the tests passed.
[code]

So will close this issue but If you're still facing this please open a new one. 😄
Thanks!

[2019-09-19 20:37] #5138 closed

[2019-09-19 20:45] mracos commented on #4468
Hi @marinalimeira! Sorry for the (reaaaally) late response. 😅

I'm closing this issue because it had no recent activity, if you're still facing this on the latest version please open a new one with all the information requested in the template.

Thanks! 😄

[2019-09-19 20:45] #4468 closed

[2019-09-20 06:13] adamtomecek commented on #5138
Works like a charm. Thanks!

[2019-09-20 13:25] mracos commented on #5122
Hi @DSegal92, thanks for the report. We actually have a PR that is kinda related to this: #5092

As @sergey-alekseev explained in the PR, `devise` uses `bcrypt` under the hood as a hashing library and the minimum cost factor that `bcrypt` supports is `4`. When we set the cost factor to "lower than minimum" `bcrypt` automatically uses the minimum supported.

That is the case only for _test_ environ

[2019-09-20 17:56] mracos commented on #5116
Hi @davideluque! First of all, nice work on bringing up old issues that are related to this!

From what I can tell by reading your snippets, it seems that when you try to update it also queries for `username` (maybe you followed this [guide](https://github.com/plataformatec/devise/wiki/How-To:-Allow-users-to-sign-in-using-their-username-or-email-address)?) so are you sure that the `.first` user in

[2019-09-20 20:24] mracos commented on #5117
Hey @YassineDM!

`omniauth` callback controllers in devise don't run warden's strategies or any kind of authentication at all as the responsibility of authenticating the user must be handled by your application on the callback actions (say, your `handle_omniauth` function).

So I'll assume that your `handle_omniauth` function is signin in the user with the data from the omniauth provider and that'

[2019-09-20 20:24] #5117 closed

[2019-09-21 08:34] a-abdellatif98 opened #5139 "i used to use version 4.5 but when i update it to 4.7.0 the errors happend"
## Environment

- Ruby **[2.5.3]**
- Rails **[6.0.0]**
- Devise **[4.7.0]**

## Current behavior

i create a personal blog and it have articles and users
it was working good until i update the devise version
when i create an article the error happened
`>@article = current_user.articles.new(article_params)`
`=> undefined method '[]=' for nil:NilClass`
although the params has the data
`>>article_par

[2019-09-21 13:18] deekshithh commented on #4467
I am using Rails 5.2 && ruby 2.6.0.
Adding `extend Devise::Models` in the User Model, helped me solve the issue.

[2019-09-23 09:45] jaykilleen commented on #4352
@pwgustafson thanks for your follow up post explaining how you fixed your problem. I had the same issue, was using a User class that I rolled myself until I switched to Devise. After removing the 'password digest' field I was able to query the user model without the error.

[2019-09-23 12:43] dowi commented on #2936
This is such a great idea

[2019-09-23 13:39] tegon commented on #5139
Hi @a-abdellatif98, thanks for reporting this.

Unfortunately, we can't know what's happening just by reading this error message. It can be happening in multiple places (Devise, Warden, Rails, and even your app, since you're creating a new Article).

Can you provide us a sample application that reproduces the issue in isolation?
Another option is to use our [bug report template](https://github.com

[2019-09-23 13:41] tegon commented on #4555
Hey @rlue, just pinging to see if you still intend to work on this.

If you can't, just let me know so we can see if someone wants to do it.

[2019-09-23 16:36] colinross commented on #5133
I don't necessarily want to get into a discussion about the rails 6 read/write stuff, but I don't (personally) think that is it that black and white, especially when dealing with the meta-record like the logged in user, assuming you want to track their actions. I would also argue that we are talking about RESTful semantics, and not HTTP.

Specifically with the confirm request, you can't do a POST

[2019-09-23 18:32] vitobotta commented on #5133
Hi @colinross , in the meantime I ended up doing something similar with an around filter for all the Devise actions just to be sure:

[code]

This solved my original problem, so I had forgotten about it. I agree with what you said about Devise, perhaps it's a non-issue so I'm closing. Thank you for your reply.

[2019-09-23 18:32] #5133 closed

[2019-09-23 18:57] colinross commented on #5133
Sounds good, although for the next person looking at this, I think that your filter overmatches a bit. It seems would prevent using the read replica even for application-level defined controller actions (in the case that you are extending a devise controller). YYMV

[2019-09-23 19:08] vitobotta commented on #5133
OK, I can use that thing only where needed. Apart from the login and confirmation actions, is there anywhere else Devise writes with GET requests?

[2019-09-23 19:23] colinross commented on #5133
I wouldn't' want to speak authoritatively on that, as it depends on what
modules you have enabled and your configuration. Is there a specific
exception that gets thrown when this is attempted that you/we could
rescue/track?

On Mon, Sep 23, 2019 at 12:09 PM Vito Botta <notifications@github.com>
wrote:

[2019-09-23 19:25] vitobotta commented on #5133
It complains that it can't write to the database while in read only mode, because the GET request forces the usage of the replicas. Luckily Rails prevents writes from going to the replicas :)

[2019-09-23 19:31] colinross commented on #5126
If you are talking about hooks in the authentication strategy layer, that is in warden's wheel house.

Then I think what you are looking for is `after_authentication` from Warden, eg.
[code]

Although I must note that

won't call `after_authentication` since `sign_in` is specifically for setting the user without going through authentication

[2019-09-23 20:13] colinross commented on #5133
Just spitballing here, but could you run the test suite under the same type
of read/write configuration?

On Mon, Sep 23, 2019 at 12:25 PM Vito Botta <notifications@github.com>
wrote:

[2019-09-24 03:16] sbull opened #5140 "Rails6 without ActionMailer won't boot with zeitwerk eager-loading"
## Environment

- Ruby 2.6.3
- Rails 6.0.0
- Devise 4.7.1

## Current behavior

In a Rails 6 app without ActionMailer included (`rails new testapp --skip-action-mailer`), the default zeitwerk loader errors when eager-loading due to mailers/devise/mailer.rb not defining Devise::Mailer. Output from `rails zeitwerk:check`:
`expected file /usr/local/bundle/gems/devise-4.7.1/app/mailers/devise/mailer.r

[2019-09-24 08:53] fxn commented on #5140
Idiomatically, you want to ignore that file. It could done with something like this in Devise (off the top of my head):

[code]

[2019-09-24 12:34] aksharj opened #5141 "warden.failure_app is not working as expected"
Hi,

I am trying to do some monitoring when user enters invalid login credentials and trying to use the warder.failure_app to do this as specified here `https://github.com/plataformatec/devise/wiki/Redirect-to-new-registration-(sign-up)-path-if-unauthenticated`.

However, the control never seems to come in my CustomFailureApp as i dont see the user redirected to the sign up page

below is the code