[2018-01-24 05:53] dilkhush commented on #4760
Hello @tegon, Please find the versions for rails and devise below:
ruby-2.4.1
devise-3.5.10
rails-4.2.9

[2018-01-24 08:27] yskkin commented on #4760
I think `Trackable` should not validate a model instance from other point of view:
If validation is added to an existing app, existing user can not log in because of new validation failure.

I also override `Trackable#update_tracked_fields!` with `validate: false` to workaround this, but the following test introduced in #4674 expects other otherwise.
https://github.com/plataformatec/devise/blob/bd

[2018-01-24 10:17] yskkin commented on #4760
Ah, this issue is for callback, not validation. Sorry...

[2018-01-24 11:04] francesco-loreti opened #4761 "[4.4.1] Errno::EACCES: Permission denied @ rb_sysopen -"
## Environment

- Ruby 2.4
- Rails 5.2.beta2
- Devise 4.4.1

## Error:
`Installing devise 4.4.1 (was 4.4.0)
Errno::EACCES: Permission denied @ rb_sysopen -
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/devise-4.4.1/devise.png
An error occurred while installing devise (4.4.1), and Bundler cannot continue.
Make sure that `gem install devise -v '4.4.1'` succeeds before bundling.`

[2018-01-24 11:52] dilkhush commented on #4760
@yskkin, @tegon
Yes, this is for callback and validation for both while signin, devise update the last_sign_in_at, current_sign_in_at, last_sign_in_ip, current_sign_in_ip and sign_in_count and all the callbacks for update is triggered and validation perform for the user.
So If we have written N callbacks then N callback will be triggered so this can impact of performance
The only thing I can see h

[2018-01-24 12:45] tegon commented on #4761
Hello @francesco-loreti, thanks for your report.
This doesn't look like an issue with devise. The error message implies that you might need to change the permissions of your gems directory.

Thanks.

[2018-01-24 12:45] #4761 closed

[2018-01-24 19:25] dcalixto opened #4762 "Which argument devise is expecting?"
## After trying to overwrite the authenticate_user! With the code below
the gem complain about a argument.
so which argument is expecting?

[code]

## Environment

- Ruby **[2.5]**
- Rails **[5.1]**
- Devise **[4.4]**

## Current behavior

## Expected behavior
Not complain about the argument

[2018-01-24 19:54] rafaelfranca commented on #4762
It is a argument called `options` with default to `{}` https://github.com/plataformatec/devise/blob/f39c6fd92774cb66f96f546d8d5e8281542b4e78/lib/devise/controllers/helpers.rb#L116

[2018-01-24 19:54] #4762 closed

[2018-01-25 00:31] JasonBarnabe opened #4763 "Use same string on failed login regardless of whether account exists when in paranoid mode"
Previously reported in #4568. devise is using `devise.failure.invalid` when you attempt to log in with an existing identifier but a wrong password, while it uses `devise.failure.not_found_in_database` when the identifier does not exist. In the default `en.yml` provided by devise, these strings are the same, but if you are using a different localization file, they may not be (see https://github.com

[2018-01-25 15:02] dcalixto commented on #4762
@rafaelfranca   thank you!

[2018-01-25 22:01] sgoldens commented on #4189
@lucasmazza I made a quick sample app as you suggested, exhibiting the `undefined method 'setup' for RSpec::ExampleGroups::` errors on running rspec after a quick rake db:create && rake db:migrate --> https://github.com/sgoldens/setup-devise-bug

Hope that helps! Would love to get this solved.

[2018-01-26 01:38] lucasmazza commented on #4189
@sgoldens your sample app does not require `rspec/rails` on `spec_helper`/`rails_helper`, so it does not load the integrations between rspec and the lifecycle test callbacks that Devise uses (that come from Active Support). Please re-check your test suite setup to ensure that rspec and rails are integrated properly.

[2018-01-26 12:15] mfaorlkzus opened #4764 "Rails API - Password Reset Route"
Hello guys, I ask the issue here, because nobody could answer my question on Stackoverflow and the Wiki also can't help me with my problem.

I have a Rails API, that uses the Devise gem to manage users. Now I want to implement a password-reset feature, so that a user can get an email with a link to a frontend page where he can set a new password for his account.
I configured the mailer and created

[2018-01-26 14:17] #4764 closed

[2018-01-26 14:24] pioz opened #4765 "Default failure app for JSON format should return different root key"
In this line of code
https://github.com/plataformatec/devise/blob/master/lib/devise/failure_app.rb#L193
if the request format is a JSON, Devise render a JSON with the key `error` and the value set to the string that describe the error.
In my opinion the JSON should be different, should be `{errors: [i18n_message]}` because in most cases in our controllers we write this:
[code]
With Rails you can g

[2018-01-27 16:43] PolymathWhiz opened #4766 "Devise error with ruby version 2.5.0"
<img width="683" alt="screen shot 2018-01-27 at 4 42 18 pm" src="https://user-images.githubusercontent.com/15127667/35474091-21166a18-0381-11e8-9269-0d084a1b8b8a.png">

[2018-01-27 18:50] tegon commented on #4766
This was fixed in version 4.4.0, please update to get the fix. Thanks!

[2018-01-27 18:50] #4766 closed

[2018-01-27 23:20] PolymathWhiz commented on #4766
I am running the latest version of devise. Is it possible it's from the ruby version?

[2018-01-28 01:21] kylefox opened #4767 "Validatable should allow email uniqueness to be scoped"
A common scenario is to scope email to a parent model (i.e. `Account`), but the Validatable module does not easily allow this.

Judging by the posts on StackOverflow, many people struggle with this issue. It would be a Good Thing if Devise could support this common functionality out of the box.

The [How to: Scope login to subdomain](https://github.com/plataformatec/devise/wiki/How-to:-Scope-login

[2018-01-28 04:15] PolymathWhiz commented on #4766
I downgraded my ruby to 2.4.1 and it works perfectly

[2018-01-28 13:00] vishalvijay opened #4768 "Could not find generator 'config:install'"
`rails g config:install` is showing:

[code]

Result of `rails generate --help` shown below

[code]

## Environment

- Ruby **2.5**
- Rails **5**
- Devise **Not using**

[2018-01-28 13:01] #4768 closed

[2018-01-28 13:01] vishalvijay commented on #4768
Sorry wrong page

[2018-01-28 13:24] tegon commented on #4766
Your screenshot is showing the older version, you can see master version here https://github.com/plataformatec/devise/blob/master/app/controllers/devise/sessions_controller.rb#L7. It was fixed on this PR: https://github.com/plataformatec/devise/pull/4668
So probably you don't have the version >= 4.4. How is your Gemfile.lock?

[2018-01-28 13:53] PolymathWhiz commented on #4766
oh, yeah! My gemfile.lock shows devise is running 4.3.0

[2018-01-30 10:58] Svashta opened #4769 "NoMethodError: undefined method `oid'"
## Environment

- Ruby 2.4.0 (rvm)
- Rails 5.1.4
- Devise 4.4.1
- PostgreSQL 9.5 (ubuntu 16.04)

## Current behavior

When i want to run a default Devise migration (no changes to the file) I am getting:
NoMethodError: undefined method `oid' for  # ActiveRecord::ConnectionAdapters::ColumnDefinition:0x00000005817360>

## Expected behavior
Migration should run w/o problems.

Can please someone let me

[2018-01-30 23:01] mcmaddox commented on #4507
Having the same problem with omniauth-google_oauth2 as well as omniauth-facebook strategy. Pretty much identical (developing on Windows using WSL and bash) except the only difference is I'm on Rails 4.2 instead of 5.

I registered the correct redirect URIs for callbacks in both provider apps, so I'm not sure why this is timing out. Any help would be GREATLY appreciated!

[2018-01-31 08:13] halida opened #4771 "Please deploy new 3-stable release for fix ruby 2.5.0 issues"
There is a grammar fix for ruby 2.5.0:
https://github.com/plataformatec/devise/commit/53957d921b01e993222def6c051901bb4cbe4be9#commitcomment-27226770

3-stable have this commit, but didn't deploy to new version, please create one to fix this, Thanks.

[2018-01-31 21:55] rafaelfranca commented on #4771
Thank you for the issue. Like I explained in https://github.com/plataformatec/devise/pull/4749#issuecomment-356366226. 3-stable is not under maintenance anymore, so we are not going to do a new release. If you want to keep using you can point your project to the 3-stable branch.

[2018-01-31 21:55] #4771 closed

[2018-02-01 14:20] joshpencheon commented on #4742
@tegon

This feels a bit like changing the contract; as far as I'm aware, Devise never previously required the resource to be valid during authentication.

If there was previously an implicit assumption that the resource would be valid, that has now been made explicit by the change to `Trackable`. Would it not be sensible to add this as a proper constraint, rather than leaving invalid users in the

[2018-02-02 09:20] Guillaumejfrt opened #4772 "undefined method `authenticate_model!` for second model"
Hi,

I am using Ruby 2.4.1p111, Rails 5.1.1 and Devise (4.4.1, 4.3.0).

## Current behavior

First, I have a first `User` model that I created with Devise at the beginning of my app, so it works perfectly well.

Second, I have a second `FbUser` model, which I created without Devise. I want now to be able to simply authenticate this `Fbuser` on a HTTP Get request with an email and a token using `si

[2018-02-02 09:39] Guillaumejfrt commented on #4772
Now that the Devise migration is run on the `FbUser` model I always get the `undefined method authenticate_fb_user!` error even if it`s the `User` who is trying to get authenticated. Thus, my whole app is stuck...

[2018-02-02 15:54] #4772 closed

[2018-02-02 18:44] stevecrozz opened #4773 "sign_in does not work with timeoutable"
## Environment

- Ruby ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-linux]
- Rails 5.0.1
- Devise 4.2.0

## Current behavior

Using a custom authentication strategy in my app, I wind up calling `sign_in :user, user` when I'm ready to sign in a user. If that user arrived with an expired session, I get hit with https://github.com/plataformatec/devise/blob/v4.4.1/lib/devise/hooks/timeoutable.rb

[2018-02-03 11:26] Svashta commented on #4769
Ok, so my users migration works normaly with sqlite3, also mysql, but not postgresql which i need. All other migrations work just fine on PG, which indicates there trully is something going on devise vise.

Please, any suggestions?

[2018-02-05 15:22] tegon commented on #4769
Hi @Svashta, thanks for your report.
I did a quick search and found some issues a Rails about it: https://github.com/rails/rails/issues/26137
Could you take a look to see if it's the same thing?

Thank you.

[2018-02-06 12:46] tegon commented on #4760
@dilkhush We can't use `#update_columns` because it doesn't run validations, which may cause invalid users being registered in the database. See https://github.com/plataformatec/devise/issues/4673 for more information.

It's possible to disable the callbacks, but we need to know which callback we're going to disable, and we need to set it again later. Since Devise is a gem, this doesn't seem like

[2018-02-06 12:46] #4760 closed

[2018-02-07 09:01] dilkhush commented on #4760
There can be used valid? method to check for validations but here I am talking about the callbacks that are taking lots of time and doing dirty checking for all my callbacks also effect on application performance and code cleanness.
So my idea is that we don't need to trigger callbacks after sign_in and sign_out but we can validate through valid? method.
If to some usecase we require a callback af

[2018-02-07 18:31] iseessel commented on #2374
@ourano Thanks for the help! lol

[2018-02-07 18:57] tegon commented on #4760
@dilkhush I understand your situation, but it doesn't seem like Devise's responsibility to handle this - especially calling `#valid?` inside `Trackable` instead of a regular, `#save` - because it looks like this is something closely related to your application.
Also, since we already run the callbacks here, other people might already be relying on this behavior, which may cause other problems too.

[2018-02-08 18:35] promiseverma commented on #1358
Thanks,
Restart worked.

[2018-02-14 04:35] mckramer commented on #4540
FYI, I tossed together a quick proposal as #4777

[2018-02-15 13:20] tegon commented on #4743
I'm closing this issue because it has not had recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-02-15 13:20] #4743 closed

[2018-02-15 21:19] pierrea commented on #1230
@StevenXL You saved me! Thanks

[2018-02-18 23:42] pablocrivella commented on #4597
The only way i found to solve this was to override all the `resource_params` methods (also `sing_up_params`, `sign_in_params`... etc) on all devise controllers.

And after this i found out that warden authentication will also fail due to this change in the request params.

Specifically the  `valid_for_params_auth?` method on the `Devise::Strategies::Authenticatable` strategy

[2018-02-19 19:29] argent-smith commented on #4767
👍 … makes real sense in case of «soft-deleted» authenticatables as well.

[2018-02-21 05:01] gmcnaughton commented on #4742
I agree with @joshpencheon that this feels like a substantial change to the contract of sign-in.

In an old product whose validation rules have changed over time, it's reasonable to have legacy users who were valid at signup but are now invalid. Before 4.4.0 these users could still sign in to fix their accounts!

If invalid users can't sign in, any new validation which accidentally impacts a porti

[2018-02-21 21:07] tegon commented on #4742
@joshpencheon @gmcnaughton This wasn't an implicit assumption, it worked before without any validations until we found a problem with this approach.
We could handle this inside `Trackable` with some conditional, that's why I asked what were the errors to have a better understanding of the situation. And it turns out that most of the errors were password-related. I think that even with custom valid

[2018-02-21 22:14] gmcnaughton commented on #4742
Thanks @tegon, I appreciate you taking the time! 😄

I'm concerned about two issues: legacy accounts and future changes.

1. Legacy accounts. Over time we've added or changed validations on User -- say, requiring a field or changing limits -- in order to get cleaner data from new users. But we haven't gone back to fix up legacy users. These technically-invalid users could still log in; when they tr

[2018-02-22 06:58] woahstorkdork commented on #3600
@cesc1989 you can find the reset_password_by_token method [here](http://www.rubydoc.info/github/plataformatec/devise/Devise/Models/Recoverable/ClassMethods) in the following Module: Devise::Models::Recoverable::ClassMethods. Keep in mind that the Devise.token_generator.generate method returns an encrypted token and a raw token. This is probably why the token @chollimee was using wasn't matching/wo

[2018-02-22 12:37] dfherr opened #4778 "timeout and rememberable"
Why was the timeout and rememberable compatibility removed?

[code]

https://github.com/plataformatec/devise/blob/master/lib/devise/models/timeoutable.rb#L30
(removed in commit https://github.com/plataformatec/devise/commit/4ec7dc0f2777bde10125dcf6f72c536232086665)

## Current behavior

Timeout and Rememberable do not work together. The shorter one overrules the longer one.

## Expected behavior

[2018-02-22 18:33] tegon commented on #4742
@gmcnaughton They seem to be the same issue, actually. Do you have any examples of this?
At least in the projects I've worked, we usually had to fix up the base before introducing some new column that is required. If it's a column that we can leave it `nil` for some users, then a validation isn't needed.
Also, if your users are invalid I think you can have issues with other parts of Devise, such a

[2018-02-22 18:34] tegon commented on #4769
I'm closing this issue because it has not had recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-02-22 18:34] #4769 closed

[2018-02-22 18:51] tegon commented on #4466
Hi @bearded-avenger, thank you for reporting this. Sorry for taking this long to reply, I've started to looking into the issues recently and there were a lot of them.
Unfortunately, I haven't worked with Action Cable before, so I'm not sure what would be an ideal solution for this problem.
I'm not sure if I'm missing something. The article suggests to mock a rack env, but if we do, we won't have a

[2018-02-22 21:08] tegon commented on #4584
Hello @waiting-for-dev, thanks for digging into this.

Looking at the codebase, seems like we would have to update the `sign_in` helper too, since it's calling `#set_user` [directly](https://github.com/plataformatec/devise/blob/d9deeba582b64b75e249f6ecd86768e5a49e22a6/lib/devise/controllers/sign_in_out.rb#L50).

Just to be sure: in your gem the `database_authenticable` strategy will be called firs

[2018-02-22 21:56] RouL commented on #4540
Just seeing this. Maybe we should only allow this for a list of trusted proxy IPs or when explicitly enabled. If there is no Proxy in front filtering the header, then malicious users could set it for making sure their real ip is not tracked.

Just a thought.

[2018-02-22 23:28] christophweegen opened #4780 "devise "flash messages" in json response in API-only rails apps"
Hello there!

Is there a possibility to include devise's flash messages, into the devise json response, when using devise in an API-only rails application?

Searched the docs/issues and the web, without success.

For example when I make an http request to `DELETE /users/sign_out`, an empty response body gets returned.

Would be nice if there would be some confirmation in json format like "Signed o

[2018-02-22 23:50] rafaelfranca commented on #4780
For API request the http response returns if something was successful or not. Flash messages only make sense for web pages.

[2018-02-22 23:50] #4780 closed

[2018-02-23 05:22] userrails opened #4781 "Devise sign_in TestHelper doesn't trigger Warden after_set_user callback"
## Environment

- Ruby **ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin16] **
- Rails **Rails 4.2.7**
- Devise **3.5.10**

## Current behavior

[code]
- I have customized `Warden::Manager.after_set_user` to set server side session which I can later invalidate if user logout from the application. And it is working as expected if I login to the web application.

**problem**

- I am using

[2018-02-23 06:30] userrails commented on #4781
I have found this **Important** message in the source code: https://github.com/plataformatec/devise/blob/master/lib/devise/test/controller_helpers.rb#L23.

But now that I have thousands of test cases relying on this behavior, if anyone can help me solve this that would be great.

[2018-02-23 06:56] waiting-for-dev commented on #4584
Hello @tegon , thanks for your repply.

Right, I missed it.

Yes, that's correct.

[2018-02-23 13:35] tegon commented on #4095
@crawfoal @bernardogalindo We can follow with the downcase solution (keeping the humazine attribute). If someone is willing to open a PR for this, I'd be happy to accept it.

[2018-02-23 13:36] #4209 closed

[2018-02-23 13:38] tegon commented on #4399
Seems reasonable to me, but I think we would have to introduce this in a major version.

[2018-02-23 13:38] tegon commented on #4697
I'm closing this issue because it has not had recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-02-23 13:38] #4697 closed

[2018-02-23 15:30] christophweegen commented on #4780
Hey @rafaelfranca,

thanks for your answer!

ok leaving this bit of api consumer friendliness aside of having devise messages included in the json response.

Though this would be a nice side-effect by considering the following, which was actually my main intention about including devise messages in the json response:

What if you want to use the messages, devise gives you, in your frontend that ge

[2018-02-23 21:39] rafaelfranca commented on #4780
If you need that behavior it is easy to override the default session controller to do so. But I don't think it should be default in devise.

[2018-02-23 23:40] christophweegen commented on #4780
Could you specify the reason why you don't think this should be an option in devise?
Is an API-only use not intended for devise in general?

[2018-02-24 17:36] christophweegen opened #4782 "Unauthenticated DELETE /users/sign_out returns 204 status"
While working with a gem called [`devise-jwt`](https://github.com/waiting-for-dev/devise-jwt), i noticed that an unauthenticated request to `DELETE /users/sign_out` returns a `204 No-Content`.

The same as an authenticated request, whereas an unauthenticated one should return something like `401 Unauthorized`.

You can see the issue in detail here https://github.com/waiting-for-dev/devise-jwt/issu

[2018-02-25 20:17] NicklJR commented on #2472
Thank You!!!

[2018-02-26 15:39] martinos commented on #4630
In order to help people migrating their old apps. I think It would be great apply this patch on devise 3.5. Because migrating to an app to ruby 2.5 would imply migrating to devise 4.

[2018-02-26 16:29] tegon commented on #4630
This patch was also added to the `3-stable` branch: https://github.com/plataformatec/devise/commit/bddf051bfb4213114a3531708ccd68729c4ecef9

[2018-02-26 17:07] gmcnaughton opened #4783 "In Rails4, unauthenticated controller tests lost their content_type"
## Environment

- Ruby 2.4.1
- Rails 4.2.8
- Devise 4.4.1

## Current behavior

In Rails 4, controller tests which trigger the failure app lose their content_type (`response.content_type` is nil).

[code]

This started with bb44d42 (Devise 4.2), which changed how `Devise::Test::ControllerHelpers` simulates failure responses.

Previously ControllerHelpers called `render` with a content-type. Now, v

[2018-02-26 18:04] #4783 closed

[2018-02-27 20:21] titovskyi opened #4786 "devise"
# How To: Add an Admin Role
Eduardo de Santana Medeiros Alexandre edited this page on 28 Dec 2017 · 29 revisions

Option 1: With an Admin model
First generate the model and migration for the Admin role:

`$ rails generate devise Admin`
Configure your Admin model

class Admin < ActiveRecord::Base
  devise :database_authenticatable, :trackable, :timeoutable, :lockable
end
Adjust the generated migrat

[2018-02-27 20:24] #4786 closed

[2018-02-28 17:27] dgreen22 commented on #1350
@mib32 was my solution.

[2018-03-01 19:05] KaraAJC opened #4789 "4.3.0 to 4.4.0 breaks secondary user persisting in sessions"
## Environment

- Ruby **2.4.3**
- Rails **4.2.1**
- Devise **4.4.1**

## Current behavior

When invoking the `#simulate` action for our admin to assist a customer by simulating their experience, the admin user was signed out, and the customer was signed in, but the admin user is not being persisted in sessions.
[code]
When redirecting from the `customer#simulate` action to the `user#dashboard` pa

[2018-03-01 19:08] januszm commented on #4710
Update for Rails 5.2.0.rc1

Change

[code]
to
[code]
It seems that `secret_key_base` is not available under credentials anymore

[2018-03-01 20:13] dhiemstra opened #4790 "Model's validations are called on EVERY user's request"
https://github.com/plataformatec/devise/pull/4674 made a breaking change to the `update_tracked_fields!` method by removing `validate: false` from the `save()` call.

Basically this results in all the validations being called on every requested. Some companies run extended validations to ensure the validity of the email, phone number or vat number and often a 3rd party service / api is used to che

[2018-03-02 11:15] one-more-alex commented on #4767
+1 to having scope option.

While have no scope I am doing some terrible recreation of validator:
<pre>
# redefine uniqueness validator to confirm soft deletion
  self._validators[:email].reject!{|v| v.class == ActiveRecord::Validations::UniquenessValidator}
  self._validate_callbacks.delete self._validate_callbacks.find{|v| v.filter.class == ActiveRecord::Validations::UniquenessValidator && v.fil

[2018-03-02 12:40] one-more-alex commented on #4767
I even made commit request for this: #4793
Welcome to merge ;)
But probably some test addition maybe required to be clear and a number of Wiki pages correction (subdomain auth, auth bu login or email, etc).

[2018-03-02 14:41] gencer commented on #4710
@januszm, I am checking this at the moment and will report back with a merge if necessary.

[2018-03-02 19:40] tegon commented on #4790
When we merged #4674, we didn't know that it would change the contract of `Trackable` that much, that was definitely a mistake, so I'm sorry for this.
I'll work on another solution for the problem since it's causing that much trouble. I haven't before because the other issues (#4742 for example) could be solved it by making small changes in the validations. But you have a valid point: it seems wei

[2018-03-02 21:44] gencer commented on #4710
@januszm, I double checked with Rails v5.2.0-rc1.

`$ bundle exec rails credentials:edit`

Output:

[code]
...Let's check the values if correctly loaded to devise:

[code]
Are you sure this has changed on 5.2.0-rc1? I see nothing has changed.

Attn: @tegon

[2018-03-02 22:48] januszm commented on #4710
@gencer you're right, it was a different issue on my end, upgrade from Rails 5.2.0.beta2 to 5.2.0.rc1 broke my master_key and credentials became unusable. After fixing the master key, or dropping the new `credentials` feature completely the solution that I proposed earlier still works.

For those who encounter the same problem: if you have this issue, then most probably your master_key changed.

[2018-03-06 04:50] starrychloe commented on #4742
This is still broken!

https://stackoverflow.com/questions/48913707/devise-after-sign-in-path-for-not-working-being-ignored

Devise should not validate upon sign in! If you had some problem before, then you should validate when  REGISTERING/CREATING a user, but not when SIGNING IN / UPDATING a user. That renders `validate ... on: :update` completely useless! As it is, your TRACKABLE is broken now

[2018-03-08 11:40] pranav7 commented on #4056
@yoshi42662 How did you fix this issue?

[2018-03-09 21:20] airjoshb opened #4798 "Login not working - seems encrypted password issue"
I asked this on Stack Overflow, but no response in a month. I can log in via omniauth-twitter and via my admin user, but regular users get a 401, even after password reset link. On password reset, Devise logs in user, but if you logout and try to log in using new password, get a 401. If I create a new user, it won't let me log in.

In checking user records, it doesn't seem to be generating the has

[2018-03-09 23:09] tegon commented on #4454
Hello @ivanoblomov, thanks for your report.

Can you explain what combination of exploits can compromise authentication?

Thanks!

[2018-03-11 00:44] dcalixto opened #4799 "mistake fixed"

[2018-03-11 00:45] #4799 closed

[2018-03-11 19:35] egorodessa opened #4800 "small routes problem"
## Precheck

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- Finally, be nice and have fun!

## Environment

- Ruby **[2.5.0]**
- Rails **[5.1.5]**
- Devise **[4.4.1]**

## Current behavior

when file **routes.rb** have it:

[code]

and controller generated for manual edit, then it did not reac

[2018-03-12 10:33] jean-francois-labbe opened #4801 "Random csrf failure with omniauthable"
## Environment

- Ruby **2.5.0**
- Rails **5.1.5**
- Devise **4.4.1**

## Current behavior
I'm using `:omniauthable` with Gitlab as a provider so gem versions are:
omniauth: **1.8.1**
omniauth-gitlab: **1.0.3**
omniauth-oauth2: **1.5.0**

I currently have random success at my login attempts. When it fails I have a `Authentication failure! csrf_detected: OmniAuth::Strategies::OAuth2::CallbackError,

[2018-03-12 17:27] ivanoblomov commented on #4454
No worries, @tegon. To be clear, I didn't actually confirm a working exploit for this, though.

Being able to reset passwords for users who are inactive just struck me as counter to the whole concept of marking them inactive in the first place. And, as we've seen in the past, exploits are often built on just such edge cases in expected behavior.

[2018-03-12 23:20] Bennet11 commented on #4800
Hi There, I'm new in contributing to OSS projects and would love to try and work on this issue as my first Open Source contribution.

[2018-03-13 13:13] tegon commented on #4800
Hello @egorodessa, thanks for your report.

I haven't understood exactly what's the problem. Can you provide us a simple application that reproduces this issue in isolation, or maybe list the steps to reproduce it?
This can help us to figure out what's going on.

Thanks.

[2018-03-13 13:14] tegon commented on #4800
@Bennet11 thanks for your interest in contributing to devise!
I'm not sure what's the error in this issue, so I think it's better to clarify what's need to be done first.
But if you want, I can point another issue to you. What do you think?

Thank you!

[2018-03-13 14:02] wilde4 commented on #3119
I'm also getting the same issue - will post more info when I've worked it out.

[2018-03-13 16:00] 23tux opened #4802 "Punycode support"
## Environment

- Ruby **2.4.3**
- Rails **5.1**
- Devise **4.3**

## Current behavior

We have users that are using domains with special characters, for example user@exämple.de (german umlaut). We store them as unicode values in our database. This works for example in the current Firefox version, because they send them as the user enters them.

However, Chrome and Internet Explorer send the domai

[2018-03-13 20:19] Bennet11 commented on #4800
@tegon I was about to ask the same question you've asked since Im not sure what's the issue as well. Sounds about great to me. Thanks for accepting me btw ill try my best to contribute to devise.

[2018-03-13 20:54] tegon commented on #4781
Hello @userrails, thanks for your report.

As you noticed, we run warden in test mode, so this is an expected behavior. I'm not sure what path you should follow. You can abstract the logic to another object and test this object in isolation, or maybe create integration test as the code's comments suggest.

Thanks.

[2018-03-13 20:54] #4781 closed

[2018-03-13 20:57] tegon commented on #4798
Hello @airjoshb, thanks for your report.
Can you provide us a sample application that reproduces the issue in isolation?
You can also use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb).
That would help us find the issue.

Thank you!

[2018-03-13 21:01] tegon commented on #4801
Hello @jean-francois-labbe, thanks for your report.
Can you provide us a sample application that reproduces the issue in isolation?
You can also use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb).
That would help us find the issue.

Thank you!

[2018-03-13 21:05] tegon commented on #4789
Hello @KaraAJC, thanks for your report.

Maybe it's because we started validating the user inside `Trackable` 🤔
Can you test without the code introduced on https://github.com/plataformatec/devise/pull/4674?
BTW, we are going to stop running those validations on https://github.com/plataformatec/devise/pull/4796, so if that's the problem it's going to fixed soon.

[2018-03-14 14:36] janosrusiczki opened #4803 "View specs without Capybara"
I know I shouldn't post this here, I'm just trying to draw attention to my [SO question](https://stackoverflow.com/questions/49131846/devise-view-specs) which is sitting unanswered for days.

## Environment

- Ruby 2.3.1
- Rails 4.2.8
- Devise 3.5.10

## Current behavior

I have the following Devise view (in HAML):

[code]

If I run the following spec on this view:

[code]

It says: _undefined loc

[2018-03-14 16:36] janosrusiczki commented on #4803
Solved on SO with @mbuechmann 's help.

[2018-03-14 16:36] #4803 closed

[2018-03-14 18:21] #4790 closed

[2018-03-14 18:34] tegon commented on #4763
I haven't understood what the problem was on the previous issue, but now I do 😅 . Thanks, @JasonBarnabe.
This change seems reasonable to me, but I think we would have to do it in a major version since it isn't backward compatible.
Would you be willing to work on this?

[2018-03-14 18:45] tegon commented on #4765
Hello @pioz, thanks for your report.

I understand your use case, but I think other people might be using other patterns to return errors in their API, so I'm not sure this change could be beneficial for everyone.

Also, here we're always returning an `I18n` message, right? As far as I saw, this is not going to be an array, so it might be strange to use `errors` in the plural form. 🤔

[2018-03-14 19:38] pioz commented on #4765
And a configurable solution? So every one can choose what fit better for his project

[2018-03-15 00:33] airjoshb commented on #4798
I discovered the issue - and can't recall why it was there - but had attr_accessor for password, so it wasn't encrypting. A very random old search had pointed that out. All my tests were passing btw, which was weird. Thanks.

[2018-03-15 00:33] #4798 closed

[2018-03-15 10:15] AlexB52 commented on #4742
Another quick fix could be to override `sessions_controller#create` and use `#sign_in_and_redirect` instead of the current code especially if you use this method for `omniauth_controller`. Otherwise you get 2 different behaviour on sign_in.

While that issue enforces to have a valid record on sign_in, it is a bit weird behaviour because as @starrychloe mentioned it does create a session and when y

[2018-03-15 10:40] janosrusiczki opened #4805 "devise/confirmations/new view displays error on visitor access"
## Environment

- Ruby 2.3.1
- Rails 4.2.8
- Devise 3.5.10

## Current behavior

When loading the [generated devise/confirmations/new](https://github.com/plataformatec/devise/blob/master/app/views/devise/confirmations/new.html.erb) view as a visitor (not logged in user) the following error is displayed:

`Confirmation token can't be blank`

Also it does a select on users:

`User Load (2.5ms)  SELE

[2018-03-15 11:46] tegon commented on #4742
We already removed the validations on https://github.com/plataformatec/devise/pull/4796, I'll release a version soon.

[2018-03-15 13:46] tegon commented on #4805
Hello @janosrusiczki, I've just tested here with the latest version and haven't got any errors.

Aren't you hitting the `POST` route?

[2018-03-15 13:53] janosrusiczki commented on #4805
No, I'm doing GET. Additionally if you google for `"Confirmation token can't be blank"` you'll see that there are many sites with the same problem:

* https://www.cprverify.org/users/confirmation
* https://www.dukop.dk/user/confirmation?locale=en
* https://www.schoolchapters.com/users/confirmation

This is not a page someone would frequently check, I suppose this problem appeared in a Devise upgra

[2018-03-15 14:21] tegon commented on #4805
Oh, I see. So you aren't hitting `confirmations/new`, but `confirmations/show`. I tested with `/users/confirmation/new` and the error doesn't happen.
This route is supposed to be used to [confirm an email](https://github.com/plataformatec/devise/blob/master/app/controllers/devise/confirmations_controller.rb#L23), so the token has to be present. It works with `GET` because it's used as a link in em

[2018-03-15 14:29] janosrusiczki commented on #4805
For me this solves the issue, thank you.

[2018-03-15 14:29] #4805 closed

[2018-03-15 14:45] tirdadc opened #4806 "undefined method `rails5?' for Devise::Test:Module"
## Environment

- Ruby **[2.3.0]**
- Rails **[5.2.0.rc1]**
- Devise **[4.4.2]**

[code]

now throws this error:

[code]

The test itself hasn't changed. None of the other controllers specs result in this warning.

[2018-03-15 14:48] remomueller opened #4807 "Devise 4.4.2 now requires secret key to be set that worked without in 4.4.1"
## Environment

- Ruby **2.5.0**
- Rails **5.2.0.rc1**
- Devise **4.4.2**

## Current behavior

After a bundle update (devise updated from 4.4.1 to 4.4.2), I now get the following failure when loading the server or running tests:

[code]

## Expected behavior

I didn't expect to change devise configuration for the patch level release. I'm using `gem "devise", "~> 4.4.1"` in `gems.rb`.

Setting thi

[2018-03-15 14:51] monfresh opened #4808 "undefined method `rails5?' for Devise::Test:Module in 4.4.2"
## Environment

- Ruby 2.3.5
- Rails 5.1.5
- Devise 4.4.2

## Current behavior
Controller specs where the user is not authenticated fail with this exception:
[code]
An example stack trace is:
[code]

## Expected behavior
Tests that used to pass with Devise 4.4.1 continue to pass when upgrading Devise to 4.4.2

[2018-03-15 15:02] gssbzn commented on #4807
I'm having the same issue (ruby 2.4.3 in my case)
I'm guessing this was introduced with https://github.com/plataformatec/devise/pull/4712
Forcing us to set the secret key by the use of credentials
I may try to debug it later

[2018-03-15 15:16] monfresh commented on #4808
This bug was introduced here: https://github.com/plataformatec/devise/commit/3e23371b01443d6b8bdbfcbdcd33d2883847e39d#diff-bafaaa60fc003e648eb4981c9add523e

[2018-03-15 15:17] remomueller commented on #4807
Hmm, good catch, looks like a really rudimentary fix may look like this:

[code]

Although, definitely a cleaner way of achieving the same result.

[2018-03-15 16:07] shlima commented on #4808
The same with me + 1

[2018-03-15 16:36] tegon commented on #4806
Duplicate of #4808

[2018-03-15 16:36] #4806 closed

[2018-03-15 16:38] tegon commented on #4808
Ouch, the test helpers are using a method from devise's internal test suite, this is definitely wrong.
Sorry about this, we'll look into a fix.

[2018-03-15 16:43] tegon commented on #4807
Looks like we haven't covered the case where a secret key base was already set 😞
I'll look into a fix for this.

[2018-03-15 19:35] mrstif commented on #4696
@RocketPuppy did you end up figuring out what this was?

I backtracked through the code and realised that this is happening since `Warden` places a previous session in the env... though I cannot understand why:

[code]

this actually doesn't happen in normal Rails mode...

[2018-03-15 19:39] tegon commented on #4808
@monfresh can you test if this is fixed by using the branch of #4809?
I wanted to make sure it's working before merging the pull request.

[2018-03-15 19:44] tegon commented on #4807
@remomueller Just to make sure I understood the case correclty: you updated your app to Rails 5.2, right?
If so, from which version did you upgrade?
I'm asking this because you said you have `Rails.application.config.secret_key_base` in your initializer.

[2018-03-15 19:51] remomueller commented on #4807
@tegon, this recent update was from rails 5.1, however, the rails apps upgrades go back to rails 2 / rails 3.1. I haven't used secrets.yml.enc or the credentials that have been introduced as I've been using figaro to handle environment/application variables. (This was before both newer Rails conventions were introduced). Setting it this way still works in Rails 5.2, but I doubt that it's the prefe

[2018-03-15 19:59] tegon commented on #4807
@remomueller I see. I'm wondering whether your app hit the previous line before this version, which says `Devise.secret_key ||= app.secrets.secret_key_base `. Because even though this would be `nil` the app still responds to `secrets`.
I guess we have to check if the app responds to the method and also if the value is present for all the conditions.

[2018-03-15 20:06] remomueller commented on #4807
I did a quick check, and it does go into the first part of the original if statement in v4.4.1 as it does respond to secrets. Also the variable: `app.secrets.secret_key_base` contains the key that I set (it's not blank).

[code]

[2018-03-15 20:11] tegon commented on #4807
Oh, I see. Thanks for checking this.

[2018-03-15 20:28] RocketPuppy commented on #4696
I did not. I hacked my way around it by writing a test helper that intercepts the rails API requests.

[2018-03-15 20:42] monfresh commented on #4808
@tegon It works. Thanks!

[2018-03-15 22:07] jean-francois-labbe commented on #4801
I will try to provide you one.

[2018-03-16 04:47] rafaelfranca commented on #4801
Is your browser by any chance Safari?

[2018-03-16 10:50] jean-francois-labbe commented on #4801
Nope it's chrome, and I have the same issue with firefox.

I have a better understanding now. I can login into my application when doing the following:

* Go to site login page
* Clean site cookies
* Click on login with gitlab
* Authorize the login on gitlab page
* Then I'm back in my application and logged in

But if I do:

* Go to site login page
* **Clean site cookies**
* Click on login with gi

[2018-03-16 11:42] jean-francois-labbe commented on #4801
I have found the issue.

I had this: `<li><%= link_to 'Sign in with Gitlab', user_gitlab_omniauth_authorize_path, data: { turbolinks: 'false' } %></li>`

And by removing this `data: { turbolinks: 'false' }` I got it working as before.

What I don't understand is that it was working correctly before. Turbolinks went from **5.0.1** to **5.1.0**

Anyhow it's fixed.

[2018-03-16 11:42] #4801 closed

[2018-03-16 14:17] #4808 closed

[2018-03-16 14:57] rikkipitt commented on #4808
38 minutes after this was closed, I just had this issue too! When is the next proposed release to include this fix?

Cheers.

[2018-03-16 16:13] tegon commented on #4808
@rikkipitt I hope to release it today. There's another fix I want to include in this patch, but I think we can finish today.

[2018-03-16 16:38] tegon commented on #4800
@Bennet11 we have some issues with the [`Needs PR`](https://github.com/plataformatec/devise/issues?q=is%3Aopen+is%3Aissue+label%3A%22Needs+PR%22) label that are available to work on.
Do you want to work on any of those? You can chose one and if you have any questions I'd be happy to help.

[2018-03-16 20:06] tegon commented on #4807
@remomueller @gssbzn Can you help me test this? Use devise from the branch of #4810 and see if it's working?

[2018-03-16 20:36] rmeritz opened #4811 "Upgrading from devise 4.4.1 to 4.4.2 causes NoMethodError"
## Environment

- Ruby ruby 2.4.2p198
- Rails 4.2.9
- Devise 4.4.2

## Current behavior

After the minor version upgrade my tests now fail with:

[code]

[2018-03-16 20:47] tegon commented on #4811
Duplicate of #4808

[2018-03-16 20:47] #4811 closed

[2018-03-16 21:31] gssbzn commented on #4807
@tegon Looks like it's working for me now, thanks for the quick response

[2018-03-16 21:48] elrayle commented on #4808
@tegon Is release happening today?  We are considering pinning to keep our work moving forward, but if it is going to be released any minute... we'll wait.

[2018-03-16 22:22] remomueller commented on #4807
@tegon, just tried the `let-fix-4807` branch and ran my tests, looks like everything is working as expected, thanks!

[2018-03-17 23:28] #4807 closed

[2018-03-18 00:01] tegon commented on #4807
Fixed on version `4.4.3`.

[2018-03-18 00:03] mileslane commented on #4808
@tegon, do you anticipate a release that fixes all the deprecation messages that come when using devise with rails 5.1.5?

[2018-03-18 00:03] tegon commented on #4808
@elrayle sorry for taking so long to reply. It turns out I couldn't get the other fix ready until today.
But it's version `4.4.3` is now released.

Thanks everyone for your patience.

[2018-03-18 00:04] tegon commented on #4808
@mileslane not yet, but we can look into it. Can you open a different issue for this?

[2018-03-18 00:05] mileslane commented on #4808
@tegon, surely.  Thanks very much.

[2018-03-18 00:07] nynhex commented on #4808
Thanks so much for cutting a new release!  Had similar issues and it was annoying.  Great work as always! 👍

[2018-03-18 00:10] nynhex commented on #4808
Not sure if I should open another issue for this, but it appears the gem is cut/released to Rubygems, but when including it in the `Gemfile` as `gem 'devise', '~> 4.4', '>= 4.4.3'` and running `bundle update devise` I get the following error:

`Could not find gem 'devise (>= 4.4.3, ~> 4.4)' in any of the gem sources listed in your Gemfile.`

[2018-03-18 08:54] victorhazbun commented on #4399
This is not a simple change.

[2018-03-19 01:56] tegon commented on #4808
@nynhex I don't think this is a devise issue, it looks more like a bundler/rubygems issue.

[2018-03-19 18:12] tegon commented on #4304
I'm closing this issue because it has not had recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-03-19 18:12] #4304 closed

[2018-03-19 18:59] tegon commented on #4773
Hello @stevecrozz, thanks for your report.

We could do what you said - assume that an authentication always need to ignore the timeout - but since this is going to change devise's behavior significantly, that would require a major version, and we don't know if there's any code out there relying on the current behavior.
As far as I understand, you can get around this by setting `env["devise.skip_t

[2018-03-19 20:20] stevecrozz commented on #4773
Exactly. A note in the documentation to this effect would be welcome. Maybe it can be improved v5.

[2018-03-19 21:18] tegon commented on #4773
I'm not sure where is the best place to write this note though. Where do you think it will be more useful? On the `sign_in` method definition, or maybe in a Wiki page?

[2018-03-20 19:46] tegon commented on #4802
Hi @23tux, thanks for your report.

I think your solution is the way to go. Maybe you can also override the parameters instead of prepending a before action, but I think this is the path to follow.
The reason I say this is because this is a very specific use case and we can't do this with pure Ruby, we have to add a dependency to the `simpleidn` gem - which would be included for all the users, eve

[2018-03-20 19:46] #4802 closed

[2018-03-20 19:48] tegon commented on #4526
This seems like a reasonable change. Is anyone willing to open a PR for this?

[2018-03-20 20:13] tegon commented on #4424
@jpwynn We call Warden's `authenticated?` method [directly](https://github.com/plataformatec/devise/blob/f39c6fd92774cb66f96f546d8d5e8281542b4e78/lib/devise/rails/routes.rb#L480), which only accepts one scope.
I guess we could try to authenticate with multiple scopes by calling `warden#authenticated?` multiple times, but since Warden itself doesn't support this, it seems a bit hacky.
What you did

[2018-03-21 13:28] aruprakshit commented on #3483
[this blogpost](https://blog.andrewray.me/how-to-set-up-devise-ajax-authentication-with-rails-4-0/) worked for me.

[2018-03-21 15:40] marktellez commented on #4723
I am having this problem as well

[2018-03-22 22:59] tegon commented on #4584
It makes sense for me to change this, but sadly I can't be sure if this can cause some backward incompatibility because it can be a lot of code out there relying on this behavior.
I'm ok with changing this on a next major version, then the users can be sure that it's a significant change of behavior.
To work with the current version, I guess this can be solved by setting `env['devise.skip_trackabl

[2018-03-22 23:02] tegon commented on #4399
@victorhazbun Can you explain your concerns?

[2018-03-22 23:11] tegon commented on #4438
Hello @arthurthefourth, thanks for your report.

Just to make sure I understood: you performing an HTTP authentication via a JSON API?

[2018-03-22 23:12] tegon commented on #4535
Hello thanks for your request.
We don't have plans to support this for now, so although I know it's not ideal, you probably will have to override this code to add your custom behavior.
If this became a popular feature request, we could think about supporting in a next version.

Thank you!

[2018-03-22 23:12] #4535 closed

[2018-03-22 23:14] victorhazbun commented on #4399
@tegon I was looking into the code that handles the redirection/rendering in the controller and I saw that there was a method which sets errors for the reset_password_token https://bit.ly/2pu8vXN my concern is the way the controller responds when the resource has errors, it does not classifies which kind of error is, it always responds with the resource https://bit.ly/2FVHuXj so in order to implem

[2018-03-22 23:19] tuliren commented on #4535
Got it. Thank you.

[2018-03-23 08:58] waiting-for-dev commented on #4584
I understand your backwards compatibility concerns... I don't think that the change would be too drastic, because even if the implementation would change, the end-user functionality would remain the same. But maybe there is some edge cases out there...

The problem is that my gem is built on top of another gem I also developed which works with plain `warden`. The strategy in `devise-jwt` is just r

[2018-03-23 13:21] tegon commented on #4584
I see, and mostly I agree with you that the end-user functionality wouldn't change. Maybe I'm being too defensive on this, but we had problems in the past with strange devise behaviors that we fixed - and thought no one would be relying on them - but it turns out, a lot of people were, without even noticing.
About version `5.0`, I've created the [milestone](https://github.com/plataformatec/devise/

[2018-03-23 19:57] EdmundMai opened #4813 "OmniAuth::Strategies::OAuth2::CallbackError (csrf_detected | CSRF detected)"
I'm trying to login through my React Native mobile app using omniauth-facebook.

[code]

Notice I have removed `protect_from_forgery`. However, it is still complaining about CSRF:

[code]

How is devise normally used through APIs? My requests are coming from a mobile app so there is no CSRF token

[2018-03-24 01:47] tegon commented on #4540
@RouL You mean this should be handled in the application, right?
When you implement the method to get the IP you can do the security checks that you need.

[2018-03-24 09:51] rockandruby opened #4814 "Missing template layouts/devise for haml ext"
ruby 2.4.1
devise 4.4.3
rails 5.1.5
In initializers/devise.rb
`Rails.application.config.to_prepare do
  Devise::RegistrationsController.layout proc { |controller| user_signed_in? ? "application" : "devise" }
  Devise::SessionsController.layout proc { |controller| user_signed_in? ? "application" : "devise" }
  # And/or Sessions, Confirmations, Unlocks, Passwords
end`
I have view/layouts/devise.html

[2018-03-24 10:16] ahujasushant opened #4815 "<%= deviser_error_messages! %> not working on the devise login page. It works for forgot password and sign up page. But if we enter the wrong email on the sign in page. it just reloads the same page without showing any errors but logs in when we enter the right email and password."
## Precheck

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- Finally, be nice and have fun!

## Environment

- Ruby **[version]**
- Rails **[version]**
- Devise **[version]**

## Current behavior

Include code samples, errors, steps to reproduce the error and stacktraces if appropriate.

Will b

[2018-03-24 10:27] ahujasushant commented on #4814
you need to manually install it.
by typing in the command, rails g isntall devise::views.
did you do?

[2018-03-24 10:44] rockandruby commented on #4814
@ahujasushant sure I did, but this generator doesn't create layout. Also it works if I user pure html or erb extensions but not haml

[2018-03-24 14:08] mnlse opened #4816 "Require password for account deletion by default"
## Current behavior
Devise requires current password in order to change account, but does not require current password for account deletion.

## Expected behavior
Devise should require current password in order to delete account.

## Manual solution
[code]

[2018-03-24 14:11] rockandruby commented on #4814
damn, I forgot that haml isn't native rails ext. Sorry)

[2018-03-24 14:11] #4814 closed

[2018-03-24 18:46] tegon commented on #4815
You need to give us more information on how to reproduce this issue, otherwise, there is nothing we can do.
Please open up a new issue and make sure to fill in all the information requested in the template shown inside the text box.

Thank you!

[2018-03-24 18:46] #4815 closed

[2018-03-26 13:21] mrstif commented on #4696
@RocketPuppy I seem to have the reason for this to be happening.

Apparently, in rails-api mode, the `ActionDispatch::Cookies` and `ActionDispatch::Session::CookieStore` middlewares are inserted in the end of the middleware stack, which doesn't occur in normal Rails mode.

Due to this, those middlewares are included after Warden::Manager which messes up something in request specs...

Therefore, th

[2018-03-26 14:44] tegon commented on #4816
I'm ok with supporting this feature, but we can't require it by default since it isn't backward compatible.
We can add a setting and then check for it in the destroy method.
@mnlse If you're willing to open a pull request for this, we'd be happy to accept it.

Thanks!

[2018-03-26 19:21] stevecrozz opened #4817 "recoverable feature request : multiple or possibly persistent reset tokens"
## Environment

- ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-linux]
- Rails 5.0.1
- Devise 4.2.0

## Current behavior

When users initiate the password reset flow using recoverable, the password reset token is re-generated each time. This is fine when the user reliably uses the most recent token. But we are seeing cases where users request multiple resets (possibly due to email delivery de

[2018-03-27 01:40] tegon commented on #4817
We don't do this for security reasons. Take a look at #4653 for more information.

[2018-03-27 01:40] #4817 closed

[2018-03-27 01:44] stevecrozz commented on #4817
I took a look, but I'm not convinced. Is there any room for more discussion on this? As a starting point, I took a look at how amazon.com does password resets and they do allow you to use prior tokens when resetting your password. I didn't explore too deeply into how long they last, but you can use tokens prior to the most recent one...

[2018-03-27 17:00] yusukemorita opened #4819 "README Controller tests should explain need for "include Devise::Test::IntegrationHelpers" in rails 5"
## Precheck

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- Finally, be nice and have fun!

## Environment

- Ruby **[2.5.0]**
- Rails **[5.1.5]**
- Devise **[4.4.1]**

## Current behavior

In the Controller tests section of the README, it is stated that `Devise::Test::ControllerHelpers` needs

[2018-03-27 23:06] KaraAJC commented on #4789
that was indeed the problem! I tested my code on commit `ce04142` and it was working, then again on the commit from #4674, and it broke. It worked again when I worked with the commit from #4796.

Thanks so much for the help!
Let me know if there's any further documentation that might be useful for this case.

[2018-03-27 23:06] #4789 closed

[2018-03-28 12:11] tegon commented on #4696
Yeah, warden needs to run after a session middleware in order to work - which I guess it doesn't make much sense in an API application since they usually don't keep a session.
But anyway, thanks for digging into this!

[2018-03-28 12:17] tegon commented on #4819
Yeah, Rails 5 doesn't have controller tests anymore. We do have a session on the readme for integration tests too https://github.com/plataformatec/devise#integration-tests
But we aren't saying that Rails 5 comes with them by default. I guess it makes sense to add a note about this in the controller tests section.

If you're willing to open a PR for this, I'd be happy to accept it.

Thanks!

[2018-03-28 12:36] yusukemorita commented on #4819
Thanks for your quick comment @tegon , I've opened a PR :)
https://github.com/plataformatec/devise/pull/4820

[2018-03-28 14:38] cireficc commented on #2051
Another option instead of using SCSS like @eatoncw did is to simply catch Devise-specific flash types and map them to Bootstrap

(this is Slim code, but you get the idea)

*partials/_flash.slim*:
[code]

This transforms the Devise-specific `alert` and `info` keys to Bootstrap `danger` and `info` alert classes.

I think this or SCSS is the easiest method, because including various helpers, `class_e

[2018-03-28 17:36] jeremywadsack commented on #4399
We patched by replacing [line 49](https://github.com/plataformatec/devise/blob/f39c6fd92774cb66f96f546d8d5e8281542b4e78/app/controllers/devise/passwords_controller.rb#L49) with this for Rails 4.2:

[code]

In Rails 5 we can inspect the validator key rather than inspecting the message which is a better i18n approach:

[code]

[2018-03-29 20:26] stevecrozz commented on #4817
@tegon

Sure. From reading the discussion in #4653, the security concern seems to be mainly about regenerating new tokens each time. I'm not sure what the specific concern is with that, but for the moment, if we assume that's a valid concern, then I think we can still discuss a solution where we continue to generate new tokens each time one is requested, but also accept some number of previous tok

[2018-03-30 05:46] one-more-alex commented on #4767
When I made the PR I thought about passing not only `email_scope`.
Just was not sure if it will be acceptable.
It may be like:
`validates_uniqueness_of :email, {allow_blank: true, if: :will_save_change_to_email?}.merge(other_options_scope_case_etc)`

I do not see a need to touch Rails validators code here...
If you about some non-common things of validating, then developers still free to substitut

[2018-03-30 11:35] Yegorov opened #4823 "Wrong locale (I18n) in failure_app"
## Environment

- Ruby **2.4.1**
- Rails **5.1.6**
- Devise **4.4.3**

## Current behavior

I set locale in my ApplicationController, as this:
[code]
And if i submit wrong email with password to Users::SessionsController#create, flash mesage has :en locale.

For example, i monkey patched add `binding.pry` to [this](https://github.com/plataformatec/devise/blob/master/lib/devise/failure_app.rb#L109)

[2018-03-30 13:57] tegon commented on #4819
Closed via #4820

[2018-03-30 13:57] #4819 closed

[2018-03-30 14:39] tegon commented on #4765
It's possible, sure.
We actually just merged https://github.com/plataformatec/devise/pull/4678, which makes it easier to include custom modules in the failure app. So I guess you can override this more easily now.

[2018-03-30 14:42] tegon commented on #4536
Hi everyone, thanks for the report.

I'm not sure I fully understood the problem, but we have a pull request open (#4792) which seems related to this issue. Can you take a look at it to see if it solves this issue too?

[2018-03-30 14:45] tegon commented on #4597
Seems like the `devise_parameter_sanitizer` solution should work.
I'm willing to accept a pull request that makes it possible.

[2018-03-30 15:40] luismfonseca commented on #4536
Yes, that PR will solve this issue. 👍

[2018-03-30 16:21] tegon commented on #4813
Possibly related to #4801

[2018-03-30 16:31] tegon commented on #4481
Hello thanks for your report.
Can you provide us a sample application that reproduces the issue in isolation?
You can also use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb).
That would help us find the issue.

Thank you!

[2018-03-30 17:25] tegon commented on #4782
I see no problem in returning a 401 if the user isn't signed in, we actually already [check if there's any user in the session](https://github.com/plataformatec/devise/blob/master/app/controllers/devise/sessions_controller.rb#L61) before calling sign out, so if you're willing to work on this, a PR would be welcomed.
I'm also curious, is this causing a problem in your application? For me, it seems

[2018-03-30 17:28] tegon commented on #4758
Hello @abhinavmsra, thanks for the detailed explanation.

Can you provide us a sample application that reproduces this issue or maybe use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb)?
This seems like a lot of setup, so if you can provide us an executable sample that would help us find the issue faster.

Thank you!

[2018-03-30 17:28] tegon commented on #4096
@btazi Can you provide us a sample application that reproduces the issue in isolation?
You can also use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb).
That would help us find the issue.

Thank you!

[2018-03-30 19:31] iorme1 commented on #4526
Hi, I added a pull request for this issue. Let me know if I need to make any changes, thanks!

[2018-03-31 13:39] cmitz commented on #4807
Sorry to comment on a closed issue, but this still happens when using rails 5.1.6 with devise 4.4.3.

### Environment

* Ruby 2.5.1
* Rails 5.1.6
* Devise 4.4.3

And I'm getting the same error as remomueller. Devise 4.4.1 still worked for me

[2018-03-31 16:43] tegon commented on #4807
@cmitz Can you run the following commands inside your rails console and paste their output here?
[code]

[2018-03-31 16:57] ngw opened #4825 "Controller duplicating data"
## Environment

- Ruby 2.4.3
- Rails 5.1.4
- Devise 3.5.1

## Current behavior

First of all, I'm not sure if this is a bug or my code is the problem, I've tried to ask on Stackoverflow (https://stackoverflow.com/questions/49361613/form-for-devise-action-controller-duplicating-data) (but I didn't receive even a comment, and the behavior is definitely very odd.
I'm building a form with Elm, I'll le

[2018-03-31 19:29] cmitz commented on #4807
Hi, thanks for the remarkably quick response. Here it is:

[code]

[2018-04-01 07:17] christophweegen commented on #4782
Hey thanks for your reply :-)

Actually it isn't really a problem. I just discovered it while using [`devise-jwt`](https://github.com/waiting-for-dev/devise-jwt) for a rails api-only application while i was making some requests while testing. The idea was to show flash-like messages in the frontend like "You signed out successfully" or "You are already signed out" smth. like that, depending on the

[2018-04-01 15:06] AlecksJohannes commented on #4807
Hi, I'm using, I was trying devise 4.4.3 and 4.4.2 earlier but it didn't work as well. Same error as cmitz and remomueller
### Environment
* Ruby 2.4.2
* Rails 5.1.5
* Devise 4.3.0

[2018-04-02 16:30] arthurthefourth commented on #4438
That's correct! Thanks @tegon!

[2018-04-02 21:24] tegon commented on #4807
@cmitz That's odd, it seems like your application should have fallen on the second condition here: https://github.com/plataformatec/devise/blob/master/lib/devise/secret_key_finder.rb#L13 🤔
You are on the latest version, right? If so, can you add some debug statements to the `Devise::SecretKeyFinder` class to see in which condition your application is falling?

[2018-04-02 22:09] cmitz commented on #4807
I'm on 4.4.3. However, and I feel bad for not mentioning this earlier, it does not happen in development but only when deploying via docker-compose.

My setup breaks when I do the assets:precompile step. In that step, Devise is __completely right__ and the secret key is not available. The key is available, however, in the rails application as soon as it boots up.

I still think is really strange t

[2018-04-03 01:32] Zedouwedar opened #4827 "）："
## Precheck

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- Finally, be nice and have fun!

## Environment

- Ruby **[version]**
- Rails **[version]**
- Devise **[version]**

## Current behavior

Include code samples, errors, steps to reproduce the error and stacktraces if appropriate.

Will b

[2018-04-03 01:47] Zedouwedar opened #4828 "eee"
## Precheck

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- Finally, be nice and have fun!

## Environment

- Ruby **[version]**
- Rails **[version]**
- Devise **[version]**

## Current behavior

Include code samples, errors, steps to reproduce the error and stacktraces if appropriate.

Will b

[2018-04-03 12:52] #4828 closed

[2018-04-03 12:52] #4827 closed

[2018-04-03 12:53] tegon commented on #4540
Closed via #4777

[2018-04-03 12:53] #4540 closed

[2018-04-03 13:58] tegon commented on #4807
@cmitz Yeah, I think it's better to open another issue. I just saw now that you aren't on Rails 5.2 so this issue shouldn't have affected you.

[2018-04-03 21:18] tegon commented on #4438
@arthurthefourth Can you explain your use case? Is it a mobile app or a single page application?
Personally, I've never seen an HTTP basic authentication with JSON, so I'm just trying to understand what are your needs.

[2018-04-04 01:07] tegon commented on #4825
This is a rails behavior. It can be turned off by setting `config.wrap_parameters = false` in the initializer.

Related resources:
https://stackoverflow.com/a/27673892/3840858
http://api.rubyonrails.org/classes/ActionController/ParamsWrapper.html
http://guides.rubyonrails.org/action_controller_overview.html#parameters

[2018-04-04 01:07] #4825 closed

[2018-04-04 01:46] jufemaiz opened #4830 "Documentation confirmation - subdomains and case insensitive emails"
## Background

We are working through the ability to get a user without worrying about the case of their email, hence necessitating the use of the `find_for_authentication` method. This is as per recommended approach (ref: https://github.com/plataformatec/devise/wiki/How-To:-Use-case-insensitive-emails )

## Environment

- Ruby 2.3.7
- Rails 4.2.1
- Devise 4.3.0

## Current behavior

Documentation

[2018-04-04 14:17] tegon commented on #4399
Since this is going to be included in a major change, we can support only the Rails 5 version.
@jeremywadsack would you be willing to open a PR for this?

[2018-04-04 16:11] chandler37 opened #4832 "devise does not respect bcrypt's 72-byte limit"
## Environment

- Ruby 2.5
- Rails 5.1
- Devise 4.4.3
- Bcrypt 3.0

## Current behavior

Here's an rspec test case that unfortunately passes:

[code]

## Expected behavior

Creating a user with a password 72 bytes or longer should cause an ActiveRecord::RecordInvalid matching /Password is too long/

[2018-04-04 18:15] jeremywadsack commented on #4399
Yeah, I can do that. Might be a week or two, but I'll try to get something soon.

Next major release is dropping support for rails 4? It's still supported by Rails community and Rails 6 development just started [Jan 31](http://weblog.rubyonrails.org/2018/1/31/Rails-5-2-RC1-Active-Storage-Redis-Cache-Store-HTTP2-Early-Hints-Credentials/).

[2018-04-04 18:34] tegon commented on #4399
Maybe, we don't have a release date for the next major version and we also don't have enough features to release it yet.
So when we get to the next major version it might make sense to drop the support for Rails 4.
But if you already have the solution for it too, it might be worth it to include in the PR.

[2018-04-04 18:41] jeremywadsack commented on #4399
I'll include both.

[2018-04-04 19:06] tegon commented on #4767
@kylefox

I agree, and I think this is valuable especially for projects. But for libraries, we have to think long-term, because we have to support any API we introduce for future versions. Of course, other use cases seems less common but are still valid (like a [regular expression for passwords](https://github.com/plataformatec/devise/pull/4776/files)). But it seems like we already went in this di

[2018-04-04 21:47] iorme1 commented on #4356
I made a PR for this issue.   Please let me know if there are any issues with it. Thanks!

[2018-04-05 00:00] #4773 closed

[2018-04-05 00:38] kylefox commented on #4767
@tegon Thanks again for the thoughtful reply.

Totally understand & appreciate that 👍

Good point, I hadn't considered this. I guess a wiki article doesn't necessarily mean it's "officially supported" functionality. Maybe I'll take a crack at updating this specific article.

Sorry, I should clarify — **I'm definitely not using the same table for different Devise users**.

An online store like Shop

[2018-04-05 00:40] iorme1 commented on #4816
I'll be working on a PR for this.

[2018-04-05 14:24] tegon commented on #4767
@kylefox thanks for clarifying the use case for this. It makes a lot more sense now 👍

I agree with the index part, the best we can do is to document how the migration should be changed if the `email_scope` option is defined.

[2018-04-06 20:12] tegon commented on #4830
Hello @jufemaiz, thanks for your report.

The Wiki is maintained by the community, which means those articles are solutions that worked for some users in the past, and like you said, they can be outdated.
I didn't understand exactly what is your question. Do you wanna know how to have case-insensitive emails, or do you wanna know how to use devise with other authentication keys (like `subdomain`)?

[2018-04-06 21:41] tegon commented on #4555
I'm also not sure why they're commented out, but in some projects I've worked on, the developers would delete all the commented parts to keep the initializer with only the configurations needed.
I guess if we had all the settings uncommented it could look like devise needs all those values set in the initializer to work properly - which isn't true because they're configurated by default. What do y

[2018-04-07 00:52] vronin opened #4835 "Devise doesn't play well with Apartment after password failure"
## Environment

- Ruby 2.4.2
- Rails 5.1.5
- Devise 4.4.3
- Apartment 2.1.0

## Current behavior

I am pretty sure that everybody know about apartment gem. However, for completeness sake, apartment gem (https://github.com/influitive/apartment) provides multitenancy for Rails and ActiveRecord.

I am using both devise and apartment gem. They play nicely with each other. However, I just stumbled on o

[2018-04-07 10:41] Yegorov commented on #4823
Hi @tegon. Thanks for your response!
If this matters, then I use [Rack::Locale middleware](https://github.com/rack/rack-contrib/blob/master/lib/rack/contrib/locale.rb) to determine the current user locale.
I modified your [test application (i18n-failure-app_2.zip)](https://github.com/plataformatec/devise/files/1886285/i18n-failure-app_2.zip).
To reproduce the error you need repeatedly change the l

[2018-04-07 11:14] balakirevs opened #4836 "email encryption"
What is best way to archive authentication with email encryption ?

https://github.com/attr-encrypted/attr_encrypted/issues/126

[2018-04-09 01:13] vronin commented on #4835
I found couple of things:
1) Devise on a failure calls another controller method.
This is implement in file /lib/devise/failure_app.rb inFailureApp.respond
2) it looks like there are couple of methods to force it to redirect (vs recall). The way how I did this is subcall SessionController and override
[code]
3) That being said recall method doesn't work with apartment gem.

[2018-04-09 07:34] duytran21 opened #4838 "Devise Sign Up doesn't work anymore"
## Precheck

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- Finally, be nice and have fun!

## Environment

- Ruby 2.4.0
- Rails 5.0.7
- Devise 4.4.3

## Current behavior
I don't know why right now my devise sign up controller doesn't work anymore. Previously, It works fine I can create user a

[2018-04-09 10:10] rlue commented on #4555
I agree with you 100%, @tegon — commenting out config values is a good way to subtly communicate 1) that there are defaults in place, and 2) what those defaults are.

But speaking to @rafaelfranca's point, if the defaults change in a new version, then those commented-out values become lies, which could make for a debugging nightmare.

My understanding of semver is that anything that breaks backwar

[2018-04-09 12:07] sowenjub opened #4839 "Rails routing using devise and subdomain constraint (bis)"
This is a follow-up on a [closed issue](https://github.com/plataformatec/devise/issues/4637), providing a demo app to reproduce it (see the app's [README.md](https://github.com/sowenjub/authenticated_subdomain/blob/master/README.md) for installation instructions).

## Environment

- Ruby **2.5.1**
- Rails **5.2.0.rc2**
- Devise **4.4.3**

Demo app: https://github.com/sowenjub/authenticated_subdoma

[2018-04-10 02:40] tegon commented on #4838
But what is the output of `record.errors`?

[2018-04-10 14:31] array42 commented on #4205
http://guides.rubyonrails.org/configuring.html#deploy-to-a-subdirectory-relative-url-root
Sample should be simple: just deploy to a subdirectory.

[2018-04-10 19:09] duytran21 commented on #4838
Hi Tegon,
Here is the record error
ActiveRecord::RecordInvalid (Validation failed: Role must exist). But in the User controller I already defined a function to assign Role_id before Record is saved.
here it is:
`
      class User < ApplicationRecord
                before_create :set_default_role

       private
               def set_default_role
               self.role ||= Role.find_by_name('re

[2018-04-10 21:19] duytran21 commented on #4838
I already found out the problem. After I do bundle install to update something I realize that before_created is deprecated that's why it doesn't load my set_default_role() function. I have to use before_validation. Now everything is working fine.
Thanks @tegon for participating in this issue with me.

[2018-04-10 23:00] rafaelfranca commented on #4555
I still prefer uncommented defaults so we can actually change defaults in minor releases.

[2018-04-10 23:10] #4838 closed

[2018-04-11 18:33] arthurthefourth commented on #4438
Ah sorry, @tegon, I misunderstood your question. We're not doing HTTP basic authentication - we just log into our app by posting to `create` in a subclass of `Devise::SessionsController`. But on login failure, the `FailureApp#respond` method has a choice of three options for generating a response (`http_auth`, `recall`, and `redirect`), and it seems like only `recall` uses `i18n_message(:invalid)`

[2018-04-12 19:42] iorme1 commented on #4816
I finished the feature and submitted a PR.

[2018-04-13 14:24] bgr11n opened #4841 "Method #after_database_authentication not called after reset_password"
## Precheck

Callback #after_database_authentication is not called after reset_password but user is authenticated and in DB `sign_in_count` is 1.

## Environment

- Ruby 2.4.2
- Rails 5.1.4
- Devise 4.3.0

## Current behavior

1. Invite user with reset password link;
2. Follow that link;
3. User is logged in and password updated.
4. `after_database_authentication` callback is not triggered.

## Ex

[2018-04-13 18:11] iorme1 commented on #4573
I will be working on a PR for this issue within the next few days.

[2018-04-13 20:33] Alex1sz commented on #4841
+1

[2018-04-13 23:01] tegon commented on #4839
Hey @sowenjub, thanks for creating the sample app, it really helps us a lot.

I don't know if I did something wrong, but I tried to follow your steps but I couldn't get the error:

![authenticated-subdomain](https://user-images.githubusercontent.com/3727827/38760934-8ca396a8-3f44-11e8-834d-9fd7bae34acc.gif)

Can you point me if I did something differently?

[2018-04-14 00:13] sowenjub commented on #4839
@tegon Can you try with a different port + an incognito window?
I find that the first time I click on the top link (This link should work), I'm redirected to the sign in page, but then if I enter my credentials and sign in again, that link now works fine.
Also, from that point, if I sign out and sign back in, it still works.
But if I sign out, clear my browsing data, and sign in again, then the li

[2018-04-15 19:26] benbonnet opened #4842 "Unable to use custom views for emails"
## Environment

- Ruby 2.5
- Rails 5.2
- Devise 4.4.3

## Current behavior

For some reason, we're having a complete custom path for views

We have to define a custom path for the mailers views. The mailer custom path is being ignored with the following, seem that `template_path` has no effects :

[code]

The above is using the expected layout, but for the views, nothing to do, it picks the defaul

[2018-04-15 22:46] lawhorkl commented on #2051
What I did to get around this was to just write a simple view helper. It's not perfect but its implementation is simple and it is entirely in the presentation layer rather than a switch in the controller, like this:

[code]

And then in your view like this:
[code]

This is similar to the workaround that @cireficc suggested, but I prefer the use of `case` over a hash mapping and lets you have contr

[2018-04-16 03:05] KickButtowski80 commented on #4271
[ActiveJob] [CommentBroadcastJob] [29558acd-658a-4a3a-b870-f447881740b8] Error performing CommentBroadcastJob (Job ID: 29558acd-658a-4a3a-b870-f447881740b8) from Async(default) in 34.14ms: ActionView::Template::Error (Devise could not find the `Warden::Proxy` instance on your request environment.
Make sure that your application is loading Devise and Warden as expected and that the `Warden::Manager

[2018-04-16 21:55] iorme1 commented on #4573
Unfortunately, redirecting to the same page here loses the "devise_error_messages!" method call in the view because the resource.errors is empty after redirect, and the devise_error_messages! call checks to see if 'resource.errors.empty?' before returning the sentence about the errors and error messages.  You can redirect to the same page and keep the error messages themselves, but it won't displa

[2018-04-18 00:29] ACPK opened #4844 "Convert passwords to use pbkdf2"

[2018-04-18 00:50] #4844 closed

[2018-04-20 01:56] jclusso commented on #4271
There is no solution. You need to pass in the current user into your
worker. This is the result of you trying to call current user in something
rendered by application renderer.

On Sun, Apr 15, 2018 at 11:06 PM Izak T <notifications@github.com> wrote:

--
Regards,
Jarrett Lusso

[2018-04-20 08:58] pezholio opened #4845 "Illegal instruction error when accessing sign in page"
## Environment

- Ruby 2.4.2
- Rails 5.1.6
- Devise 4.4.3

## Current behavior

I've installed Devise, and am using the `confirmable` with some tweaks to allow admin users to send the confirmable link to the users, and allow users to set passwords after confirming as outlined in https://github.com/plataformatec/devise/wiki/How-To:-Override-confirmations-so-users-can-pick-their-own-passwords-as-par

[2018-04-21 07:11] KickButtowski80 commented on #4271
@jclusso can you be more specific about how I can solve my issue?
if more info is needed, I can post here
thank you

[2018-04-21 10:40] TamerB opened #4847 "Cann't login in Google Chrome after adding ssl through Nginx"
## Environment

- Ruby **[2.5.0p0]**
- Rails **[5.1.5]**
- Devise **[4.4.1]**

## Current behavior

Before adding Nginx and ssl certificate, I could login normally using any browser.

However, after adding Nginx and ssl certificate, I can sign in normally using Mozilla Firefox. But, when using Google Chrome, I cann't login, instead I get the following inside my log messages:

    Processing by Dev

[2018-04-22 08:02] jaspertomas commented on #753
https://github.com/plataformatec/devise/issues/4594
In rails 5, please try to run
spring stop
before you do
rails generate devise:install

[2018-04-22 08:03] jaspertomas commented on #4322
Just putting it here coz this solution is so hard to find
https://github.com/plataformatec/devise/issues/4594
In rails 5, please try to run
spring stop
before you run
rails generate devise:install

[2018-04-23 20:44] melsatar opened #4849 "Support for GDPR"
Do you have any plans to support GDPR? or how we can support that using the current setup

[2018-04-24 06:02] dcalixto opened #4850 "uninitialized constant CustomFailure (NameError) on CustomFailure"
after added the
[code]
and the

[code]

started this NameError issue

[code]

So i tried to  require 'devise', and did not fixed either. so, someone has any hint in this issue?

## Environment

- Ruby 2.5.0
- Rails 5.1.4
- Devise 4.4.1

[2018-04-24 08:07] fakenine commented on #4849
I've been wondering about this too. An option to opt out the fields that are personal data when installing devise would be nice. i.e: `rails generate devise:install --gdpr true` would

- remove the IP address field in the migration
- remove the email address field in the migration and replace it with a username field (thus changing the signin process)

[2018-04-25 01:27] #4850 closed

[2018-04-25 04:56] rafaelfranca commented on #4849
Devise is a generic authentication solution and has no plan or need to change to conform specific legislations of countries/states. That is under the responsibilities of the applications since it is their that have the context about which information is being stored.

[2018-04-25 08:34] fakenine commented on #4849
GDPR is not a specific legislation of one or few countries/states. It concerns you as soon as you have users that are citizens of an European country (there are around 353 million internet users in Europe).

Even if you are in the US and have a little app, with one EU user, you are concerned by GDPR.

GDPR is complicated to understand, even more for junior developers/developers that build their fi

[2018-04-25 11:03] abhilashak commented on #3059
Thank you so much @muichkine  You saved my Time!
I have exact same issue, and I am using
**Rails 4.2.7.1 & Devise 3.5.10   With MongoDB, MongoId 5.0.2**

Always After login I am getting

    `ActionController::InvalidAuthenticityToken in SessionsController#create
ActionController::InvalidAuthenticityToken`

and I have

   `before_filter :authenticate_user!`

this code in my dashboard_controller.rb

[2018-04-25 17:55] rgpass commented on #973
Bumping this 1.5 years later. Has this been fixed?

[2018-04-25 19:44] iorme1 commented on #4573
@tegon , just making sure you see my last message on this issue. Trying to clarify how you want this issue solved exactly.

[2018-04-26 02:59] abhinavmsra commented on #4758
Sorry @tegon I totally forgot about the issue. I will prepare a sample application over the weekend

[2018-04-26 09:13] rafaellima opened #4852 "Timeout based on last_sign_in"
## What I'm trying to achieve
Have a timeout regardless of the user's activity.

## Current behavior

Devise makes it possible to configure a timeout, which you can set how long it is going to last via the`timeout_in` parameter. The [logic behind it](https://github.com/plataformatec/devise/blob/f39c6fd92774cb66f96f546d8d5e8281542b4e78/lib/devise/hooks/timeoutable.rb#L14) though uses a value called

[2018-04-26 09:54] sowenjub commented on #4839
Hey @tegon, did you get another chance to test using the instructions above?

[2018-04-27 09:01] scragz commented on #4603
Still getting this error. Looks like it's [still using *args](https://github.com/plataformatec/devise/blob/master/lib/devise.rb#L481)

[2018-04-27 18:19] lancecarlson opened #4853 "Default password range should be adjusted to comply with NIST standards"
## Current behavior

[code]

## Expected behavior

[code]

The minimum value should be 8 characters. The max value should be much higher than 128. Maybe 255? I don't see any reason why you would want to limit users on the max length (perhaps within 1000 characters), especially if they're using 3rd party password generator tools.

I can file a PR with this change depending on what people decide mak

[2018-04-27 20:37] rafaelfranca commented on #4849
I think that is a good compromise. If you want to do it please open a PR, but I don't think we should include an option and implement code specifically for gdpr.

[2018-04-28 19:16] melsatar commented on #4849
It is important to include that in the future release and this should be soon. All service providers around the world started to align with GDPR. As @fakenine mentioned it is not like any specific legislation for a specific country.

I hope if you can reconsider this again.

[2018-04-30 11:19] M5oul opened #4855 "Can’t log in to perform tests"
## Environment
- Ruby 2.4.1
- Rails 5.1.2
- Devise 4.4.3

## Current behavior
I would like to test features inside the app with MiniTest.
Do to so, I need to be able to log in the app.

After creating and confirming a user account, I tried [test helpers](https://github.com/plataformatec/devise#test-helpers), [How To: Testcontrollers](https://github.com/plataformatec/devise/wiki/How-To:-Test-contro

[2018-04-30 17:51] rafaelfranca commented on #4855
What is the superclass of your controller?

[2018-04-30 18:12] rafaelfranca commented on #4849
I just did in the comment above and I'm asking for help to implement. Just to be clear, can someone send a PR with the required changes? We will make it the new default.

[2018-04-30 18:32] fakenine commented on #4849
@rafaelfranca Thank you! I will look into this this week.

[2018-05-01 05:52] NielsKSchjoedt commented on #4724
+1

[2018-05-01 14:47] kirubakaran89 opened #4856 "How to convert UTC DateTime to Milliseconds in Ruby on rails"
Hi
  How to convert UTC  DateTime to Milliseconds or ticks in Ruby on rails,below attached sample code getting UTC DateTime
date =DateTime.now.utc
# 2018-05-01 14:42:28 UTC
I want that above DateTime to milliseconds

[2018-05-01 14:48] lancecarlson commented on #4573
@iorme1 It's kind of a crappy hack, but you could POST to /users/sign_up instead of /users. The alternative would be to hack up the way devise/rails supports validation errors and store it in the session.

[2018-05-01 14:53] lancecarlson commented on #4856
This is not relevant to devise or even rails specifically. A quick google search I found this:

https://stackoverflow.com/questions/13148888/how-to-get-the-current-time-as-13-digit-integer-in-ruby

[code]

Not sure what the implications are for UTC, but you will have to research that yourself.

[2018-05-01 14:58] lancecarlson commented on #4816
@tegon @iorme1 This looks good to me. If you want this to default to off, I would make the generated config commented out and assigned to true. If you want this to default to on, then I would leave the config uncommented, but change its value to true.

[2018-05-01 19:09] #4856 closed

[2018-05-01 21:33] mrsweaters commented on #4849
@fakenine Would this also require encrypting the email address?

[2018-05-01 21:39] melsatar commented on #4849
Yes, and also hiding all personal data from logs and sessions, also a way to anonymize the user if the data is backed up. for example, if you take a backup from production to staging or development environment the users' data should be anonymized hashed for example.

Also, a method to export all data related to the user, and delete all users records as well

[2018-05-01 21:56] fakenine commented on #4849
I think it should be done step by step, at least removing the IP address first as it is considered as sensitive/personal data, stored by default but not used by everyone.

I don't think Devise should encrypt the email by default. It could affect performance on most apps as you would need to decrypt the email field each time you need to read it (like in a User Profile page, or an Admin Dashboard li

[2018-05-01 22:02] melsatar commented on #4849
@fakenine I agree, part of this is out of device scope, but I think encrypting the email will be good to have at data model level but it can be default decrypted at views level. Also, this can be optional so if affects the performance you can disable it.

[2018-05-01 22:10] melsatar commented on #4849
I think it is important to keep IP address for detecting the malicious attacks, and it can be used in other features.

[2018-05-01 22:25] fakenine commented on #4849
I understand. What I meant was to remove the `:trackable` option from the default generator. That's the option that allows the app developer to track different things from the user (like sign in IP). I will submit a PR for this.

[2018-05-01 23:46] mrsweaters commented on #4849
For the IP address, can't you anonymize the ip instead? Zero the last octet of ipv4 and keep the first half of ipv6 address?

[2018-05-02 07:52] M5oul commented on #4855
This is  `ActionDispatch::IntegrationTest`.

[2018-05-02 14:57] rafaelfranca commented on #4855
Have you tried https://github.com/plataformatec/devise#integration-tests?

[2018-05-03 08:29] M5oul commented on #4855
Yes, but I have an `NoMethodError: undefined method 'users'`.

[2018-05-03 10:26] M5oul commented on #4855
Ok, I have been able to log in with my solution.
I had an issue with something else. I don't know what it is.
Thanks anyway.

[2018-05-03 10:26] #4855 closed

[2018-05-03 21:06] dvanderbeek commented on #4724
I took a stab at a gem for this feature. Feedback or PR's would be greatly appreciated! https://github.com/dvanderbeek/magic-link

[2018-05-03 21:07] John-Goff opened #4859 "Controller test helper sign_in raises error with Rails 5.2"
## Precheck

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- Finally, be nice and have fun!

## Environment

- Ruby **[version]** 2.5.0
- Rails **[version]** 5.2.0
- Devise **[version]** 4.4.3

## Current behavior
Added test helpers to my application as described in the readme. When I attempt t

[2018-05-03 21:36] rafaelfranca commented on #4859
Can you reproduce this problem without RSpec? This looks like an issue on RSpec and they way they define a controller tests.

[2018-05-03 21:37] rafaelfranca commented on #4859
Ah, other thing. Try to change the `before(:all)` with `before`. I guess that is the problem. The `before(:all)` runs before all the tests and in the class level. The `@request` object is only set on the instance level, so on each test.

[2018-05-04 03:27] KelseyDH commented on #4724
@dvanderbeek   Very cool!  I just [posted about this on Reddit](https://old.reddit.com/r/rails/comments/8gw82j/magiclink_a_rails_authentication_gem_for/) in hope to get some additional attention on it.  When the gem's documentation is fleshed out a bit this would definitely be worth posting to Hacker News also.

[2018-05-04 03:40] jclusso commented on #4271
I assume you’re trying to render a view with application renderer that calls something like current_user. You can’t reference anything like that in a view being rendered by application renderer in a worker because it has no idea about warden. You’d have to pass that referenced user through the worker from where you start it. Then pass it into the view at that point. Hope that’s more informative.

[2018-05-04 07:26] KickButtowski80 commented on #4271
thank you.
which part of my code is needed?

[2018-05-04 08:49] keoghpe opened #4860 "NoMethodError when using Rails.application.routes.recognize_path"
## Environment

- Ruby 2.3.3
- Rails 5.1.0
- Devise 4.3.0

## Current behavior

We have two different root paths depending on whether a user is logged in or not:

[code]

I'm currently using Rails `recognise_path` to identify the controller and action a user is visiting. This works fine for other routes in the app, but I get an exception when I pass in the root path:

`Rails.application.routes.rec

[2018-05-04 08:50] #4860 closed

[2018-05-04 08:51] keoghpe commented on #4860
Closing because I realise this was already addressed here: https://github.com/plataformatec/devise/issues/3747

[2018-05-04 12:38] thooams opened #4861 "BCrypt::Errors::InvalidHash: invalid hash"
## Environment

- Ruby **2.5.1**
- Rails **5.2.1**
- Devise **4.4.3**

I want to create a simple user into the seed file. Before this code worked. :(

## Current behavior

    User.create!(email: 'john@doe.com', password: 'abép*éb«be', password_confirmation: 'abép*éb«be')
    =>  BCrypt::Errors::InvalidHash: invalid hash

## Expected behavior

    User.create!(email: 'john@doe.com', password: 'abé

[2018-05-04 12:49] jclusso commented on #4271
Where ever is throwing the error.

[2018-05-04 13:51] jufemaiz commented on #4830
Yep @lancecarlson I'd like to ensure the best practice documentation is up to date for others!

[2018-05-04 16:04] newfylox opened #4862 "How to add another parameter to validate a user?"
Hi guys,

I'm looking for a simple solution to add another parameter with `email` to register a user or find a user. Right now `find_resource` is only using `email` but I would like to do something like this
[code]
so it would be a `where` clause on `email` AND `my_param` for every calls (register, login, logout, etc.)

I don't want to override all the controllers or copy a whole file from your ge

[2018-05-04 16:09] John-Goff commented on #4859
Looks like that's it, works if I use `before` or `before(:each)`. Thanks for the help. Maybe make a note of that in the readme?

[2018-05-04 16:09] #4859 closed

[2018-05-04 19:22] lancecarlson opened #4863 "Proposal: Merge devise-encyptable into devise project"
As bcrypt gets older, other encryption methods will become available. Devise should treat these encyption methods like first class citizens and support different encryption methods out of the box. You should still be required to install a plugin to get other less known encryption methods to work, but I think the current implementation is confusing for plugin authors try to extend the library. For

[2018-05-05 00:25] ttilberg opened #4864 "Cannot find auto-generated secret_key_base in development"
A friend and I started a new project on Ruby 2.5.1, Rails 5.2.0, Devise 4.4.3

When I cloned the project, I was unable to run any rails/rake tasks, since Devise was not able to find the key.

The intent is that Rails will automatically set `SECRET_KEY_BASE` for you in dev and test: [link to merge](https://github.com/rails/rails/pull/30067/files#diff-580e183141be706162224ef696bdb6c7R413)

I see tha

[2018-05-05 09:45] tannakartikey commented on #4536
Hi, @tegon. Any plans of merging it anytime soon?

[2018-05-05 18:06] zachsmith commented on #4861
Same issue

* Ruby: 2.5.1
* Rails: 5.1.6
* Devise: 4.4.3

[2018-05-07 00:09] zachsmith commented on #4861
For me, this seems to have something to do with bcrypt and not devise. I haven't figured our the issue yet but have narrowed it down and what I'm seeing is not a devise bug.

[2018-05-07 02:02] zachsmith commented on #4861
My issue is related to the Fedora 28 upgrade. It is being tracked here:

https://github.com/codahale/bcrypt-ruby/issues/170

and here:

https://github.com/codahale/bcrypt-ruby/issues/165

[2018-05-07 09:44] AbhijithRavindran opened #4865 "Error 500 for ruby 2.5 ."
- Ruby **[2.5.0]**
- Rails **[5.2]**
- Devise Latest

Log:

- Showing syntax error in sessions controller.
- 500 Error

Result:

- Redirected to error page.

Solution:
Revert back to ruby 2.4.2

What exactly is the issue ? Does devise support ruby 2.5 ??

[2018-05-07 09:52] nashby commented on #4865
Ruby 2.5 is supported.  You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2018-05-07 09:52] #4865 closed

[2018-05-07 11:37] ashutoshpith opened #4866 "LoadError in Devise::RegistrationsController#create"
cannot load such file -- bcrypt_ext

    raise Bootsnap::LoadPathCac

he::CoreExt.make_load_error(path)
  rescue Bootsnap::LoadPathCache::ReturnFalse
    return false
  rescue Bootsnap::LoadPathCache::FallbackScan

![screenshot 92](https://user-images.githubusercontent.com/31169310/39699959-1bfecf2a-5219-11e8-84de-a4046af19a8b.png)

[2018-05-07 21:32] ceochronos opened #4867 "Undefined callback"
## Environment

- Ruby **2.5.0**
- Rails **5.1.6**
- Devise **4.4.3**

## Current behavior

After upgrading from rails 4.2.3 with devise 4.2.1 to rails 5.1.6 with devise 4.4.3 app does not start in development mode.

log says:

[code]

User.rb
[code]

## Expected behavior

Application should start or print deprecated messages.

[2018-05-08 13:10] johnunclesam opened #4868 "Rails, devise, SPA, redirect to custom url (with param in query string) after logout and login (sign_out, sign_in)"
I'm not to asking help.

i'm just wondering if this case is already discussed here: https://stackoverflow.com/questions/50234407/rails-devise-spa-redirect-to-custom-url-with-param-in-query-string-after-lo

[2018-05-08 14:06] tegon commented on #4536
@tannakartikey the PR is still missing a test case for the new behavior.

[2018-05-08 14:08] tegon commented on #4830
But why do you need to override `find_for_authentication`?

[2018-05-08 14:14] tegon commented on #4573
@iorme1 Sorry for taking so long, I was on vacation and didn't see this. I don't have a better solution right now, I'll have to think better about it.

[2018-05-08 14:40] tegon commented on #4866
Hello @ashutoshpith, thanks for your report.
Can you provide us a sample application that reproduces the issue in isolation?
You can also use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb).
That would help us find the issue.

Thank you!

[2018-05-08 18:26] tegon commented on #973
@rgpass is the localized template option not working for you?

[2018-05-08 18:29] tegon commented on #4839
@sowenjub not yet, I've just returned from my vacations. I'll try to take a look again this week.
But by reading your last comment:

This could be a cookie-related issue, I mean, cookies are created for a specific domain, and maybe the cookie isn't valid for the other domain. (I'm justing raising an concern here, I haven't looked at this closer yet).

[2018-05-08 18:38] rgpass commented on #973
The template strategy partially worked. I wanted to set the locale in the mailer rather than having to call `I18n.t('my-translation-call', locale: @resource.locale)`. I did this doing:

[code]

Now my views are much easier to read:

[code]

Thanks for the response!

[2018-05-08 18:38] tegon commented on #4847
Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

Thank you!

[2018-05-08 18:38] #4847 closed

[2018-05-08 18:50] tegon commented on #4864
Hello @ttilberg, thanks for your report.

Seems like we didn't take this one into account when we created `Devise::SecretKeyFinder`. We should support it too. If you're willing to work on this, I'd be happy to accept a pull request.
Otherwise, I can do it, but it might take a while because I have some other issues to look into first.

Thanks!

[2018-05-08 21:38] tegon commented on #4096
I'm closing this issue because it has not had recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-05-08 21:38] #4096 closed

[2018-05-08 21:40] tegon commented on #4466
I'm closing this issue because it has not had recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-05-08 21:40] tegon commented on #4481
I'm closing this issue because it has not had recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-05-08 21:40] #4481 closed

[2018-05-08 21:41] tegon commented on #4800
I'm closing this issue because it has not had recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-05-08 21:41] #4800 closed

[2018-05-08 21:41] tegon commented on #4813
I'm closing this issue because it has not had recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-05-08 21:41] #4813 closed

[2018-05-09 01:13] KickButtowski80 commented on #4271
sorry for my late response
Is it better to send you github link?
https://github.com/KickButtowski80/blogwithpolymorphiccoments

[2018-05-09 06:54] lothar59 commented on #4710
In my case I believe it's the gem devise_auth_token that overrides my config.secret configuration. Renaming devise.rb to zdevise.rb or something likewise did the trick.

[2018-05-09 10:59] bearded-avenger commented on #4466
This is still an issue, and yeah the above bug is just like it.

Our app uses notifications. Each notification is in a partial. Each partial has something like current_user.has_read_notification?. With the way things are now, as you mentioned, there's no way to get a handle on current_user. Passing the user through the partial and doing a lookup isnt an option.

Ideally, we have access to current_

[2018-05-09 13:17] tegon commented on #4466
@bearded-avenger I just want to know what the ideal solution would be in order to tackle this. I don't have previous experience with action cable or `Application.renderer`, so I'm a little lost here.
Since no rack middlewares are called, I don't see how we could access the current user. The blog post mentioned above says we should "mock a request". But if that's the case, `current_user` would alwa

[2018-05-09 13:35] tegon commented on #4466
@bearded-avenger oh, ok. Thanks for your reply.

The thing is: we use Warden for authentication. It is a rack middleware that is called in a request and reads the current session to define whether a user is authenticated or not. By reading the previous comments, it seems like in this case, no rack middlewares are called - which is why you're getting this error message. So I'm not sure how we could

[2018-05-09 13:49] tegon commented on #4763
Closed via https://github.com/plataformatec/devise/pull/4854

[2018-05-09 13:49] #4763 closed

[2018-05-09 14:36] jclusso commented on #4271
After taking a quick look I see in the CommentBroadcastJob you try and render comments/comment which has a reference to current_admin. You can not reference current_admin in a view rendered by ApplicationRenderer since ApplicationRenderer has no knowledge of stuff in Warden. You must pass the user into the worker and pass it back into the view.

[2018-05-09 17:02] tegon commented on #4864
@ttilberg can you test using the branch of #4869?

[2018-05-09 17:50] tegon commented on #4441
Closed via https://github.com/plataformatec/devise/pull/4829

[2018-05-09 17:50] #4441 closed

[2018-05-10 00:28] jufemaiz commented on #4830
@tegon thanks for asking. As per the original question, we are using devise with scoping based on an account subdomain, which caused issues with the find_for_authentication methodology.

[2018-05-10 00:31] KickButtowski80 commented on #4271
thank you for your response
I am not sure about what you said?
"You must pass the user into the worker and pass it back into the view."
Would you please gimme an example?
If you do not mind to elaborate "ou can not reference current_admin in a view rendered by ApplicationRenderer since ApplicationRenderer has no knowledge of stuff in Warden." further I appreciate it .
thank you for your time

[2018-05-10 04:06] KickButtowski80 commented on #4466
[ActiveJob] [CommentBroadcastJob] [29558acd-658a-4a3a-b870-f447881740b8] Error performing CommentBroadcastJob (Job ID: 29558acd-658a-4a3a-b870-f447881740b8) from Async(default) in 34.14ms: ActionView::Template::Error (Devise could not find the Warden::Proxy instance on your request environment.
Make sure that your application is loading Devise and Warden as expected and that the Warden::Manager mi

[2018-05-10 15:01] gotoAndBliss opened #4870 "Is it necessary to return an email as well in the Headers?"
Just a general philosophical question, but I see it's required to send both the token *and* the email.

Why the email as well? Wouldn't the token be unique for every class item?

[2018-05-10 16:48] tegon commented on #4823
@Yegorov Since you're using a middleware to change the locale, I think the problem may be because it's running after Warden's middleware - which calls the Failure application.
Inside the example application, when I run `rails middleware`, I get the following output:
[code]
Notice that the locale middleware runs after Warden. Now, if I change `config/application.rb` to:
[code]
This is `rails middle

[2018-05-10 19:05] tegon commented on #4845
Hi @pezholio, I tried to access your branch and got a 404.
Can you provide the code again so I can perform some tests?

[2018-05-11 12:04] sowenjub commented on #4839
@tegon I think you're right, the idea crossed my mind but I haven't had a chance to test it either. You can put this issue on hold and I'll report back when I find time to test it.

[2018-05-11 13:08] georap commented on #4271
Same problem here with @KickButtowski80

[2018-05-11 13:12] tegon commented on #4839
I've tested here again and seems like that's the case.
When I access "This link should work", that's how the cookies look like:
<img width="1279" alt="screen shot 2018-05-11 at 10 03 43" src="https://user-images.githubusercontent.com/3727827/39925615-b89899d8-5502-11e8-8687-f63c935211fe.png">
When I access "This one does":
<img width="1280" alt="screen shot 2018-05-11 at 10 05 23" src="https://use

[2018-05-11 15:35] jclusso commented on #4271
Your job “aka” worker.

I’m not sure how else to explain this. I’m on my phone at the moment so I can’t  write a full example. Start the job and pass the current_admin as a parameter into the job. You CANNOT call current_admin in a view rendered with ApplicationRenderer. You must render the view and pass it in like
‘’’ruby
render(view_name, current_admin: user)
‘’’

[2018-05-11 17:51] tegon commented on #4870
Can you be more specific? Are you talking about password recovery?

[2018-05-11 18:13] tegon commented on #4867
Seems like your application was falling into the `mongoid` version here: https://github.com/plataformatec/devise/blob/master/lib/devise/models/confirmable.rb#L55

For `active record` the callback should be `after_commit`. Previously, we verified this using `respond_to?(:after_commit)`, but we had an issue where the `paperclip` gem was defining this callback for `mongoid`, so we changed the conditi

[2018-05-11 18:31] #4424 closed

[2018-05-13 16:53] ashutoshpith commented on #4866
I'm using rails 5.2 nd on applying devise it raise an error for bcrypt_ext ...after changing version of bcrypt ...It arise for all for other project to...is devise compatible with rails 5.2 or not??

[2018-05-14 12:26] zinkkrysty commented on #4823
I have the same issue in rails 4.2: the locale is reset to :en in the `FailureApp`

I, however, do not have `Rack::Locale` in my middleware stack so I cannot use the workaround that @tegon suggested

[2018-05-14 18:55] aamarill commented on #4782
Hello,

I am looking to make my first open source contribution. Is this a good issue to take on?
If not, feel free to point me other issues that might be good for someone that's new to open source.
Thanks!

[2018-05-14 18:57] aamarill commented on #4597
Hello,

I am looking to make my first open source contribution. Is this a good issue to take on?
If not, feel free to point me other issues that might be good for someone that's new to open source.
Thanks!

[2018-05-14 20:20] tegon commented on #4866
Yep, I've just tested with a newly created Rails 5.2 application and it worked, that's why I asked for an application that reproduces the issue. Here's the one I created:
[test-5.2.zip](https://github.com/plataformatec/devise/files/2002433/test-5.2.zip)

[2018-05-14 21:09] #4864 closed

[2018-05-14 21:35] tegon commented on #4862
I didn't understand exactly what you need to do, but it seems like you're looking to override `#find_for_authentication` https://github.com/plataformatec/devise/blob/c9a2d0654e9fc1aaebe6f99ef6fbc55c55a91fdd/lib/devise/models/authenticatable.rb#L271

[2018-05-14 23:05] fabn commented on #4823
Same thing happening here. I'm managing locale in this way and all messages but warden ones are translated correctly.

[code]

[2018-05-15 20:14] ashutoshpith commented on #4866
Here is the fie which creating the issuse
[Socop.zip](https://github.com/plataformatec/devise/files/2006541/Socop.zip)

[2018-05-15 21:55] tegon commented on #4866
I've tested here and haven't got any errors. Here's a gif of a new signup:
![load-error](https://user-images.githubusercontent.com/3727827/40085527-2cb72494-5871-11e8-8963-60d9b8c61c60.gif)
This seems like a gem installation issue. One thing that I had to change in your application is that the `.ruby-version` file had one version (`2.2.6`) and `Gemfile` had another (`2.3.3`). I've changed them to

[2018-05-15 21:58] tegon commented on #4782
Hey @aamarill, thanks for your interest in contributing to devise 😄

This is a good first issue, but I'm not sure whether @christophweegen is going to work on that or not.
@christophweegen Have you started to work on this - or intend to?

[2018-05-15 22:16] tegon commented on #4597
@aamarill I'm not sure what is the complexity of this one. It might be difficult or not.
If you want to work on this, I can help with any doubts you have along the way. I'd start by creating a failing test of the desired behavior. The code mentioned on the issue should work, but currently, it doesn't:
[code]
So I think it's a good start to create a test with this implementation and them try to fin

[2018-05-15 22:55] ashutoshpith commented on #4866
I've made a new app and have the same .ruby-version and gemfile i.e ( 2.3.3 ) but it again shows the same error cause that "cannot load such file -- bcrypt_ext"
[Arsenal-1.0.0.zip](https://github.com/plataformatec/devise/files/2006992/Arsenal-1.0.0.zip)

[2018-05-16 05:45] christophweegen commented on #4782
Hey @tegon,

right now i didn't find the time to work on it yet. So @amarill if you want to work on it, feel free :-)

Thanks and success!

[2018-05-16 07:59] pablocrivella commented on #4597
@tegon I think this method is also related:

https://github.com/plataformatec/devise/blob/1c8e97c75ace52be4e2d0531dd4fc70e95d3cb83/lib/devise/strategies/authenticatable.rb#L77

[2018-05-16 09:33] z4ppy opened #4874 "devise-async dependency requirements"
## Environment

- Ruby 2.4.1
- Rails 4.2.10
- Devise 4.4.*

## Current behavior
On user save :

*An* `ArgumentError` *occurred while* `POST </admin/organisms/1/users>` *was processed by* `users#create`
Exception
wrong number of arguments (given 3, expected 1..2)

/home/user/.rvm/gems/ruby-2.4.1/gems/devise-async-0.7.0/lib/devise/async/model.rb:27:in `send_devise_notification'
/home/user/.rvm/gems/

[2018-05-16 10:55] ashutoshpith commented on #4866
I did reinstall the ruby on rails but it causes the same error...I used devise in lower version of rails and it works fine

[2018-05-16 11:05] ashutoshpith commented on #4866
![screenshot 100](https://user-images.githubusercontent.com/31169310/40113399-f9ea2dd4-5926-11e8-9b98-9eac7d5d625a.png)
every time it shows devise error and cannot load bcrypt_ext error

[2018-05-16 12:07] z4ppy commented on #4874
Finally it is not a bug concerning Devise but rather Devise-async

[2018-05-16 12:07] #4874 closed

[2018-05-16 17:27] tegon commented on #4866
Seems like a bcrypt issue with Windows. I did a search here and found somethings:

https://github.com/codahale/bcrypt-ruby/issues/142
https://github.com/codahale/bcrypt-ruby/issues/128
https://stackoverflow.com/questions/41621029/cannot-load-such-file-bcrypt-ext?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa
https://github.com/codahale/bcrypt-ruby/issues/149
https://stack

[2018-05-16 17:27] #4866 closed

[2018-05-16 23:58] aamarill commented on #4782
@tegon just wanted to give you a heads up that I am gonna get started on this 😄
I am actually super excited to better understand Devise since I've used it on my own projects a few times now!

[2018-05-17 06:09] zedtux opened #4876 "Devise within a Rails scope and emails generated links"
I have open [a StackOverflow question](https://stackoverflow.com/questions/50226896/devise-generated-mailer-urls-with-devise-for-in-rails-scopes) a week ago but no right answer given, I could be unclear or something, that's why I'm opening this issue now, you could help me with an answer or to refine my question.

Basically I want Devise to be in my API and my React app to handle all the pages. I

[2018-05-17 10:00] priit commented on #3932
Thank you providing and developing Devise, keep up good work!

We did have security audit for our built system, what is using at the security audit time Rails version 4.2.10 and Devise version 4.3.0.

The source code can be viewed at https://github.com/hariduspilv/harid

In short password authentication checks the overlap of the first 72 characters, the rest will be ignored.

Description: if the u

[2018-05-17 12:36] briancicutti commented on #1743
I am having this same issue and am inheriting from Devise::SessionsController  and Devise::RegistrationsController

Is there a known best practice to debug if another gem is causing this issue?

[2018-05-17 20:16] aamarill commented on #4782
@christophweegen if you have the tests you mentioned here:

Let me know if those are anywhere in your GitHub repo, I would like to take a look to help me replicate the issue and write my own tests. Thanks!

[2018-05-18 06:36] vishalTatvaSoft opened #4877 "bypass_sign_in without active_for_authentication? callback"
## Environment

- Ruby **[ruby 2.4.2p198]**
- Rails **[5.1.4]**
- Devise **[4.3.0]**

## Current behavior

I have functionality of inactive account in my application for handling this i override `active_for_authentication?` method as below

    def active_for_authentication?
      super && activated?
    end

But In my application super admin can also directly login in to other user account, wheth

[2018-05-18 09:20] christophweegen commented on #4782
Hey @aamarill,

great you're working on that :-)

Just tested it manually in an http client, in my case https://insomnia.rest/ but you can use whatever client you like ( Postman etc. ). Ii like Insomnia ( because it's easy to use and it has GraphQL support ) and maybe you'll like it too :-) )

I don't know if you would like to go on search for the problem of your own for learning purposes, but if

[2018-05-18 16:03] aamarill commented on #4782
@christophweegen Thank you for your comment! 😄 The solution you suggested is exactly what I was expecting/thinking. I have been working on understanding the testing structure so that I place the right test in the right place. Once, I am confident I have a solid test then I'll look at [devise/app/controllers/devise/sessions_controller.rb](devise/app/controllers/devise/sessions_controller.rb) for th

[2018-05-18 20:41] mirceadaniel commented on #4850
Hi. Have you managed to solve this? If so, can you please provide the solution?

[2018-05-19 08:41] swobspace commented on #4861
bcrypt 3.1.12 solved this issue for me on Fedora 28, ruby 2.4, rails 5.1.6.

[2018-05-19 09:08] thooams commented on #4861
Yes !

[2018-05-19 09:08] #4861 closed

[2018-05-20 08:28] christophweegen commented on #4782
Hey @aamarill,

you have to send request to the right paths with the right http methods.

To find out what these paths are you can use `$ rails routes` or look in your html which paths/methods get generated in your sign_in / sign_out forms/links.

You can use curl, but it's easier and more comfortable to use a http client. There you can save requests and stuff like that :-)

Did that solve your pr

[2018-05-21 14:15] aamarill commented on #4782
Thanks for your comments @christophweegen 😄 However, I am confident I was using the right routes and used the DELETE http method. I believe my problem was not passing the `auth_token` with my request, which I still don't know how to get. If you know, please let me know thanks!

[2018-05-21 21:51] cmitz opened #4879 "Unable to find secret_key in Rails 5.1.6 in asset precompile step"
## Environment

- Ruby 2.5.1
- Rails 5.1.6
- Devise 4.4.3 (didn't occur with 4.4.1 but also occured with 4.4.2)

## Current behavior

When precompiling the assets with `RAILS_ENV=production bundle exec rails assets:precompile`, I encounter the following error:
[code]

When I look for secret keys in my application, the following values are found. Yet, somehow, Devise doesn't find that secret key at

[2018-05-23 15:10] aamarill commented on #4782
Here's the [repo](https://github.com/aamarill/Take-Home-Pay) if you wanna check it out. Just sign up (takes 15 seconds) and you can play with logging in and out 😄

Here's what I get when I CLICK "log out"
<img width="933" alt="screen shot 2018-05-23 at 8 02 59 am" src="https://user-images.githubusercontent.com/29871004/40433057-f3008476-5e5f-11e8-8137-1e2ff607719b.png">

But, when I send
[code]

I

[2018-05-23 16:46] christophweegen commented on #4782
I guess the error is exactly what i thought :-)

Can you see the authenticity_token in the params, when you make a browser request, which isn't in the parameter hash when you send it over curl? It needs to be added to the params list, otherwise rails/devise will reject the request.

This is rails mechanism for preventing Cross-Site-Request-Forgery vulnerability, when using a cookie based auth mech

[2018-05-23 17:08] archonic commented on #4466
I've run into this as well. I'm trying to bring the notifications feature from this app into my own:
https://github.com/gorails-screencasts/gorails-episode-125/

I'm running ActionCable on a separate server (using docker compose) and Apartment for multi-tenancy with subdomain scoped cookies. My action-cable-url was set to `ws://lvh.me:28080`. It needs the subdomain in there to access the `env['war

[2018-05-23 17:20] aamarill commented on #4782
Thanks @christophweegen I am aware of what CSRF so no need to explain 😄
It wouldn't make sense for anyone to be able to log anyone out if they use Devise hence the need for CSRF correct? 😅
What I would like to know is how to pass the `authenticty_token`. It wasn't able to find it in the docs, if you do, please send it over! Alternatively, feel free to send me a screenshot of you sending a request

[2018-05-23 17:52] christophweegen commented on #4782
Ok that's good you know about CSRF. :-) Makes it a lot easier.

Actually it isn't enough just to pass any valid `authenticity_token`. The `authenticity_token` is duplicated and encrypted in the session cookie too, so you have to send a matching session cookie AND matching `authenticity_token`.

It actually works like this:

Whenever you get a response from your app with rendered html, Rails will i

[2018-05-24 10:24] ghost opened #4880 "How to protect from this (Evilginx)."
How to protect from this?

https://breakdev.org/evilginx-advanced-phishing-with-two-factor-authentication-bypass/

I have many websites, in many technologies... I need a way to protect.

I'm wondering if there is just something like a check of suspicious IP activities in the aftermath.?

Just this? Really?

Can I check my SSL certificate? HSTS? Avoid using nginx from serving my site?

[2018-05-24 10:36] christophweegen commented on #4782
Addition:

I thought things through and I'm not sure if this resembles the facts. Maybe it's enough to have the same `authenticity_token`/session_cookie in each request, since rails only compares both. I'm sure it doesn't keep track of dispatched tokens and if there already have been. This could make it easier, just grab a token and cookie once and you can use them consecutively.

And I'm not sure

[2018-05-24 15:49] #4880 closed, assigned to nobody

[2018-05-25 10:13] gullhead opened #4881 "Unexpected password confirmation validator behaviour"
## Environment

- Ruby **[ruby 2.5.1p57 (2018-03-29 revision 63029)]**
- Rails **[5.2.0]**
- Devise **[4.4.3]**

## Current behavior

While regestering  submit password and password  confirmation fields with blank values password  confirmation doesn't show 'can't be blank' error

## Expected behavior
Expected to get the same error as on main password field.

![failures_test_user_with_blank_fields]

[2018-05-25 13:22] srghma opened #4882 "User is notified when email is being changed (in process of change), but not after email change"
## Environment

- Ruby **2.4.2**
- Rails **5.1.5**
- Devise **4.4.3**

## Current behavior

I have the following test which is failing

[code]

[code]

[code]

[devise configuration](https://pastebin.com/AEVbcvc1)

Also, I have found here https://github.com/plataformatec/devise/blob/d1948b79d3e933253baa753bd033c92171c0a7d0/lib/devise/models/confirmable.rb#L31

[code]

Its configuration issue?

[2018-05-25 16:45] aaronlippold commented on #3438
Hi, any updates on this, my team is also using devise and has to support x509 auth, thanks

[2018-05-25 16:47] jagthedrummer opened #4883 "Any chance for a 3.5.11 release?"
Hey y'all, I was just hoping we might see a release for 3.5.11 to pick up some bug fixes that are already in the 3-stable branch. Thanks in advance!

## Environment

- Ruby 2.5.1
- Rails 4.2.10
- Devise 3.5.10

## Current behavior

Syntax errors that were fixed in the 3-stable branch here: https://github.com/plataformatec/devise/commit/bddf051bfb4213114a3531708ccd68729c4ecef9

## Expected behavior

[2018-05-26 14:03] szechyjs commented on #3438
I started an extension but never finished it.

https://github.com/szechyjs/devise_ssl_authenticatable

I believe all that was left was making it easier to configure for different web servers (puma, nginx, apache, etc).

I welcome any PRs to help finish it.

[2018-05-28 05:35] ajesler opened #4885 "Feature expansion: increase flexibility of FailureApp#i18n_message"
## Current behavior

The current implementation of `FailureApp#i18n_message` allows some customisation of options, but lacks full control over the values used for translation.

The particular use case I have is that I want to return some translations marked as html_safe.

**Current Implementation**
[code]

## Proposed behavior

Something like:
[code]

This would allow a method like

[code]

Any th

[2018-05-28 21:15] tegon commented on #4883
Version 3 is not under maintenance anymore. We accepted the patch so it's possible to install it from GitHub but we don't intend to release a version for it. https://github.com/plataformatec/devise/pull/4749#issuecomment-356366226

[2018-05-28 21:15] #4883 closed

[2018-05-28 21:29] tegon commented on #4841
@bgr11n thanks for reporting this!

It's a bug, indeed. We call this callback from the database authenticable's strategy here: https://github.com/plataformatec/devise/blob/master/lib/devise/strategies/database_authenticatable.rb#L15. This strategy is called on a sign-in when we call `#authenticate!` on the Warden's instance here: https://github.com/plataformatec/devise/blob/master/app/controllers/

[2018-05-28 21:33] tegon commented on #4868
Stack Overflow looks like a better place to keep this discussion.

But I took a look at your question there and I don't see another way to do what you need without using the session. You can try to use `#store_location_for` as some of the answers suggest, or roll your own solution.

[2018-05-28 21:33] #4868 closed

[2018-05-28 21:33] tegon commented on #4877
Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

Thank you!

[2018-05-28 21:33] #4877 closed

[2018-05-28 21:35] tegon commented on #4853
The password length is configurable, so you can change it to what better fit your needs.
Changing this default now can be a pain for backward compatibility, so I think we should keep as it is today.

[2018-05-28 21:35] #4853 closed

[2018-05-28 21:36] tegon commented on #4852
Hello @rafaellima, thanks for your request.
We don't have plans to support this for now, so although I know it's not ideal, you probably will have to override this code to add your custom behavior.
If this became a popular feature request, we could think about supporting in a next version.

Thank you!

[2018-05-28 21:36] #4852 closed

[2018-05-28 21:38] tegon commented on #4842
Hello @benbonnet, thanks for your report.
Can you provide us a sample application that reproduces the issue in isolation?
You can also use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb).
That would help us find the issue.

Thank you!

[2018-05-28 21:39] #4867 closed

[2018-05-28 21:39] #4862 closed

[2018-05-28 21:44] tegon commented on #4881
We use Rails [`validates_confirmation_of` validator](https://apidock.com/rails/ActiveModel/Validations/ClassMethods/validates_confirmation_of) and this is its default behavior.
IMO, it's ok to keep as it is, by the time you fill the `password` field you'll get a `can't be blank` error for `password_confirmation` too.

[2018-05-28 21:44] #4881 closed

[2018-05-28 21:45] tegon commented on #4879
Hello @cmitz,  thanks for your report.
Can you provide us a sample application that reproduces the issue in isolation?
You can also use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb).
That would help us find the issue.

Thank you!

[2018-05-29 12:43] themilkman commented on #4842
Same here (rails 4.2), thank you for your headers_for-workaround @benbonnet  !

[2018-05-30 08:53] cmitz commented on #4879
For now, the repository is available at https://github.com/cmitz/devise-4879

Please allow me a couple of days to figure out that bug report template. I've never used that before.

[2018-06-01 13:35] smita7875 opened #4886 "User Authorization/Permission"
- [ ] Change style of Create/Edit User form(Text and Check box)
- [ ] Change color of label (Roles/Permission)
- [ ] Wire up the permission
- [ ] Strong password change

[2018-06-01 16:36] benbonnet commented on #4842
@tegon is that an acceptable setup ?

[2018-06-04 12:37] #4886 closed

[2018-06-05 08:55] vohaul opened #4887 "Rails (5.2.0) reCaptcha Devise (4.4.3) strange tests behaviour"
## Environment

- Ruby **[ruby 2.5.1p57]**
- Rails **[Rails 5.2.0]**
- Devise **[4.4.3]**

## Current behavior

Written a blank app
https://github.com/127/recaptcha-bug-rails
according official recommendation at
https://github.com/plataformatec/devise/wiki/How-To:-Use-Recaptcha-with-Devise

System tests fails to pass with an error.
1. run app   with ```bundle i && bin/rails db:setup && bin/rails s

[2018-06-05 09:12] syit opened #4888 "Rails (6.0.0.0.alpha): Devise(4.4.3) Error: undefined local variable or method `mimes_for_respond_to' for DeviseController:Class"
## Environment

- Ruby **[2.4.1]**
- Rails **[6.0.0.alpha]**
- Devise **[4.4.3]**

## Current behavior

When I Upgraded application from rails 5.2 to 6.0.0.alpha, application starts getting crash showing error on sign_in page.

[code]

## Expected behavior

Devise wouldn't crash, It should work with rails 6.0.0.alpha

[2018-06-05 09:23] vohaul commented on #4887
Found that verify_recaptcha method always returns false in test environment with rails test:system and returns true with rails test test/system/registration_test.rb
But it doesn't answer the question whyat's wrong with ```respond_with resource``` in this case (if I'll comment  all recaptcha checks ```respond_with resource``` still fails

[2018-06-05 12:04] yordis commented on #4807
@tegon Using `config.secret_key = Rails.application.credentials.secret_key_base` doesn't work when I push to Heroku.

Doing `Rails.application.credentials.secret_key_base` on `rails c`  give me value so.

[2018-06-05 19:10] #4887 closed

[2018-06-07 00:51] lancecarlson commented on #4853
@tegon How is this a pain for backwards compatibility ?? The defaults that are generated would be for NEW users of devise. This just sets a better standard for future users.

[2018-06-08 23:07] rafaelfranca commented on #4888
Rails 6 is really early in development and devise or responders have no plan to support a version of rails that early. We will fix those issue before the 6.0.0.beta release.

[2018-06-10 15:41] lostphilosopher commented on #2734
I had this problem, for me it was nothing to do with Devise. It was Rails5 + Heroku + CloudFlare as explained here: http://til.obiefernandez.com/posts/875a2a69af-cloudflare-flexible-ssl-mode-breaks-rails-5-csrf.

[2018-06-11 13:48] tegon commented on #4839
Hello @sowenjub, did you get a chance to test this?

[2018-06-11 13:49] tegon commented on #4849
Closed via #4857

[2018-06-11 13:49] #4849 closed

[2018-06-11 15:06] sowenjub commented on #4839
@tegon Yes ! Sorry, that was it, it works perfectly. Thanks again for your help.

[2018-06-11 15:06] #4839 closed

[2018-06-11 19:37] tegon commented on #4438
Ok, so I'm not sure exactly what is going on 🤔

Can you provide us a sample application that reproduces the issue, or maybe use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb).
That would help us find the issue quicker.

Thanks!

[2018-06-12 13:29] tegon commented on #4830
@lancecarlson @jufemaiz I'm not sure if the snippet still works. The community maintains the wiki, so someone else wrote that code and shared because it worked for them.
If you want help on how to do this, I recommend opening a question on StackOverflow. There more people will be able to help you - personally, I've never used Devise with subdomains.
We try to keep only issues here.

Thank you!

[2018-06-12 13:29] #4830 closed

[2018-06-12 13:30] tegon commented on #4498
I'm closing this issue because it has not had recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-06-12 13:30] #4498 closed

[2018-06-12 13:31] tegon commented on #4758
I'm closing this issue because it has not had recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-06-12 13:31] #4758 closed

[2018-06-12 13:31] tegon commented on #4870
I'm closing this issue because it has not had recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-06-12 13:31] #4870 closed

[2018-06-12 13:32] tegon commented on #4879
No need to create the bug report template if you already sent the sample repository, we only need one of them.
I'll try to find the issue in your repo.

Thanks!

[2018-06-13 19:47] tegon commented on #4842
@benbonnet I haven't got the change to look at it yet, sorry. I'll do it when I have some time.

[2018-06-13 21:33] yangez commented on #4056
Yeah - we're getting this too. Anyone know of a fix for this?

[2018-06-14 04:31] mzukisim commented on #4517
how do you point gemfile to master?

[2018-06-14 05:15] pranav7 commented on #4056
@yangez I was able to identify why this was happening for us. Since I had removed `remember_me` from the form, it wasn't being set while creating the session. A simple fix might be to hardcode it so that it's always true.

[2018-06-14 11:26] Taoshi opened #4889 "undefined method `create_token' for #<User:0x00007f8fa9a25900> Did you mean? created_at"
## Environment

- Ruby **2.5.0**
- Rails **5.2.0**
- Devise **4.4.3**

## Current behavior

After user creation i received confirmation link
http://0.0.0.0:3000/api/v1/auth/confirmation?config=&confirmation_token=JY6xrFr_ZuiUD6JEfd-n
following this link i have got `undefined method 'create_token' for #<User`

How to fix it?

[2018-06-14 12:13] #4889 closed

[2018-06-14 18:17] Nappstir commented on #4807
Just to add to what @yordis was saying. When you move your code to a server, you need to make sure that your `config/credentials.yml.enc` file can be decrypted. That means that somehow you’ll need to provide Rails with your master key, given that it is not checked into version control (which it shouldn't be by default and never really should be).

You have a couple of options to do this:

* Option

[2018-06-15 18:44] tegon commented on #4876
Hi @zedtux, we try to keep only issues here, so I'm going to close this, hope you understand.

Now, I have looked at your question on Stack Overflow, and I can't see other options besides the ones mentioned there. This is not even Devise specific, but a Rails router configuration matter.
I think you can go either by overriding the routes or the mailer views, I think people already mentioned it on

[2018-06-15 18:44] #4876 closed

[2018-06-16 22:35] jdevng commented on #4879
I'm seeing the same issue with
[code]
I see this after running
`rake db:migrate RAILS_ENV=production`

the database was successfully created with
`rake db:create RAILS_ENV=production`

I do see the same error:

[code]
which adding the secret key to the initializer in devise_token_auth.rb, I get the following error:

[code]
Is this most likely a devise token auth error?

I can also provide a testca

[2018-06-17 06:06] zedtux commented on #4876
Hello @tegon.

I have opened this issue because nobody could help me on SO (if you read carefully, you'll see all the proposed answers aren't fulfilling my need.

I asked here as it could be that Devise has something I could use to adapt the routes.
If you want to look at it from another angle, look at this issue as feature request : Apps built with a JavaScript framework is something, I hope you'

[2018-06-18 16:44] clst opened #4890 "Omniauth Facebook example"
The wiki here: https://github.com/plataformatec/devise/wiki/OmniAuth:-Overview#facebook-example

The example uses: `if @user.persisted?` but the example code in the model uses `where(provider: auth.provider, uid: auth.uid).first_or_create`. That way the `@user` is always inserted.

Was the intended function `first_or_initialize`? Or am I missing something?
That confused me a bit. The guide is grea

[2018-06-18 18:05] tegon commented on #4890
Hello @clst,

The wiki is maintained by the community, so I'm not sure if the code is correct or not. If it's wrong, feel free to update it with the right instructions. Although `#first_or_create` can fail if validations don't pass.

Thank you!

[2018-06-18 18:05] #4890 closed

[2018-06-20 06:37] a-wing commented on #4847
I also encountered the same problem

 I can sign in normally using Mozilla Firefox
But, when using Google Chrome

[code]

* Ruby [2.5.0p0]
* Rails [5.1.4]
* Devise [4.4.3]

[2018-06-20 10:49] a-wing commented on #4847
I found in chrome have header `origin: https://<domain name>`

But. Firefox not have header `origin`

Resolve:
Set nginx header
[code]
hope this helps

[2018-06-21 05:53] entersoftapps commented on #2861
Hello @divyang9389
add a gem
`gem "devise-encryptable"` gem

add below config in devise.rb

`config.encryptor = :sha512`

[2018-06-21 06:09] bbtdev opened #4894 "Devise does not use my custom confirmable.rb in project/lib/devise/models/confirmable.rb"
Hello, I need to alter some methods in confirmable.rb, so I've copy pasted the content from confirmable.rb in my own project_name/lib/devise/models/confirmable.rb and added some Rails.logger lines to see if it's being used. It is not? How can I do this?

What I need is to use a value from the session variable inside the mailer. From what I see I need to modify confirmable.rb, is there a different

[2018-06-23 21:39] marcosanfilippo commented on #4894
Can you post the config of devise in `routes.rb` ?

[2018-06-23 21:41] marcosanfilippo commented on #4842
I experienced the same problem. By debbugging I discovered that internally there is a method that apply default values, including the default path for views, even if something different is specified!
Hope that helps!
Please solve...

[2018-06-25 19:30] mbell697 commented on #4542
I've run into this as well.

The problem appears to be that devise only makes a global check for `Devise.activerecord51?` without consulting which ORM is actually storing the `User` model. In our case the `User` model is backed by Mongoid 6.4.1, not ActiveRecord. So devise is trying to call AR methods on a mongoid model which doesn't support them.

[2018-06-26 13:32] tegon commented on #4778
Seems like it was an accident 😞

Are you willing to work on this? I'm happy to accept a pull request.

[2018-06-26 13:35] tegon commented on #4894
You have to make sure the file is being loaded correctly since `lib` is not always [autoloaded by default](https://til.hashrocket.com/posts/efb9003f8c-rails-autoload-paths).

Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

Thank you!

[2018-06-26 13:35] #4894 closed

[2018-06-28 09:19] FX-HAO opened #4896 "Incorrect HTTP status in log files with devise 4.4.1"
## Environment

- Ruby **[2.4.1]**
- Rails **[5.1.4]**
- Devise **[4.4.1]**

## Current behavior

I upgraded my gems several weeks ago. I just typed `bundle upgrade` unconsciously. Then I found that when I raised an uncaught error, `Completed 401 Unauthorized` appeared in log files, it should be `Completed 500 Internal Server Error`. But the HTTP status client received is the correct `500 Internal

[2018-06-29 02:15] FX-HAO commented on #4896
And I can reproduce the problem in a new Rails program.

[2018-06-29 13:12] darthwiz commented on #3979
I incurred into the same issue as well, and for what it's worth it was caused by `self.save(validate: false)`.

Here's the situation: I was implementing a “force password change for new user”, so I had the following code after creation:

[code]

I also had a complexity regexp check on the password field that required at least one uppercase, at leas one lowercase and one digit character, so the new

[2018-07-03 01:39] marksiemers commented on #4630
@rafaelfranca - Any plans to have a rubygems release for 3.x for this patch?

[2018-07-03 07:02] jufemaiz commented on #4830
@tegon I was trying to get a confirmation so that I could update the docs…

[2018-07-04 01:23] monfresh opened #4898 "Undefined method permit when passing in "user" as a parameter to sign in page"
## Environment

- Ruby 2.5.1
- Rails 5.1.6
- Devise 4.4.3

## Current behavior

Go to any default sign in page in a Rails app that uses Devise, and pass in a parameter called `user`, such as: http://localhost:3000/users/sign_in?user=test@test.com

This results in the app raising a 500 error due to `undefined method 'permit' for "test@test.com":String`, which comes from this code in `parameter_sani

[2018-07-04 03:10] monfresh commented on #4898
In the meantime, is it reasonable to add something like this to our `SessionsController`?

[code]

[2018-07-04 08:32] Silex opened #4899 "How to define additional helpers"
Hello,

I'm using https://github.com/prograils/lit and for authentication/authorization it uses two methods (see https://github.com/prograils/lit/blob/master/lib/generators/lit/install/templates/initializer.rb for more informations):

[code]

This works fine. In my app, my admins are not a separate model but a boolean flag in my users table. Thus if I want only my admins to to be able to use Lit I

[2018-07-04 08:40] Silex commented on #4899
Ok, actually my hack above works! `current_user` is not nil like I said.

It's just that Lit only uses `:authentication_verification` for frontend helpers and not for the overall access of its interface. For this I found a workaround:

[code]

So my question is only the following one: is there a prettier way to define this?

[code]

[2018-07-04 09:07] Silex commented on #4899
Okay here's my final version:

[code]

This works but I realise I'm abusing authentication a little bit. This is more authorization domain, which is why I had trouble fighting with it. I could simple remove it all and add the proper `if current_user.admin?` at the right places instead. You can close this if you have nothing to add :wink:

[2018-07-05 14:39] JacobEvelyn commented on #2614
@josevalim I completely agree with @leods92 here and I'm not sure why this was closed. We want to track when users log in, and found that by using the `after_authentication` hook we're missing some cases where a user logs in—for instance with a token—and then starts performing actions within our app.

As @leods92 mentioned, `after_set_user` doesn't work for us because that appears to be called on

[2018-07-06 06:59] cyrusstoller opened #4900 "Issue with capitalization when humanizing authentication keys in failure flash message"
Thank you so much for building something that I use in almost every rails project I start.

## Environment

- Ruby **2.5.1**
- Rails **5.2.0**
- Devise **4.4.3**

## Current behavior

When looking at the `devise.failure.not_found_in_database` and `devise.failure.invalid` error messages, it currently says "Invalid Email or password." when the `authentication_keys` = `:email`. To me this is strange

[2018-07-06 07:15] cyrusstoller commented on #4900
I'm pretty sure this is the line that would need to be changed.

https://github.com/plataformatec/devise/blob/master/lib/devise/failure_app.rb#L106

[2018-07-06 14:38] #4899 closed

[2018-07-07 21:00] javiguajardo commented on #4466
Hi there,

I'm running a project that uses:
* Ruby 2.3.0
* Rails 5.0.1
* Actioncable 5.0.6

We are using Action Cable, and for authentication using Devise and Warden, we have the following code in the `app/channels/connection.rb` file.

[code]

Hope it helps. Regards.

[2018-07-08 07:40] pcmanprogrammeur opened #4901 "Add header in devise_mail"
Hi all,

I want to add a header when i send a devise_mail but it does not work :

[code]
The problem is that the X-Mailin-Tag is not send.

Do you have any idea to do this please ?

[2018-07-08 22:44] JasonBarnabe opened #4902 "Options for i18n"
I am a maintainer of https://github.com/tigrish/devise-i18n, which provides translations and internationalized views for devise.

I have read a number of issues filed in this repo regarding adding more i18n support to devise. The main reasoning provided against doing so seems to be that internationalized views would be unnecessarily complex for most users who don't care about such things, and that

[2018-07-09 16:46] rafaelfranca commented on #4901
Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2018-07-09 16:46] #4901 closed

[2018-07-10 06:49] fatosmorina commented on #3031
I found an [article](https://makandracards.com/makandra/53562-devise-invalidating-all-sessions-for-a-user) demonstrating a solution without having to change the storage:

You can add a session_token column to your devise model (e.g. User) and override Devise #authenticatable_salt method to contain your session token:

[code]
Now you need to invalidate the session cookie by resetting the _session_t

[2018-07-11 02:42] widergy commented on #2840
@rbf Thanks for your solution! Moving the `devise_for :users` call outside of the namespacing worked for me. I also have a Rails API project. *This configuration should be documented by Devise!*

My `routes.rb` file looks like this now:
[code]

[2018-07-11 22:52] mltsy commented on #2827
I also find myself wishing this were possible. It has been very useful/promising to use Engines to organize mostly separate apps that all reference the same data, but I'm unable to do so, because Devise breaks in this use case.  I'm looking into alternate authentication for the Engine apps, but it sure would be much nicer to just use Devise for everything.

[2018-07-11 23:06] tibomogul commented on #2827
You can look at how Spree Commerce does it. It uses multiple engines, including one for devise  auth. It is easy to extend using more engines as extensions.

[2018-07-12 15:02] Arepo commented on #4900
I agree with the OP fwiw - this isn't the behaviour I'd expect, all the more so for the fact that it changed in an earlier version

[2018-07-12 16:59] tegon commented on #4900
Duplicate of #4095. There's already a pull request opened (#4834) but it needs some changes before it can be merged.

[2018-07-12 16:59] #4900 closed

[2018-07-13 17:16] ulisescarreonalvarez opened #4903 "registration_path messages doesn't show"
## Environment

- Ruby  2.5.1p57
- Rails 5.2.0
- Devise 4.4.3

## Current behavior

On the view of registration of the User we have:

[code]

0ur registrations_controller.rb:

[code]

Our model:

[code]
Our routes:

[code]

Our log:

[code]

## Expected behavior
We can see that actualy the gem validates the existing email, and i wan't to catch that error, on the login the alert/notice works fine b

[2018-07-14 15:54] ghoshnirmalya opened #4904 "ActiveSupport::MessageEncryptor::InvalidMessage (ActiveSupport::MessageEncryptor::InvalidMessage)"
## Precheck

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- Finally, be nice and have fun!

## Environment

- Ruby **[2.5.1]**
- Rails **[5.2.0]**
- Devise **[4.4.3]**

## Current behavior
Getting the following error while doing `bundle install`:

[code]
Include code samples, errors, steps to

[2018-07-14 16:09] feliperenan commented on #4904
It 's not a Devise issue, it seems like something in your Rails setup. I could help you if you give a sample application that reproduces this error in isolation.

[2018-07-14 16:09] #4904 closed

[2018-07-14 16:10] feliperenan commented on #4903
Could you please provide us a sample application that reproduces the issue in isolation?

That would help us find the issue.

[2018-07-14 16:12] feliperenan commented on #4896
Could you please provide us a sample application that reproduces the issue in isolation?

That would help us find the issue.

[2018-07-14 16:51] JuanJ0424 commented on #4573
I also dealing with this problem, and have a similiar one. Sorry for my little experience. I'm adding functionality to the sign_up action and I cannot do the  repond_with resource from my controller, cause it raises a NoMethodError for "users_url", but this is done without any problem by the super method.

[2018-07-15 07:04] ghoshnirmalya commented on #4904
@feliperenan

Example repository: https://github.com/ghoshnirmalya/linkedin-rails

Steps to reproduce the error:
1. Add the devise gem to Gemfile
2. Run `bundle install`
3. Run `rails generate devise:install`

The repository is very small consisting of only one model.

[2018-07-16 06:49] FX-HAO commented on #4896
I created a new program, which only includes `devise 4.4.1`.
[code]
Then run `curl 127.0.0.1:3000`, you will see `Completed 401 Unauthorized` in the console.
Honestly, it's a serious bug.

[2018-07-16 11:15] watarus opened #4906 "can not override SessionsController#create"
## Precheck

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- Finally, be nice and have fun!

## Environment

- Ruby **[version]**  2.5.1
- Rails **[version]** 5.1.5
- Devise **[version]** 4.4.3

## Current behavior

I setup multiple devise user models.
follow bellow instructions.
https://github

[2018-07-16 14:46] ulisescarreonalvarez commented on #4903
hi @feliperenan it seems like actually on the uniquess email error onluy works with:

`"<%= devise_error_messages! %>"`

The alerts (flash) of "alert" or info doesn't work like the Login view.

So i did this:

Created a helper:

[code]

Added a new devise message:

[code]

Now it works but i don't know if is ok doing that.

[2018-07-19 02:22] SeptiyanAndika commented on #4904
@ghoshnirmalya do you solved thats issue? i got same issue.

[2018-07-19 02:42] ghoshnirmalya commented on #4904
@SeptiyanAndika

1. Remove your `credentials.yml.enc` file.
2. bin/rails credentials:edit (If you have EDITOR set in your $PATH)
    EDITOR="vi --wait" bin/rails credentials:edit (If you don't have EDITOR set in your $PATH)

    *This will generate a new `credentials.yml.enc`.*

After that, if you try doing `rails g devise:install`, it will work.

[2018-07-21 12:12] vfonic opened #4907 "Any plans on releasing new 3.x version to rubygems?"
I just updated my app to ruby 2.5 and found out there's an issue when using ruby 2.5 and devise 3.x. I've updated to the latest available 3.x version `3.5.10`, but the issue is still there.

I see there's a fix available on `3-stable` branch. Are there any plans to have these fixes pushed to rubygems?

Thanks! ❤️

[2018-07-21 18:09] rafaelfranca commented on #4907
No. The version 3 is not under maintenance anymore. https://github.com/plataformatec/devise/pull/4749#issuecomment-356366226

[2018-07-22 18:35] vfonic commented on #4907
Thanks for reply. I'm just curious why would you backport the fix (it's on `3-stable` branch right now), but there's no release version v3. Is this a common approach usually?

[2018-07-22 18:35] #4907 closed

[2018-07-22 22:15] isidrolv commented on #1358
Thanks,
I was struggling with that,

yeah! restart worked!

[2018-07-23 13:53] tegon commented on #4841
@kanmaniselvan I don't think so, you can take it. If you need anything while you're developing this, feel free to ask. Thanks!

[2018-07-26 14:50] jerome-diver opened #4908 "Circular dependency detected while autoloading constant DeviseController"
## Precheck

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- Finally, be nice and have fun!

## Environment

- Ruby 2.5.1
- Rails 5.2
- Devise 4.4.3

## Current behavior

[my public web site code](https://bitbucket.org/jerome___/aquaworks/src)

[2018-07-26 14:55] tegon commented on #4908
You need to give us more information on how to reproduce this issue, otherwise, there is nothing we can do.
Please open up a new issue and make sure to fill in all the information requested in the template shown inside the text box.

Thank you!

[2018-07-26 14:55] #4908 closed

[2018-07-28 08:05] jerome-diver commented on #4908
I gave you the link on my public repo/application... and i found something (that i referenced inside bug report part of bitbucket on my link.

The problem was relsolved when i add option in config/inititalizer/devise.rb:
config.reload_routes = false

But maybe you can tell me what this is for (comment in devise.rb make no sens for me as long as i don't know what is "eager load" mean).

Thank (very

[2018-07-30 08:02] gingerlime commented on #3052
Looks like changing the middleware position for dealing with locales can resolve this. See https://github.com/plataformatec/devise/issues/4823#issuecomment-388112897

[2018-07-30 13:26] jacob-hedengren opened #4912 "Wrong error message in devise/passwords/new"
Hi everyone! I'm using **Ruby 2.5.1**, **Rails 5.2.0** and **Devise 4.4.2**.

**devise/passwords/new** seems to render wrong error message. When leaving email field blank and clicking on "Send me reset password instructions" this is the error messages being rendered:

**1 error prohibited this user from being saved:**

- Email can't be blank

Doesn't seem to make sense to me to say "...prohibited

[2018-07-30 18:01] tegon commented on #4912
Hey @jacob-hedengren!

This can be bad UX, for sure, we know that we're trying to save the user object (with a reset password token) under the hood, but that doesn't make sense for the final user.
Either way, this message is coming from [Rails](https://github.com/rails/rails/blob/48c287d1963fba09cf620527d35519f67d5ca01a/guides/source/i18n.md#translations-for-the-active-record-error_messages_for-he

[2018-07-30 18:01] #4912 closed

[2018-07-30 18:47] tegon commented on #4906
Hello @watarus,  thanks for your report.
Can you provide us a sample application that reproduces the issue in isolation?
You can also use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb).
That would help us find the issue.

Thank you!

[2018-07-31 03:14] watarus commented on #4906
@tegon
Thank you for your reply.
I created  a sample application.

https://github.com/watarus/DeviseTest

https://github.com/watarus/DeviseTest/blob/master/app/controllers/users/sessions_controller.rb#L16

When I signed in as a user, I expected invoked hogehoge method, and raise exception.
But it did not invoked.

[2018-07-31 08:36] jacob-hedengren commented on #4912
Thanks a lot @tegon for clarifying this! I appreciate it!

[2018-07-31 13:42] elct9620 opened #4913 "Undefined method "password" for User"
## Precheck

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- Finally, be nice and have fun!

## Environment

- Ruby **2.5.1**
- Rails **5.2.0**
- Devise **4.4.3**

## Current behavior

1. Implement Omniauth only login feature
2. Disable `:database_authenticatable` feature

When I try to `save`

[2018-07-31 19:56] tegon commented on #4882
Hey @srghma, thanks for your report.

I might be missing something here, but it seems like this is the expected behavior, like the documentation you [mentioned](https://github.com/plataformatec/devise/blob/master/lib/devise/models/confirmable.rb#L31-L33), says:

the notification is sent to the original email when the change is requested,
not when the unconfirmed email is confirmed

So, in fact, th

[2018-07-31 19:56] #4882 closed

[2018-07-31 21:00] tegon commented on #4845
I'm closing this issue because it had no recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-07-31 21:00] #4845 closed

[2018-07-31 21:06] tegon commented on #4896
@FX-HAO This was broken in https://github.com/plataformatec/devise/pull/4375, but it was reversed in  [4.4.2](https://github.com/plataformatec/devise/blob/master/CHANGELOG.md#442---2018-03-15).
If you update it's going to work.

[2018-07-31 21:06] #4896 closed

[2018-07-31 21:17] tegon commented on #4903
Validation errors do not appear on flash messages, you have to either use the default `devise_error_messages!` helper or roll your own solution `resource.errors.full_messages`.

[2018-07-31 21:17] #4903 closed

[2018-07-31 21:18] tegon commented on #4438
I'm closing this issue because it had no recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-07-31 21:18] #4438 closed

[2018-08-01 09:54] AndrewSouthpaw opened #4914 "Unexpected 401 response for public actions."
This reopens the issue originally fixed by #4788, which was reverted because it caused a different bug. Per request from @tegon, I'm filing a new issue.

## Environment

- Ruby 2.4.1
- Rails 5.0.3
- Devise 4.3.0

[2018-08-01 20:42] tegon commented on #4913
Hey @elct9620, thanks for your report.

I have a couple of questions for you:

- Does your table have a `password` column?
- Are you using the `validatable` module?

[2018-08-01 21:08] tegon commented on #4906
I've made a couple of tests and the issue is with your `Accessible` [concern](https://github.com/watarus/DeviseTest/blob/master/app/controllers/concerns/accessible.rb#L16) specifically where you call `redirect_to`. Because of the redirect, the action execution stops and never hit your method.
I'm going to close this then. Thanks!

[2018-08-01 21:08] #4906 closed

[2018-08-01 21:49] tegon commented on #4842
@benbonnet I've made some tests with your app and discovered that `default` has no effect here because we're explicit [sending this value](https://github.com/plataformatec/devise/blob/master/lib/devise/mailers/helpers.rb#L37) inside `headers_for`, so I think your approach is ok 👍

[2018-08-01 22:36] tegon commented on #4823
So, I was looking into this again today and it seems like it's an i18n known issue for multi-threaded environments. See the related issue: https://github.com/svenfuchs/i18n/issues/381.
If you add the middleware introduced in https://github.com/svenfuchs/i18n/pull/382 this should probably work as expected.
[code]

[2018-08-01 22:38] #4823 closed

[2018-08-01 22:49] tegon commented on #4542
@mbell697 Can you provide us a sample application that reproduces the issue in isolation?
Another option is to use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb).
That would help us find the issue.

[2018-08-01 23:09] mbell697 commented on #4542
@tegon If you modify your test suite to load both Mongoid and ActiveRecord, but test Mongoid backed device models, you'll likely see a bunch of failures. Can probably just make a quick change here (https://github.com/plataformatec/devise/blob/master/test/rails_app/config/application.rb#L12) to always load active record and run the suite with `DEVISE_ORM=mongoid`.

[2018-08-01 23:42] watarus commented on #4906
@tegon thank you!

[2018-08-02 02:07] elct9620 commented on #4913
Hi, @tegon

1. My table didn't have `password` column, the devise only add `encrypted_password` for me.
2. Yes, I enabled `validatable` module

---

I trace the `password` and `password=` in the source code, they are defined in `database_authenticatable` module, but I disable it.

I guess the reason I got this error is enabled `validatable` module, but if I override `password_required?` it should

[2018-08-02 13:03] tegon commented on #4879
@cmitz Sorry for taking so long on this, but I was able to make some tests in your app today, and I saw that you're setting `secret_key_base` based on an [environment variable](https://github.com/cmitz/devise-4879/blob/master/config/secrets.yml#L4). If this isn't set, we get the error you mentioned.
But, if I put a literal value in there, eg. `secret_key_base: 123`, it works as expected. So, I ima

[2018-08-02 13:05] tegon commented on #4879
@jdevng Since you're using another gem I'm not sure if the error is here or there. But if you can send us a failing test case using our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb) I can look into it.

[2018-08-02 13:28] tegon commented on #4913
Yeah, my bad, the column is `encrypted_password` indeed 😅
My first thought was the `validatable` module too. Have you tried removing it completely to see if it works?

[2018-08-02 13:55] cmitz commented on #4879
Thank you for the hint on `fetch`. I'll use that in my project. Thanks for the help!

[2018-08-02 14:13] elct9620 commented on #4913
When I remove `validatable` it can work well, but I still need it to validate email or other fields. So I choose to override `password_required?` to prevent it calling `password` inside `password_required?` method. But it didn't work for my project.

[2018-08-02 16:50] tegon commented on #4913
It's probably [this](https://github.com/plataformatec/devise/blob/master/lib/devise/models/validatable.rb#L42) validation then:
[code]
which does not call `password_required?` since it's allowed to be blank. In your case, it does not work because the `password` attribute was never defined (it's defined when `database_authenticable` is loaded). I think you can either:

- keep the `validatable` modu

[2018-08-02 16:50] #4913 closed

[2018-08-03 14:39] Sora233 opened #4915 "only one strategy run when multi auth-strategies supplied."
## Environment

- Ruby **2.5.1p57**
- Rails **5.1.6**
- Devise **4.4.3**

## Current behavior
Example:
[code]
When a user sign_in and send the post to SessionController::create, only one auth-strategy is performed, the others will be dropped.
The reason is a fail! call from here https://github.com/plataformatec/devise/blob/acc45c5a44c45b252ccba65fd169a45af73ff369/lib/devise/strategies/authenticata

[2018-08-03 17:55] tegon commented on #4915
Hello @Sora233, thanks for your report.

It seems like the code you mentioned you sent you `fail!` when `resource.valid_for_authentication?`` returns `false` (if I'm not missing something :sweat_smile:) and not when the resource wasn't found within that strategy. Is that your case?

[2018-08-04 05:25] Sora233 commented on #4915
when :ldap_authenticatable give a block to valid_for_authentication and the block return false, the resource is not nil (you always get something from ldap), the validate function will call fail! and prevent the next auth-strategies.

[2018-08-04 19:12] Hellfar opened #4917 "Doubling relative_url_root on wrong auth and Rails "config.relative_url_root" not taken into account"
(I know something similar has been issued before, but not as detailed with samples as here and not fixed, so here's my issue).

## Environment

- Ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]
- Rails 5.2.0
- Devise 4.4.3

## Step to reproduce

1. `$ rails new myApp`
1. Add **figaro** (optional, but required to understand my code below) and **devise** to the `Gemfile` and make sure **de

[2018-08-06 12:35] Hellfar commented on #4205
I made a new issue, since this one has been closed and lack of informations and I grouped it with an other issue which, I believe is from the same problem. I think they both are what @schopenhauer and @cmar are talking about.
[4917](https://github.com/plataformatec/devise/issues/4917)

[2018-08-06 16:27] tegon commented on #4915
Do you know why the block returns `false`? Also, does it make sense to always get a `resource` if nothing was found for the given credentials?
I don't know the ldap strategy, so that's why I'm asking. It seems to me that if the `resource` is valid the block should return `true`, and if the `resource` doesn't exist it should be `nil`.

[2018-08-07 00:14] molenick commented on #4823
I'm having a similar issue and didn't have success using `config.middleware.insert_before Warden::Manager, I18n::Middleware`.

1) User 1 accesses a non-auth resource with a locale (en - English).
2) User 2 accesses any resource with a different locale (es - Spanish).
3) User 1 accesses a resource that requires authentication and is redirected to the locale of User 2's last request ignoring User 1'

[2018-08-07 00:26] tegon commented on #4823
@molenick

Seems like I've typed wrongly in there with the `insert_before`. It makes sense, because the I18n middleware cleans the locale, so what you did with `config.middleware.use I18n::Middleware` is the right way.

opts[:locale] = params[:locale]
inside scope_url so that devise always redirects to the original locale through the sign-in process.

We can't do that because not every application

[2018-08-07 02:07] jorgearimitsu commented on #4486
This feature only works with [jquery-ujs](https://github.com/rails/jquery-ujs)

[2018-08-07 02:09] jorgearimitsu commented on #4570
I solved this issue using [jquery-ujs](https://github.com/rails/jquery-ujs).
If you look into the readme it says:

[2018-08-07 02:26] Sora233 commented on #4915
This is the convention? If so, it seems good enough, I will open a issue in :ldap_authenticatable and close this issue, thanks.

[2018-08-07 13:38] tegon commented on #4915
I wouldn't say that it's the convention, but it seems reasonable in my opinion. I'm not sure if the strategy has a good reason not to do it, so I think it's good to open an issue there and discuss it.

[2018-08-08 08:55] kawadhiya21 opened #4919 "Devise logs out a user if marked unconfirmed in the middle of the session"
I use devise 1.5.4 (with warden and confirmable) and ruby 2.2.5. When the user signs up, I need him to visit a page post authentication (even if the user is not confirmed). Here is what I did:

1. Marked the user confirmed
2. Called `sign_in`
3. Marked the user unconfirmed.

This doesn't work for me. I also tried calling `sign_in` on unconfirmed users directly, but that doesn't also work. I cannot

[2018-08-09 13:13] #4919 closed

[2018-08-11 14:06] arinsinc opened #4920 "Flash messages missing for authentication failure"
There is no flash message on login with wrong parameters or signing up with already registered email or when I try to login with unconfirmed email. Flash messages such as "signed in successfully" or "signed out successfully" are working fine. I have tried most of the accepted solutions available on stack overflow but nothing works.

**Environment**

- Ruby  2.5.1
- Rails 5.2.0
- Devise 4.4.3

## C

[2018-08-11 15:26] #4920 closed

[2018-08-12 18:24] kylefox opened #4921 "Proposal: easily configure redirect path when unauthenticated"
By default Devise will redirect to `"new_#{scope}_session_url"` when the `authenticate_#{scope}!` filter fails.

There are a number of StackOverflow Q&As floating around that suggest overriding `authenticate_user!` to redirect to the page you want. But this is not a good approach because it bypasses a lot of the stuff Devise does behind the scenes, such as redirecting back to the attempted URL aft

[2018-08-13 18:39] prithvi16 commented on #4778
I am junior Rails developer. I use Devise for every project. Can I pick this up?

[2018-08-13 18:51] dfherr commented on #4778
Sure go ahead. I would've picked this up the next weeks as I just returned from abroad this week, but I'm also happy if it's done by someone else :)

[2018-08-13 19:08] prithvi16 commented on #4778
So this is what I need to do:
- Change the `timedout` method to the older version which checks whether rememberable is enabled and has not expired.
- Fix/add tests

Right @dfherr ?

Thanks

[2018-08-13 19:14] dfherr commented on #4778
Yes, that sounds right.

[2018-08-14 14:33] jacek213 opened #4922 "rails API - blank page rendered on sign in page"
## Environment

- Ruby 2.5.1
- Rails 5.1.6
- Devise 4.4.3

## Current behavior
Issue happens when using rails in api mode.
After creating a model and going to /users/sign_in page a blank page is returned from server, instead of login form.

No error is thrown. If this is by design, there should be thrown to inform the developer, that devise views do not work when in api mode.

I'm using a rails in

[2018-08-14 21:38] craigbrott commented on #4679
I also need an expiring failed attempt counter. Failed attempt tracking seems pretty useless without a counter expiry.

Imagine a regular user who makes a typo signing in about once a month. If you allow a maximum of 6 failed sign-in attempts attempts, after 6 months they will be locked out for no real reason and the user will be very confused.

The point of a locking mechanism like this is to pre

[2018-08-14 22:45] bruno-campos opened #4923 "Opening reset password page with no token when there is no new_user_session_path raises error"
## Environment

- Ruby 2.5.0
- Rails 5.2.0
- Devise 4.4.3

## Current behavior

In an application where I do not have sessions path (use mostly as API and only left confirmations and passwords routes for email confirmation and password reset).

[code]

When visiting the reset password page without a token:

Visit: `http://HOST/users/password/edit`

It will try to redirect to new_user_session_path

[2018-08-14 23:11] LenPayne commented on #4679
Actually, I built it and we've been using it internally for eight months.

https://github.com/LenPayne/devise/commit/3558dbb60e72323fd677bc4f764c199b986a4786

This was originally forked off of 3-stable.

[2018-08-15 23:31] tegon commented on #4879
Fixed in `v4.5.0`

[2018-08-15 23:31] #4879 closed

[2018-08-16 10:41] dbbooke opened #4924 "Invalid Username and Password error"
I am using
Rails 5.1.6
ruby 2.4.1
devise 4.5

If I create a new user it will not let me log in. I get the invalid username and password error. If I create some data through seeds though it will let me log in for some reason. Here is the following error I am getting also ``Completed 401 Unauthorized in 17ms (ActiveRecord: 1.0ms)``

`   (0.1ms)  SELECT "schema_migrations"."version" FROM "schema_migr

[2018-08-16 12:51] tegon commented on #4924
Hello @dbbooke, thanks for your report.
Can you provide us a sample application that reproduces the issue in isolation?
Another option is to use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb).
That would help us find the issue.

Thank you!

[2018-08-16 22:01] bfcoder commented on #4879
I've upgraded to devise 4.5.0 and I'm still seeing this issue with rails 5.0.7.

I have defined `secret_key_base` in the secrets.yml and commented out the `config.secret_key` line in devise.rb. Yet it still complains with `Devise.secret_key was not set.`

Is anybody else seeing this as well?

[2018-08-16 22:59] bfcoder commented on #4879
Nevermind, it is working as expected.

I'm using capistrano, and when I deploy it compiles locally. I didn't have a `secret_key_base` set in my secrets.yml for production on my local machine. Thus it couldn't find the secret (I was mistakingly thinking it was looking at the secrets.yml on my server for precompile).

[2018-08-17 21:28] gentschev opened #4927 "Unconfigured sending domain for Devise mailer"
I'm trying to get the Devise forgotten password email working in development. I keep getting an SMTP unconfigured sending domain error, which I can't find referenced anywhere online. In this case, I'm using a two-factor Gmail account with an app password, but I get the same issue when using a non-two-factor account.

Any advice on next steps for determining whether this is actually a Devise issue?

[2018-08-20 16:04] adrienlille commented on #4201
@prdpspkt I am having the exact same issue, what did you do wrong? I am probably doing the ame mistake

[2018-08-21 11:52] typhoon2099 opened #4928 "Password Reset Links can't be followed multiple times (or after spam filters hit it)"
## Precheck

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- Finally, be nice and have fun!

## Environment

- Ruby 2.5.1
- Rails 5.2.0
- Devise 4.4.3

## Current behaviour

When user's follow a password reset link more than once they receive a 404 as the password reset token has been reset. Th

[2018-08-22 11:33] manueljacob opened #4929 "Sorry, I clicked the wrong button - please delete this issue"
## Precheck

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- Finally, be nice and have fun!

## Environment

- Ruby **[version]**
- Rails **[version]**
- Devise **[version]**

## Current behavior

Include code samples, errors, steps to reproduce the error and stacktraces if appropriate.

Will b

[2018-08-22 11:35] #4929 closed

[2018-08-23 18:29] freyjasdottir commented on #4917
To add some data points, I think we are having a similar issue.

Environment is:
-Ruby 2.2.7
-Devise 4.5.0
-Rails 4.2.10

When we upgraded one of our apps from Rails 4.1 to Rails 4.2.10, in our password reset emails, the edit_password_url contained duplicates of our `relative_url_root`.  No other routes seem to be affected, and the password recovery email is the only one our app sends.

In Rails v

[2018-08-23 23:28] rrs94 commented on #4922
Hi, I don't think this is an issue with devise, the idea of using rails in api mode is to remove the view mode, if you want to have some views in your application along with some api functionality, [this](https://stackoverflow.com/questions/38366501/rails-5-api-only-app-with-home-page) post may have the answer your looking for.

[2018-08-25 19:20] asanghi opened #4930 "Model with optimistic locking (lock_version) and trackable devise module"
## Environment

- Ruby **2.3.3**
- Rails **4.2.10**
- Devise **3.5.0**

## Current behavior

My `Admin` model has optimistic locking switched on using Rails' `lock_version` column in the database. I also have `trackable` module switched on for this model.
When admins login to the application, we trigger a number of ajax requests to the server and some of them fail randomly with `ActiveRecord::Stal

[2018-08-26 17:39] ckashby opened #4931 "Missing comma at end of line 19 in views/devise/registrations/edit.html.erb"
<%= f.input :password,
                        hint: "leave it blank if you don't want to change it",
                        required: false   ## , ## missing ##

[2018-08-27 03:49] Edwardzyc opened #4932 "Storing encrypted reset_password_token"
What are we mitigating against when we encrypt the reset_password_token?

It looks like we:

1. When user requests a password reset, we generate a hexdigest, store the hexdigest and return the raw to the user
2. Raw is sent as an email to the user
3. We get the raw again at update action, we run it through digest function and check it against the stored value

Is it possibly so that if someone get

[2018-08-28 08:17] sarunw commented on #4573
What is the solution for this?

[2018-08-28 13:47] tegon commented on #4573
Sorry, I haven't take a look at this yet. This is the default behavior we get when scaffolding a Rails CRUD, so I'm not sure what path to follow here.

[2018-08-30 00:02] webark commented on #4630
@marksiemers did this ever happen?

[2018-09-01 02:15] Sirpez commented on #3403
May I relive this, I'm having a problem with this method now. Don't know if i'm being dumb. Let's go through what I did:

1. Made a request asking to reset the password;
2. Received the email with the link and clicked it;
3. This link passes the reset_password_token as a parameter in the URL;
4. The action in the controller calls the "with_reset_password_token" function passing the reset_password_

[2018-09-03 23:07] Nasaakaa commented on #4924
I mean, The user sign up by own email without password and send confirmation link to email address. Then he clicked the confirmation link  and show up change password window. Due to, could not save password for right username. Maybe, invalid username or password error.

[2018-09-04 06:58] JUGALTYAGI commented on #4710
you can try this (config/secrets.yml):

evelopment:
  secret_key_base: 83aa0c7d6e2ed4574099514eb64bc3896fb8a71a344935fbd54705e0dd65adb897bc062fe477d03395a4d65675c833ba73ed340166be3874bfc01f43d6076385

test:
  secret_key_base: 513fb7657945b56098db290394bf23f5e11463c473fb228719428a30fd34b8b899dff3f6173c32d7e6bc028dc3276f15dcba11b684d27983d8203fb5634ce8ae

# Do not keep production secrets in the repo

[2018-09-07 01:27] JohnMerlino2 opened #4934 "uninitialized constant DeviseController"
I am getting uninitialized constant DeviseController which I explicitly require the Devise gem in Rails project rather than using Bundle.require in application.rb

I have the following in application_controller.rb:

require 'devise'
class ApplicationController < ActionController::Base
  include Devise::Controllers::Helpers

  before_action :configure_permitted_parameters, if: :devise_controller?

[2018-09-08 07:00] NielsKSchjoedt commented on #3059
I seem to have the exact same problem, however secure: false does not seem to solve it. Any ideas?

[2018-09-11 18:29] Mcdostone commented on #4106
Welcome back, I've got the issue
[code]

[code]

Any idea what is going wrong?

[2018-09-11 19:05] Mcdostone opened #4936 "Can't use a custom authentication strategy"
## Description
I want to use devise with an LDAP authentication strategy. I followed literally this wiki to configure everything: [How To: Authenticate via LDAP](https://github.com/plataformatec/devise/wiki/How-To:-Authenticate-via-LDAP). However, this article seems to be outdated because it's not working properly

## Environment

- Ruby **2.5.1p57**
- Rails **5.2.1**
- Devise **4.5**

## Behavior

[2018-09-12 10:14] tharod commented on #4836
@balakirevs

Please have a look
https://shorts.dokkuapp.com/securing-user-emails-in-rails/

[2018-09-12 16:48] jibm82 opened #4937 "Can't test registration with unconfirmed access"
## Description
I'm trying to write a rspec for testing the registrations controller. I configured `devise` to allow uncofirmed access by adding this line to the initializer. But the test keeps failing.

[code]

## Environment

- Ruby **2.2.4p230**
- Rails **5.0.0**
- Devise **4.2.0**

## Current behavior

This is the code for the current test.

[code]

And this is the error thrown.

![image](https

[2018-09-13 09:05] mightymatth commented on #4758
This issue still presents in the latest version.

Great explanation by @abhinavmsra . I have the same issue with Spree application (which is mounted on custom route) while using spree_social extension.

[2018-09-13 13:44] Mcdostone commented on #4936
Here the solution:

[code]

[2018-09-14 08:02] marksiemers commented on #4630
@webark - I don't think so. The latest tag I see for 3.x is from 2016: https://github.com/plataformatec/devise/releases/tag/v3.5.10

[2018-09-19 13:14] #4936 closed

[2018-09-20 01:13] colinross commented on #4932
If an attacker has a un-filtered access to your database (or a dump!), you likely have a bigger problem then just a single user's credentials. That said...

I believe the rationale here is that since a valid reset_password_token could be used to reset the password, and in turn, be used to authenticate, it is encrypted.

This does add an additional layer of protection in a scenario where a (very) p

[2018-09-20 01:17] colinross commented on #4931
I believe he is referencing https://github.com/plataformatec/devise/blob/715192a7709a4c02127afb067e66230061b82cf2/lib/generators/templates/simple_form_for/registrations/edit.html.erb#L15

[2018-09-20 02:03] #4931 closed

[2018-09-20 17:09] colinross commented on #4923
The error you are getting comes from the base views provided by devise, which _does_ make some assumptions about having the core routes defined (including the sessions controller).

You want to override `devise/app/views/devise/shared/_links.html.erb` to remove the link and then you should get a flash message about the password token not being present.

`rails generate devise:views` will populate

[2018-09-20 17:14] colinross commented on #4934
if you have `devise` defined in your Gemfile, eg `gem 'devise'`, you should not need to explicitly require it (assuming also you are running your process with `bundle`)
In a stock, vanilla rails app, the `rails server` command utilizes bundler as well.

[2018-09-20 20:34] bruno-campos commented on #4923
Thanks for the response colinross! That error comes from the `assert_reset_token_passed` method. https://github.com/plataformatec/devise/blob/master/app/controllers/devise/passwords_controller.rb#L67

I'm not using the `shared/_links` file. So what I did was to override the assert_reset_token_passed method in my custom passwords controller. It's not a big deal, but I think it would be nice to not

[2018-09-21 16:00] murb opened #4939 "idea: make deletion more explicit in method name #stored_location_for"
## Precheck

- Do not use the issues tracker for help or support, try Stack Overflow.
- For bugs, do a quick search and make sure the bug has not yet been reported
- Finally, be nice and have fun!

## Environment

- Ruby/Rails independent
- Devise 4.5.0

## Current behavior

Per documentation calling `#stored_location_for` deletes ('if it's navigational format') the url stored in the session.

##

[2018-09-21 22:47] ljonny18 opened #4940 "exceptions logging in and out with engine and locales"
I have a rails engine with locales and using Devise to log in. When logging in I'm seeing the exception:

No route matches [GET] "/assets"
[code]
ActionController::RoutingError (No route matches [GET] "/assets"):

actionpack (5.0.7) lib/action_dispatch/middleware/debug_exceptions.rb:53:in `call'
actionpack (5.0.7) lib/action_dispatch/middleware/show_exceptions.rb:31:in `call'
railties (5.0.7) lib/

[2018-09-23 06:17] foucist commented on #4369
Holy smokes.  I totally missed the ` For Rails 5, include Devise::Test::IntegrationHelpers instead `  part.. reading comprehension fail 😅

[2018-09-25 03:17] oystersauce8 opened #4941 "Cannot bootup rails (github HEAD version) with devise (github HEAD version)"
After installing devise on a rails edge app using the steps mentioned in [this SO question](https://stackoverflow.com/questions/52487094/proper-way-of-installing-rails-head-version-with-devise#52487603), users get the error `Please specify the Rails release the migration was written for`

Steps to repro.

[code]

[2018-09-25 15:01] alexvirtualbr opened #4943 "NoMethodError in Users::SessionsController#new"
Hi Guys,

I have a problem here when I try do a login or a register.

routes.rb :
 devise_for :users, :controllers => {
    sessions: "users/sessions",
    registrations: "users/registrations",
    omniauth_callbacks: "omniauth_callbacks"
  }
  as :user do
    get 'login' => 'users/sessions#new', :as => "login"
    get 'signup' => 'users/registrations#new', :as => "signup"
    delete 'signout' =>

[2018-09-25 15:21] feliperenan commented on #4943
Could you please provide us a sample application that reproduces the issue in isolation?

That would help us find the issue.

[2018-09-25 15:36] alexvirtualbr commented on #4943
Hi @feliperenan the code this app is a private directory in Bitbucket. But i have one idea where this generation this error. For me, is a conflit between gems. So, I'm observe a gem responders-2.4.0 (maybe was dependency installed):

I found this:
def to_html
    default_render
    rescue ActionView::MissingTemplate => e
      navigation_behavior(e)
end

 # If a response block was given, use it, o

[2018-09-25 21:35] tegon commented on #4915
Hey @Sora233, did you opened an issue in the other gem? Is there something we can do here yet?

[2018-09-25 21:40] tegon commented on #4922
Hey @jacek213, like @rrs94 said, Rails API is not meant to be used with HTML views.
You can probably do something to work around it, but it's not a devise issue, so I'm going to close this.
Thanks!

[2018-09-25 21:40] #4922 closed

[2018-09-25 21:43] tegon commented on #4923
Hey @bruno-campos, thanks for reporting this.

We don't have full support for API-only applications, so that's why this happens. You'll see that in some places we using a [conditional](https://github.com/plataformatec/devise/blob/master/app/controllers/devise/passwords_controller.rb#L60) to avoid the redirects, so if want to open a pull request for this it'd be welcome.
But still, that wouldn't re

[2018-09-25 21:44] tegon commented on #4924
I'm closing this issue because it had no recent activity.
If you're still facing this on the latest version, please open a new one with all the information requested in the template.

Thank you!

[2018-09-25 21:44] #4924 closed

[2018-09-25 21:45] tegon commented on #4927
Hello @gentschev, thanks for the issue.

Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

Thank you!

[2018-09-25 21:45] #4927 closed

[2018-09-25 21:50] tegon commented on #4928
Hello @typhoon2099, thanks for opening the issue.

The problem here is that we don't want to keep the reset token valid when a new one is generated. This is more a security concern than anything else. You can see the discussion on related issues #4817, #4653.

Thanks.

[2018-09-25 21:50] #4928 closed

[2018-09-25 21:51] tegon commented on #4934
Hello @jackdempsey, thanks for your report.
Can you provide us a sample application that reproduces the issue in isolation?
Another option is to use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb).
That would help us find the issue.

Thank you!

[2018-09-25 21:57] colinross commented on #4923
I've thought about adding 'api-only' support directly into devise (since I have used it like this a couple times and the overriding gets tedious, like likely many here).
On that note, what do we see as the expected behavior of an 'api' mode? More specifically
  1) Can we make the assumption that 'api' mode would mean JSON responses? As opposed to specifically JSON-API format, or even XML/RPC etc.

[2018-09-25 21:59] tegon commented on #4939
Hello @murb, thanks for noticing this.

I agree with you, this name can be misleading and cause unexpected issues. Feel free to create the pull request, I'd be happy to accept it.
Just one thing to notice is that since this method is public API, we'll have to include this changes in the next major version.

[2018-09-25 22:02] tegon commented on #4940
Hello @ljonny18, thanks for your report.

By looking at your stack trace, I haven't found any devise code being called. Could this be an issue with other parts of your application?
If you can you provide us a sample application that reproduces the issue in isolation that would help us find the issue.

Thank you!

[2018-09-25 22:05] feliperenan commented on #4943
Ok. So I'm gonna close this one since it seems not be a Devise issue.

If you think it's a Devise issue, please give more information on how to reproduce it then we reopen this one.

Thanks

[2018-09-25 22:05] #4943 closed

[2018-09-26 00:10] nicklayb commented on #4584
We are currently having this issue, is there any temporary fix you can suggest against this?

[2018-09-26 01:03] alexvirtualbr commented on #4943
@feliperenan, maybe I don't have used the right words to explain to you that answer gem is a dependency of Devise that uses it internally.

[2018-09-26 08:08] typhoon2099 commented on #4928
Hi, the problem isn't with regenerating tokens but with keeping the current token alive until the password has been successfully reset. The problem turned out to be in another gem `devise_token_auth`, which was erroneously regenerating the token when the link was followed. I should have closed this myself once I realised the root of the issue, my apologies.

[2018-09-26 13:06] feliperenan commented on #4943
Can you give the steps for us to reproduce the issue?

Will be even more helpful if you provide a sample application or a test case that reproduces the error. it doesn't need to be a complete app, just an app with Devise configured that reproduces the issue that you are facing.

[2018-09-26 13:55] prog1dev opened #4944 "Email regexp matches invalid email"
## Environment

- Ruby **[2.3.0]**
- Rails **[4.2.0]**
- Devise **[master]**

## Current behavior

[`Devise.email_regexp`](https://github.com/plataformatec/devise/blob/master/lib/devise.rb#L116) matches invalid email `test@providercom`
[code]

## Expected behavior

It does not match

[2018-09-26 14:28] jimchild49 opened #4945 "Error while trying to deserialize arguments: Couldn't find User"
I posted the question in the  [stackoverflow](https://stackoverflow.com/questions/52518795/devise-with-activejob-error-while-trying-to-deserialize-arguments-couldnt-fin)

I added the following to my user.rb as described in devise readme

[code]
I tried to reset my password within the app, I get the error :

`Error while trying to deserialize arguments: Couldn't find User`

I used pry to verify the

[2018-09-26 15:30] alexvirtualbr commented on #4943
@feliperenan when i try reproduce it in another app test it isn't happened so must be a conflit between gems.

[2018-09-26 20:27] jimchild49 commented on #4945
This was my fault, doing some monkey patching for the method find. am gonna close this, sorry!

[2018-09-26 20:27] #4945 closed

[2018-09-27 14:49] tegon commented on #4937
Hello @jibm82, thanks for your report.
Can you provide us a sample application that reproduces the issue in isolation?
Another option is to use our [bug report template](https://github.com/plataformatec/devise/blob/master/guides/bug_report_templates/integration_test.rb).
That would help us find the issue.

Thank you!

[2018-09-27 14:55] tegon commented on #4944
Hi @prog1dev, thanks for reporting this.
I think we can include in the regex that the domain part should have a dot on it. We probably would need to include this in a major version though.
Are you willing to take a stab on this? If you are, let me know, otherwise, I'll leave it open for others to grab.

Thanks!

[2018-09-27 15:30] dmarczal commented on #4106
@Mcdostone I've got the same error, Did you find the solution?

[2018-09-27 19:29] tegon commented on #4930
Hi @asanghi, I'm not sure devise should handle this. Locking strategy is very application-specific, and it seems strange that you're hitting trackable simultaneously multiple times for the same `Admin`. Would you mind to explain why this is happening?

[2018-09-27 20:07] tegon commented on #4932
Yep, that's correct. Thanks, @colinross for looking at this!

[2018-09-27 20:07] #4932 closed

[2018-09-27 21:24] colinross opened #4947 "Rails API Application compatibility (and support)"
This issue is meant to track compatibility and support for 'Rails API Applications' by which I specifically mean Rails applications built with API only support, ala

`Rails.application.config.api_only = true`
Reference: https://guides.rubyonrails.org/api_app.html

## Current behavior
  With a boilerplate rails app built with api-only support (`rails new my_api --api` ) devise throws some errors un

[2018-09-28 02:37] asanghi commented on #4930
The UI fires multiple AJAX requests which hit the application at the same time.
The requests hit the `authenticate` routing helper and because Admin model is `trackable`, multiple requests cause a race condition. This wouldnt be a problem unless your model also has optimistic locking turned on.

To answer your original question, it is because we have ajax requests originating from our dashboard.

[2018-09-28 07:55] mopx commented on #4584
I had the same problem today, you could disable trackable and add an after_action on the session controller and update the columns yourself.

[2018-09-28 21:56] tegon commented on #4526
Closed via #4824

[2018-09-28 21:56] #4526 closed

[2018-09-29 06:38] andrescanales commented on #3663
@vishalTatvaSoft I'm pretty sure that you have solved this by now, but for other people who may come here for the first time, I was fighting with this today(rails 5 api too) and what you can do is override the **`RegistrationsController`** and the **`sign_up_params`** method like this:

[code]

Now you can use user key in the params again.

[2018-09-29 19:48] marcosanfilippo commented on #4842
Why did you close this issue? Someone just found a workaround but the DOC is still out of date and wrong. Even though, I don't think the workaround is the correct/acceptable approach.

[2018-09-30 19:38] jesyontop01 commented on #4201
i was able to resolve the issue by following
https://github.com/plataformatec/devise . The section of strong parameter
will help

On Mon, Aug 20, 2018 at 5:05 PM Adrien du Peloux <notifications@github.com>
wrote:

[2018-10-01 06:37] moyuanhuang commented on #4947
+1 I'm trying to use devise as the authentication solution for an API only rails app and was stuck setting it up. Would be really nice if Devise can support API only rails app. @colinross In the meantime, [devise_token_auth](https://github.com/lynndylanhurley/devise_token_auth) might be an alternative if you really need it.

[2018-10-01 22:08] CaiqueMitsuoka commented on #4944
@tegon can I take this one? 😄

[2018-10-01 23:55] tegon commented on #4944
@CaiqueMitsuoka Sure thing, go ahead! 🚀

[2018-10-02 02:13] CaiqueMitsuoka commented on #4944
Hey
I did some digging into this problem, we I have a doubt, not sure which path to take.

So theoretically an email without the top level domain is valid. In the specification, the domain portion of the address need match the requirement for a hostname, which indeed would match `@providercom ` since it can be used as local domain like in ax intranet.

My question is if we would like to support th

[2018-10-02 16:56] tegon commented on #4944
@CaiqueMitsuoka Thanks for digging into this, I didn't know about that.
After reading the discussion in the previous PR I think it's better to leave as it is today. As a library, it's better for Devise to be more general and leave the more restrict rules for the applications that want to add that behavior.

@prog1dev If you want to add this rule in your application, you can use the [email_regexp](

[2018-10-02 16:56] #4944 closed

[2018-10-03 08:02] GinoChiffi commented on #4470
Removing turbolinks solved the issue for me

[2018-10-03 15:14] reckerswartz opened #4949 "impove rails logs for sensitive info in emails or delay jobs"
can we work on this PR https://github.com/rails/rails/pull/33756 to improve the issue on devise to prevent password reset tokens leak?
https://github.com/plataformatec/devise#password-reset-tokens-and-rails-logs

[2018-10-03 16:46] tegon commented on #4949
Hey, @reckerswartz thanks for mentioning this, I didn't know about that PR.
I might be wrong, but I don't think it will prevent the leak mentioned in your readme because that patch was added to ActiveRecord, to prevent a model to be printed out with that parameters. However, the issue mentioned in the readme is when logging emails sent or jobs, so that would probably have to be added to ActiveMail

[2018-10-03 16:51] reckerswartz commented on #4949
@tegon Thanks for the reply, I am working rails community to get confirmation about the PR whether we can modify it for our need or need to generate fresh PR for the thing.
if not I will close the issue soon.

[2018-10-03 18:02] reckerswartz commented on #4949
@tegon before I start work on new PR can you please confirm that whether we can use
filter_parameters method or not
# Configure sensitive parameters which will be filtered from the log file.
Rails.application.config.filter_parameters += [:reset_token]

[2018-10-03 18:19] tegon commented on #4949
That config works for query and request parameter logs, but not for mailers and jobs.
Either way, I'm going to close this because it's more related to the way Rails works than to Devise itself.

Thanks!

[2018-10-03 18:19] #4949 closed

[2018-10-03 18:20] tegon commented on #4923
Closing to move the discussion to #4947

[2018-10-03 18:20] #4923 closed

[2018-10-03 20:19] colinross commented on #4947
I'm progressing with checking out the current situation in more detail along with a PR for a small tweak on the `is_flashing_format?` method (in the devise controller and the default failure app).
I will also include a note in the docs about installing devise ontop of a rails api application.

If we are just talking about 'not throwing errors' level of compatibility, along with the tweaks to `is_f

[2018-10-03 21:12] tegon commented on #4921
Seems good, that would definitely help people trying to customize this behavior.

I think we should keep the `route` method so that people that are overriding this like your Wiki article wouldn't need to change anything.

Also, we might think better on what exactly provide to the block. In your example, it's only `scope` - which might be enough for most use cases - but we might also include other

[2018-10-03 21:31] rafaelfranca commented on #4921
I'm fine with this new option too.

[2018-10-03 22:40] doughsay commented on #4542
I ran into this as well, from a clean new rails application.

STR:

1.) rails new auth_test
2.) add and configure mongoid
3.) add and configure devise
4.) generate new User model using devise generator (generates a mongoid model)
5.) can't sign up (`undefined method `will_save_change_to_email?' for User`)

You can fix this problem by not including ActiveRecord: `rails new auth_test -O`

[2018-10-04 17:58] tegon commented on #4930
@asanghi I see, then this looks like something very specific from your application. Something that would probably fix it is to first authenticate the user and only fire the dashboard requests after the user is authenticated.
I don't think we should handle locking in Devise because it would be hard to cover the possible cases - since the business rules changes from company to company.

[2018-10-05 01:30] asanghi commented on #4930
#4584 and this ticket have mixed similar concerns.

[2018-10-05 14:19] tegon commented on #4930
Hm, got it. I thought that you were sending requests to authenticate explicitly, but if it's because of what was mentioned in #4584 then I guess the best approach is to change that behavior. That way we won't call `trackable` every time and therefore you won't have lock issues.
I'm going to close this in favor of #4584 then. Thanks!

[2018-10-05 14:19] #4930 closed

[2018-10-05 23:43] wmene commented on #4778
Any idea when the PR will get merged?

[2018-10-06 00:57] vincentwoo opened #4951 "current_user should not perform sign in by default"
## Environment

- Ruby **[2.5.1]**
- Rails **[5.2]**
- Devise **[4.5]**

## Current behavior

It is very hard to prevent sign in with Devise. If you subclass SessionsController to override create, even if you don't allow super to run, any template code that tries to check `current_user` will automatically run warden's authentication, which signs in the user.

## Expected behavior

Users should onl

[2018-10-06 17:28] lacostenycoder commented on #4951
@vincentwoo can you provide a code example of how to reproduce the current behavior in this issue?

[2018-10-06 21:59] vincentwoo commented on #4951
I can later but this snippet from the devise codebase explains the behavior: https://github.com/plataformatec/devise/blob/715192a7709a4c02127afb067e66230061b82cf2/lib/devise/controllers/helpers.rb#L60

[2018-10-07 22:00] TImPDaley commented on #4708
Post script : change old "factory_girl" to the new "factory_bot" (assuming you upgraded) and it all works

[2018-10-08 08:55] vincentwoo commented on #4951
Okay, so let's say you have a SessionsController with the goal to prevent logins conditionally:

[code]

If, say, the view for `some_other_url` calls `current_user`, the the user will be logged in anyway. This seems bad.

[2018-10-08 09:44] pradhumnsharma commented on #4322
Thanks @jaspertomas your option worked for me in rails 5.2

[2018-10-08 18:11] marcosanfilippo commented on #4842
It is a bug, but seems like that unless the bug affects many people, no one cares.

[2018-10-08 18:52] tegon commented on #4842
@marcosanfilippo When that happens, please open another issue. When you comment on closed issues is very hard for us to keep track of it. It's not that nobody cares, it's just that it's hard enough to reply to all notifications in the open issues that some of the closed ones pass by (I'm not saying that as an excuse, it's just that it works better to open new ones).

Now, I don't know exactly how

[2018-10-13 14:59] hirokihokari opened #4952 "Wiki page for "guest user" workaround has a "question" in it"
## Current behavior

Wiki page(https://github.com/plataformatec/devise/wiki/How-To:-Create-a-guest-user) has a question, rather than information or an instruction.
It's the paragraph that starts with "Wait a sec..."

## Expected behavior

Wiki should be a place of instruction/information, and not a discussion forum, correct?

[2018-10-13 22:01] kfricks commented on #753
Make sure you're in the correct project within your code editor. It makes all the difference in the world!

[2018-10-14 07:01] bobf commented on #4570
@jorgearimitsu Thanks for the reminder on that one - I'd switched to webpack and hadn't imported `jquery-ujs` in my application pack, though I had remembered to add it to my yarn package:
[code]
Easy fix but could've been a headache if not for your comment. : )